Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

fix(app): use pre-rendered WhatsApp icon with MAUI 10.0.110
  app/BibleOnSite/Resources/Images/whatsapp.png
  app/BibleOnSite/Resources/Images/whatsapp.svg
Due: app

fix(ci): select canonical Xcode 26.6 installation
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
Due: none

chore(app): update MAUI controls to 10.0.110 (#1865)
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Resources/Images/whatsapp.png
  app/BibleOnSite/Resources/Images/whatsapp.svg
Due: app

chore(release): Bump versions (app to 5.0.96) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(website): Preserve native SeferView page dragging with selectable text
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/selectable-book-content.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/selectable-book-content.test.ts
Due: website

fix(ci): Reserve website versions and dispatch CD once per release
  .github/workflows/ci.yml
  .github/workflows/shared-release.yml
  .github/workflows/shared-verify-version.yml
  docs/github/version-verification.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(website): Preserve native SeferView page dragging with selectable text (#1867)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/selectable-book-content.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/selectable-book-content.test.ts
Due: website

chore(release): Bump versions (website to 0.2.416) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): Reserve website versions and dispatch CD once per release (#1868)
  .github/workflows/ci.yml
  .github/workflows/shared-release.yml
  .github/workflows/shared-verify-version.yml
  docs/github/version-verification.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): pin iOS workload to Xcode 26.6-compatible set
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
Due: none

fix(ci): pin iOS workload to Xcode 26.6-compatible set (#1869)
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
Due: none

fix(app): keep selection toolbar and bottom menu anchored
  app/BibleOnSite.Tests.E2E/Android/gesture_regressions.py
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(app): qualify MAUI Application in selection toolbar
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

Fix selection toolbar overlap and bottom menu movement (#1870)
  app/BibleOnSite.Tests.E2E/Android/gesture_regressions.py
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

test(app): capture rapid consecutive scroll stalls
  app/BibleOnSite.Tests.E2E/Android/gesture_followup_regressions.py
Due: none

test(app): prepare long chapter for scroll stall reproduction
  app/BibleOnSite.Tests.E2E/Android/gesture_followup_regressions.py
Due: none

test(app): capture consecutive vertical scroll stalls
  app/BibleOnSite.Tests.E2E/Android/gesture_followup_regressions.py
Due: none

test(app): verify long-chapter benchmark setup
  app/BibleOnSite.Tests.E2E/Android/README.md
  app/BibleOnSite.Tests.E2E/Android/gesture_followup_regressions.py
Due: none

test(app): target real verses during settling holds
  app/BibleOnSite.Tests.E2E/Android/gesture_followup_regressions.py
Due: none

chore(release): Bump versions (app to 5.0.97) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(ci): hold iOS SDK auto-upgrades pending Xcode support
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
  renovate.json
Due: none

chore(ci): hold iOS SDK auto-upgrades pending Xcode support (#1872)
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
  renovate.json
Due: none

chore(deps): refresh non-app dependencies for Node 26
  .github/copilot-instructions.md
  .github/tool-registry.md
  .github/workflows/ci.yml
  .nvmrc
  data/Cargo.lock
  data/Cargo.toml
  data/s3/s3-populator/Cargo.toml
  devops/package-lock.json
  devops/package.json
  devops/rustfs/Dockerfile
  devops/setup-dev-env.mts
  docs/devops/setup-development-environment/setup-development-environment.md
  package-lock.json
  package.json
  renovate.json
  web/admin/Dockerfile
  web/admin/README.md
  web/admin/biome.json
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/vite.config.ts
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/Dockerfile
  web/api/entities/Cargo.toml
  web/api/tests/package-lock.json
  web/api/tests/package.json
  web/api/tests/playwright-global-teardown.mjs
  web/bible-on-site/Dockerfile
  web/bible-on-site/biome.json
  web/bible-on-site/jest.config.js
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/components/Bookshelf/book-demo.html
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/util/hebdates-util.ts
  web/bible-on-site/tests/unit/util/hebdates-util.test.ts
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/Dockerfile
Due: website, data

Keep matrix child connector continuous across label
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
Due: website

Reserve next website version for matrix connector fix
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(deps): align BSON 3, SWC coverage, and patched Nitro
  .github/copilot-instructions.md
  .github/tool-registry.md
  AGENTS.md
  data/Cargo.lock
  data/Cargo.toml
  data/s3/s3-populator/Cargo.toml
  data/s3/s3-populator/src/main.rs
  data/s3/s3-populator/tests/cli.rs
  data/sefaria/pipelines/perushim-view/src/stages/stage_normalize_authors.rs
  data/sefaria/pipelines/tanah-view/src/main.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_group.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_perek_dates.rs
  renovate.json
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/AGENTS.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/playwright-global-setup.js
Due: data

Keep matrix child connector continuous across label (#1876)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
Due: website

fix(admin): pin DOMPurify to resolved version
  web/admin/package-lock.json
  web/admin/package.json
Due: none

chore(website): reserve version 0.2.419
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (admin to 0.1.96, api to 0.1.63, bulletin to 0.1.25) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

fix(sefer): restore native mouse page drag with selection mode
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/components/selectable-book-content.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/selectable-book-content.test.ts
Due: website

fix(sefer): restore native mouse page drag with selection mode (#1877)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/components/selectable-book-content.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/selectable-book-content.test.ts
Due: website

docs: show master RDS deployment status in badge
  README.md
Due: none

docs: show master RDS deployment status in badge (#1878)
  README.md
Due: none

docs: filter RDS badge to deploy events
  README.md
Due: none

docs: filter RDS badge to deploy events (#1879)
  README.md
Due: none

docs: exempt README-only edits from CI validation
  AGENTS.md
Due: none

data(tanahpedia): add Adam and Eve family links
  .github/agents/TanahpediaFamily.agent.md
  data/tanahpedia/ops/adam-eve-children-readback.json
  data/tanahpedia/ops/adam-eve-children.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/lib/tanahpedia/person-family-chronology.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/lib/person-family-chronology.test.ts
Due: website, data

docs: exempt README-only edits from CI validation (#1880)
  AGENTS.md
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
