Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

Attach the iOS drawer pan to the window and wire the real CarouselView handler
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/MauiProgram.cs
Due: app

ci(ios): move iOS jobs to xcode-27 runner and workload set 10.0.401.1 (#1871) (#2035)
  .github/copilot-instructions.md
  .github/workflows/app-mobile-e2e.yml
  .github/workflows/app-package.yml
  app/BibleOnSite/Platforms/MacCatalyst/Info.plist
  app/BibleOnSite/Platforms/MacCatalyst/SceneDelegate.cs
  app/BibleOnSite/Platforms/iOS/Info.plist
  app/BibleOnSite/Platforms/iOS/SceneDelegate.cs
  app/BibleOnSite/Services/PadDeliveryService.cs
  renovate.json
Due: app

Make the drawer edge pan un-preventable and wire the carousel require-fail robustly
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/MauiProgram.cs
Due: app

Open search results in the regular reader and restore search on Back
  app/BibleOnSite.Tests.E2E/Pages/FloatingSearchBarTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests/Controls/SearchEntryTests.cs
  app/BibleOnSite.Tests/Fixtures/ApiServerFixture.cs
  app/BibleOnSite.Tests/Models/PerekTests.cs
  app/BibleOnSite.Tests/Services/ArticleServiceIntegrationTests.cs
  app/BibleOnSite.Tests/Services/SearchIndexServiceTests.cs
  app/BibleOnSite.Tests/Services/StarterServiceIntegrationTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekLoadingTests.cs
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/Controls/FloatingSearchBar.xaml
  app/BibleOnSite/Controls/FloatingSearchBar.xaml.cs
  app/BibleOnSite/Controls/SearchEntry.cs
  app/BibleOnSite/Models/Perek.cs
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/IAppNavigator.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

chore(release): Bump versions (app to 5.0.134) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Drop per-touch edge-pan diagnostics and widen the log-export timeout
  app/BibleOnSite/AppShell.xaml.cs
  app/mobile-e2e/run.mjs
Due: app

fix(devops): restore Dependabot for security-only updates and close admin's sprintf-js gap
  .github/dependabot.yml
  web/admin/package-lock.json
  web/admin/package.json
Due: none

fix(app): disable recitation books without recordings
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/ViewModels/RecitationPreferencesViewModel.cs
Due: app

fix(devops): split Renovate's mega-group so one bad artifact can't strand all updates
  renovate.json
Due: none

Fix the iOS RTL drawer gesture and landscape safe-area gaps with e2e coverage (#2037)
  app/BibleOnSite.Tests.MobileE2E/Configuration/EdgeSwipeTests.cs
  app/BibleOnSite.Tests.MobileE2E/IosReaderTests.cs
  app/BibleOnSite.Tests.MobileE2E/Pages/PerekPage.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/mobile-e2e/run.mjs
Due: app

fix(devops): restore Dependabot for security-only updates and close admin's sprintf-js gap (#2041)
  .github/dependabot.yml
  renovate.json
  web/admin/package-lock.json
  web/admin/package.json
Due: none

fix(app): disable recitation books without recordings (#2042)
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/ViewModels/RecitationPreferencesViewModel.cs
Due: app

chore(release): Bump versions (admin to 0.1.110) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

chore(release): Bump versions (app to 5.0.135) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions to release (app to 5.0.136, bulletin to 0.1.29)
  app/BibleOnSite/BibleOnSite.csproj
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: app

Replace reader source with search and fix native history and asset delivery
  app/BibleOnSite.Tests.E2E/Pages/FloatingSearchBarTests.cs
  app/BibleOnSite.Tests.MobileE2E/Pages/PerekPage.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite.Tests/Services/FlyoutNavigationTests.cs
  app/BibleOnSite.Tests/Services/SearchIndexServiceTests.cs
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Controls/FloatingSearchBar.xaml
  app/BibleOnSite/Controls/FloatingSearchBar.xaml.cs
  app/BibleOnSite/Helpers/SearchText.cs
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/Pages/PerekPage.WindowsBack.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/IAppNavigator.cs
  app/BibleOnSite/Services/SearchIndexService.cs
Due: app

Address static analysis findings in navigation and search checks
  app/BibleOnSite.Tests.E2E/Pages/FloatingSearchBarTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite/Services/IAppNavigator.cs
Due: app

chore(release): Bump versions (app to 5.0.137, bulletin to 0.1.30) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: app

Stream native device logs to artifacts without buffering their full contents
  app/mobile-e2e/native-logs.mjs
  app/mobile-e2e/native-logs.test.mjs
  app/mobile-e2e/package.json
  app/mobile-e2e/run.mjs
Due: none

Keep the iOS reader toolbar below the status bar and expose live mobile test results
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/devops/Build.Test.cs
Due: app

chore(release): Bump versions (website to 0.2.480, app to 5.0.138, admin to 0.1.111) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

chore(release): Bump versions (admin to 0.1.112) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

chore(release): Bump versions (website to 0.2.481) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

ci(ios): mask signing identity in packaging logs; add mcpbridge PoC workflow
  .github/workflows/app-package.yml
  .github/workflows/xcode-mcpbridge-poc.yml
Due: none

ci(ios): trigger mcpbridge PoC on branch push
  .github/workflows/xcode-mcpbridge-poc.yml
Due: none

Website: move perush content to top of dedicated pages + SEO for articles/perushim
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/PerushimSection.tsx
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/seo/core-jsonld.ts
  web/bible-on-site/src/lib/seo/jsonld.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/PerushimSection.test.tsx
  web/bible-on-site/tests/unit/lib/seo/core-jsonld.test.ts
Due: website

docs(renovate): refresh bundled-vuln and sprintf-js hold descriptions
  renovate.json
Due: none

ci(ios): enable Xcode MCP server before mcpbridge probe
  .github/workflows/xcode-mcpbridge-poc.yml
Due: none

ci(ios): hold mcpbridge stdin open — it is a persistent stdio MCP server
  .github/workflows/xcode-mcpbridge-poc.yml
Due: none

ci(ios): enumerate mcpbridge tool names in PoC output
  .github/workflows/xcode-mcpbridge-poc.yml
Due: none

App: add שניים מקרא and תיקון קוראים reading modes to a reader menu
  app/BibleOnSite.Tests/Helpers/PasukDisplayItemsTests.cs
  app/BibleOnSite.Tests/Helpers/TikkunKorimTextBuilderTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelReadingModesTests.cs
  app/BibleOnSite/Converters/PasukDisplayItemsConverter.cs
  app/BibleOnSite/Converters/TikkunTextConverter.cs
  app/BibleOnSite/Helpers/PasukDisplayItems.cs
  app/BibleOnSite/Helpers/TikkunKorimTextBuilder.cs
  app/BibleOnSite/Models/PasukDisplayItem.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

ci(ios): extend mcpbridge probe deadline — tool service cold-start is slow
  .github/workflows/xcode-mcpbridge-poc.yml
Due: none

Preserve root safe-area insets and wait for a stable Android test device
  app/BibleOnSite.Tests/Helpers/ReaderSafeAreaTests.cs
  app/BibleOnSite/Helpers/ReaderSafeArea.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/mobile-e2e/android-readiness.mjs
  app/mobile-e2e/android-readiness.test.mjs
  app/mobile-e2e/package.json
  app/mobile-e2e/run.mjs
Due: app

ci(ios): mask signing identity in packaging logs; add mcpbridge PoC workflow (#2049)
  .github/workflows/app-package.yml
  .github/workflows/xcode-mcpbridge-poc.yml
  renovate.json
Due: none

fix(app): replace NSHTMLReader HTML import with managed parser
  app/BibleOnSite.Tests.MobileE2E/PerushimHtmlScrollStabilityTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Helpers/HtmlRunsTests.cs
  app/BibleOnSite/Helpers/HtmlAttributedStringFactory.cs
  app/BibleOnSite/Helpers/HtmlRuns.cs
  app/BibleOnSite/Platforms/MacCatalyst/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Services/SyntheticPerushimProvider.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

ci(ios): make mcpbridge PoC dispatch-only now that the probe is proven
  .github/workflows/xcode-mcpbridge-poc.yml
Due: none

Retry transient Android emulator SDK downloads before running mobile tests
  .github/workflows/app-mobile-e2e.yml
Due: none

fix(website): reduce canonical startup work and gate ECS handover (#2026)
  docs/aws/cloudformation/ecs-services.yaml
  docs/aws/deployment-readiness-2026-10-06.md
  web/bible-on-site/Dockerfile
  web/bible-on-site/next.config.mjs
  web/bible-on-site/scripts/verify-recitation-build.mjs
  web/bible-on-site/src/app/api/recitation/route.ts
  web/bible-on-site/src/data/db/sefarim.ts
  web/bible-on-site/tests/unit/app/api/recitation-package-route.test.ts
  web/bible-on-site/tests/unit/data/canonical-server-data.test.ts
Due: website

fix(docker): inline rust image tag so Renovate can autoReplace it
  devops/coverage/lcov-docker/Dockerfile
  web/api/Dockerfile
  web/bulletin/Dockerfile
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
