Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

Link Jerusalem verses and show occurrences on Tanahpedia entries (#1906)
  .codacy.yml
  data/README.md
  data/mysql/scripts/generate-tanahpedia-occurrences.mjs
  data/mysql/tanahpedia_jerusalem_occurrences_data.sql
  devops/deploy/data-deploy/sql-files.json
  web/bible-on-site/README.md
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/[slug]/entry-view.tsx
  web/bible-on-site/src/app/pedia/components/EntryOccurrencesTable.tsx
  web/bible-on-site/src/app/pedia/components/TanahpediaPlacesMap.tsx
  web/bible-on-site/src/app/pedia/components/entry-occurrences.module.css
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/tests/unit/app/pedia-page.test.ts
  web/bible-on-site/tests/unit/components/EntryOccurrencesTable.test.tsx
  web/bible-on-site/tests/unit/components/PerekText.test.tsx
  web/bible-on-site/tests/unit/lib/tanahpedia-service.test.ts
  web/bible-on-site/tsconfig.json
Due: website, data

fix(website): preserve the legacy Jerusalem redirect
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
Due: website

chore(website): bump version above the current merge base
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(website): reserve version 0.2.434 for recitation deployment
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(website): reserve release 0.2.435
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (app to 5.0.99) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(recitation): prepare audio and verify complete deployments (#1905)
  .github/workflows/cd-aws.yml
  .github/workflows/ci.yml
  .github/workflows/shared-ci.yml
  .github/workflows/shared-dockerize.yml
  .github/workflows/shared-release.yml
  data/recitation/README.md
  data/recitation/audit.py
  data/recitation/deployment.py
  data/recitation/recite.py
  data/recitation/test_alignment.py
  data/recitation/test_deployment.py
  devops/deploy/ecr-deploy/ecr-deployer-base.mts
  devops/deploy/ecr-deploy/resume-image.mts
  devops/deploy/ecr-deploy/resume-image.test.mts
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/RecitationPlayer.tsx
  web/bible-on-site/src/app/929/[number]/components/recitation-player.module.css
  web/bible-on-site/src/app/api/recitation/[perekId]/route.ts
  web/bible-on-site/src/lib/recitation-audio.ts
  web/bible-on-site/tests/unit/app/api/recitation-route.test.ts
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
  web/bible-on-site/tests/unit/lib/recitation-audio.test.ts
Due: website, data

fix: align browser source tests and address review findings
  web/admin/src/components/editor/EditorShortcutModal.tsx
  web/admin/tests/e2e/articles.test.ts
  web/bible-on-site/src/lib/tanahpedia/tanach-citation-links.tsx
Due: website

fix(sefer): restore article and commentary navigation with book history
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/useSeferContentNavigation.ts
  web/bible-on-site/tests/e2e/929/sefer-view/commentary-navigation.test.ts
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/useSeferContentNavigation.test.tsx
Due: website

fix(sefer): allow content retries after a failed request
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
Due: website

chore(website): reserve version 0.2.437 after concurrent release
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

test(website): settle commentary summary updates in act
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
Due: none

chore(release): Bump versions (admin to 0.1.98, app to 5.0.101) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/admin/package-lock.json
  web/admin/package.json
Due: app

fix(sefer): preserve content navigation after native page turns
  .github/tool-registry.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/tests/e2e/929/sefer-view/commentary-navigation.test.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/util/playwright/page-objects/sefer-page.ts
Due: website

test(sefer): complete native turns without relying on flick speed
  web/bible-on-site/tests/e2e/929/sefer-view/commentary-navigation.test.ts
Due: none

test(devops): resolve executables for the merge hook fixture
  devops/test_precommit_merge.py
Due: none

test(devops): document fixed Git fixture arguments
  devops/test_precommit_merge.py
Due: none

fix(pedia): mute empty categories and add a Hebrew empty state
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/[slug]/category-view.tsx
  web/bible-on-site/src/app/pedia/page.module.css
  web/bible-on-site/src/app/pedia/page.tsx
  web/bible-on-site/tests/unit/app/pedia-category-page.test.ts
  web/bible-on-site/tests/unit/app/pedia-landing-page.test.tsx
Due: website

fix(app): keep flyout pages on the perek back stack and harden perushim navigation
  app/BibleOnSite.Tests/Services/FlyoutNavigationTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekLoadingTests.cs
  app/BibleOnSite/AppShell.xaml
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/DonationsPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Services/IAppNavigator.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

fix(bookshelf): hydration-safe first render, page h1, mobile sefarim grid
  web/bible-on-site/package.json
  web/bible-on-site/src/app/bookshelf/page.module.css
  web/bible-on-site/src/app/bookshelf/page.tsx
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
  web/bible-on-site/tests/e2e/bookshelf.test.ts
  web/bible-on-site/tests/unit/components/Bookshelf-notoday.test.tsx
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfPage.test.tsx
Due: website

style(app): address Codacy findings (braces, static property, comment wording)
  app/BibleOnSite.Tests/ViewModels/PerekLoadingTests.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Services/IAppNavigator.cs
Due: app

fix(website): accessible breadcrumb selectors and deep-link header offset
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/components/Breadcrumb.tsx
  web/bible-on-site/src/app/929/[number]/components/BreadcrumbDropdown.tsx
  web/bible-on-site/src/app/929/[number]/components/breadcrumb.module.css
  web/bible-on-site/src/app/pedia/components/TanahpediaBreadcrumb.tsx
  web/bible-on-site/tests/e2e/929/breadcrumb-header-offset.test.ts
  web/bible-on-site/tests/unit/components/BreadcrumbDropdown.test.tsx
Due: website

test(bookshelf): build hydration container via DOMParser instead of innerHTML
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
Due: none

fix(ci): verify module versions against the merge-queue base
  .github/workflows/shared-ci.yml
  .github/workflows/shared-release.yml
  .github/workflows/shared-verify-version.yml
  devops/github/ci/is-version-newer-than-baseline.test.mts
  devops/github/ci/is-version-newer-than-baseline.ts
  devops/package.json
  docs/github/version-verification.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(website): self-hosted Hebrew webfont + reader settings for perek text
  .husky/shared-checks.sh
  web/bible-on-site/.husky/pre-commit
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/ReaderSettings.tsx
  web/bible-on-site/src/app/929/[number]/components/reader-settings.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/fonts/NotoSerifHebrew-OFL.txt
  web/bible-on-site/src/app/fonts/NotoSerifHebrew.woff2
  web/bible-on-site/src/app/layout.tsx
  web/bible-on-site/src/lib/reader-settings.ts
  web/bible-on-site/tests/e2e/929/reader-settings.test.ts
  web/bible-on-site/tests/unit/components/ReaderSettings.test.tsx
  web/bible-on-site/tests/unit/lib/reader-settings.test.ts
Due: website

fix(website): accessible main menu, per-section metadata and 404s
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/[section]/page.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/ScrollToSection.tsx
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/tests/e2e/authors.test.ts
  web/bible-on-site/tests/e2e/navbar-hamburger.test.ts
  web/bible-on-site/tests/e2e/section-pages.test.ts
  web/bible-on-site/tests/unit/app/section-page.test.ts
  web/bible-on-site/tests/unit/components/NavBar-nullhref.test.tsx
  web/bible-on-site/tests/unit/components/NavBar.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToSection.test.tsx
Due: website

fix(husky): drop bash-only pipefail from post-commit (runs under dash)
  .husky/post-commit
Due: none

fix(ci): verify versions on the event's own checkout
  .github/workflows/ci.yml
  .github/workflows/shared-verify-version.yml
Due: none

test(app): cover perushim load without a current perek; drop redundant stale check and null guards
  app/BibleOnSite.Tests/ViewModels/PerekLoadingTests.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

test(website): compare canonical pathname instead of dynamic RegExp
  web/bible-on-site/tests/e2e/section-pages.test.ts
Due: none

refactor(website): render bootstrap as inline script, execute it via jsdom in tests
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/tests/unit/lib/reader-settings.test.ts
Due: website

fix(website): keep mobile perek grid inside the viewport
  web/bible-on-site/src/app/929/[number]/components/breadcrumb.module.css
  web/bible-on-site/tests/e2e/929/breadcrumb-header-offset.test.ts
Due: website

fix(website): anchor all mobile breadcrumb dropdowns to the row
  web/bible-on-site/src/app/929/[number]/components/breadcrumb.module.css
Due: website

fix(website): static bootstrap literal + label-in-name aria-labels
  web/bible-on-site/src/app/929/[number]/components/ReaderSettings.tsx
  web/bible-on-site/src/lib/reader-settings.ts
  web/bible-on-site/tests/unit/components/ReaderSettings.test.tsx
  web/bible-on-site/tests/unit/lib/reader-settings.test.ts
Due: website
