Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

Improve admin editor coverage
  web/admin/src/components/editor/EditorShortcutModal.test.tsx
  web/admin/src/components/editor/adminEditorShortcuts.test.ts
Due: none

Cover admin Tanahpedia category labels
  web/admin/src/lib/tanahpedia/category-hierarchy.test.ts
Due: none

Cover admin image upload
  web/admin/src/test/components/ImageUpload.test.tsx
Due: none

fix(data): add safe tanahpedia db upgrades
  .github/workflows/ci.yml
  .husky/pre-commit
  .husky/shared-checks.sh
  data/Makefile.toml
  data/README.md
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_seed_data.sql
  devops/github/ci/is-version-newer-than-baseline.ts
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: data

fix(data): add safe tanahpedia db upgrades (#1755)
  .github/workflows/ci.yml
  .husky/pre-commit
  .husky/shared-checks.sh
  data/Makefile.toml
  data/README.md
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_seed_data.sql
  devops/github/ci/is-version-newer-than-baseline.ts
Due: data

chore(release): Bump versions (website to 0.2.329, admin to 0.1.34) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Cover admin Wysiwyg editor
  web/admin/src/test/components/WysiwygEditor.test.tsx
Due: none

Increase website coverage tests
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
  web/bible-on-site/tests/unit/app/actions.test.ts
  web/bible-on-site/tests/unit/app/tanahpedia-entity-type-page.test.ts
  web/bible-on-site/tests/unit/components/TanahpediaBreadcrumb.test.tsx
  web/bible-on-site/tests/unit/components/TanahpediaLink.test.tsx
Due: none

Increase cross-module coverage tests
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/test/components/WysiwygEditor.test.tsx
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/src/dtos/perek.rs
  web/api/src/services/articles_service.rs
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/src/handlers.rs
Due: api

Address Codacy test literal annotations
  web/bible-on-site/tests/unit/components/TanahpediaLink.test.tsx
Due: none

chore(release): Bump versions (website to 0.2.331, admin to 0.1.36) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(deploy): populate production Tanahpedia tables and content
  devops/deploy/data-deploy/index.mts
Due: none

ci(data): trigger data CD when data-deploy tooling changes
  .github/workflows/ci.yml
Due: none

Increase local coverage across API admin bulletin
  web/admin/src/components/editor/adminLinkExtension.test.ts
  web/admin/src/components/editor/adminOrderedListExtension.test.ts
  web/api/src/dtos/author.rs
  web/api/src/startup/app.rs
  web/api/src/startup/schema_builder.rs
  web/bulletin/src/handlers.rs
  web/bulletin/src/models.rs
  web/bulletin/src/pdf.rs
Due: api

Populate production Tanahpedia tables and content (#1765)
  .github/workflows/ci.yml
  devops/deploy/data-deploy/index.mts
Due: none

Increase data API and app coverage tests
  app/BibleOnSite.Tests/Services/PerushimCatalogServiceTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  data/Cargo.lock
  data/Cargo.toml
  data/sefaria/pipelines/perushim-view/src/stages/stage_normalize_authors.rs
  data/sefaria/pipelines/tanah-view/src/commands/mysql.rs
  data/sefaria/pipelines/tanah-view/src/commands/sqlite.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_group.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_perek_dates.rs
  web/api/src/startup/schema_builder.rs
Due: api, app, data

Increase data and bulletin service coverage
  data/sefaria/pipelines/perushim-view/src/commands/mysql.rs
  web/bulletin/src/services.rs
Due: data

Increase data generator coverage
  data/sefaria/pipelines/perushim-view/src/commands/compass_stages.rs
  data/sefaria/pipelines/perushim-view/src/commands/json.rs
  data/sefaria/pipelines/tanah-view/src/commands/compass_stages.rs
  data/sefaria/pipelines/tanah-view/src/commands/json.rs
Due: data

Increase data pipeline coverage
  data/sefaria/pipelines/perushim-view/src/aggregation.rs
  data/sefaria/pipelines/tanah-view/src/aggregation.rs
  data/sefaria/pipelines/tanah-view/src/data/cycle_dates.rs
  data/sefaria/pipelines/tanah-view/src/data/headers.rs
Due: data

Increase data compass coverage
  data/sefaria/pipelines/perushim-view/src/commands/compass_stages.rs
  data/sefaria/pipelines/tanah-view/src/commands/compass_stages.rs
Due: data

ci(cd-data): select a non-expired perushim artifact for the deploy
  .github/workflows/cd-data.yml
Due: none

Increase s3 populator coverage
  data/s3/s3-populator/src/main.rs
Due: data

ci(cd-data): select a non-expired perushim artifact for the deploy (#1767)
  .github/workflows/cd-data.yml
Due: none

Increase sefaria setup coverage
  data/sefaria/setup-and-population/src/main.rs
Due: data

Increase data CLI coverage
  data/sefaria/pipelines/perushim-view/src/main.rs
  data/sefaria/pipelines/tanah-view/src/main.rs
Due: data

Increase db populator splitter coverage
  data/mysql/db-populator/src/main.rs
Due: data

chore(release): Bump versions (website to 0.2.333, admin to 0.1.38) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(tanahpedia): remove semicolon from SQL comment that broke the populator
  data/mysql/tanahpedia_structure.sql
Due: data

fix(tanahpedia): remove semicolon from SQL comment that broke the populator (#1768)
  data/mysql/tanahpedia_structure.sql
Due: data

fix(website): stop leaking dev DB instructions on prod tanahpedia error
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/page.tsx
Due: website

fix(website): stop leaking dev DB instructions on prod tanahpedia error (#1763)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/page.tsx
Due: website

chore(release): Bump versions (website to 0.2.335) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (admin to 0.1.40) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

Address review comments and restructure admin tests
  app/BibleOnSite.Tests/Services/PerushimCatalogServiceTests.cs
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/tests/setup.ts
  web/admin/tests/unit/components/AutoSaveIndicator.test.tsx
  web/admin/tests/unit/components/ImageUpload.test.tsx
  web/admin/tests/unit/components/WysiwygEditor.test.tsx
  web/admin/tests/unit/components/editor/EditorShortcutModal.test.tsx
  web/admin/tests/unit/components/editor/adminEditorShortcuts.test.ts
  web/admin/tests/unit/components/editor/adminFootnoteHtml.test.ts
  web/admin/tests/unit/components/editor/adminHebrew.test.ts
  web/admin/tests/unit/components/editor/adminLinkExtension.test.ts
  web/admin/tests/unit/components/editor/adminOrderedListExtension.test.ts
  web/admin/tests/unit/lib/tanahpedia/category-hierarchy.test.ts
  web/admin/tests/unit/lib/tanahpedia/schema-registry.test.ts
  web/admin/tests/unit/server/db-config.test.ts
  web/admin/tests/unit/utils/hebrew.test.ts
  web/admin/tsconfig.json
  web/admin/vitest.config.ts
Due: none

Fix data formatting and extend bookshelf coverage
  data/mysql/db-populator/src/main.rs
  data/sefaria/pipelines/perushim-view/src/commands/compass_stages.rs
  data/sefaria/pipelines/tanah-view/src/commands/compass_stages.rs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/unit/components/Bookshelf-notoday.test.tsx
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
Due: data

Extend admin and app coverage tests
  app/BibleOnSite.Tests/Services/PerushimNotesServiceTests.cs
  web/admin/tests/unit/components/WysiwygEditor.test.tsx
Due: none

Add Tanahpedia family API and non-destructive deploy path
  data/mysql/tanahpedia_alter_source_citation.sql
  devops/deploy/data-deploy/index.mts
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/server/tanahpedia/entries.ts
  web/admin/src/server/tanahpedia/entry-loader.server.ts
  web/admin/src/server/tanahpedia/family-api-spec.ts
  web/admin/src/server/tanahpedia/family.test.ts
  web/admin/src/server/tanahpedia/family.ts
  web/admin/src/server/tanahpedia/llm-assistant.ts
  web/admin/src/server/tanahpedia/structural-loader.server.ts
  web/admin/src/server/tanahpedia/structural.ts
Due: data

Keep Tanahpedia deploy baseline non-destructive and lint-compatible
  data/mysql/tanahpedia_alter_source_citation.sql
  devops/deploy/data-deploy/index.mts
Due: data

Fix admin package conflicts after rebase
  web/admin/package-lock.json
  web/admin/package.json
Due: none

chore(release): Bump versions (website to 0.2.337) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
