Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

fix(seo): strip HTML tags with a fixpoint loop (CWE-116)
  web/bible-on-site/src/lib/seo/jsonld.ts
Due: website

docs(practices): agent owns the repo end-to-end and merges PRs itself
  .cursor/rules/git-practices.mdc
  .github/instructions/git-practices.instructions.md
  docs/practices/git.md
Due: none

chore(release): Bump versions (website to 0.2.393) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(website): count the /pedia landing entry in the sitemap e2e assertion
  .github/agents/TanahpediaFamily.agent.md
  data/tanahpedia/ops/avraham-family.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/e2e/sitemap.test.ts
Due: data

fix(tanahpedia): use the linkable citation style for the Avraham family sources
  .github/agents/TanahpediaFamily.agent.md
  data/tanahpedia/ops/avraham-family.json
Due: data

fix(website): keep non-Tanach parent sources off the focal family card
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/lib/tanahpedia/tanach-citation-links.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.397) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Tanahpedia: Avraham's wives and children, with Ketura as a disputed union
  .github/agents/TanahpediaFamily.agent.md
  data/tanahpedia/ops/avraham-family.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/lib/tanahpedia/person-family-labels.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/lib/person-family-labels.test.ts
Due: website, data

Tanahpedia family tree: keep several spouses parallel on wide screens
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

Tanahpedia family tree: centre a capped marriage column in its track
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
Due: website

Tanahpedia family tree: birth-order timeline for Avraham, continuous child lines
  data/tanahpedia/ops/avraham-family.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/lib/tanahpedia/person-family-chronology.ts
  web/bible-on-site/tests/unit/lib/person-family-chronology.test.ts
Due: website, data

chore(release): Bump versions (website to 0.2.403, app to 5.0.91) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

chore(website): upgrade to Next 16.3, make /pedia/[slug] SSG, compact agent rules
  .github/copilot-instructions.md
  .github/instructions/agent-practices.instructions.md
  .github/instructions/api-practices.instructions.md
  .github/instructions/app-deployment.instructions.md
  .github/instructions/app-practices.instructions.md
  .github/instructions/aws-workflows.instructions.md
  .github/instructions/flipbook-integration.instructions.md
  .github/instructions/general-practices.instructions.md
  .github/instructions/git-practices.instructions.md
  .github/instructions/github-issues.instructions.md
  .github/instructions/implementation-context.instructions.md
  .github/instructions/prefer-npm-scripts.instructions.md
  .github/instructions/tanahpedia-practices.instructions.md
  .github/instructions/testing-practices.instructions.md
  .github/instructions/user-does-not-execute.instructions.md
  .github/instructions/website-e2e-testing.instructions.md
  .github/instructions/website-practices.instructions.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/[slug]/page.tsx
  web/bible-on-site/src/app/pedia/page.tsx
  web/bible-on-site/src/lib/tanahpedia/category-slug.ts
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/tests/unit/app/pedia-category-page.test.ts
  web/bible-on-site/tests/unit/app/pedia-page.test.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
  web/bible-on-site/tests/unit/components/TanahpediaBreadcrumb.test.tsx
  web/bible-on-site/tests/unit/lib/pasuk-plain-text.test.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-category-slug.test.ts
Due: website

Next 16.3, static /pedia/[slug], compacted agent rules, and the #1834 dependency bumps (#1846)
  .github/copilot-instructions.md
  .github/instructions/agent-practices.instructions.md
  .github/instructions/api-practices.instructions.md
  .github/instructions/app-deployment.instructions.md
  .github/instructions/app-practices.instructions.md
  .github/instructions/aws-workflows.instructions.md
  .github/instructions/flipbook-integration.instructions.md
  .github/instructions/general-practices.instructions.md
  .github/instructions/git-practices.instructions.md
  .github/instructions/github-issues.instructions.md
  .github/instructions/implementation-context.instructions.md
  .github/instructions/prefer-npm-scripts.instructions.md
  .github/instructions/tanahpedia-practices.instructions.md
  .github/instructions/testing-practices.instructions.md
  .github/instructions/user-does-not-execute.instructions.md
  .github/instructions/website-e2e-testing.instructions.md
  .github/instructions/website-practices.instructions.md
  devops/package-lock.json
  devops/package.json
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/[slug]/page.tsx
  web/bible-on-site/src/app/pedia/page.tsx
  web/bible-on-site/src/lib/tanahpedia/category-slug.ts
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/tests/unit/app/pedia-category-page.test.ts
  web/bible-on-site/tests/unit/app/pedia-page.test.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
  web/bible-on-site/tests/unit/components/TanahpediaBreadcrumb.test.tsx
  web/bible-on-site/tests/unit/lib/pasuk-plain-text.test.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-category-slug.test.ts
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: website

fix(website): drop redundant postcss.config.js to avoid Next 16.3 Turbopack cold-build race
  web/admin/package-lock.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/postcss.config.js
Due: none

chore: align biome schema URLs with biome 2.5.7
  web/admin/biome.json
  web/bible-on-site/biome.json
Due: none

fix(website): drop redundant postcss.config.js to unblock master (Next 16.3 Turbopack race) + #1847 bumps (#1849)
  package-lock.json
  web/admin/biome.json
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/biome.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/postcss.config.js
Due: none

chore(release): Bump versions (website to 0.2.406, admin to 0.1.88) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix: sanitize footnote migration fragments
  web/admin/src/components/editor/adminFootnoteMigration.ts
Due: none

fix: sanitize legacy footnote parsing
  web/admin/src/components/editor/adminFootnoteMigration.ts
Due: none

test: avoid interpolated HTML fixtures
  web/admin/tests/unit/components/editor/adminFootnoteMigration.test.ts
Due: none

test: raise Tanahpedia coverage
  web/admin/tests/unit/components/WysiwygEditor.test.tsx
  web/admin/tests/unit/components/editor/adminFootnoteExtensions.test.ts
  web/admin/tests/unit/components/editor/adminFootnoteMigration.test.ts
  web/admin/tests/unit/components/tanahpedia/EntryStructuralPanel.test.tsx
  web/admin/tests/unit/routes/tanahpedia-entry-edit.test.tsx
  web/admin/tests/unit/server/tanahpedia/llm-assistant-status.test.ts
  web/bible-on-site/tests/unit/app/pedia-page.test.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-service.test.ts
Due: none

test: satisfy Codacy JSON guidance
  web/admin/tests/unit/server/tanahpedia/llm-assistant-status.test.ts
Due: none

chore(release): Bump versions (website to 0.2.408, admin to 0.1.90) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore: surface data coverage in README and add generic coverage-gaps tool
  .github/instructions/testing-practices.instructions.md
  README.md
  devops/coverage-gaps.mjs
  devops/package.json
  docs/practices/testing.md
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/editor/adminFootnoteMigration.ts
  web/admin/src/components/tanahpedia/ExistingEntityPicker.tsx
  web/admin/src/routes/tanahpedia.entries.$id.tsx
  web/admin/src/server/tanahpedia/structural.ts
  web/admin/tests/unit/components/editor/adminFootnoteMigration.test.ts
  web/admin/tests/unit/components/tanahpedia/ExistingEntityPicker.test.tsx
  web/admin/tests/unit/routes/tanahpedia-entry-edit.test.tsx
  web/admin/tests/unit/server/tanahpedia/llm-assistant-status.test.ts
  web/admin/tests/unit/server/tanahpedia/structural-entities.test.ts
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/unit/lib/tanahpedia/synonym-resolution.test.ts
Due: none

fix: close codecov patch gap and constrain coverage-gaps paths
  devops/coverage-gaps.mjs
  web/admin/src/components/editor/adminFootnoteMigration.ts
Due: none

refactor: select coverage-gaps report by module name
  .github/instructions/testing-practices.instructions.md
  devops/coverage-gaps.mjs
Due: none

fix: drop the last dead null guard in footnote migration
  web/admin/src/components/editor/adminFootnoteMigration.ts
Due: none

test: cover the footnotes-mention-without-list branch
  web/admin/tests/unit/components/editor/adminFootnoteMigration.test.ts
Due: none

test: cover the paragraph-body back-link branch
  web/admin/tests/unit/components/editor/adminFootnoteMigration.test.ts
Due: none

test: cover the ul legacy container branch
  web/admin/tests/unit/components/editor/adminFootnoteMigration.test.ts
Due: none

test: cover the empty list item back-link branch
  web/admin/tests/unit/components/editor/adminFootnoteMigration.test.ts
Due: none

fix: use Text.data to drop an unreachable null fallback
  web/admin/src/components/editor/adminFootnoteMigration.ts
  web/admin/tests/unit/components/editor/adminFootnoteMigration.test.ts
Due: none

chore: surface data coverage in README and add generic coverage-gaps tool (#1854)
  .github/instructions/testing-practices.instructions.md
  README.md
  devops/coverage-gaps.mjs
  devops/package.json
  docs/practices/testing.md
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/editor/adminFootnoteMigration.ts
  web/admin/src/components/tanahpedia/ExistingEntityPicker.tsx
  web/admin/src/routes/tanahpedia.entries.$id.tsx
  web/admin/src/server/tanahpedia/structural.ts
  web/admin/tests/unit/components/editor/adminFootnoteMigration.test.ts
  web/admin/tests/unit/components/tanahpedia/ExistingEntityPicker.test.tsx
  web/admin/tests/unit/routes/tanahpedia-entry-edit.test.tsx
  web/admin/tests/unit/server/tanahpedia/llm-assistant-status.test.ts
  web/admin/tests/unit/server/tanahpedia/structural-entities.test.ts
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/unit/lib/tanahpedia/synonym-resolution.test.ts
Due: none

chore(release): Bump versions (website to 0.2.410, admin to 0.1.92) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none
