Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

chore(app): add TODO to re-upgrade PAD SDK during .NET 10 migration
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): revert PAD SDK 2.3.0.5, fix iOS ODR build (UIKit + ImageAsset), add Android restore to PR CI (#1394)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

fix(ios): use NSData.Save(NSUrl, bool) — string overload obsolete since iOS 13
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

ci(app): add App iOS CI job to catch iOS build errors on PRs
  .github/workflows/ci.yml
Due: none

fix(ci): use --skip-manifest-update + Xcode selection (match packaging wf)
  .github/workflows/ci.yml
Due: none

fix(ci): pin .NET 9 SDK via global.json before workload install
  .github/workflows/ci.yml
Due: none

fix(ci): override TargetFrameworks to avoid android workload requirement
  .github/workflows/ci.yml
Due: none

fix(ci): allow workload manifest update (need iOS SDK 26.0)
  .github/workflows/ci.yml
Due: none

feat(admin,website): add admin subdomain support and custom 404 page
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  web/bible-on-site/src/app/not-found.css
  web/bible-on-site/src/app/not-found.module.css
  web/bible-on-site/src/app/not-found.tsx
Due: website

fix(ci): decompress perushim notes before iOS CI build
  .github/workflows/ci.yml
Due: none

feat(admin): add CI/CD pipeline for admin module
  .github/workflows/cd-aws.yml
  .github/workflows/ci.yml
  devops/deploy/ecr-deploy/admin-deployer.mts
  devops/deploy/ecr-deploy/index.mts
  devops/get-module-version.ts
  devops/github/ci/is-version-newer-than-baseline.ts
  web/.dockerignore
  web/admin/Dockerfile
  web/admin/package.json
Due: none

fix(ci): use correct working directory for perushim decompression
  .github/workflows/ci.yml
Due: none

fix(app): revert PAD SDK, fix iOS ODR build, add App iOS CI, pin workloads (#1396)
  .github/workflows/ci.yml
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

refactor(ci): run App iOS CI only on PRs, align with packaging workflow
  .github/workflows/ci.yml
Due: none

refactor(ci): use dotnet publish for App iOS CI, skip IL trim
  .github/workflows/ci.yml
Due: none

fix(ci): override TargetFrameworks to avoid android workload in publish
  .github/workflows/ci.yml
Due: none

fix(ci): split restore/publish to handle multi-TFM project
  .github/workflows/ci.yml
Due: none

fix(ci): use MtouchLink=None instead of PublishTrimmed=false
  .github/workflows/ci.yml
Due: none

fix(ci): disable code signing for iOS PR CI publish
  .github/workflows/ci.yml
Due: none

fix(ci): add TrimMode=copy to truly skip IL stripping
  .github/workflows/ci.yml
Due: none

refactor(ci): switch iOS CI to dotnet build with RID
  .github/workflows/ci.yml
Due: none

fix(ci): disable code signing for iOS build with RID
  .github/workflows/ci.yml
Due: none

refactor(ci): build iOS for simulator to avoid IL stripping
  .github/workflows/ci.yml
Due: none

chore(ci): add TODO for iOS CI IL stripping perf (#1401)
  .github/workflows/ci.yml
Due: none

perf(website): improve mobile PageSpeed score via image optimization, accessibility, and browserslist
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/ArticleFullView.tsx
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/page.tsx
  web/bible-on-site/src/app/929/authors/page.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/src/app/journalism/JournalismGallery.tsx
  web/bible-on-site/src/app/rabbis-blessing/ImageLightbox.tsx
  web/bible-on-site/tests/perf/known-issues/lighthouse/list.yml
Due: website

fix(website): broaden MinIO remotePatterns for Next.js image optimization
  web/bible-on-site/next.config.mjs
Due: none

perf(ci): kill iOS build after DLL produced, skip IL stripping
  .github/workflows/ci.yml
Due: none

fix(website): disable image optimization in dev to avoid MinIO hostname issues
  web/bible-on-site/next.config.mjs
Due: none

refactor(ci): run App iOS CI only on PRs, align with packaging workflow (#1402)
  .github/workflows/ci.yml
Due: none

fix(ci): don't hard-fail when Codecov ci_passed is unresolved
  .github/workflows/ci.yml
Due: none

chore(app): bump version to 5.0.39
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(ci): don't hard-fail when Codecov ci_passed is unresolved (#1403)
  .github/workflows/ci.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(website): update E2E test selector for nav element change
  web/bible-on-site/tests/e2e/navbar-hamburger.test.ts
Due: none

chore(release): Bump versions (app to 5.0.40) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(ci): make app packaging wait for perushim data
  .github/workflows/ci.yml
Due: none

feat(admin): AWS infrastructure setup and CloudFormation documentation
  docs/aws/cloudformation/ecr-ecs-auto-deploy.yaml
  docs/aws/cloudformation/ecr-repositories.yaml
  docs/aws/cloudformation/ecs-services.yaml
  web/admin/src/server/s3.ts
Due: none

feat(admin): add Cognito IAM authentication
  web/admin/.dev.env
  web/admin/app.config.ts
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/entry.server.tsx
  web/admin/src/routes/__root.tsx
  web/admin/src/server/auth.ts
Due: none

fix(admin): exclude app.config.ts from TypeScript type checking
  web/admin/tsconfig.json
Due: none

refactor(ci): constantize perushim sqlite paths and use artifact instead of .gz
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
