Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

feat(tanahpedia): store child birth order on family links
  .github/agents/TanahpediaFamily.agent.md
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_alter_child_birth_order.sql
  data/mysql/tanahpedia_structure.sql
  devops/deploy/data-deploy/sql-files.json
Due: data

feat(tanahpedia): expose child birth order through GraphQL
  docs/tanahpedia/external-revision-api.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/src/tanahpedia/person_parent_child.rs
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/services/tanahpedia_family_service.rs
Due: api

chore(codacy): use MySQL parser validation for birth-order migration
  .codacy.yml
Due: none

Use shared flipbook mouse selection in SeferView
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/components/selectable-book-content.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/selectable-book-content.test.ts
Due: website

feat(tanahpedia): render child order from relationship data
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/lib/tanahpedia/person-family-chronology.ts
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/src/lib/tanahpedia/types.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/lib/person-family-chronology.test.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-service.test.ts
Due: website

feat(tanahpedia): store child birth order on family links (#1882)
  .codacy.yml
  .github/agents/TanahpediaFamily.agent.md
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_alter_child_birth_order.sql
  data/mysql/tanahpedia_structure.sql
  devops/deploy/data-deploy/sql-files.json
Due: data

Use shared flipbook mouse selection in SeferView (#1883)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/components/selectable-book-content.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/selectable-book-content.test.ts
Due: website

Preserve Jacob child chronology across mother columns
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/lib/tanahpedia-service.test.ts
Due: website

Verify Jacob child order on desktop and mobile
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: none

Fix ordered child cards and connector on wide screens
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
Due: website

Record family birth orders and preserve replay fields
  data/tanahpedia/ops/adam-abraham-lineage.json
  data/tanahpedia/ops/adam-eve-children-readback.json
  data/tanahpedia/ops/adam-eve-children.json
  data/tanahpedia/ops/child-birth-orders.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: data

feat(tanahpedia): expose child birth order through GraphQL (#1884)
  docs/tanahpedia/external-revision-api.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/src/tanahpedia/person_parent_child.rs
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/services/tanahpedia_family_service.rs
Due: api

Seed Jacob birth order in CI family fixture
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_family_jacob_data.sql
Due: data

chore(release): Bump versions (api to 0.1.65) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

Record production Tanahpedia birth-order readback
  data/tanahpedia/ops/child-birth-orders-readback.json
Due: data

Advance API version gate past released baseline
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

Read family birth order from Tanahpedia and fix Adam child layout (#1885)
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_family_jacob_data.sql
  data/tanahpedia/ops/adam-abraham-lineage.json
  data/tanahpedia/ops/adam-eve-children-readback.json
  data/tanahpedia/ops/adam-eve-children.json
  data/tanahpedia/ops/child-birth-orders-readback.json
  data/tanahpedia/ops/child-birth-orders.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/lib/tanahpedia/person-family-chronology.ts
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/src/lib/tanahpedia/types.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/lib/person-family-chronology.test.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-service.test.ts
Due: website, data

chore(release): Bump versions (api to 0.1.67) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

Keep ordered children in one-spouse family row
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

Keep ordered children in one-spouse family row (#1886)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

Keep single-spouse family tree connectors continuous
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

Keep single-spouse family tree connectors continuous (#1887)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

Link Sefer table of contents chapters
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
Due: website

Use plain scripture references and consolidate parent citations
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-page-utils.ts
  web/bible-on-site/src/app/api/tanah/pasuk/[perekId]/[pasuk]/route.ts
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/lib/tanahpedia/tanach-citation-links.tsx
  web/bible-on-site/tests/unit/app/api/tanah-pasuk-route.test.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/components/sefer-page-utils.test.ts
  web/bible-on-site/tests/unit/lib/tanach-citation-links.test.tsx
Due: website

Update flip book browser expectations for plain numerals
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
Due: none

Make agents own all delivery-blocking CI failures
  AGENTS.md
Due: none

Make agents own project-wide quality
  AGENTS.md
Due: none

Use plain scripture references and consolidate parent citations (#1889)
  AGENTS.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-page-utils.ts
  web/bible-on-site/src/app/api/tanah/pasuk/[perekId]/[pasuk]/route.ts
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/lib/tanahpedia/tanach-citation-links.tsx
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/app/api/tanah-pasuk-route.test.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/components/sefer-page-utils.test.ts
  web/bible-on-site/tests/unit/lib/tanach-citation-links.test.tsx
Due: website

Give Sefer TOC a URL and keep book history in the SPA
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-page-utils.ts
  web/bible-on-site/src/lib/perek-view-preference.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/sefer-page-utils.test.ts
  web/bible-on-site/tests/unit/lib/perek-view-preference.test.ts
Due: website

Improve Hebrew site identity and article discoverability
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/layout.tsx
  web/bible-on-site/src/app/robots.ts
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/seo/core-jsonld.ts
  web/bible-on-site/src/lib/seo/jsonld.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/app/robots.test.ts
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/lib/seo/core-jsonld.test.ts
  web/bible-on-site/tests/unit/lib/seo/jsonld.test.ts
Due: website

Bump website version for CI
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Raise website version above current master
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(tanahpedia): add Mapbox places map and Jerusalem entry
  .github/workflows/shared-dockerize.yml
  data/README.md
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_place_eretz_yisrael_data.sql
  data/mysql/tanahpedia_place_jerusalem_data.sql
  devops/deploy/data-deploy/sql-files.json
  docs/tanahpedia/places-map-plan.md
  web/bible-on-site/Dockerfile
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/[slug]/category-view.tsx
  web/bible-on-site/src/app/pedia/[slug]/entry-view.tsx
  web/bible-on-site/src/app/pedia/components/MapboxPlacesMapClient.tsx
  web/bible-on-site/src/app/pedia/components/PlacesMap.module.css
  web/bible-on-site/src/app/pedia/components/TanahpediaPlacesMap.tsx
  web/bible-on-site/src/app/pedia/page.module.css
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/tests/unit/app/pedia-page.test.ts
Due: website, data

Use canonical homepage URLs and truthful sitemap dates
  web/bible-on-site/src/app/[section]/page.tsx
  web/bible-on-site/src/app/page.tsx
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/tests/e2e/sitemap.test.ts
  web/bible-on-site/tests/unit/app/section-page.test.ts
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
Due: website

perf(ci): remove redundant website builds and test setup
  .github/workflows/ci.yml
  docs/github/workflows/ci/performance.md
Due: none

fix(data): keep Jerusalem SQL comments Lambda-safe
  data/mysql/tanahpedia_place_jerusalem_data.sql
Due: data

perf(ci): overlap independent work with native parallel steps
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  docs/devops/pre-commit.md
  docs/github/workflows/ci/performance.md
Due: none

fix(devops): refresh remote master before website version bump
  devops/github/ci/auto-bump-website-version.ts
  docs/devops/pre-commit.md
Due: none

Add Genesis 1 illustration pilot and search metadata
  docs/website/bereshit-1-illustration.md
  web/bible-on-site/public/images/perakim/bereshit-1-creation-1280.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-1600.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-640.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-960.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-social.jpg
  web/bible-on-site/public/images/perakim/bereshit-1-creation.webp
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/PerekIntro.tsx
  web/bible-on-site/src/app/929/[number]/components/PerekText.tsx
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/seo/core-jsonld.ts
  web/bible-on-site/src/lib/seo/perek-illustrations.ts
  web/bible-on-site/src/lib/tanahpedia/perek-entity-refs.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
  web/bible-on-site/tests/unit/components/PerekIntro.test.tsx
  web/bible-on-site/tests/unit/components/PerekText.test.tsx
  web/bible-on-site/tests/unit/lib/seo/core-jsonld.test.ts
Due: website

Keep article and chapter content in normal flow
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
Due: website
