Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

test(app): capture native stacks for iOS startup hangs
  .github/tool-registry.md
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/LoadingPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/mobile-e2e/README.md
  app/mobile-e2e/run.mjs
Due: app

fix: bump website above the merge queue baseline
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (admin to 0.1.102, bulletin to 0.1.27) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

test(app): restore codecov/project/app above the 98.5% target (#1953)
  app/BibleOnSite.Tests/Models/PasukTests.cs
  app/BibleOnSite.Tests/Models/RecitationTests.cs
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Close narration quality gates and cover dialog dismissal and cross-tab playback
  app/BibleOnSite/Helpers/RecitationTimeline.cs
  app/BibleOnSite/Services/PreferencesService.cs
  app/BibleOnSite/Services/RecitationService.cs
  web/bible-on-site/tests/unit/components/ReaderSettings.test.tsx
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
  web/bible-on-site/tests/unit/lib/native-recitation-audio.test.ts
Due: app

Compare tested PR merge parent for release routing
  devops/github/ci/determine-changes.test.ts
  devops/github/ci/determine-changes.ts
  web/bible-on-site/tests/unit/lib/native-recitation-audio.test.ts
Due: none

Reserve app 5.0.115 after queued dependency release
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore: bump versions of changed modules
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Reuse the reader navigation container during startup
  .github/tool-registry.md
  app/BibleOnSite/AppShell.xaml
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/LoadingPage.xaml
  app/BibleOnSite/Pages/LoadingPage.xaml.cs
  app/devops/Build.Test.cs
  app/mobile-e2e/run.mjs
Due: app

Give Lighthouse worker audits their intended setup budget and retain failures
  .github/workflows/ci.yml
  web/bible-on-site/tests/perf/lighthouse.isolated.test.ts
Due: none

Fix missing commentary notes by pairing release databases (#1950)
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Models/PasukFormattedTextTests.cs
  app/BibleOnSite.Tests/Services/NotesDeliveryTests.cs
  app/BibleOnSite.Tests/Services/PerushimAttributionTests.cs
  app/BibleOnSite.Tests/Services/PreferencesServiceTests.cs
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Models/AppJsonContext.cs
  app/BibleOnSite/Models/Recitation.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
  app/BibleOnSite/Services/PreferencesService.cs
  app/devops/prepare_perushim_assets.py
  app/devops/test_prepare_perushim_assets.py
Due: app

Fix review style and match permitted artifact retention
  .github/workflows/ci.yml
  app/BibleOnSite/AppShell.xaml.cs
Due: app

Reserve app 5.0.116 above the preceding merge queue release
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Attach iOS debug handlers after XAML initialization
  .github/tool-registry.md
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

ci: restore-only npm cache in auto-bump-versions (never runs on master)
  .github/workflows/auto-bump-versions.yml
Due: none

Keep iOS debug initialization conditional without an empty stub
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

Reserve website 0.2.453 above the preceding queued website release
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Keep timing batch reservation distinct from the settings release
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Release cancelled CI runs before validating newer PR heads
  .github/tool-registry.md
  .github/workflows/ci.yml
Due: none

Align Fragment Ktx and validate Android release packaging before merge
  .github/workflows/ci.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Add website reader settings and shared narration preferences (#1949)
  .github/workflows/ci.yml
  app/BibleOnSite.Tests/Helpers/RecitationTimelineTests.cs
  app/BibleOnSite.Tests/Models/PasukFormattedTextTests.cs
  app/BibleOnSite.Tests/Services/PreferencesServiceTests.cs
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Helpers/RecitationTimeline.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/Resources/Raw/recitation-audio.html
  app/BibleOnSite/Services/IRecitationAudioDecoder.cs
  app/BibleOnSite/Services/MpegRecitationAudioDecoder.cs
  app/BibleOnSite/Services/PreferencesService.cs
  app/BibleOnSite/Services/RecitationService.cs
  app/BibleOnSite/ViewModels/RecitationPreferencesViewModel.cs
  data/recitation/PIPELINE.md
  devops/github/ci/determine-changes.test.ts
  devops/github/ci/determine-changes.ts
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/ReaderSettings.tsx
  web/bible-on-site/src/app/929/[number]/components/RecitationPlayer.tsx
  web/bible-on-site/src/app/929/[number]/components/SettingsIcon.tsx
  web/bible-on-site/src/app/929/[number]/components/reader-settings.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/lib/reader-settings.ts
  web/bible-on-site/src/lib/recitation-audio.ts
  web/bible-on-site/src/lib/recitation-settings.ts
  web/bible-on-site/tests/e2e/929/reader-settings.test.ts
  web/bible-on-site/tests/e2e/929/sefer-view/recitation.test.ts
  web/bible-on-site/tests/perf/lighthouse.isolated.test.ts
  web/bible-on-site/tests/unit/components/ReaderSettings.test.tsx
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
  web/bible-on-site/tests/unit/lib/native-recitation-audio.test.ts
  web/bible-on-site/tests/unit/lib/reader-settings.test.ts
  web/bible-on-site/tests/unit/lib/recitation-audio.test.ts
  web/bible-on-site/tests/unit/lib/recitation-settings.test.ts
Due: app, website, data

Reserve app version 5.0.117 after the preceding queue merge
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions (app to 5.0.117) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Reserve app version 5.0.118 after the release automation bump
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Use hittable center taps for iOS Appium actions
  .github/tool-registry.md
  app/BibleOnSite.Tests.MobileE2E/Pages/PerekPage.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/mobile-e2e/README.md
Due: none

Set an explicit Android emulator telemetry choice in CI
  .github/tool-registry.md
  .github/workflows/app-mobile-e2e.yml
Due: none

Use the supported PyPI uploader when Codecov CDN TLS fails
  .github/tool-registry.md
  .github/workflows/ci.yml
Due: none

Restore verified uploader and document external Codecov certificate blocker
  .github/tool-registry.md
  .github/workflows/ci.yml
Due: none

Bound XCTest idle waits during native reader startup
  app/BibleOnSite.Tests.MobileE2E/Configuration/ConfigurationTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/mobile-e2e/README.md
  app/mobile-e2e/run.mjs
Due: none

Avoid duplicate iOS log capture and overlapping session startup
  app/BibleOnSite.Tests.MobileE2E/Configuration/ConfigurationTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/SessionFactoryTests.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceSessionFactory.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/mobile-e2e/README.md
Due: none

ci: bump module versions on master after merge instead of in PRs
  .github/copilot-instructions.md
  .github/workflows/auto-bump-versions.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/shared-release.yml
  .github/workflows/shared-verify-version.yml
  .husky/pre-commit
  .husky/shared-checks.sh
  data/recitation/README.md
  devops/github/ci/auto-bump-website-version.ts
  devops/github/ci/bump-changed-module-versions.test.mts
  devops/github/ci/bump-changed-module-versions.ts
  devops/github/ci/bump-module-versions.test.mts
  devops/github/ci/bump-module-versions.ts
  devops/github/ci/is-version-newer-than-baseline.test.mts
  devops/github/ci/is-version-newer-than-baseline.ts
  devops/package.json
  devops/test_precommit_merge.py
  docs/devops/pre-commit.md
  docs/github/version-verification.md
  renovate.json
Due: data

ci: name the bump steps
  .github/workflows/ci.yml
Due: none

Correct iOS reset notes and record Codecov recovery
  .github/tool-registry.md
Due: none

Use explicit iOS touch actions and trace menu event delivery
  .github/tool-registry.md
  app/BibleOnSite.Tests.MobileE2E/Configuration/IosTapTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/mobile-e2e/README.md
Due: app
