Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

fix(app): fix iOS ODR — set _DistributionType + use NSDataAsset (#1458)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Services/IPadDeliveryService.cs
  app/BibleOnSite/Services/PadDeliveryService.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
  app/devops/Build.Package.cs
Due: app

fix(app): iOS bottom bar offset, font size for perushim/articles
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/ArticleDetailPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

chore(release): Bump versions (app to 5.0.50) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): iOS bottom bar offset, font size for perushim/articles (#1460)
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/ArticleDetailPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

chore(release): Bump versions (app to 5.0.51) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(web): rebuild website to pick up updated perushim data from RDS
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(web): rebuild website to pick up updated perushim data from RDS (#1461)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (website to 0.2.283) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(app): bump version to 5.0.52 to trigger fresh App CD
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(app): bump version to 5.0.52 to trigger fresh App CD (#1464)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions (app to 5.0.53) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(data): improve perushim pipeline — exclusions, author fixes, birth years
  data/sefaria/pipelines/perushim-view/src/data/extract.rs
  data/sefaria/pipelines/perushim-view/src/stages/project_initial_inner.json
  data/sefaria/pipelines/perushim-view/src/stages/stage_match_index.rs
  data/sefaria/pipelines/perushim-view/src/stages/stage_normalize_authors.rs
Due: data

feat(web): SEO links, history push, share button, nav fix, lint cleanup
  web/bible-on-site/src/app/929/[number]/components/ArticleFullView.tsx
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/PerushFullView.tsx
  web/bible-on-site/src/app/929/[number]/components/PerushimSection.tsx
  web/bible-on-site/src/app/929/[number]/components/ShareButton.tsx
  web/bible-on-site/src/app/929/[number]/components/perushim-section.module.css
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/tests/unit/components/ArticleFullView.test.tsx
  web/bible-on-site/tests/unit/components/NavBar.test.tsx
  web/bible-on-site/tests/unit/components/PerushFullView.test.tsx
  web/bible-on-site/tests/unit/components/PerushimSection.test.tsx
  web/bible-on-site/tests/unit/components/ShareButton.test.tsx
Due: website

style(data): apply cargo fmt to extract.rs
  data/sefaria/pipelines/perushim-view/src/data/extract.rs
Due: data

fix(web): update E2E tests for SEO link-based carousel items
  web/bible-on-site/tests/e2e/929/perushim.test.ts
Due: none

chore(release): Bump versions (website to 0.2.284, app to 5.0.54) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

fix(web): remove birth year from perush display, bump to 0.2.285
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/PerushFullView.tsx
  web/bible-on-site/tests/e2e/929/perushim.test.ts
  web/bible-on-site/tests/unit/components/PerushFullView.test.tsx
Due: website

fix(app): iOS ODR bundle, bottom bar gap, font size on scroll
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

fix(web): remove birth year from perush display, bump to 0.2.285 (#1466)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/PerushFullView.tsx
  web/bible-on-site/tests/e2e/929/perushim.test.ts
  web/bible-on-site/tests/unit/components/PerushFullView.test.tsx
Due: website

fix(app): iOS ODR bundle, bottom bar gap, font size on scroll (#1468)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

chore(release): Bump versions (app to 5.0.56) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions (website to 0.2.286) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(web): fix book-view URL navigation and history state issues
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-page-utils.ts
  web/bible-on-site/tests/e2e/929/book-view-url.test.ts
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/sefer-page-utils.test.ts
Due: website

fix(web): fix book-view URL navigation and history state issues (#1482)
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-page-utils.ts
  web/bible-on-site/tests/e2e/929/book-view-url.test.ts
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/sefer-page-utils.test.ts
Due: website

chore(release): Bump versions (website to 0.2.287) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(app): explicitly include perushim .sqlite in ImageAsset for actool
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): enhance ODR diagnostics, fix bottom bar gap and font size on navigation
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

fix(app): explicitly include perushim .sqlite in ImageAsset for actool (#1483)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

chore(release): Bump versions (app to 5.0.58) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): force _DistributionType=AppStore for ODR, fix bottom bar with additionalSafeAreaInsets
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/devops/Build.Package.cs
Due: app

fix(app): force _DistributionType for ODR, fix bottom bar, fix font on picker nav (#1484)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/devops/Build.Package.cs
Due: app

chore(release): Bump versions (app to 5.0.59) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): fix iOS perushim crash, add 15 bottom bar debug alternatives, fix RTL
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/ViewModels/PreferencesViewModel.cs
Due: app

fix(app): fix iOS perushim crash, add 15 bottom bar debug alternatives, fix RTL (#1489)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/ViewModels/PreferencesViewModel.cs
Due: app

chore(release): Bump versions (app to 5.0.61) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): apply TranslationY bottom bar fix, collapsible beta-only debug dropdown
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(app): apply TranslationY bottom bar fix, collapsible beta-only debug dropdown (#1493)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

feat(web): add bot protection, rate limiting, and GA noise filtering
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/components/GoogleAnalytics.tsx
  web/bible-on-site/src/app/robots.ts
  web/bible-on-site/src/middleware.ts
Due: website

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
