Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

fix(devops): add fallback version parser for website module
  devops/get-module-version.ts
Due: none

fix(data): revert db-populator to use tanah_structure.sql
  data/mysql/db-populator/src/main.rs
Due: data

fix(data): use split structure files in db-populator
  data/mysql/db-populator/src/main.rs
Due: data

feat: add Terms of Service section and database static structure (#1107)
  .github/workflows/ci.yml
  .github/workflows/shared-verify-version.yml
  .gitignore
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/Config/AppConfig.cs
  app/devops/Build.Run.cs
  data/mysql/db-populator/src/main.rs
  data/mysql/tanah_dynamic_structure.sql
  data/mysql/tanah_sefarim_and_perakim_data.sql
  data/mysql/tanah_static_structure.sql
  data/mysql/tanah_structure.sql
  data/mysql/tanah_test_data.sql
  data/mysql/tanah_truncate.sql
  data/sefaria/pipelines/tanah-view/src/commands/mysql.rs
  devops/deploy/data-deploy/index.mts
  devops/get-module-version.ts
  package-lock.json
  package.json
  web/api/Makefile.toml
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/[section]/page.module.css
  web/bible-on-site/src/app/[section]/page.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/TosSection.module.css
  web/bible-on-site/src/app/components/TosSection.tsx
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/tests/e2e/root/root.test.ts
  web/bible-on-site/tests/perf/known-issues/lighthouse/lcp-discovery-insight.yml
Due: app, website, data

chore(data): remove deprecated tanah_structure.sql
  data/mysql/tanah_structure.sql
Due: data

chore(release): Bump app version to 4.0.29 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

feat(web): add articles section with direct MySQL access
  docs/repo-structure.md
  docs/website/website.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/lib/api-client.ts
  web/bible-on-site/src/lib/articles/index.ts
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/src/lib/articles/types.ts
Due: website

feat: add S3 images, improve performance, unify test db population
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .husky/pre-commit
  .vscode/tasks.json
  app/BibleOnSite.Tests/Fixtures/ApiServerFixture.cs
  app/BibleOnSite.Tests/Fixtures/DatabasePopulatorFixture.cs
  app/BibleOnSite.Tests/ViewModels/ArticleDetailViewModelTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Models/Author.cs
  app/BibleOnSite/Pages/ArticlesPage.xaml
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Services/StarterService.cs
  app/BibleOnSite/ViewModels/ArticlesViewModel.cs
  web/api/src/dtos/starter.rs
  web/api/src/resolvers/starter_resolver.rs
  web/api/src/services/articles_service.rs
  web/api/tests/playwright-global-setup.mts
  web/api/tests/playwright.config.ts
Due: api, app

fix(ci): pass DB_URL to API E2E tests and App integration tests
  .github/workflows/ci.yml
  app/BibleOnSite.Tests/Fixtures/ApiServerFixture.cs
  app/BibleOnSite.Tests/Fixtures/DatabasePopulatorFixture.cs
Due: none

fix(ci): use hardcoded port 3306 for MySQL in CI
  .github/workflows/ci.yml
Due: none

fix(ci): ensure DB is populated before API starts in integration tests
  app/BibleOnSite.Tests/Fixtures/ApiServerFixture.cs
Due: none

fix(ci): fail fast if DB population fails in API E2E tests
  web/api/tests/playwright-global-setup.mts
Due: none

fix(ci): add verbose logging to DB setup and fail fast on all errors
  web/api/tests/playwright-global-setup.mts
Due: none

fix(ci): remove incorrect shell background operator from cargo spawn
  web/api/tests/cargo_wrapper.mts
Due: none

feat(ci): add debug log output step for API E2E tests
  .github/workflows/ci.yml
  web/api/tests/cargo_wrapper.mts
  web/api/tests/playwright-global-setup.mts
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/lib/api-client.ts
  web/bible-on-site/src/lib/articles/index.ts
  web/bible-on-site/src/lib/articles/service.ts
Due: website

debug(api): add more defensive logging in playwright globalSetup
  web/api/tests/playwright-global-setup.mts
Due: none

fix(api): rename globalSetup from .mts to .ts for Playwright compatibility
  web/api/tests/playwright-global-setup.ts
  web/api/tests/playwright.config.ts
Due: none

fix(api): use absolute path resolution for globalSetup in Playwright config
  web/api/tests/playwright.config.ts
Due: none

fix(api): use require.resolve for globalSetup path in Playwright config
  web/api/tests/playwright.config.ts
Due: none

fix(api): remove ESM-only features from playwright-global-setup.ts for CJS compatibility
  web/api/tests/playwright-global-setup.ts
Due: none

fix(api): use .mjs for Playwright globalSetup to avoid TS transpiler issues
  web/api/tests/playwright-global-setup.mjs
  web/api/tests/playwright.config.ts
Due: none

fix(api): use .cjs for Playwright globalSetup for maximum compatibility
  web/api/tests/playwright-global-setup.cjs
  web/api/tests/playwright.config.ts
Due: none

fix(api): move DB population to launch-api-for-tests.mts
  data/Makefile.toml
  data/mysql/db-populator/src/main.rs
  web/api/tests/launch-api-for-tests.mts
  web/api/tests/playwright-global-setup.cjs
  web/api/tests/playwright-global-teardown.mjs
  web/api/tests/playwright.config.ts
Due: data

fix(app): drop test database in teardown for clean state
  app/BibleOnSite.Tests/Fixtures/DatabasePopulatorFixture.cs
Due: none

feat(web): add articles section with direct MySQL access (#1108)
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  .husky/pre-commit
  .vscode/tasks.json
  app/BibleOnSite.Tests/Fixtures/ApiServerFixture.cs
  app/BibleOnSite.Tests/Fixtures/DatabasePopulatorFixture.cs
  app/BibleOnSite.Tests/ViewModels/ArticleDetailViewModelTests.cs
  app/BibleOnSite/Models/Author.cs
  app/BibleOnSite/Pages/ArticlesPage.xaml
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Services/StarterService.cs
  app/BibleOnSite/ViewModels/ArticlesViewModel.cs
  data/Makefile.toml
  data/mysql/db-populator/src/main.rs
  data/mysql/tanah_structure.sql
  docs/repo-structure.md
  docs/website/website.md
  web/api/src/dtos/starter.rs
  web/api/src/resolvers/starter_resolver.rs
  web/api/src/services/articles_service.rs
  web/api/tests/cargo_wrapper.mts
  web/api/tests/launch-api-for-tests.mts
  web/api/tests/playwright-global-teardown.mjs
  web/api/tests/playwright.config.ts
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/lib/api-client.ts
  web/bible-on-site/src/lib/articles/index.ts
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/src/lib/articles/types.ts
Due: api, app, website, data

chore(release): Bump app version to 4.0.30 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump app version to 4.0.31 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

test(web): add unit and E2E tests to increase coverage
  web/bible-on-site/tests/e2e/929/articles.test.ts
  web/bible-on-site/tests/unit/data/cycles.test.ts
  web/bible-on-site/tests/unit/data/sefarim.test.ts
  web/bible-on-site/tests/unit/hooks/useIsWideEnough.test.ts
Due: none

fix(test): skip articles E2E tests when database unavailable
  web/bible-on-site/tests/e2e/929/articles.test.ts
Due: none

feat(website): use ISR with on-demand revalidation for articles
  .github/workflows/ci.yml
  app/BibleOnSite/Resources/AppIcon/appicon_legacy.png
  web/bible-on-site/launch-e2e-server.mts
  web/bible-on-site/playwright-global-setup.js
  web/bible-on-site/playwright.e2e.config.ts
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/tests/e2e/929/articles.test.ts
Due: app, website

fix(app): fix authors display on real devices, RTL alignment, Hebrew name, and icon
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Config/AppConfig.cs
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Resources/AppIcon/appicon_legacy.png
Due: app

fix(ci): correct rust-action to rust-toolchain in website CI
  .github/workflows/ci.yml
Due: none

fix(ci): use rust-toolchain@stable instead of @master
  .github/workflows/ci.yml
Due: none

fix(ci): prevent E2E timeout by pre-building Rust crate and increasing webServer timeout
  .github/workflows/ci.yml
  web/bible-on-site/playwright.base.config.ts
Due: none

test(web): add unit tests for ArticlesSection and articles service
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
  web/bible-on-site/tests/unit/lib/articles.test.ts
Due: none

feat(admin): add production-ready styling and E2E tests
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/playwright.config.ts
  web/admin/src/components/AutoSaveIndicator.tsx
  web/admin/src/components/ImageUpload.tsx
  web/admin/src/routes/__root.tsx
  web/admin/src/routes/articles.$id.tsx
  web/admin/src/routes/articles.perek.$perekId.tsx
  web/admin/src/routes/articles.tsx
  web/admin/src/routes/index.tsx
  web/admin/src/routes/rabbis.$id.tsx
  web/admin/src/routes/rabbis.tsx
  web/admin/tests/e2e/articles.test.ts
  web/admin/tests/e2e/health.test.ts
  web/admin/tests/e2e/rabbis.test.ts
  web/admin/vite.config.ts
Due: none

test(web): add unit and E2E tests to increase coverage (#1121)
  .github/workflows/ci.yml
  web/bible-on-site/launch-e2e-server.mts
  web/bible-on-site/playwright-global-setup.js
  web/bible-on-site/playwright.base.config.ts
  web/bible-on-site/playwright.e2e.config.ts
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/tests/e2e/929/articles.test.ts
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
  web/bible-on-site/tests/unit/data/cycles.test.ts
  web/bible-on-site/tests/unit/data/sefarim.test.ts
  web/bible-on-site/tests/unit/hooks/useIsWideEnough.test.ts
  web/bible-on-site/tests/unit/lib/articles.test.ts
Due: website

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
