Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

fix(app): flyout pages strand the user; harden perushim navigation crash paths (iOS) (#1913)
  app/BibleOnSite.Tests/Services/FlyoutNavigationTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekLoadingTests.cs
  app/BibleOnSite/AppShell.xaml
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/DonationsPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Services/IAppNavigator.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

fix(website): accessible main menu, per-section metadata/404, fix stuck-open menu (#1920)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/[section]/page.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/ScrollToSection.tsx
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/tests/e2e/authors.test.ts
  web/bible-on-site/tests/e2e/navbar-hamburger.test.ts
  web/bible-on-site/tests/e2e/section-pages.test.ts
  web/bible-on-site/tests/unit/app/section-page.test.ts
  web/bible-on-site/tests/unit/components/NavBar-nullhref.test.tsx
  web/bible-on-site/tests/unit/components/NavBar.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToSection.test.tsx
Due: website

chore(release): Bump versions (app to 5.0.103) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(pedia): mute empty categories and add a Hebrew empty state (#1912)
  web/bible-on-site/src/app/pedia/[slug]/category-view.tsx
  web/bible-on-site/src/app/pedia/page.module.css
  web/bible-on-site/src/app/pedia/page.tsx
  web/bible-on-site/tests/unit/app/pedia-category-page.test.ts
  web/bible-on-site/tests/unit/app/pedia-landing-page.test.tsx
Due: website

fix(ci): verify module versions against the merge-queue base (#1917)
  .github/workflows/ci.yml
  .github/workflows/shared-ci.yml
  .github/workflows/shared-release.yml
  .github/workflows/shared-verify-version.yml
  devops/github/ci/is-version-newer-than-baseline.test.mts
  devops/github/ci/is-version-newer-than-baseline.ts
  devops/package.json
  docs/github/version-verification.md
Due: none

test(sefer): start native turns outside content controls
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/e2e/929/sefer-view/commentary-navigation.test.ts
Due: none

test(website): cover Carousel LTR, reduced motion and ResizeObserver paths
  web/bible-on-site/src/app/929/[number]/components/Carousel.tsx
  web/bible-on-site/tests/unit/components/Carousel.test.tsx
Due: website

fix(website): carousel prev/next aligns the adjacent card instead of a fixed step
  web/bible-on-site/src/app/929/[number]/components/Carousel.tsx
  web/bible-on-site/tests/e2e/929/articles.test.ts
  web/bible-on-site/tests/unit/components/Carousel.test.tsx
Due: website

feat(website): carousel prev/next controls and SVG section icons on perek page
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/Carousel.tsx
  web/bible-on-site/src/app/929/[number]/components/PerushimSection.tsx
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/929/[number]/components/carousel.module.css
  web/bible-on-site/src/app/929/[number]/components/perushim-section.module.css
  web/bible-on-site/src/app/929/authors/[authorParam]/page.module.css
  web/bible-on-site/src/app/929/authors/[authorParam]/page.tsx
  web/bible-on-site/tests/e2e/929/articles.test.ts
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
  web/bible-on-site/tests/unit/components/Carousel.test.tsx
  web/bible-on-site/tests/unit/components/PerushimSection.test.tsx
Due: website

chore(website): bump version to 0.2.438 after rebase on master
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore: advance attribution fix above current releases
  app/BibleOnSite/BibleOnSite.csproj
  docs/app/commentary-attribution.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

fix(bookshelf): hydration-safe first render, page h1, mobile sefarim grid
  web/bible-on-site/src/app/bookshelf/page.module.css
  web/bible-on-site/src/app/bookshelf/page.tsx
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
  web/bible-on-site/tests/e2e/bookshelf.test.ts
  web/bible-on-site/tests/unit/components/Bookshelf-notoday.test.tsx
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfPage.test.tsx
Due: website

test(bookshelf): build hydration container via DOMParser instead of innerHTML
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
Due: none

refactor(bookshelf): keep the 3D shelf on mobile, drop the 2D grid
  web/bible-on-site/.husky/pre-commit
  web/bible-on-site/package.json
  web/bible-on-site/src/app/bookshelf/page.module.css
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
  web/bible-on-site/tests/e2e/bookshelf.test.ts
  web/bible-on-site/tests/unit/components/Bookshelf-notoday.test.tsx
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
Due: website

chore: restore pre-commit hook file mode
  web/bible-on-site/.husky/pre-commit
Due: none

chore(release): bump website version to 0.2.438
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(website): carousel prev/next controls and SVG section icons on perek page (#1915)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/Carousel.tsx
  web/bible-on-site/src/app/929/[number]/components/PerushimSection.tsx
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/929/[number]/components/carousel.module.css
  web/bible-on-site/src/app/929/[number]/components/perushim-section.module.css
  web/bible-on-site/src/app/929/authors/[authorParam]/page.module.css
  web/bible-on-site/src/app/929/authors/[authorParam]/page.tsx
  web/bible-on-site/tests/e2e/929/articles.test.ts
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
  web/bible-on-site/tests/unit/components/Carousel.test.tsx
  web/bible-on-site/tests/unit/components/PerushimSection.test.tsx
Due: website

test(sefer): cover late failures after content navigation
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
Due: none

fix(recitation): address wakefulness review feedback
  data/recitation/awake.py
  data/recitation/test_trusted.py
Due: data

chore(website): reserve version 0.2.439 for recitation publication
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): bump website version to 0.2.439
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(bookshelf): hydration-safe first render and page h1 (#1914)
  web/bible-on-site/src/app/bookshelf/page.module.css
  web/bible-on-site/src/app/bookshelf/page.tsx
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/tests/e2e/bookshelf.test.ts
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfPage.test.tsx
Due: website

chore(website): reserve release 0.2.440 for sefer navigation
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Potential fix for code scanning alert no. 55: Cache Poisoning via execution of untrusted code
  .github/workflows/ci.yml
Due: none

test(sefer): budget mode persistence for two lazy book mounts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
Due: none

fix(pedia): match today's events sayings and people
  data/mysql/tanahpedia_alter_saying_date.sql
  data/mysql/tanahpedia_legacy_migration.sql
  data/mysql/tanahpedia_remove_simchat_torah_placeholder.sql
  data/mysql/tanahpedia_structure.sql
  devops/deploy/data-deploy/sql-files.json
  docs/tanahpedia/tanachpedia.dbml
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/tanahpedia/EntryStructuralPanel.tsx
  web/admin/src/lib/tanahpedia/schema-registry.ts
  web/admin/src/server/tanahpedia/structural-loader.server.ts
  web/admin/src/server/tanahpedia/structural.ts
  web/admin/tests/unit/components/tanahpedia/EntryStructuralPanel.test.tsx
  web/admin/tests/unit/server/tanahpedia/structural-entities.test.ts
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/src/tanahpedia/saying.rs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/copy-standalone-assets.mjs
  web/bible-on-site/src/app/pedia/page.tsx
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/src/lib/tanahpedia/types.ts
  web/bible-on-site/tests/unit/app/pedia-landing-page.test.tsx
  web/bible-on-site/tests/unit/lib/tanahpedia-service.test.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-today.test.ts
Due: website, data

fix(sefer): restore article and perush navigation after page turns (#1910)
  .github/tool-registry.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/useSeferContentNavigation.ts
  web/bible-on-site/tests/e2e/929/sefer-view/commentary-navigation.test.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/useSeferContentNavigation.test.tsx
  web/bible-on-site/tests/util/playwright/page-objects/sefer-page.ts
Due: website

test(pedia): cover saying date failures and incomplete records
  .codacy.yml
  web/admin/tests/unit/components/tanahpedia/EntryStructuralPanel.test.tsx
  web/admin/tests/unit/server/tanahpedia/structural-entities.test.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-today.test.ts
Due: none

Fix Today in Tanah date filtering across events sayings and people (#1924)
  .codacy.yml
  data/mysql/tanahpedia_alter_saying_date.sql
  data/mysql/tanahpedia_legacy_migration.sql
  data/mysql/tanahpedia_remove_simchat_torah_placeholder.sql
  data/mysql/tanahpedia_structure.sql
  devops/deploy/data-deploy/sql-files.json
  docs/tanahpedia/tanachpedia.dbml
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/tanahpedia/EntryStructuralPanel.tsx
  web/admin/src/lib/tanahpedia/schema-registry.ts
  web/admin/src/server/tanahpedia/structural-loader.server.ts
  web/admin/src/server/tanahpedia/structural.ts
  web/admin/tests/unit/components/tanahpedia/EntryStructuralPanel.test.tsx
  web/admin/tests/unit/server/tanahpedia/structural-entities.test.ts
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/src/tanahpedia/saying.rs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/copy-standalone-assets.mjs
  web/bible-on-site/src/app/pedia/page.tsx
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/src/lib/tanahpedia/types.ts
  web/bible-on-site/tests/unit/app/pedia-landing-page.test.tsx
  web/bible-on-site/tests/unit/lib/tanahpedia-service.test.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-today.test.ts
Due: website, data

chore(release): Bump versions (admin to 0.1.100, api to 0.1.69) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

fix(website): clear recitation preparation when recording is unavailable
  web/bible-on-site/src/app/929/[number]/components/RecitationPlayer.tsx
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
Due: website

Preserve canonical recitation data through production bundling
  .github/tool-registry.md
  .github/workflows/ci.yml
  data/recitation/deployment.py
  data/recitation/test_deployment.py
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/verify-recitation-build.mjs
  web/bible-on-site/src/data/db/sefarim.ts
  web/bible-on-site/tests/e2e/929/sefer-view/recitation.test.ts
Due: website, data

Preserve canonical recitation data through production bundling (#1932)
  .github/tool-registry.md
  .github/workflows/ci.yml
  data/recitation/deployment.py
  data/recitation/test_deployment.py
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/verify-recitation-build.mjs
  web/bible-on-site/src/data/db/sefarim.ts
  web/bible-on-site/tests/e2e/929/sefer-view/recitation.test.ts
Due: website, data

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
