Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

fix(ci): classify Jerusalem MySQL and public Mapbox key
  .codacy.yml
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/Dockerfile
Due: none

fix(ci): document public Mapbox build argument exception
  web/bible-on-site/Dockerfile
Due: none

Use existing chapter headings in SEO view
  docs/website/bereshit-1-illustration.md
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/PerekHeading.tsx
  web/bible-on-site/src/app/929/[number]/components/PerekIntro.tsx
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/lib/seo/perek-illustrations.ts
  web/bible-on-site/tests/unit/components/PerekHeading.test.tsx
  web/bible-on-site/tests/unit/components/PerekIntro.test.tsx
Due: website

Reduce SEO chapter heading size
  web/bible-on-site/src/app/929/[number]/page.module.css
Due: website

Preserve dual-domain and section indexing
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/[section]/page.tsx
  web/bible-on-site/src/app/page.tsx
  web/bible-on-site/src/app/robots.ts
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/seo/jsonld.ts
  web/bible-on-site/tests/e2e/sitemap.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/app/robots.test.ts
  web/bible-on-site/tests/unit/app/section-page.test.ts
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
  web/bible-on-site/tests/unit/lib/seo/jsonld.test.ts
Due: website

fix(web): use white background for app section
  web/bible-on-site/src/app/components/AppSection.module.css
Due: website

Show Genesis illustration in book view
  docs/website/bereshit-1-illustration.md
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
Due: website

Improve Hebrew site identity and article discoverability (#1890)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/layout.tsx
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/seo/core-jsonld.ts
  web/bible-on-site/src/lib/seo/jsonld.ts
  web/bible-on-site/tests/e2e/sitemap.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/lib/seo/core-jsonld.test.ts
  web/bible-on-site/tests/unit/lib/seo/jsonld.test.ts
Due: website

fix(website): preserve book toggle replayed during hydration
  .github/instructions/website-e2e-testing.instructions.md
  .github/workflows/ci.yml
  docs/github/workflows/ci/performance.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/playwright.e2e.config.ts
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
Due: website

Benchmark only: illustrate all 929 chapters for SSG timing
  web/bible-on-site/src/lib/seo/perek-illustrations.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
  web/bible-on-site/tests/unit/components/PerekIntro.test.tsx
  web/bible-on-site/tests/unit/lib/seo/core-jsonld.test.ts
Due: website

Bump website version for Genesis illustration pilot
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Bump website version for benchmark CI
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

test(web): cover Mapbox place interactions and fallbacks
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/unit/app/mapbox-places-map.test.tsx
Due: none

fix(ci): upload Data and Bulletin JUnit reports from the correct paths
  .github/workflows/ci.yml
  data/.config/nextest.toml
  docs/github/workflows/ci/performance.md
  web/bulletin/.config/nextest.toml
Due: data

chore(website): reserve version above newly merged master
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

perf(ci): cancel superseded pull request validation
  .github/workflows/ci.yml
  docs/github/workflows/ci/performance.md
Due: none

chore(web): bump website version
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Give Sefer contents and covers shareable book URLs
  web/bible-on-site/next.config.mjs
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-page-utils.ts
  web/bible-on-site/src/lib/perek-view-preference.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
  web/bible-on-site/tests/unit/components/sefer-page-utils.test.ts
  web/bible-on-site/tests/unit/lib/perek-view-preference.test.ts
Due: website

Genesis 1 illustration pilot for chapter and book views (#1893)
  docs/website/bereshit-1-illustration.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/public/images/perakim/bereshit-1-creation-1280.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-1600.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-640.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-960.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-social.jpg
  web/bible-on-site/public/images/perakim/bereshit-1-creation.webp
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/PerekHeading.tsx
  web/bible-on-site/src/app/929/[number]/components/PerekIntro.tsx
  web/bible-on-site/src/app/929/[number]/components/PerekText.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/seo/core-jsonld.ts
  web/bible-on-site/src/lib/seo/perek-illustrations.ts
  web/bible-on-site/src/lib/tanahpedia/perek-entity-refs.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
  web/bible-on-site/tests/unit/components/PerekHeading.test.tsx
  web/bible-on-site/tests/unit/components/PerekIntro.test.tsx
  web/bible-on-site/tests/unit/components/PerekText.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/lib/seo/core-jsonld.test.ts
Due: website

fix(ci): preserve LCOV ownership and enforce coverage merging
  .github/workflows/ci.yml
  docs/github/workflows/ci/performance.md
  web/bible-on-site/tests/util/coverage/merge-coverage.mts
Due: none

fix(ci): preserve explicit Codecov failure status
  .github/workflows/ci.yml
  docs/github/workflows/ci/performance.md
Due: none

test(web): cover Mapbox and Leaflet provider selection
  web/bible-on-site/tests/unit/app/tanahpedia-map-provider.test.tsx
Due: none

revert(web): remove stray section styling from map PR
  web/bible-on-site/src/app/components/AppSection.module.css
Due: website

fix(ci): avoid the parallel JavaScript action startup race
  .github/workflows/ci.yml
  docs/github/workflows/ci/performance.md
Due: none

Test dragged cover routing and use flipbook SPA history fix
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
Due: none

chore(web): bump website version above master
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

test(web): cover empty mapped entries and map defaults
  web/bible-on-site/tests/unit/app/mapbox-places-map.test.tsx
  web/bible-on-site/tests/unit/app/pedia-page.test.ts
Due: none

chore(web): bump version above remote master
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Route encoded Sefer book URLs and restore requested spread
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-page-utils.ts
  web/bible-on-site/src/data/book-page-slugs.json
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
  web/bible-on-site/tests/unit/components/sefer-page-utils.test.ts
Due: website

Assert visible spread before cover URL after native drags
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
Due: none

Format visual cover turn assertions
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
Due: none

perf(ci): remove redundant work and parallelize independent steps (#1892)
  .github/instructions/website-e2e-testing.instructions.md
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  data/.config/nextest.toml
  docs/devops/pre-commit.md
  docs/github/workflows/ci/performance.md
  web/bible-on-site/playwright.e2e.config.ts
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
  web/bible-on-site/tests/util/coverage/merge-coverage.mts
  web/bulletin/.config/nextest.toml
Due: website, data

fix(web): use white background for app section (#1895)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/components/AppSection.module.css
Due: website

chore(web): advance version past concurrent release
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Keep Jerusalem content in database deployment
  AGENTS.md
  data/README.md
  data/mysql/db-populator/src/main.rs
Due: data

Move perek illustrations to S3-backed database records
  data/mysql/PEREK_IMAGES.md
  data/mysql/db-populator/src/main.rs
  data/mysql/tanah_perek_images_structure.sql
  data/mysql/tanah_truncate.sql
  web/bible-on-site/launch-e2e-server.mts
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/public/images/perakim/bereshit-1-creation-1280.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-1600.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-640.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-960.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-social.jpg
  web/bible-on-site/public/images/perakim/bereshit-1-creation.webp
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/PerekIntro.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/seo/core-jsonld.ts
  web/bible-on-site/src/lib/seo/perek-illustrations.ts
  web/bible-on-site/src/lib/seo/perek-images-data.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
  web/bible-on-site/tests/unit/components/PerekIntro.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/perek-image-fixture.ts
  web/bible-on-site/tests/unit/lib/seo/core-jsonld.test.ts
  web/bible-on-site/tests/unit/lib/seo/perek-illustrations.test.ts
Due: website, data
