Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

fix(website): anchor nosemgrep comment at the JSX conditional Semgrep flags
  web/bible-on-site/src/app/search/components/SearchExperience.tsx
Due: website

fix(app): converge menu collision resolution on cramped canvases
  app/BibleOnSite.Tests/Helpers/FanMenuGeometryTests.cs
  app/BibleOnSite/Helpers/FanMenuGeometry.cs
Due: app

fix(website): own search URL state so settled queries actually fetch
  docs/website/search.md
  web/bible-on-site/src/app/search/components/SearchExperience.tsx
  web/bible-on-site/src/app/search/page.tsx
  web/bible-on-site/tests/e2e/search.test.ts
  web/bible-on-site/tests/unit/app/search-page.test.tsx
  web/bible-on-site/tests/unit/components/SearchExperience.test.tsx
Due: website

refactor(app): filter obstacles explicitly with Where
  app/BibleOnSite/Helpers/FanMenuGeometry.cs
Due: app

test(app): stop XCTest idle gating and recover dropped mobile sessions (#2074)
  app/BibleOnSite.Tests.MobileE2E/Configuration/ConfigurationTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/DeviceSessionRecoveryTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/SessionFactoryTests.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceSessionFactory.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceTest.cs
  app/BibleOnSite.Tests.MobileE2E/PerushimHtmlScrollStabilityTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/mobile-e2e/README.md
Due: none

test(website): await the restored search input via toHaveValue
  web/bible-on-site/tests/e2e/search.test.ts
Due: none

App: keep shared top bar on rabbis page and align its search with על הפרק (#2073)
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Pages/AuthorsPage.xaml.cs
Due: app

fix(app): תיקון קוראים flow layout, section markers, and שניים מקרא font size
  app/BibleOnSite.Tests/Controls/PasukTextLabelTests.cs
  app/BibleOnSite.Tests/Controls/TikkunFlowViewTests.cs
  app/BibleOnSite.Tests/Converters/PasukDisplayItemsConverterTests.cs
  app/BibleOnSite.Tests/Helpers/PasukDisplayItemsTests.cs
  app/BibleOnSite.Tests/Helpers/TikkunFlowLayoutTests.cs
  app/BibleOnSite.Tests/Helpers/TikkunKorimTextBuilderTests.cs
  app/BibleOnSite/Controls/PasukTextLabel.cs
  app/BibleOnSite/Controls/TikkunFlowView.cs
  app/BibleOnSite/Converters/PasukDisplayItemsConverter.cs
  app/BibleOnSite/Helpers/PasukDisplayItems.cs
  app/BibleOnSite/Helpers/TikkunFlowLayout.cs
  app/BibleOnSite/Helpers/TikkunKorimTextBuilder.cs
  app/BibleOnSite/Models/PasukDisplayItem.cs
  app/BibleOnSite/Models/TikkunWord.cs
  app/BibleOnSite/Pages/PerekPage.xaml
Due: app

style(app): satisfy Codacy — static properties over public consts, overloads over optional parameters
  app/BibleOnSite/Helpers/PasukDisplayItems.cs
  app/BibleOnSite/Helpers/TikkunFlowLayout.cs
Due: app

test(website): close search coverage gaps and decode &#X entities
  web/bible-on-site/src/app/search/components/SearchExperience.tsx
  web/bible-on-site/src/lib/search/normalize.ts
  web/bible-on-site/tests/unit/app/api/search-route.test.ts
  web/bible-on-site/tests/unit/app/search-page.test.tsx
  web/bible-on-site/tests/unit/components/SearchExperience.test.tsx
  web/bible-on-site/tests/unit/lib/search-db-content.test.ts
  web/bible-on-site/tests/unit/lib/search-normalize.test.ts
  web/bible-on-site/tests/unit/lib/search-service.test.ts
  web/bible-on-site/tests/unit/lib/search-snippet.test.ts
Due: website

feat(search): semantic article-content search in Rust API and MAUI app
  app/BibleOnSite.Tests/Services/ArticleSearchServiceTests.cs
  app/BibleOnSite/Models/SearchFilter.cs
  app/BibleOnSite/Models/SearchResult.cs
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/Services/ArticleService.cs
  app/BibleOnSite/ViewModels/SearchViewModel.cs
  data/mysql/tanah_test_data.sql
  web/admin/src/server/articles.ts
  web/admin/tests/unit/server/article-eligibility.test.ts
  web/admin/tests/unit/server/article-search-queue.test.ts
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/Makefile.toml
  web/api/docs/article-search.md
  web/api/src/dtos/article.rs
  web/api/src/main.rs
  web/api/src/resolvers/articles_resolver.rs
  web/api/src/services/article_search.rs
  web/api/src/services/article_search/lsa.rs
  web/api/src/services/article_search/store.rs
  web/api/src/services/article_search/text.rs
  web/api/src/services/articles_service.rs
  web/api/src/services/mod.rs
  web/api/src/startup/app.rs
  web/api/src/startup/schema_builder.rs
  web/api/tests/e2e/apis/article-search.test.ts
Due: api, app, data

chore(release): Bump versions (app to 5.0.143) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

test(app): cover תיקון קוראים layout + text-builder edge paths
  app/BibleOnSite.Tests/Helpers/TikkunFlowLayoutTests.cs
  app/BibleOnSite.Tests/Helpers/TikkunKorimTextBuilderTests.cs
Due: none

test(app): compare carried font sizes with a tolerance
  app/BibleOnSite.Tests/Converters/PasukDisplayItemsConverterTests.cs
  app/BibleOnSite.Tests/Helpers/PasukDisplayItemsTests.cs
Due: none

test(app): cover degenerate fan-menu canvases and drop dead branches
  app/BibleOnSite.Tests/Helpers/FanMenuGeometryTests.cs
  app/BibleOnSite/Helpers/FanMenuGeometry.cs
Due: app

fix(website): address devin-review findings on search
  docs/website/search.md
  web/bible-on-site/src/app/api/search/route.ts
  web/bible-on-site/src/app/search/components/SearchExperience.tsx
  web/bible-on-site/src/app/search/components/search-experience.module.css
  web/bible-on-site/src/lib/search/db-content.ts
  web/bible-on-site/tests/unit/app/api/search-route.test.ts
  web/bible-on-site/tests/unit/components/SearchExperience.test.tsx
  web/bible-on-site/tests/unit/lib/search-db-content.test.ts
Due: website

test(website): assert search candidate semantics via the normalizer
  web/bible-on-site/tests/unit/lib/search-db-content.test.ts
Due: none

test(app): run mobile E2E on a shared Appium session and overlap iOS boot
  .github/workflows/app-mobile-e2e.yml
  app/BibleOnSite.Tests.MobileE2E/Configuration/DeviceSessionRecoveryTests.cs
  app/BibleOnSite.Tests.MobileE2E/IosReaderTests.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceSession.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceTest.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerekScrollStabilityTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerushimHtmlScrollStabilityTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite/App.xaml.cs
  app/BibleOnSite/Services/SearchIndexService.cs
  app/mobile-e2e/README.md
  app/mobile-e2e/boot-ios.mjs
  app/mobile-e2e/package.json
Due: app

feat(website): internal site search (perakim, pesukim, perushim, authors, articles) (#2077)
  docs/website/search.md
  web/bible-on-site/public/icons/search.svg
  web/bible-on-site/src/app/api/search/route.ts
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/src/app/search/components/SearchExperience.tsx
  web/bible-on-site/src/app/search/components/search-experience.module.css
  web/bible-on-site/src/app/search/layout.css
  web/bible-on-site/src/app/search/layout.tsx
  web/bible-on-site/src/app/search/page.tsx
  web/bible-on-site/src/app/search/search.module.css
  web/bible-on-site/src/lib/search/corpus.ts
  web/bible-on-site/src/lib/search/db-content.ts
  web/bible-on-site/src/lib/search/normalize.ts
  web/bible-on-site/src/lib/search/score.ts
  web/bible-on-site/src/lib/search/service.ts
  web/bible-on-site/src/lib/search/snippet.ts
  web/bible-on-site/src/lib/search/types.ts
  web/bible-on-site/tests/e2e/search.test.ts
  web/bible-on-site/tests/unit/app/api/search-route.test.ts
  web/bible-on-site/tests/unit/app/search-page.test.tsx
  web/bible-on-site/tests/unit/components/SearchExperience.test.tsx
  web/bible-on-site/tests/unit/lib/search-corpus.test.ts
  web/bible-on-site/tests/unit/lib/search-db-content.test.ts
  web/bible-on-site/tests/unit/lib/search-normalize.test.ts
  web/bible-on-site/tests/unit/lib/search-score.test.ts
  web/bible-on-site/tests/unit/lib/search-service.test.ts
  web/bible-on-site/tests/unit/lib/search-snippet.test.ts
Due: website

fix(app): compact elliptical fan for the reader bottom menu (#2076)
  app/BibleOnSite.Tests/Helpers/FanMenuGeometryTests.cs
  app/BibleOnSite/Helpers/FanMenuGeometry.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(search): keep remote article search from gating local results
  app/BibleOnSite.Tests/Services/ArticleSearchServiceTests.cs
  app/BibleOnSite/Controls/FloatingSearchBar.Filters.cs
  app/BibleOnSite/Models/SearchFilter.cs
  app/BibleOnSite/Services/ArticleService.cs
  app/BibleOnSite/ViewModels/SearchViewModel.cs
  data/mysql/tanah_test_data.sql
  web/api/Makefile.toml
  web/api/docs/article-search.md
  web/api/src/main.rs
Due: api, app, data

test(app): avoid restart churn on fresh mobile sessions
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceSession.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
Due: none

chore: ignore root .artifacts/ download directory
  .gitignore
Due: none

test(app): exclude the e2e-only index warmup from patch coverage
  app/BibleOnSite/Services/SearchIndexService.cs
Due: app

fix(app): תיקון קוראים flow layout, section markers, and שניים מקרא font size (#2079)
  app/BibleOnSite.Tests/Controls/PasukTextLabelTests.cs
  app/BibleOnSite.Tests/Controls/TikkunFlowViewTests.cs
  app/BibleOnSite.Tests/Converters/PasukDisplayItemsConverterTests.cs
  app/BibleOnSite.Tests/Helpers/PasukDisplayItemsTests.cs
  app/BibleOnSite.Tests/Helpers/TikkunFlowLayoutTests.cs
  app/BibleOnSite.Tests/Helpers/TikkunKorimTextBuilderTests.cs
  app/BibleOnSite/Controls/PasukTextLabel.cs
  app/BibleOnSite/Controls/TikkunFlowView.cs
  app/BibleOnSite/Converters/PasukDisplayItemsConverter.cs
  app/BibleOnSite/Helpers/PasukDisplayItems.cs
  app/BibleOnSite/Helpers/TikkunFlowLayout.cs
  app/BibleOnSite/Helpers/TikkunKorimTextBuilder.cs
  app/BibleOnSite/Models/PasukDisplayItem.cs
  app/BibleOnSite/Models/TikkunWord.cs
  app/BibleOnSite/Pages/PerekPage.xaml
Due: app

chore(release): Bump versions (website to 0.2.487) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

test(api): cover article-search store, worker, and rebuild paths
  web/api/src/main.rs
  web/api/src/services/article_search.rs
  web/api/src/services/article_search/store.rs
  web/api/src/services/articles_service.rs
Due: api

docs: search kinds before/after for #2080
  pr-screenshots/2080-search-kinds-after.png
  pr-screenshots/2080-search-kinds-before.png
Due: none

chore(release): Bump versions (app to 5.0.144) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Add guarded reuse of immutable Whisper cross-attention cache
  data/recitation/SHADOW_CACHE.md
  data/recitation/cross_cache_shadow.py
  data/recitation/shadow_benchmark.py
  data/recitation/shadow_worker.py
  data/recitation/test_cross_cache_shadow.py
Due: data

test(e2e): settle + verify the commentary search-result jump on iOS
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
Due: none

feat(search): semantic article-content search in Rust API and MAUI app (#2080)
  app/BibleOnSite.Tests/Services/ArticleSearchServiceTests.cs
  app/BibleOnSite/Controls/FloatingSearchBar.Filters.cs
  app/BibleOnSite/Models/SearchFilter.cs
  app/BibleOnSite/Models/SearchResult.cs
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/Services/ArticleService.cs
  app/BibleOnSite/ViewModels/SearchViewModel.cs
  data/mysql/tanah_test_data.sql
  web/admin/src/server/articles.ts
  web/admin/tests/unit/server/article-eligibility.test.ts
  web/admin/tests/unit/server/article-search-queue.test.ts
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/Makefile.toml
  web/api/docs/article-search.md
  web/api/src/dtos/article.rs
  web/api/src/main.rs
  web/api/src/resolvers/articles_resolver.rs
  web/api/src/services/article_search.rs
  web/api/src/services/article_search/lsa.rs
  web/api/src/services/article_search/store.rs
  web/api/src/services/article_search/text.rs
  web/api/src/services/articles_service.rs
  web/api/src/services/mod.rs
  web/api/src/startup/app.rs
  web/api/src/startup/schema_builder.rs
  web/api/tests/e2e/apis/article-search.test.ts
Due: api, app, data

Prevent live Windows checkpoint readers during worker handoff
  data/recitation/SHADOW_CACHE.md
  data/recitation/checkpoint_handoff.py
  data/recitation/cross_cache_shadow.py
  data/recitation/test_checkpoint_handoff.py
Due: data

test(app): cover article-search overloads, null-page and null-service paths
  app/BibleOnSite.Tests/Services/ArticleSearchServiceTests.cs
Due: none

Record exact golden results for lossless cache transfer optimization
  data/recitation/SHADOW_CACHE.md
  data/recitation/benchmarks/shadow-sanity-2026-10-09.json.gz
Due: data

diag: instrument perush toggle path for iOS commentary-jump failure
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

chore(release): Bump versions (api to 0.1.74, app to 5.0.145, admin to 0.1.117) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: app

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
