Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 5%
      api:
        target: 95%
        flags:
          - api
      app:
        target: 60%
        flags:
          - app
      website:
        target: 92%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: 60%
        threshold: 5%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

App: Filter out authors without articles from authors list
  app/BibleOnSite.Tests/ViewModels/AuthorsViewModelTests.cs
  app/BibleOnSite/ViewModels/AuthorsViewModel.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

Website: Fix ArticlesSection test for empty state rendering
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
Due: none

refactor: replace LocalStack with MinIO for S3 mocking
  .cursor/rules/git-practices.mdc
  .gitattributes
  .github/workflows/ci.yml
  app/.dev.env
  app/.test.env
  app/devops/Build.Run.cs
  data/.dev.env
  data/README.md
  data/s3/s3-populator/src/main.rs
  devops/docker-compose.yml
  devops/scripts/init-localstack.sh
  devops/setup-dev-env.mts
  web/admin/.dev.env
  web/admin/.env.example
  web/admin/.env.test
  web/admin/.test.env
  web/admin/package.json
  web/admin/src/server/s3.ts
  web/admin/tests/util/launch-e2e-server.mts
  web/api/.dev.env
  web/api/.test.env
  web/bible-on-site/.dev.env
  web/bible-on-site/.husky/pre-commit
  web/bible-on-site/.test.env
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package.json
  web/bible-on-site/src/lib/authors/service.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
Due: website, data

fix(ci): resolve multiple CI failures
  .github/workflows/ci.yml
  data/mysql/tanah_sefarim_and_perakim_data.sql
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: data

fix(ci): resolve remaining CI failures and add UI improvements
  data/Makefile.toml
  data/mysql/tanah_test_data.sql
  data/s3/s3-populator/src/main.rs
  web/api/tests/e2e/apis/perakim.test.ts
  web/api/tests/e2e/apis/starter.test.ts
  web/bible-on-site/package-lock.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/authors/page.tsx
  web/bible-on-site/src/app/bookshelf/page.tsx
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/BookshelfModal.tsx
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/journalism/JournalismGallery.tsx
  web/bible-on-site/src/app/journalism/page.module.css
  web/bible-on-site/src/app/journalism/page.tsx
  web/bible-on-site/src/app/rabbis-blessing/ImageLightbox.tsx
  web/bible-on-site/src/app/rabbis-blessing/page.module.css
  web/bible-on-site/src/app/rabbis-blessing/page.tsx
  web/bible-on-site/src/lib/authors/service.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
Due: website, data

fix(ci): fix package-lock.json to use npm html-flip-book-react
  web/bible-on-site/package-lock.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
Due: none

fix(ci): fix remaining E2E test failures
  web/admin/tests/util/launch-e2e-server.mts
  web/api/tests/e2e/apis/articles.test.ts
  web/bible-on-site/launch-e2e-server.mts
Due: none

fix(tests): fix Website E2E test selectors and assertions
  web/bible-on-site/tests/e2e/929/article.test.ts
  web/bible-on-site/tests/e2e/929/articles.test.ts
  web/bible-on-site/tests/e2e/key-routes.test.ts
  web/bible-on-site/tests/e2e/section-pages.test.ts
Due: none

fix(ci): add lcov --ignore-errors for SWC branch data inconsistencies
  web/bible-on-site/tests/util/coverage/merge-coverage.mts
Due: none

chore(release): Bump versions (app to 5.0.35) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): fix Website and API Docker build failures
  web/api/Dockerfile
  web/bible-on-site/Dockerfile
Due: none

fix(cd): fix Website and API Docker build failures (#1262)
  web/api/Dockerfile
  web/bible-on-site/Dockerfile
Due: none

chore(release): Bump versions (api to 0.1.19) [skip ci]
  web/api/Cargo.toml
Due: none

fix(cd): include dev deps in Website Docker build for sass/scss support
  web/bible-on-site/Dockerfile
Due: none

fix(cd): include dev deps in Website Docker build for sass/scss support (#1263)
  web/bible-on-site/Dockerfile
Due: none

chore(release): Bump versions (website to 0.2.235) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(coverage): properly fix inconsistent branch data instead of suppressing errors
  .cursor/rules/agent-practices.mdc
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/util/coverage/merge-coverage.mts
  web/bible-on-site/tests/util/coverage/normalize-coverage.mts
Due: none

fix(coverage): properly fix inconsistent branch data instead of suppressing errors (#1264)
  .cursor/rules/agent-practices.mdc
  web/bible-on-site/tests/util/coverage/merge-coverage.mts
  web/bible-on-site/tests/util/coverage/normalize-coverage.mts
Due: none

chore(release): Bump versions (website to 0.2.236) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(api): add GET /health endpoint with version introspection
  web/api/src/startup/app.rs
Due: api

fix(website): reduce cacheMaxMemorySize from 1 GB to 256 MB to prevent OOM kills
  web/bible-on-site/next.config.mjs
Due: none

fix(website): reduce cacheMaxMemorySize from 1 GB to 256 MB to prevent OOM kills (#1285)
  web/bible-on-site/next.config.mjs
Due: none

fix(devops): only restore local flip-book after commit if it was active
  .husky/post-commit
  web/bible-on-site/.gitignore
  web/bible-on-site/.husky/pre-commit
Due: none

fix(devops): only restore local flip-book after commit if it was active (#1286)
  .husky/post-commit
  web/bible-on-site/.gitignore
  web/bible-on-site/.husky/pre-commit
Due: none

fix(ci): free disk space before Docker build to prevent "no space left on device"
  .github/workflows/shared-dockerize.yml
Due: none

fix(ci): free disk space before Docker build to prevent "no space left on device" (#1287)
  .github/workflows/shared-dockerize.yml
Due: none

fix(ci): update Cargo.lock when bumping API version
  web/api/devops/bump_version.sh
Due: none

fix(ci): update Cargo.lock when bumping API version (#1288)
  web/api/devops/bump_version.sh
Due: none

test(website): push unit coverage toward 100% — add isolated tests for parseDbUrl, checkS3Availability, and non-Error branches
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
  web/bible-on-site/tests/unit/lib/api-client-db-url.test.ts
  web/bible-on-site/tests/unit/lib/authors-s3-check.test.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
  web/bible-on-site/tests/unit/util/hebdates-util.test.ts
Due: none

chore(release): Bump versions (api to 0.1.20) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

fix(website): fix e2e launcher — use standalone server and clear stale data cache
  web/bible-on-site/launch-e2e-server.mts
Due: none

docs: add website e2e testing rule with prerequisites and commands
  .cursor/rules/website-e2e-testing.mdc
Due: none

refactor(website): move /authors to /929/authors with name-based URLs
  web/bible-on-site/next.config.mjs
  web/bible-on-site/src/app/929/[number]/[articleId]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/ArticleFullView.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/page.module.css
  web/bible-on-site/src/app/929/authors/[authorParam]/page.tsx
  web/bible-on-site/src/app/929/authors/layout.css
  web/bible-on-site/src/app/929/authors/layout.tsx
  web/bible-on-site/src/app/929/authors/page.module.css
  web/bible-on-site/src/app/929/authors/page.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/authors/index.ts
  web/bible-on-site/src/lib/authors/service.ts
  web/bible-on-site/tests/e2e/929/article.test.ts
  web/bible-on-site/tests/e2e/author-detail.test.ts
  web/bible-on-site/tests/e2e/authors.test.ts
  web/bible-on-site/tests/e2e/key-routes.test.ts
  web/bible-on-site/tests/e2e/sitemap.test.ts
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
Due: website

chore(release): Bump web/bible-on-site to 0.2.237 (#1289)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (website to 0.2.238) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

docs: add pre-push merge-from-master and post-push CI monitoring rules
  .cursor/rules/git-practices.mdc
Due: none

refactor(website): extract general Hebrew URL slug utility from author-specific code
  web/bible-on-site/src/app/929/[number]/components/ArticleFullView.tsx
  web/bible-on-site/src/lib/authors/index.ts
  web/bible-on-site/src/lib/authors/service.ts
  web/bible-on-site/src/lib/authors/url-utils.ts
  web/bible-on-site/src/util/slug.ts
Due: website

test(website): add unit tests for slug, authors service, and React components
  web/bible-on-site/tests/unit/app/actions.test.ts
  web/bible-on-site/tests/unit/components/ArticleFullView.test.tsx
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/lib/authors.test.ts
  web/bible-on-site/tests/unit/util/slug.test.ts
Due: none
