Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

security(admin): remove Cognito client secret from tracked .dev.env (#1426)
  docs/aws/cloudformation/cognito-admin.yaml
  docs/aws/cloudformation/iam-identity-center.yaml
  web/admin/.dev.env
  web/admin/package.json
  web/admin/src/server/auth.ts
Due: none

chore(release): Bump versions (admin to 0.1.9) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

fix(app): fix perushim notes loading + add diagnostics export
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/Services/PadDeliveryService.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  app/BibleOnSite/ViewModels/PreferencesViewModel.cs
Due: app

fix(app): fix perushim notes loading + add diagnostics export (#1427)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/Services/PadDeliveryService.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  app/BibleOnSite/ViewModels/PreferencesViewModel.cs
Due: app

fix(app): bump Android minSdk to 23, suppress XAAMM0000 manifest warnings
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): bump Android minSdk to 23, suppress XAAMM0000 manifest warnings (#1428)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): exclude Compose.Runtime.Annotation.Jvm to fix D8 duplicate class
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): fix Android AAB packaging (D8 duplicate class + manifest collisions) (#1429)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): use D8 --allow-duplicate-classes for AndroidX conflicts
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): use D8 --allow-duplicate-classes for AndroidX conflicts (#1431)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): exclude all duplicate AndroidX .Ktx/.Jvm assets for D8
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): exclude all duplicate AndroidX .Ktx/.Jvm assets for D8 compilation (#1432)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): exclude all duplicate AndroidX .Ktx/.Jvm assets for D8 (#1433)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): fix AndroidAarLibrary filename match for savedstate-ktx
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): fix AndroidAarLibrary filename match for savedstate-ktx (#1434)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions (app to 5.0.41) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): complete Gray scale, preferences UX redesign, XAML resource validation test
  app/BibleOnSite.Tests/Resources/XamlStaticResourceTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/Resources/Styles/Colors.xaml
Due: app

chore: rename S3 bucket rabbis→assets, fix indentation, gitignore .tanstack
  devops/setup-dev-env.mts
  docs/aws/cloudformation/ecs-services.yaml
  web/admin/.gitignore
  web/admin/src/server/s3.ts
Due: none

fix(app): Codacy warnings, iOS font size inconsistency after pref change
  app/BibleOnSite.Tests/Resources/XamlStaticResourceTests.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(app): fully qualify VisualElement for iOS build compatibility
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(app): crash fix, Gray scale, preferences UX, XAML resource tests, S3 bucket rename (#1449)
  app/BibleOnSite.Tests/Resources/XamlStaticResourceTests.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/Resources/Styles/Colors.xaml
  devops/setup-dev-env.mts
  docs/aws/cloudformation/ecs-services.yaml
  web/admin/.gitignore
  web/admin/src/server/s3.ts
Due: app

chore(release): Bump versions (website to 0.2.279, admin to 0.1.10, app to 5.0.42) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

chore(release): Bump versions (website to 0.2.280) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (admin to 0.1.11) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

fix(app): iOS crash on load — use ImageAsset instead of BundleResource for ODR xcassets
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): iOS crash on load — use ImageAsset instead of BundleResource for ODR xcassets (#1455)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions (app to 5.0.44) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): fix iOS ODR — use BundleResource+ResourceTags instead of ImageAsset/xcassets
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Services/PadDeliveryService.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
Due: app

qa-service: pipeline (reason, validate), scripts, website QA widget and ask route
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/PerushFullView.tsx
  web/bible-on-site/src/app/929/[number]/components/QaWidget.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/qa-widget.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/api/qa/ask/route.ts
  web/qa-service/.gitignore
  web/qa-service/Cargo.lock
  web/qa-service/Cargo.toml
  web/qa-service/README.md
  web/qa-service/scripts/download-models-direct.sh
  web/qa-service/scripts/download-models.py
  web/qa-service/scripts/requirements.txt
  web/qa-service/src/main.rs
  web/qa-service/src/pipeline/ingest.rs
  web/qa-service/src/pipeline/mod.rs
  web/qa-service/src/pipeline/reason.rs
  web/qa-service/src/pipeline/retrieve.rs
  web/qa-service/src/pipeline/surface.rs
  web/qa-service/src/pipeline/validate.rs
  web/qa-service/src/routes/ask.rs
Due: website

chore: ignore web/qa-service when untracked (e.g. on master)
  .gitignore
Due: none

fix(app): fix iOS ODR — use BundleResource+ResourceTags instead of ImageAsset/xcassets (#1456)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Services/PadDeliveryService.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
Due: app

chore(release): Bump versions (app to 5.0.46) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(data): resolve unknown perushim authors and exclude non-Orthodox works
  data/sefaria/pipelines/perushim-view/src/stages/project_initial_inner.json
  data/sefaria/pipelines/perushim-view/src/stages/stage_match_index.rs
  data/sefaria/pipelines/perushim-view/src/stages/stage_normalize_authors.rs
  web/bible-on-site/src/data/db/sefaria-dump-5784-sivan-4.parshanim.json
  web/bible-on-site/src/data/db/sefaria-dump-5784-sivan-4.perushim.json
Due: website, data

chore(release): Bump versions (website to 0.2.281, app to 5.0.47) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

fix(app): add ODR build diagnostics to trace iOS asset pack pipeline
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): fix iOS ODR — set _DistributionType + use NSDataAsset
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Services/PadDeliveryService.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
  app/devops/Build.Package.cs
Due: app

feat(app): add comprehensive delivery diagnostics to exported report
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Services/IPadDeliveryService.cs
  app/BibleOnSite/Services/PadDeliveryService.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
Due: app

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
