Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 5%
      api:
        target: 95%
        flags:
          - api
      app:
        target: 60%
        flags:
          - app
      website:
        target: 92%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: 60%
        threshold: 5%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

feat(articles): add article detail page with S3 media resources
  .cursor/plans/ssg_isr_caching_plan_163a9efd.plan.md
  app/BibleOnSite/Models/Author.cs
  data/articles/article-resources-mapping.txt
  web/bible-on-site/.dev.env
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[articleId]/ScrollToArticle.tsx
  web/bible-on-site/src/app/929/[number]/[articleId]/page.module.css
  web/bible-on-site/src/app/929/[number]/[articleId]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/authors/[id]/page.tsx
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/src/lib/articles/types.ts
  web/bible-on-site/src/lib/authors/service.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
Due: app, website, data

fix(test): update tests for article content and new link structure
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
  web/bible-on-site/tests/unit/lib/articles.test.ts
Due: none

fix(types): correct generateStaticParams signature for nested route
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[articleId]/page.tsx
Due: website

fix(e2e): update tests for new article carousel structure
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/e2e/929/articles.test.ts
Due: none

fix(test): update app test for new S3 bucket name
  app/BibleOnSite.Tests/Models/AuthorTests.cs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(articles): add article detail page with S3 media resources (#1228)
  .cursor/plans/ssg_isr_caching_plan_163a9efd.plan.md
  app/BibleOnSite.Tests/Models/AuthorTests.cs
  app/BibleOnSite/Models/Author.cs
  data/articles/article-resources-mapping.txt
  web/bible-on-site/.dev.env
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[articleId]/ScrollToArticle.tsx
  web/bible-on-site/src/app/929/[number]/[articleId]/page.module.css
  web/bible-on-site/src/app/929/[number]/[articleId]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/authors/[id]/page.tsx
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/src/lib/articles/types.ts
  web/bible-on-site/src/lib/authors/service.ts
  web/bible-on-site/tests/e2e/929/articles.test.ts
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
  web/bible-on-site/tests/unit/lib/articles.test.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
Due: app, website, data

fix(ci): stabilize CI on master
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
Due: none

fix(ci): stabilize CI on master (#1231)
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
Due: none

test(app): improve test coverage from 77% to 85%
  app/BibleOnSite.Tests/Helpers/HebrewDateHelperTests.cs
  app/BibleOnSite.Tests/Models/ArticleTests.cs
  app/BibleOnSite.Tests/Services/ArticleServiceIntegrationTests.cs
  app/BibleOnSite.Tests/ViewModels/ArticleDetailViewModelTests.cs
  app/BibleOnSite.Tests/ViewModels/PreferencesViewModelTests.cs
Due: none

fix(ci): handle special characters in auto-create PR workflow
  .github/workflows/auto-create-pr.yml
Due: none

fix: remove dead links in plan file
  .cursor/plans/ssg_isr_caching_plan_163a9efd.plan.md
Due: none

test(app): improve test coverage from 77% to 85% (#1233)
  .cursor/plans/ssg_isr_caching_plan_163a9efd.plan.md
  .github/workflows/auto-create-pr.yml
  app/BibleOnSite.Tests/Helpers/HebrewDateHelperTests.cs
  app/BibleOnSite.Tests/Models/ArticleTests.cs
  app/BibleOnSite.Tests/Services/ArticleServiceIntegrationTests.cs
  app/BibleOnSite.Tests/ViewModels/ArticleDetailViewModelTests.cs
  app/BibleOnSite.Tests/ViewModels/PreferencesViewModelTests.cs
Due: none

fix(ci): use correct SDK version for iOS workload installation
  .github/workflows/app-package.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(ci): use correct SDK version for iOS workload installation (#1234)
  .github/workflows/app-package.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

test(website): add E2E and unit tests for coverage
  web/bible-on-site/package.json
  web/bible-on-site/tests/e2e/929/article.test.ts
  web/bible-on-site/tests/e2e/author-detail.test.ts
  web/bible-on-site/tests/e2e/key-routes.test.ts
  web/bible-on-site/tests/e2e/section-pages.test.ts
  web/bible-on-site/tests/unit/lib/api-client.test.ts
Due: none

fix(ci): pin .NET SDK version with global.json for iOS build
  .github/workflows/app-package.yml
Due: none

test(app): add PreferencesViewModelTests
  app/BibleOnSite.Tests/ViewModels/PreferencesViewModelTests.cs
Due: none

test(website): add E2E and unit tests for coverage (#1235)
  .github/workflows/app-package.yml
  app/BibleOnSite.Tests/ViewModels/PreferencesViewModelTests.cs
  web/bible-on-site/package.json
  web/bible-on-site/tests/e2e/929/article.test.ts
  web/bible-on-site/tests/e2e/author-detail.test.ts
  web/bible-on-site/tests/e2e/key-routes.test.ts
  web/bible-on-site/tests/e2e/section-pages.test.ts
  web/bible-on-site/tests/unit/lib/api-client.test.ts
Due: none

fix(ci): use Xcode 26.x for iOS SDK 26.0 compatibility
  .github/workflows/app-package.yml
Due: none

fix(ci): use Xcode 26.x for iOS SDK 26.0 compatibility (#1236)
  .github/workflows/app-package.yml
Due: none

fix(ci): use Xcode 26.x for iOS SDK 26.0 compatibility
  .github/workflows/app-package.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(ci): use Xcode 26.x for iOS SDK 26.0 compatibility (#1237)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore: add cursor rules and bump version to 5.0.31
  .cursor/rules/api-practices.mdc
  .cursor/rules/app-practices.mdc
  .cursor/rules/aws-workflows.mdc
  .cursor/rules/general-practices.mdc
  .cursor/rules/git-practices.mdc
  .cursor/rules/github-issues.mdc
  .cursor/rules/implementation-context.mdc
  .cursor/rules/testing-practices.mdc
  .cursor/rules/website-practices.mdc
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(ci): use Xcode 26.x for iOS SDK 26.0 compatibility (#1238)
  .cursor/rules/api-practices.mdc
  .cursor/rules/app-practices.mdc
  .cursor/rules/aws-workflows.mdc
  .cursor/rules/general-practices.mdc
  .cursor/rules/git-practices.mdc
  .cursor/rules/github-issues.mdc
  .cursor/rules/implementation-context.mdc
  .cursor/rules/testing-practices.mdc
  .cursor/rules/website-practices.mdc
  .github/workflows/app-package.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

test: iOS package fix with simulator resolution disabled
  .github/workflows/app-package.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix: allow iOS packaging on push trigger (no inputs)
  .github/workflows/app-package.yml
Due: none

fix: try standalone actool mode and explicit SDKROOT
  .github/workflows/app-package.yml
Due: none

fix: add MSBuild properties to skip simulator validation
  .github/workflows/app-package.yml
  app/devops/Build.Package.cs
Due: none

fix(ci): skip simulator runtime validation for iOS build
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/Build.Package.cs
Due: app

fix(ci): skip simulator runtime validation for iOS build (#1239)
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/Build.Package.cs
Due: app

fix(ci): download compatible iOS simulator runtime for actool
  .github/workflows/app-package.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(ci): download compatible iOS simulator runtime for actool (#1249)
  .github/workflows/app-package.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions (app to 5.0.34) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

README: Uptime Robot badges, status page link; website: GA G-2CHER7MM85, carousel spacing; app: Firebase Analytics (google-services.json, GoogleService-Info.plist), nav/screen events
  README.md
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
  app/BibleOnSite/Platforms/Android/google-services.json
  app/BibleOnSite/Platforms/iOS/GoogleService-Info.plist
  app/BibleOnSite/Services/AnalyticsService.cs
  app/BibleOnSite/Services/IAnalyticsService.cs
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/components/GoogleAnalytics.tsx
  web/bible-on-site/tests/unit/components/GoogleAnalytics.test.tsx
Due: app, website

MAUI: baseline pasuk template, article selection highlight, XC0045 suppress
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Controls/ArticleCard.xaml
  app/BibleOnSite/Converters/IntEqualityConverter.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

fix(ios): open Shell flyout from right edge (RTL) on iOS/MacCatalyst
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml
Due: app

chore: update cursor plans/rules and add tanahpedia docs
  .cursor/plans/ssg_isr_caching_plan_163a9efd.plan.md
  .cursor/rules/general-practices.mdc
  docs/tanahpedia/README.md
  docs/tanahpedia/implementation-plan.md
  docs/tanahpedia/tanachpedia.dbml
Due: none
