Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

fix(cd-app): handle TestFlight submission limit gracefully [skip ci] (#1184)
  .github/copilot-instructions.md
  .github/workflows/cd-app.yml
Due: none

feat(app): improve bottom toolbar UX and fix circular menu
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Resources/Fonts/FluentSystemIcons-Regular.ttf
  app/devops/Build.Run.cs
Due: app

feat(app): add sidebar pages, perek picker, and UI improvements
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/AppShell.xaml
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Controls/BottomBarDrawable.cs
  app/BibleOnSite/Controls/CircularMenu.cs
  app/BibleOnSite/Controls/PerekPickerPopup.xaml
  app/BibleOnSite/Controls/PerekPickerPopup.xaml.cs
  app/BibleOnSite/Helpers/HebrewDateHelper.cs
  app/BibleOnSite/Models/Perek.cs
  app/BibleOnSite/Pages/ContactPage.xaml
  app/BibleOnSite/Pages/ContactPage.xaml.cs
  app/BibleOnSite/Pages/DonationsPage.xaml
  app/BibleOnSite/Pages/DonationsPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Pages/TosPage.xaml
  app/BibleOnSite/Pages/TosPage.xaml.cs
  app/BibleOnSite/Platforms/Android/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Resources/Images/bookshelf.svg
  app/BibleOnSite/Resources/Images/logo_header.jpg
  app/BibleOnSite/Services/PerekDataService.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

fix(app): resolve missing StaticResource keys in sidebar pages
  app/BibleOnSite/Pages/ContactPage.xaml
  app/BibleOnSite/Pages/DonationsPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/TosPage.xaml
Due: app

feat(app): add qri/ktiv rendering, perushim panel, and contact icons
  app/BibleOnSite/Models/Pasuk.cs
  app/BibleOnSite/Pages/ContactPage.xaml
  app/BibleOnSite/Pages/DonationsPage.xaml
  app/BibleOnSite/Pages/DonationsPage.xaml.cs
  app/BibleOnSite/Pages/LoadingPage.xaml
  app/BibleOnSite/Pages/LoadingPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Pages/TosPage.xaml
  app/BibleOnSite/Resources/Images/gmail.svg
  app/BibleOnSite/Resources/Images/telegram.svg
  app/BibleOnSite/Resources/Images/whatsapp.svg
Due: app

test(app): update tests for lean Source format
  app/BibleOnSite.Tests/ViewModels/NavigationTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelTests.cs
Due: none

test(api): update article test data to match new fixture
  web/api/tests/e2e/apis/articles.test.ts
Due: none

fix(website): restore package.json from master
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump website version to 0.2.211 [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump app version to 5.0.28 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

refactor(ci): consolidate version bumps and make shared-release dynamic [skip ci]
  .github/workflows/ci.yml
  .github/workflows/shared-release.yml
Due: none

refactor(ci): consolidate version bumps and make shared-release dynamic [skip ci] (#1187)
  .github/workflows/ci.yml
  .github/workflows/shared-release.yml
Due: none

feat(website): add app section and various UI improvements
  web/bible-on-site/public/icons/app-store.svg
  web/bible-on-site/public/icons/telegram.svg
  web/bible-on-site/public/icons/windows.svg
  web/bible-on-site/public/root/al-haperek-devider-l.svg
  web/bible-on-site/public/root/al-haperek-devider-m.svg
  web/bible-on-site/public/root/al-haperek-devider-s.svg
  web/bible-on-site/public/root/al-haperek-devider-xl.svg
  web/bible-on-site/public/root/al-haperek-devider-xs.svg
  web/bible-on-site/public/root/al-haperek-devider.svg
  web/bible-on-site/src/app/[section]/page.tsx
  web/bible-on-site/src/app/components/AppSection.module.css
  web/bible-on-site/src/app/components/AppSection.tsx
  web/bible-on-site/src/app/components/ContactSection.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/TosSection.module.css
  web/bible-on-site/src/app/components/TosSection.tsx
  web/bible-on-site/src/app/components/appPlatforms.ts
  web/bible-on-site/src/app/components/navbar.module.css
Due: website

docs(aws): add DB_URL secret to website ECS task definition
  docs/aws/cloudformation/ecs-services.yaml
Due: none

feat(app): improve bottom bar, article cards, and API config
  app/.gitignore
  app/.nuke/build.schema.json
  app/BibleOnSite.Tests/Models/ArticleTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Config/AppConfig.cs
  app/BibleOnSite/Controls/ArticleCard.xaml
  app/BibleOnSite/Controls/ArticleCard.xaml.cs
  app/BibleOnSite/Controls/BottomBarDrawable.cs
  app/BibleOnSite/Controls/PerekPickerPopup.xaml
  app/BibleOnSite/Controls/PerekPickerPopup.xaml.cs
  app/BibleOnSite/Models/Article.cs
  app/BibleOnSite/Pages/ArticlesPage.xaml
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Pages/LoadingPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Windows/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Services/PerekDataService.cs
  app/BibleOnSite/ViewModels/ArticlesViewModel.cs
  app/devops/Build.Run.cs
Due: app

fix(website): run unit tests sequentially for coverage collection
  web/bible-on-site/jest.config.js
Due: none

fix(app): align Article.CreateMock() text with UI loading message
  app/BibleOnSite/Models/Article.cs
Due: app

docs(aws): add DB_URL secret to website ECS task definition (#1188)
  .github/workflows/ci.yml
  .github/workflows/shared-release.yml
  docs/aws/cloudformation/ecs-services.yaml
  web/bible-on-site/jest.config.js
  web/bible-on-site/public/icons/app-store.svg
  web/bible-on-site/public/icons/telegram.svg
  web/bible-on-site/public/icons/windows.svg
  web/bible-on-site/public/root/al-haperek-devider-l.svg
  web/bible-on-site/public/root/al-haperek-devider-m.svg
  web/bible-on-site/public/root/al-haperek-devider-s.svg
  web/bible-on-site/public/root/al-haperek-devider-xl.svg
  web/bible-on-site/public/root/al-haperek-devider-xs.svg
  web/bible-on-site/public/root/al-haperek-devider.svg
  web/bible-on-site/src/app/[section]/page.tsx
  web/bible-on-site/src/app/components/AppSection.module.css
  web/bible-on-site/src/app/components/AppSection.tsx
  web/bible-on-site/src/app/components/ContactSection.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/TosSection.module.css
  web/bible-on-site/src/app/components/TosSection.tsx
  web/bible-on-site/src/app/components/appPlatforms.ts
  web/bible-on-site/src/app/components/navbar.module.css
Due: website

feat(app): improve bottom bar, article cards, and API config (#1189)
  app/.gitignore
  app/.nuke/build.schema.json
  app/BibleOnSite.Tests/Models/ArticleTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Config/AppConfig.cs
  app/BibleOnSite/Controls/ArticleCard.xaml
  app/BibleOnSite/Controls/ArticleCard.xaml.cs
  app/BibleOnSite/Controls/BottomBarDrawable.cs
  app/BibleOnSite/Controls/PerekPickerPopup.xaml
  app/BibleOnSite/Controls/PerekPickerPopup.xaml.cs
  app/BibleOnSite/Models/Article.cs
  app/BibleOnSite/Pages/ArticlesPage.xaml
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Pages/LoadingPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Windows/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Services/PerekDataService.cs
  app/BibleOnSite/ViewModels/ArticlesViewModel.cs
  app/devops/Build.Run.cs
Due: app

feat(app): improve exit fullscreen button with centered icon and drag support
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

feat(app): order authors by name
  .cursor/rules/github-issues.mdc
  app/.nuke/build.schema.json
  app/.nuke/parameters.json
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Controls/PerekPickerPopup.xaml
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Pages/ContactPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Services/StarterService.cs
Due: app

style(app): update primary color to match legacy blue
  app/.nuke/build.schema.json
  app/.nuke/parameters.json
  app/BibleOnSite/Platforms/Android/Resources/values/colors.xml
  app/BibleOnSite/Resources/Styles/Colors.xaml
Due: app

feat(app): add pasuk selection mode with right-click and long-press
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

feat(ci): enable SSG build with RDS access
  .github/workflows/ci.yml
  .github/workflows/shared-dockerize.yml
  docs/aws/cloudformation/rds-mysql.yaml
  web/bible-on-site/Dockerfile
Due: none

style(app): adjust selection bar height to match original source bar
  app/BibleOnSite/Pages/PerekPage.xaml
Due: app

chore(deps): update dependencies
  devops/package-lock.json
  devops/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): use continue-on-error for AWS credentials check
  .github/workflows/shared-dockerize.yml
Due: none

fix(ci): remove id-token from shared workflow, granted by caller
  .github/workflows/shared-dockerize.yml
Due: none

style(app): increase selection bar height by 1px
  app/BibleOnSite/Pages/PerekPage.xaml
Due: app

fix(types): add type declarations for html-flip-book-react
  web/bible-on-site/src/types/html-flip-book-react.d.ts
Due: website

feat(app): add verse selection mode with persistent selection state
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Models/Pasuk.cs
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

revert(deps): pin html-flip-book-react to 0.0.0-alpha.1
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/types/html-flip-book-react.d.ts
Due: website

feat(ci): enable SSG build with RDS access (#1202)
  .github/workflows/ci.yml
  .github/workflows/shared-dockerize.yml
  devops/package-lock.json
  devops/package.json
  docs/aws/cloudformation/rds-mysql.yaml
  web/bible-on-site/Dockerfile
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(app): simplify DataTrigger to fix Windows XAML crash
  app/BibleOnSite/Pages/PerekPage.xaml
Due: app

chore(website): update biome config to 2.3.13
  web/bible-on-site/biome.json
Due: none

fix(app): improve selection mode stability
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

chore(website): update biome config to 2.3.13 (#1206)
  web/bible-on-site/biome.json
Due: none

fix(ci): add id-token permission for AWS OIDC auth
  .github/workflows/ci.yml
  .github/workflows/shared-dockerize.yml
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
