Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

Add optional native recitation extension and focused verse reader
  .github/workflows/shared-ci.yml
  .gitignore
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests.E2E/Navigation/ArticlesNavigationTests.cs
  app/BibleOnSite.Tests.E2E/Pages/SelectionModeTests.cs
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Fixtures/README.md
  app/BibleOnSite.Tests/Fixtures/seek-reference.pcm.gz
  app/BibleOnSite.Tests/Helpers/DoubleTapTrackerTests.cs
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite/App.xaml.cs
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Helpers/DoubleTapTracker.cs
  app/BibleOnSite/Models/Recitation.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/Pages/PreferencesPage.xaml.cs
  app/BibleOnSite/Resources/Raw/recitation-audio.html
  app/BibleOnSite/Services/IRecitationAudioDecoder.cs
  app/BibleOnSite/Services/PreferencesService.cs
  app/BibleOnSite/Services/RecitationService.cs
  app/BibleOnSite/Services/WebAudioRecitationDecoder.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  app/BibleOnSite/ViewModels/PreferencesViewModel.cs
  app/BibleOnSite/ViewModels/RecitationPreferencesViewModel.cs
  app/RECITATION.md
  data/recitation/deployment.py
  data/recitation/test_deployment.py
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/api/recitation/[perekId]/route.ts
  web/bible-on-site/src/app/api/recitation/route.ts
  web/bible-on-site/src/lib/recitation-package.ts
  web/bible-on-site/tests/e2e/929/sefer-view/app-recitation-decoder.test.ts
  web/bible-on-site/tests/unit/app/api/recitation-package-route.test.ts
Due: app, website, data

Close native audit databases deterministically on Windows
  data/recitation/audit_native.py
  data/recitation/test_audit_native.py
Due: data

Resolve review findings and await focused verse gestures
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite/Models/Recitation.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/PreferencesService.cs
  app/BibleOnSite/Services/RecitationService.cs
  app/BibleOnSite/Services/WebAudioRecitationDecoder.cs
  app/BibleOnSite/ViewModels/RecitationPreferencesViewModel.cs
  data/recitation/test_audit_native.py
  data/recitation/test_deployment.py
Due: app, data

Document analyzer limitations for generated MAUI code and event invocation
  app/BibleOnSite/Models/Recitation.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  app/BibleOnSite/Services/RecitationService.cs
  app/BibleOnSite/ViewModels/RecitationPreferencesViewModel.cs
Due: app

Retain completed download status after queued progress callbacks
  app/BibleOnSite/ViewModels/RecitationPreferencesViewModel.cs
Due: app

Verify native gapless decoding on Apple WebKit in iOS CI
  .github/workflows/ci.yml
  app/RECITATION.md
  web/bible-on-site/playwright.recitation.config.ts
  web/bible-on-site/tests/e2e/929/sefer-view/app-recitation-decoder.test.ts
Due: none

Preserve MP3 time origin across Apple and Chromium decoders
  .github/workflows/shared-ci.yml
  app/BibleOnSite.Tests/Fixtures/README.md
  app/BibleOnSite.Tests/Fixtures/esther-10-reference.json
  app/BibleOnSite.Tests/Fixtures/esther-10-reference.pcm.gz
  app/BibleOnSite.Tests/Fixtures/esther-10.mp3
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Resources/Raw/recitation-audio.html
  app/BibleOnSite/Services/WebAudioRecitationDecoder.cs
  app/RECITATION.md
  web/bible-on-site/src/lib/recitation-audio.ts
  web/bible-on-site/tests/e2e/929/sefer-view/app-recitation-decoder.test.ts
  web/bible-on-site/tests/unit/lib/mp3-gapless.test.ts
  web/shared/recitation/mp3-gapless.d.ts
  web/shared/recitation/mp3-gapless.js
Due: app, website

Load trusted decoder script through the browser test API
  web/bible-on-site/tests/e2e/929/sefer-view/app-recitation-decoder.test.ts
Due: none

Use identical lossless MPEG decoding across app and website
  .github/workflows/shared-ci.yml
  app/BibleOnSite.Tests/Fixtures/README.md
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  app/BibleOnSite/Resources/Raw/recitation-audio.html
  app/BibleOnSite/Resources/Raw/recitation-decoder-notices.txt
  app/BibleOnSite/Resources/Raw/recitation-mpeg.min.js
  app/BibleOnSite/Resources/Raw/recitation-mpg123-license.txt
  app/BibleOnSite/Resources/Raw/recitation-puff-license.txt
  app/BibleOnSite/Resources/Raw/recitation-worker-license.txt
  app/BibleOnSite/Services/MpegRecitationAudioDecoder.cs
  app/RECITATION.md
  data/recitation/fixtures/silence-120s.mp3
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/build-native-recitation-decoder.mjs
  web/bible-on-site/src/lib/recitation-audio.ts
  web/bible-on-site/tests/e2e/929/sefer-view/app-recitation-decoder.test.ts
  web/bible-on-site/tests/e2e/929/sefer-view/recitation.test.ts
  web/bible-on-site/tests/unit/lib/mp3-gapless.test.ts
  web/bible-on-site/tests/unit/lib/recitation-audio.test.ts
  web/shared/recitation/mp3-gapless.d.ts
  web/shared/recitation/mp3-gapless.js
Due: app, website, data

Preserve generated codec data during source formatting
  .pre-commit-config.yaml
  web/bible-on-site/scripts/build-native-recitation-decoder.mjs
Due: none

Restore exact generated decoder after automatic whitespace edits
  app/BibleOnSite/Resources/Raw/recitation-mpeg.min.js
Due: app

Repair recitation catalog atomically and verify offline recovery
  app/BibleOnSite.Tests/Helpers/DoubleTapTrackerTests.cs
  app/BibleOnSite.Tests/Models/RecitationTests.cs
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelPerushimTests.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/RecitationService.cs
  app/RECITATION.md
Due: app

Restore recitation book choices immediately after catalog repair
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/ViewModels/RecitationPreferencesViewModel.cs
Due: app

chore(release): Bump versions (app to 5.0.106) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Restore recitation book choices immediately after catalog repair (#1935)
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite/ViewModels/RecitationPreferencesViewModel.cs
Due: app

chore(release): Bump versions (app to 5.0.107) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Keep shared decoder checks independent of native releases
  .github/workflows/ci.yml
  .github/workflows/shared-ci.yml
  devops/github/ci/determine-changes.test.mjs
Due: none

Use portable normalization in workflow regression fixtures
  devops/github/ci/determine-changes.test.mjs
Due: none

Document isolated Windows emulator graphics recovery
  devops/android-emulator/README.md
Due: none

Document isolated Windows emulator graphics recovery (#1937)
  devops/android-emulator/README.md
Due: none

Fix native recitation bridge JSON transport
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Resources/Raw/recitation-audio.html
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/e2e/929/sefer-view/app-recitation-decoder.test.ts
Due: app

Handle concurrent pull request creation idempotently
  .github/workflows/auto-create-pr.yml
  .github/workflows/ci.yml
  devops/github/ci/auto-create-pr.test.mjs
Due: none

Fix native verse and word recitation playback (#1938)
  .github/workflows/auto-create-pr.yml
  .github/workflows/ci.yml
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Resources/Raw/recitation-audio.html
  devops/github/ci/auto-create-pr.test.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/e2e/929/sefer-view/app-recitation-decoder.test.ts
Due: app

chore(release): Bump versions (app to 5.0.109) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Declare the attached media-node parent invariant
  app/BibleOnSite/Helpers/HtmlMediaExtractor.cs
Due: app

Reserve app version 5.0.110 for the compatibility fix
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Keep native media extraction compatible with nullable HTML nodes (#1939)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Helpers/HtmlMediaExtractor.cs
Due: app

chore(release): Bump versions (app to 5.0.111) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

test(app): add parallel Appium mobile E2E pilot
  .github/tool-registry.md
  .github/workflows/app-mobile-e2e.yml
  .github/workflows/ci.yml
  app/.nuke/build.schema.json
  app/BibleOnSite.Tests.MobileE2E/BibleOnSite.Tests.MobileE2E.csproj
  app/BibleOnSite.Tests.MobileE2E/Configuration/ConfigurationTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/MobileTestConfiguration.cs
  app/BibleOnSite.Tests.MobileE2E/Pages/PerekPage.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite.Tests.MobileE2E/packages.lock.json
  app/BibleOnSite/AppShell.xaml
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/bible-on-site.slnx
  app/devops/Build.MobileE2E.cs
  app/mobile-e2e/README.md
  app/mobile-e2e/boot-ios.mjs
  app/mobile-e2e/package-lock.json
  app/mobile-e2e/package.json
  app/mobile-e2e/run.mjs
  app/mobile-e2e/simulator.mjs
  app/mobile-e2e/simulator.test.mjs
  devops/package.json
  renovate.json
Due: app

Highlight spoken words from the playback clock in website and app
  app/BibleOnSite.Tests/Helpers/RecitationTimelineTests.cs
  app/BibleOnSite.Tests/Models/PasukFormattedTextTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Helpers/RecitationTimeline.cs
  app/BibleOnSite/Models/Pasuk.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  data/recitation/PIPELINE.md
  data/recitation/README.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/RecitationPlayer.tsx
  web/bible-on-site/src/app/929/[number]/components/recitation-player.module.css
  web/bible-on-site/src/lib/recitation-audio.ts
  web/bible-on-site/src/lib/recitation.ts
  web/bible-on-site/tests/e2e/929/sefer-view/recitation.test.ts
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
  web/bible-on-site/tests/unit/lib/recitation-audio.test.ts
  web/bible-on-site/tests/unit/lib/recitation.test.ts
Due: app, website, data

fix(app): align mobile pilot with native platforms and SDK
  .github/tool-registry.md
  app/BibleOnSite.Tests.MobileE2E/Configuration/MobileTestConfiguration.cs
  app/BibleOnSite.Tests.MobileE2E/Pages/PerekPage.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/devops/Build.Compile.cs
  app/devops/Build.MobileE2E.cs
  app/devops/Build.Test.cs
  app/devops/Build.cs
  app/devops/_build.csproj
  app/mobile-e2e/README.md
  app/mobile-e2e/run.mjs
  app/mobile-e2e/simulator.mjs
  app/mobile-e2e/simulator.test.mjs
Due: none

Illustrate GPU, host harness and delivery layers for presentations
  data/recitation/PIPELINE.md
  data/recitation/diagrams/delivery-harness.svg
  data/recitation/diagrams/segmentation-stack.svg
Due: data

Format architecture SVGs for readable maintenance
  data/recitation/diagrams/delivery-harness.svg
  data/recitation/diagrams/segmentation-stack.svg
Due: data

fix(app): preserve open menu during chapter navigation pilot
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
Due: none
