Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

Gate the faster recitation worker on complete word and held-case evidence
  data/recitation/PERFORMANCE.md
  data/recitation/README.md
  data/recitation/benchmark.py
  data/recitation/benchmarks/held-2026-10-07.json.gz
  data/recitation/held_controls.py
  data/recitation/test_validated_worker.py
  data/recitation/validated_worker.py
Due: data

Use a fixed FFmpeg version probe for validation metadata
  data/recitation/validated_worker.py
Due: data

Release failed inference traceback before full-quality retry
  data/recitation/test_validated_worker.py
  data/recitation/validated_worker.py
Due: data

Gate the faster recitation worker on complete word and held-case evidence (#2029)
  data/recitation/PERFORMANCE.md
  data/recitation/README.md
  data/recitation/benchmark.py
  data/recitation/benchmarks/held-2026-10-07.json.gz
  data/recitation/held_controls.py
  data/recitation/test_validated_worker.py
  data/recitation/validated_worker.py
Due: data

Resume the validated recitation profile with its fixed 17-chapter evidence
  data/recitation/PERFORMANCE.md
  data/recitation/README.md
  data/recitation/benchmarks/resume-sample-2026-10-07.json
  data/recitation/test_validated_worker.py
  data/recitation/validated_worker.py
Due: data

Resume the validated recitation profile with its fixed 17-chapter evidence (#2030)
  data/recitation/PERFORMANCE.md
  data/recitation/README.md
  data/recitation/benchmarks/resume-sample-2026-10-07.json
  data/recitation/test_validated_worker.py
  data/recitation/validated_worker.py
Due: data

fix(app): deliver recitation books through store extensions
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
  .gitignore
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Models/Recitation.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/Services/PadDeliveryService.cs
  app/BibleOnSite/Services/RecitationService.cs
  app/BibleOnSite/ViewModels/RecitationPreferencesViewModel.cs
  app/devops/Build.Package.cs
  app/devops/RECITATION.md
  app/devops/prepare_recitation_assets.py
  app/devops/test_prepare_recitation_assets.py
  app/devops/test_verify_recitation_assets.py
  app/devops/verify_recitation_assets.py
Due: app

fix(app): harden extension preparation and resolve review findings
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite/Models/Recitation.cs
  app/BibleOnSite/Services/RecitationService.cs
  app/devops/Build.Package.cs
  app/devops/prepare_recitation_assets.py
  app/devops/test_prepare_recitation_assets.py
Due: app

ci(app): provision the recitation packaging runtime
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
Due: none

Add floating Hebrew search and local backend launcher
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests.E2E/Pages/FloatingSearchBarTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/MobileTestConfiguration.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Fixtures/ApiServerFixture.cs
  app/BibleOnSite.Tests/Services/SearchIndexServiceTests.cs
  app/BibleOnSite.Tests/ViewModels/AsyncCommandsTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Controls/FloatingSearchBar.xaml
  app/BibleOnSite/Controls/FloatingSearchBar.xaml.cs
  app/BibleOnSite/Helpers/SearchText.cs
  app/BibleOnSite/Models/SearchResult.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/PerekDataService.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
  app/BibleOnSite/Services/SearchIndexService.cs
  app/BibleOnSite/ViewModels/SearchViewModel.cs
  app/mobile-e2e/README.md
  devops/docker-compose.yml
  devops/local-backend.mjs
  devops/package.json
  docs/devops/setup-development-environment/setup-development-environment.md
  package.json
  web/api/src/startup/app.rs
Due: api, app

fix(app): constrain build downloads to verified HTTPS assets
  app/devops/prepare_recitation_assets.py
  app/devops/test_prepare_recitation_assets.py
Due: none

Keep Android Back navigation inside reader overlays
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite/Controls/FloatingSearchBar.xaml.cs
  app/BibleOnSite/Pages/PerekPage.AndroidBack.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/mobile-e2e/README.md
Due: app

fix(app): verify Apple's ODR reference and payload identities
  app/devops/test_verify_recitation_assets.py
  app/devops/verify_recitation_assets.py
Due: none

refactor(app): separate platform extension artifact checks
  app/devops/verify_recitation_assets.py
Due: none

ci(app): verify packaged Windows recitation archives too
  .github/workflows/app-package.yml
  app/devops/test_verify_recitation_assets.py
  app/devops/verify_recitation_assets.py
Due: none

Refine reader search with a Gmail-style RTL bar
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests.E2E/Pages/FloatingSearchBarTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests/Fixtures/ApiServerFixture.cs
  app/BibleOnSite/Controls/FloatingSearchBar.xaml
  app/BibleOnSite/Controls/FloatingSearchBar.xaml.cs
  app/BibleOnSite/Controls/SearchEntry.cs
  app/BibleOnSite/Helpers/SearchText.cs
  app/BibleOnSite/Models/SearchResult.cs
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/SearchIndexService.cs
  app/BibleOnSite/ViewModels/SearchViewModel.cs
  devops/local-backend.mjs
Due: app

test(app): cover extension failures and download recovery
  app/BibleOnSite.Tests/Models/RecitationTests.cs
  app/BibleOnSite.Tests/Services/NotesDeliveryTests.cs
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite.Tests/ViewModels/ViewModelDefaultsTests.cs
Due: none

Dismiss search keyboard before showing settings and results
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite/Controls/FloatingSearchBar.xaml.cs
Due: app

style(app): follow test control-flow formatting
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
Due: none

fix(deps): drop vulnerable sprintf-js from website coverage tooling
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(deps): bump appium-xcuitest-driver to 12.15.2
  app/mobile-e2e/package-lock.json
  app/mobile-e2e/package.json
  renovate.json
Due: none

ci(ios): move iOS jobs to xcode-27 runner and workload set 10.0.401.1
  .github/workflows/app-mobile-e2e.yml
  .github/workflows/app-package.yml
  renovate.json
Due: none

ci: retain historical NuGet snapshots and reject incomplete reviews
  .github/tool-registry.md
  .github/workflows/dependency-review.yml
  .github/workflows/dependency-submission.yml
  devops/github/ci/dependency-snapshots.mjs
  devops/github/ci/dependency-snapshots.test.mjs
  docs/devops/dependency-security.md
Due: none

ci: remove ineffective duplicate scans and document snapshot blocker
  .github/tool-registry.md
  .github/workflows/dependency-review.yml
  .github/workflows/dependency-submission.yml
  devops/github/ci/dependency-snapshots.test.mjs
  devops/package.json
  docs/devops/dependency-security.md
Due: none

fix(deps): drop vulnerable sprintf-js from website coverage tooling (#2033)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(app): download recitations as independent book extensions (#2031)
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
  .gitignore
  app/BibleOnSite.Tests/Models/RecitationTests.cs
  app/BibleOnSite.Tests/Services/NotesDeliveryTests.cs
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite.Tests/ViewModels/ViewModelDefaultsTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Models/Recitation.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/Services/PadDeliveryService.cs
  app/BibleOnSite/Services/RecitationService.cs
  app/BibleOnSite/ViewModels/RecitationPreferencesViewModel.cs
  app/devops/Build.Package.cs
  app/devops/RECITATION.md
  app/devops/prepare_recitation_assets.py
  app/devops/test_prepare_recitation_assets.py
  app/devops/test_verify_recitation_assets.py
  app/devops/verify_recitation_assets.py
Due: app

fix(ios): scope CA1422 pragma for obsoleted NSBundleResourceRequest
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

ci: reject incomplete dependency reviews (#2001)
  .github/tool-registry.md
  .github/workflows/dependency-review.yml
  .github/workflows/dependency-submission.yml
  devops/github/ci/dependency-snapshots.mjs
  devops/github/ci/dependency-snapshots.test.mjs
  devops/package.json
  docs/devops/dependency-security.md
Due: none

fix(deps): bump appium-xcuitest-driver to 12.15.2 (#2034)
  app/mobile-e2e/package-lock.json
  app/mobile-e2e/package.json
  renovate.json
Due: none

Fix the iOS RTL drawer gesture and landscape safe-area gaps with e2e coverage
  app/BibleOnSite.Tests.MobileE2E/Configuration/EdgeSwipeTests.cs
  app/BibleOnSite.Tests.MobileE2E/IosReaderTests.cs
  app/BibleOnSite.Tests.MobileE2E/Pages/PerekPage.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(ios): adopt UIScene lifecycle required by the iOS 27 SDK
  app/BibleOnSite/Platforms/MacCatalyst/Info.plist
  app/BibleOnSite/Platforms/MacCatalyst/SceneDelegate.cs
  app/BibleOnSite/Platforms/iOS/Info.plist
  app/BibleOnSite/Platforms/iOS/SceneDelegate.cs
Due: app

chore(release): Bump versions (website to 0.2.479, app to 5.0.131) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

chore(release): Bump versions to release (app to 5.0.132)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Use a band-gated pan for the iOS RTL drawer and opt the reader subtree out of safe-area padding
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(devops): inspect TestFlight upload processing failures
  devops/github/release/testflight-build.mjs
  devops/github/release/testflight-build.test.mjs
Due: none

fix(devops): allow bounded processing time for large extensions
  devops/github/release/testflight-build.mjs
  devops/github/release/testflight-build.test.mjs
Due: none

fix(devops): handle large extension processing in TestFlight (#2038)
  devops/github/release/testflight-build.mjs
  devops/github/release/testflight-build.test.mjs
Due: none

chore(release): Bump versions (app to 5.0.133) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

docs: sync held-dependencies list after removing iOS SDK pin hold
  .github/copilot-instructions.md
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
