Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

Mock image data in page and sitemap unit tests
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
Due: none

Bump website version ahead of master
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Reserve next website version for image migration
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(recitation): pin model snapshots and enforce audit checks
  data/recitation/README.md
  data/recitation/acoustic.py
  data/recitation/alignment.py
  data/recitation/audit.py
  data/recitation/model_versions.py
  data/recitation/recite.py
  data/recitation/test_alignment.py
Due: data

test(recitation): verify merge against fresh Sefaria aggregation
  data/sefaria/pipelines/tanah-view/tests/aggregation_test.rs
Due: data

refactor(recitation): clarify processing stages and preserve reviewed outputs
  data/recitation/acoustic.py
  data/recitation/alignment.py
  data/recitation/audit.py
  data/recitation/publish.py
  data/recitation/recite.py
  data/recitation/test_alignment.py
  web/bible-on-site/src/app/929/[number]/components/RecitationPlayer.tsx
Due: website, data

Restore router-selected book pages in place
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-page-utils.ts
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
Due: website

feat(tanahpedia): add Mapbox places map and Jerusalem entry (#1891)
  .codacy.yml
  .github/workflows/shared-dockerize.yml
  .husky/shared-checks.sh
  AGENTS.md
  data/README.md
  data/mysql/tanahpedia_place_eretz_yisrael_data.sql
  data/mysql/tanahpedia_place_jerusalem_data.sql
  devops/deploy/data-deploy/sql-files.json
  devops/github/ci/auto-bump-website-version.ts
  devops/package.json
  docs/devops/pre-commit.md
  docs/tanahpedia/places-map-plan.md
  web/bible-on-site/Dockerfile
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/[slug]/category-view.tsx
  web/bible-on-site/src/app/pedia/[slug]/entry-view.tsx
  web/bible-on-site/src/app/pedia/components/MapboxPlacesMapClient.tsx
  web/bible-on-site/src/app/pedia/components/PlacesMap.module.css
  web/bible-on-site/src/app/pedia/components/TanahpediaPlacesMap.tsx
  web/bible-on-site/src/app/pedia/page.module.css
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/tests/unit/app/mapbox-places-map.test.tsx
  web/bible-on-site/tests/unit/app/pedia-page.test.ts
  web/bible-on-site/tests/unit/app/tanahpedia-map-provider.test.tsx
Due: website, data

Bump website version above master
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Cover optional image variants and exclude MySQL from T-SQL analysis
  .codacy.yml
  web/bible-on-site/tests/unit/components/PerekIntro.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/lib/seo/perek-illustrations.test.ts
Due: none

Reserve website version 0.2.430
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Reserve website version after merge queue advance
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Move perek illustrations to S3 and database with recitation support
  .codacy.yml
  data/mysql/PEREK_IMAGES.md
  data/mysql/db-populator/src/main.rs
  data/mysql/tanah_perek_images_structure.sql
  data/mysql/tanah_truncate.sql
  web/bible-on-site/launch-e2e-server.mts
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/public/images/perakim/bereshit-1-creation-1280.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-1600.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-640.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-960.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-social.jpg
  web/bible-on-site/public/images/perakim/bereshit-1-creation.webp
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/PerekIntro.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/seo/core-jsonld.ts
  web/bible-on-site/src/lib/seo/perek-illustrations.ts
  web/bible-on-site/src/lib/seo/perek-images-data.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
  web/bible-on-site/tests/unit/components/PerekIntro.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/perek-image-fixture.ts
  web/bible-on-site/tests/unit/lib/seo/core-jsonld.test.ts
  web/bible-on-site/tests/unit/lib/seo/perek-illustrations.test.ts
Due: website, data

Support shareable Sefer contents and cover URLs with SPA history (#1888)
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-page-utils.ts
  web/bible-on-site/src/data/book-page-slugs.json
  web/bible-on-site/src/lib/perek-view-preference.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
  web/bible-on-site/tests/unit/components/sefer-page-utils.test.ts
  web/bible-on-site/tests/unit/lib/perek-view-preference.test.ts
Due: website

fix(recitation): bound Whisper memory without reducing precision
  .github/workflows/ci.yml
  data/recitation/README.md
  data/recitation/recite.py
  data/recitation/test_alignment.py
  data/recitation/test_whisper_memory.py
  data/recitation/whisper_memory.py
Due: data

Move perek illustrations to S3 and database with recitation support (#1898)
  .codacy.yml
  data/mysql/PEREK_IMAGES.md
  data/mysql/db-populator/src/main.rs
  data/mysql/tanah_perek_images_structure.sql
  data/mysql/tanah_truncate.sql
  web/bible-on-site/launch-e2e-server.mts
  web/bible-on-site/public/images/perakim/bereshit-1-creation-1280.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-1600.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-640.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-960.avif
  web/bible-on-site/public/images/perakim/bereshit-1-creation-social.jpg
  web/bible-on-site/public/images/perakim/bereshit-1-creation.webp
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/PerekIntro.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/seo/core-jsonld.ts
  web/bible-on-site/src/lib/seo/perek-illustrations.ts
  web/bible-on-site/src/lib/seo/perek-images-data.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
  web/bible-on-site/tests/unit/components/PerekIntro.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/perek-image-fixture.ts
  web/bible-on-site/tests/unit/lib/seo/core-jsonld.test.ts
  web/bible-on-site/tests/unit/lib/seo/perek-illustrations.test.ts
Due: website, data

test(recitation): require numerical regression dependencies
  data/recitation/test_whisper_memory.py
Due: data

Bump website version for perek image release
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(recitation): bound Whisper memory without reducing precision (#1899)
  .github/workflows/ci.yml
  data/recitation/README.md
  data/recitation/recite.py
  data/recitation/test_alignment.py
  data/recitation/test_whisper_memory.py
  data/recitation/whisper_memory.py
Due: data

Bump website version for perek image release (#1900)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(data): recover RDS deploys while Lambda restores VPC resources
  .github/workflows/ci-data-deploy.yml
  devops/deploy/README.md
  devops/deploy/data-deploy/index.mts
  devops/deploy/data-deploy/lambda-invocation.mts
  devops/deploy/data-deploy/lambda-invocation.test.mts
  devops/package.json
Due: none

test(website): cover failure recovery and browser lifecycle branches
  codecov.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/unit/app/api/recitation-route.test.ts
  web/bible-on-site/tests/unit/app/mapbox-places-map.test.tsx
  web/bible-on-site/tests/unit/app/pedia-landing-page.test.tsx
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
  web/bible-on-site/tests/unit/components/TanahpediaLink.test.tsx
  web/bible-on-site/tests/unit/lib/authors-s3-check.test.ts
  web/bible-on-site/tests/unit/lib/entity-ref-lookup.test.ts
  web/bible-on-site/tests/unit/lib/perek-view-preference.test.ts
  web/bible-on-site/tests/unit/lib/person-family-labels.test.ts
  web/bible-on-site/tests/unit/lib/recitation-audio.test.ts
  web/bible-on-site/tests/unit/lib/recitation.test.ts
  web/bible-on-site/tests/unit/lib/tanach-citation-links.test.tsx
  web/bible-on-site/tests/unit/lib/tanahpedia-preview-format.test.ts
Due: none

fix(data): recover RDS deploys while Lambda restores VPC resources (#1901)
  .github/workflows/ci-data-deploy.yml
  devops/deploy/README.md
  devops/deploy/data-deploy/index.mts
  devops/deploy/data-deploy/lambda-invocation.mts
  devops/deploy/data-deploy/lambda-invocation.test.mts
  devops/package.json
Due: none

test(website): preserve reload coverage and verify remaining recovery paths
  web/bible-on-site/jest.coverage-setup.js
  web/bible-on-site/src/app/929/[number]/[slug]/ScrollToArticle.tsx
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
  web/bible-on-site/tests/unit/app/pedia-category-page.test.ts
  web/bible-on-site/tests/unit/app/pedia-landing-page.test.tsx
  web/bible-on-site/tests/unit/app/pedia-page.test.ts
  web/bible-on-site/tests/unit/app/perek-metadata.test.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
  web/bible-on-site/tests/unit/app/tanahpedia-preview-route.test.ts
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/PasukPreviewLink.test.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/components/PerushimSection.test.tsx
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToArticle.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
  web/bible-on-site/tests/unit/components/TanahpediaLink.test.tsx
  web/bible-on-site/tests/unit/components/sefer-page-utils.test.ts
  web/bible-on-site/tests/unit/lib/authors-s3-check.test.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
  web/bible-on-site/tests/unit/lib/entity-ref-lookup.test.ts
  web/bible-on-site/tests/unit/util/coverage-accumulator.test.ts
  web/bible-on-site/tests/unit/util/hebdates-util.test.ts
  web/bible-on-site/tests/util/coverage/coverage-accumulator.js
Due: website

refactor(app): resolve static analysis findings
  app/BibleOnSite.Tests/Controls/MenuInteractionTests.cs
  app/BibleOnSite.Tests/Converters/BindingConverterTests.cs
  app/BibleOnSite.Tests/Helpers/AtomicFileTests.cs
  app/BibleOnSite.Tests/Services/NotesDeliveryTests.cs
  app/BibleOnSite.Tests/Services/PerekDataServiceTests.cs
  app/BibleOnSite.Tests/Services/StarterOfflineTests.cs
  app/BibleOnSite.Tests/Support/GraphQLTransport.cs
  app/BibleOnSite.Tests/Support/TestStorage.cs
  app/BibleOnSite.Tests/ViewModels/AsyncCommandsTests.cs
  app/BibleOnSite.Tests/ViewModels/DiagnosticsExportTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekLoadingTests.cs
  app/BibleOnSite/Controls/CircularMenu.cs
  app/BibleOnSite/Converters/IntEqualityConverter.cs
  app/BibleOnSite/Services/NetworkService.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  app/BibleOnSite/ViewModels/PreferencesViewModel.cs
  docs/tests/app/coverage/coverage.md
Due: app

test(website): raise meaningful coverage to 99% (#1902)
  codecov.yml
  web/bible-on-site/jest.coverage-setup.js
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/ScrollToArticle.tsx
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
  web/bible-on-site/tests/unit/app/api/recitation-route.test.ts
  web/bible-on-site/tests/unit/app/mapbox-places-map.test.tsx
  web/bible-on-site/tests/unit/app/pedia-category-page.test.ts
  web/bible-on-site/tests/unit/app/pedia-landing-page.test.tsx
  web/bible-on-site/tests/unit/app/pedia-page.test.ts
  web/bible-on-site/tests/unit/app/perek-metadata.test.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
  web/bible-on-site/tests/unit/app/tanahpedia-preview-route.test.ts
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/PasukPreviewLink.test.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/components/PerushimSection.test.tsx
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToArticle.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
  web/bible-on-site/tests/unit/components/TanahpediaLink.test.tsx
  web/bible-on-site/tests/unit/components/sefer-page-utils.test.ts
  web/bible-on-site/tests/unit/lib/authors-s3-check.test.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
  web/bible-on-site/tests/unit/lib/entity-ref-lookup.test.ts
  web/bible-on-site/tests/unit/lib/perek-view-preference.test.ts
  web/bible-on-site/tests/unit/lib/person-family-labels.test.ts
  web/bible-on-site/tests/unit/lib/recitation-audio.test.ts
  web/bible-on-site/tests/unit/lib/recitation.test.ts
  web/bible-on-site/tests/unit/lib/tanach-citation-links.test.tsx
  web/bible-on-site/tests/unit/lib/tanahpedia-preview-format.test.ts
  web/bible-on-site/tests/unit/util/coverage-accumulator.test.ts
  web/bible-on-site/tests/unit/util/hebdates-util.test.ts
  web/bible-on-site/tests/util/coverage/coverage-accumulator.js
Due: website

feat(images): prepare perek variants from one master
  .github/workflows/perek-images.yml
  devops/perek-images/README.md
  devops/perek-images/package-lock.json
  devops/perek-images/package.json
  devops/perek-images/prepare.mjs
  devops/perek-images/prepare.test.mjs
  package.json
Due: none

feat(images): prepare perek variants from one master (#1904)
  .github/workflows/perek-images.yml
  devops/perek-images/README.md
  devops/perek-images/package-lock.json
  devops/perek-images/package.json
  devops/perek-images/prepare.mjs
  devops/perek-images/prepare.test.mjs
  package.json
Due: none

fix(recitation): show download progress before enabling mode
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/RecitationPlayer.tsx
  web/bible-on-site/src/app/929/[number]/components/recitation-player.module.css
  web/bible-on-site/src/lib/recitation-audio.ts
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
  web/bible-on-site/tests/unit/lib/recitation-audio.test.ts
Due: website

test(app): cover runtime branches and fix regressions
  app/BibleOnSite.Tests/Controls/MenuInteractionTests.cs
  app/BibleOnSite.Tests/Controls/ThemeDrawingTests.cs
  app/BibleOnSite.Tests/Helpers/CoverageEdgeCasesTests.cs
  app/BibleOnSite.Tests/Models/SearchContextTests.cs
  app/BibleOnSite.Tests/Services/NavigationBoundaryTests.cs
  app/BibleOnSite.Tests/Services/NotesDeliveryTests.cs
  app/BibleOnSite.Tests/Services/PreferencesBoundaryTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekLoadingTests.cs
  app/BibleOnSite.Tests/ViewModels/ViewModelDefaultsTests.cs
  app/BibleOnSite/Controls/BottomBarDrawable.cs
  app/BibleOnSite/Controls/BottomNavigationBar.cs
  app/BibleOnSite/Models/SearchResult.cs
  codecov.yml
  docs/tests/app/coverage/coverage.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/lib/perek-entity-refs.test.ts
  web/bible-on-site/tests/unit/lib/perek-view-preference.test.ts
  web/bible-on-site/tests/unit/lib/recitation-audio.test.ts
Due: app

feat(tanahpedia): link Jerusalem verses and show entry occurrences
  .codacy.yml
  data/README.md
  data/mysql/scripts/generate-tanahpedia-occurrences.mjs
  data/mysql/tanahpedia_jerusalem_occurrences_data.sql
  devops/deploy/data-deploy/sql-files.json
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/pedia/[slug]/entry-view.tsx
  web/bible-on-site/src/app/pedia/components/EntryOccurrencesTable.tsx
  web/bible-on-site/src/app/pedia/components/TanahpediaPlacesMap.tsx
  web/bible-on-site/src/app/pedia/components/entry-occurrences.module.css
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/tests/unit/app/pedia-page.test.ts
  web/bible-on-site/tests/unit/components/EntryOccurrencesTable.test.tsx
  web/bible-on-site/tests/unit/components/PerekText.test.tsx
  web/bible-on-site/tests/unit/lib/tanahpedia-service.test.ts
Due: website, data

fix(data): keep occurrence generator compatible with static analysis
  data/mysql/scripts/generate-tanahpedia-occurrences.mjs
Due: data

fix(images): align near-sized masters to 1600x900
  devops/perek-images/README.md
  devops/perek-images/prepare.mjs
  devops/perek-images/prepare.test.mjs
Due: none

fix(website): avoid invalid development metadata type checks
  web/bible-on-site/README.md
  web/bible-on-site/tsconfig.json
Due: none

fix(images): align near-sized masters to 1600x900 (#1907)
  devops/perek-images/README.md
  devops/perek-images/prepare.mjs
  devops/perek-images/prepare.test.mjs
Due: none

test(website): use the typed person entity discriminator
  web/bible-on-site/tests/unit/lib/perek-entity-refs.test.ts
Due: none

fix(recitation): checkpoint alignments and validate website deployments
  .github/workflows/cd-aws.yml
  .github/workflows/ci.yml
  .github/workflows/shared-ci.yml
  .github/workflows/shared-dockerize.yml
  .github/workflows/shared-release.yml
  data/recitation/README.md
  data/recitation/audit.py
  data/recitation/deployment.py
  data/recitation/recite.py
  data/recitation/test_alignment.py
  data/recitation/test_deployment.py
  devops/deploy/ecr-deploy/ecr-deployer-base.mts
  devops/deploy/ecr-deploy/resume-image.mts
  devops/deploy/ecr-deploy/resume-image.test.mts
  web/bible-on-site/src/app/929/[number]/components/RecitationPlayer.tsx
  web/bible-on-site/src/app/api/recitation/[perekId]/route.ts
  web/bible-on-site/tests/unit/app/api/recitation-route.test.ts
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
Due: website, data

fix(recitation): restrict deployment probes to HTTP protocols
  data/recitation/deployment.py
  data/recitation/test_alignment.py
  data/recitation/test_deployment.py
Due: data

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
