Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

chore(release): bump versions (website to 0.2.244, api to 0.1.21)
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): bump versions (website to 0.2.244, api to 0.1.21) (#1318)
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (website to 0.2.245, api to 0.1.22) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(web): add perushim to data deploy and use perekId-based sefer history
  devops/deploy/data-deploy/index.mts
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

fix(web): add perushim to data deploy and use perekId-based sefer history (#1319)
  devops/deploy/data-deploy/index.mts
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

chore(release): Bump versions (website to 0.2.246) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(web): only resolve perekId in routeToPage when ?book is present
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

fix(web): only resolve perekId in routeToPage when ?book is present (#1320)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

chore(release): Bump versions (website to 0.2.248) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(web+data): open sefer at correct perek & enable perushim deployment
  .github/workflows/cd-data.yml
  .github/workflows/ci.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

fix(web+data): open sefer at correct perek & enable perushim deployment (#1321)
  .github/workflows/cd-data.yml
  .github/workflows/ci.yml
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

chore(release): Bump versions (website to 0.2.249) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(web+infra): flipbook upgrade, perushim deploy fix, zero-downtime CD
  .github/workflows/ci.yml
  docs/aws/cloudformation/data-deploy/data-deploy-lambda.py
  docs/aws/cloudformation/data-deploy/data-deploy.yaml
  docs/aws/cloudformation/ecr-ecs-auto-deploy/ecr-ecs-auto-deploy.yaml
  docs/aws/cloudformation/ecr-ecs-auto-deploy/ecr-to-ecs-deploy-lambda.py
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

fix(web): add missing `of` prop to local FlipBookProps type for dynamic import
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

fix(ci): make codecov default project check informational
  codecov.yml
Due: none

fix(web): disable page shadow, genuine cover design, ensure Docker in dev
  devops/setup-dev-env.mts
  web/bible-on-site/package.json
  web/bible-on-site/scripts/ensure-docker-desktop.mjs
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
Due: website

perf(web): fix sefer view flip lag with GPU compositing and containment
  web/bible-on-site/src/app/929/[number]/components/sefer.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
Due: website

fix(ci): exclude CloudFormation Lambda scripts from Codacy analysis
  .codacy.yml
Due: none

fix(web+infra): flipbook upgrade, perushim deploy fix, zero-downtime CD (#1324)
  .codacy.yml
  .github/workflows/ci.yml
  codecov.yml
  devops/setup-dev-env.mts
  docs/aws/cloudformation/data-deploy/data-deploy-lambda.py
  docs/aws/cloudformation/data-deploy/data-deploy.yaml
  docs/aws/cloudformation/ecr-ecs-auto-deploy/ecr-ecs-auto-deploy.yaml
  docs/aws/cloudformation/ecr-ecs-auto-deploy/ecr-to-ecs-deploy-lambda.py
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/ensure-docker-desktop.mjs
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
Due: website

chore(release): Bump versions (website to 0.2.251) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

perf(web): fix sefer flip lag — bypass Next.js routing on pushState
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-composite.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer.css
  web/bible-on-site/src/app/929/[number]/layout.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/dev/sefer/[number]/SeferDirect.tsx
  web/bible-on-site/src/app/dev/sefer/[number]/page.tsx
  web/bible-on-site/tests/perf/sefer-flip-lag.test.ts
Due: website

fix(sefer): add tocPageIndex to FlipBookProps and return null for non-content pages
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

style(sefer): add global TOC page styling for book view
  web/bible-on-site/src/app/929/[number]/layout.css
Due: website

fix(sefer): keep top nav, hamburger, and toggler visible above book overlay
  .cursor/rules/agent-practices.mdc
  .cursor/rules/prefer-npm-scripts.mdc
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/kill-port.mjs
  web/bible-on-site/src/app/929/[number]/components/read-mode-toggler.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer-composite.module.css
  web/bible-on-site/src/app/929/[number]/layout.css
  web/bible-on-site/src/app/components/navbar.module.css
Due: website

fix(web): upgrade html-flip-book-react to 0.0.0-alpha.33
  .cursor/rules/flipbook-integration.mdc
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
Due: none

ci: extract perushim SQL into dedicated job with pipeline change detection
  .cursor/rules/flipbook-integration.mdc
  .github/workflows/ci.yml
Due: none

perf(web): fix sefer flip lag — bypass Next.js routing on pushState (#1327)
  .cursor/rules/agent-practices.mdc
  .cursor/rules/flipbook-integration.mdc
  .cursor/rules/prefer-npm-scripts.mdc
  .github/workflows/ci.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/kill-port.mjs
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/read-mode-toggler.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer-composite.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer.css
  web/bible-on-site/src/app/929/[number]/layout.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/src/app/dev/sefer/[number]/SeferDirect.tsx
  web/bible-on-site/src/app/dev/sefer/[number]/page.tsx
  web/bible-on-site/tests/perf/sefer-flip-lag.test.ts
Due: website

chore(release): Bump versions (website to 0.2.253) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(web+infra): bookshelf bookmark, TOC headers, Lambda OOM
  devops/deploy/data-deploy/index.mts
  docs/aws/cloudformation/data-deploy/data-deploy.yaml
  docs/aws/cloudformation/github-oidc.yaml
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/bookshelf/page.tsx
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/BookshelfModal.tsx
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfModal-nontoday.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfModal-wide.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfModal.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfPage-wide.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfPage.test.tsx
  web/bible-on-site/tests/unit/data/sefer-dto.test.ts
Due: website

fix(data): truncate perushim tables before data load to avoid PK conflicts
  data/mysql/db-populator/src/main.rs
  data/sefaria/pipelines/perushim-view/src/commands/mysql.rs
Due: data

fix(perf): bump standalone bundle size limit from 750MB to 1000MB
  web/bible-on-site/tests/perf/build-size.test.ts
Due: none

refactor(web): rename [articleId] route to [slug] (#1328)
  web/bible-on-site/src/app/929/[number]/[slug]/ScrollToArticle.tsx
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/ArticleFullView.tsx
  web/bible-on-site/tests/e2e/929/article.test.ts
  web/bible-on-site/tests/e2e/929/articles.test.ts
  web/bible-on-site/tests/e2e/sitemap.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToArticle.test.tsx
Due: website

fix(a11y): improve perushim section color contrast for WCAG AA
  web/bible-on-site/src/app/929/[number]/components/perushim-section.module.css
Due: website

fix(web+infra): bookshelf bookmark, TOC headers, Lambda OOM (#1330)
  data/mysql/db-populator/src/main.rs
  data/sefaria/pipelines/perushim-view/src/commands/mysql.rs
  devops/deploy/data-deploy/index.mts
  docs/aws/cloudformation/data-deploy/data-deploy.yaml
  docs/aws/cloudformation/github-oidc.yaml
  web/bible-on-site/src/app/929/[number]/[slug]/ScrollToArticle.tsx
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/ArticleFullView.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/perushim-section.module.css
  web/bible-on-site/src/app/bookshelf/page.tsx
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/BookshelfModal.tsx
  web/bible-on-site/tests/e2e/929/article.test.ts
  web/bible-on-site/tests/e2e/929/articles.test.ts
  web/bible-on-site/tests/e2e/sitemap.test.ts
  web/bible-on-site/tests/perf/build-size.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfModal-nontoday.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfModal-wide.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfModal.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfPage-wide.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfPage.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToArticle.test.tsx
  web/bible-on-site/tests/unit/data/sefer-dto.test.ts
Due: website, data

fix(web): decode percent-encoded slug for perush URL matching
  web/bible-on-site/package-lock.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

fix(web): decode percent-encoded slug for perush URL matching
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.254) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): add always() workaround to release_data for GHA reusable workflow bug (#1065)
  .github/workflows/ci.yml
Due: none

fix(ci): add always() workaround to release_data — perushim never deployed to prod (#1334)
  .github/workflows/ci.yml
Due: none

fix(ci): add always() workaround to release_data + clean up Lambda memory management
  .github/workflows/cd-data.yml
  .github/workflows/ci.yml
  devops/deploy/data-deploy/index.mts
  docs/aws/cloudformation/github-oidc.yaml
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
