Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

fix(ci+devops): rename CD-RDS workflow, remove Lambda memory management from deployer (#1335)
  .github/workflows/cd-data.yml
  devops/deploy/data-deploy/index.mts
  docs/aws/cloudformation/github-oidc.yaml
Due: none

fix(app): initialize Firebase on iOS for analytics to work
  app/BibleOnSite/MauiProgram.cs
Due: app

fix(data): use SQL-standard quote escaping in perushim SQL generator
  data/sefaria/pipelines/perushim-view/src/commands/mysql.rs
  web/bible-on-site/src/app/929/[number]/page.tsx
Due: website, data

fix(data): SQL-standard quote escaping + trigger full deploy (#1337)
  data/sefaria/pipelines/perushim-view/src/commands/mysql.rs
  web/bible-on-site/src/app/929/[number]/page.tsx
Due: website, data

fix(app): initialize Firebase on iOS for analytics to work (#1336)
  app/BibleOnSite/MauiProgram.cs
Due: app

chore(release): Bump versions (website to 0.2.255) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(web): decode percent-encoded slug for perush URL matching
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

fix(infra+web): quote-aware Lambda SQL parser, TOC styling, bump flip-book
  docs/aws/cloudformation/data-deploy/data-deploy-lambda.py
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/layout.css
Due: website

chore(web): bump website version to 0.2.256
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (website to 0.2.257) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(app): fix iOS build error and suppress platform-specific warnings
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Services/AnalyticsService.cs
Due: app

feat(web): scroll to article/perush in SEO view and book view
  web/bible-on-site/src/app/929/[number]/[slug]/ScrollToArticle.tsx
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToArticle.test.tsx
Due: website

fix(app): fix iOS build error and suppress platform-specific warnings (#1340)
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Services/AnalyticsService.cs
Due: app

feat(web): scroll to article/perush in SEO view and book view (#1341)
  web/bible-on-site/src/app/929/[number]/[slug]/ScrollToArticle.tsx
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToArticle.test.tsx
Due: website

fix(app): resolve warnings surfaced by TreatWarningsAsErrors
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

fix(app): fix null-forgiving operator placement for CS8604
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

fix(app): resolve warnings surfaced by TreatWarningsAsErrors (#1342)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

chore(release): Bump versions (website to 0.2.258) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (app to 5.0.38) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix: import library CSS for download dropdown, add health endpoint test
  .cursor/rules/ci-monitoring.mdc
  codecov.yml
  web/api/tests/e2e/apis/health.test.ts
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
Due: website

chore: add ensure-dev-db script, fix unused import lint
  web/bible-on-site/scripts/ensure-dev-db.mjs
Due: none

fix: embed Hebrew font for PDF export, fix WinAnsi encoding error
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/lib/download/fonts/Heebo-Regular.ttf
  web/bible-on-site/src/lib/download/tanach-pdf.ts
  web/bible-on-site/tests/unit/lib/tanach-pdf.test.ts
Due: website

fix: handle CJS/ESM interop for @pdf-lib/fontkit import
  web/bible-on-site/src/lib/download/tanach-pdf.ts
Due: website

fix: rewrite PDF generation — fix off-by-one, font, layout, add content
  web/bible-on-site/src/lib/download/fonts/FrankRuhlLibre-Bold.ttf
  web/bible-on-site/src/lib/download/fonts/FrankRuhlLibre-Regular.ttf
  web/bible-on-site/src/lib/download/fonts/Heebo-Regular.ttf
  web/bible-on-site/src/lib/download/tanach-pdf.ts
  web/bible-on-site/tests/unit/lib/tanach-pdf.test.ts
Due: website

fix(pdf): proper Hebrew rendering — word spacing, RTL visual, strip taamim, combined title+header
  jobs_deploy.json
  validate_lambda_parser.py
  web/bible-on-site/src/lib/download/tanach-pdf.ts
  web/bible-on-site/test_out.txt
  web/bible-on-site/test_results.json
  web/bible-on-site/tests/unit/lib/tanach-pdf.test.ts
Due: website

feat(bulletin): add Rust-based PDF generation service
  web/bible-on-site/src/lib/download/bulletin-client.ts
  web/bible-on-site/src/lib/download/register-tanach.ts
  web/bulletin/.gitignore
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/examples/generate_sample.rs
  web/bulletin/fonts/FrankRuhlLibre-Bold.ttf
  web/bulletin/fonts/FrankRuhlLibre-Regular.ttf
  web/bulletin/src/db.rs
  web/bulletin/src/handlers.rs
  web/bulletin/src/main.rs
  web/bulletin/src/models.rs
  web/bulletin/src/pdf.rs
  web/bulletin/src/services.rs
  web/bulletin/tests/pdf_integration.rs
Due: website

refactor(bulletin): Lambda handler + local dev auto-start + integration tests
  web/bible-on-site/.dev.env
  web/bible-on-site/package.json
  web/bible-on-site/scripts/start-bulletin.mjs
  web/bible-on-site/src/lib/download/bulletin-client.ts
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
  web/bulletin/.gitignore
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/fonts/FrankRuhlLibre-BoldItalic.ttf
  web/bulletin/fonts/FrankRuhlLibre-Italic.ttf
  web/bulletin/src/db.rs
  web/bulletin/src/handlers.rs
  web/bulletin/src/lib.rs
  web/bulletin/src/main.rs
  web/bulletin/src/models.rs
  web/bulletin/src/pdf.rs
  web/bulletin/src/services.rs
  web/bulletin/tests/pdf_integration.rs
Due: website

style: fix lint warnings in start-bulletin and bulletin-client test
  web/bible-on-site/scripts/start-bulletin.mjs
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
Due: none

fix(bulletin): load .dev.env in start-bulletin script
  web/bible-on-site/scripts/start-bulletin.mjs
Due: none

refactor(bulletin): on-demand subprocess instead of persistent server
  web/bible-on-site/package.json
  web/bible-on-site/scripts/start-bulletin.mjs
  web/bible-on-site/src/lib/download/bulletin-client.ts
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/src/handlers.rs
  web/bulletin/src/main.rs
Due: website

fix(app): prevent iOS 26 crash on launch from Firebase init failure
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Services/AnalyticsService.cs
Due: app

refactor(bulletin): replace genpdf with Typst engine for PDF generation
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/examples/generate_sample.rs
  web/bulletin/fonts/TaameyD-Regular.ttf
  web/bulletin/src/handlers.rs
  web/bulletin/src/pdf.rs
  web/bulletin/tests/pdf_integration.rs
Due: none

feat(bulletin): render HTML article content as formatted Typst markup
  web/bulletin/examples/generate_sample.rs
  web/bulletin/src/pdf.rs
Due: none

fix(authors): show perek source name instead of numeric ID on author page
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/authors/[authorParam]/page.tsx
Due: website

fix(ci): clean stale symlink entries when toggling flip-book to npm
  web/bible-on-site/package-lock.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
Due: none

fix: address CodeQL findings in ensure-dev-db and stripHtml
  web/bible-on-site/scripts/ensure-dev-db.mjs
  web/bible-on-site/src/lib/download/tanach-pdf.ts
Due: website

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
