Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

docs(agents): add Dependency & CI Maintenance rules from 2026-06 refresh
  .github/copilot-instructions.md
Due: none

docs(agents): add Dependency & CI Maintenance rules from 2026-06 refresh (#1676)
  .github/copilot-instructions.md
Due: none

chore(deps): bump @playwright/test 1.60.0 -> 1.61.0 (website) (#1674)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (website to 0.2.314) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): restore @emnapi admin lockfile and disable Dependabot
  .github/dependabot.yml
  web/admin/package-lock.json
Due: none

fix(ci): restore @emnapi admin lockfile and disable Dependabot (#1698)
  .github/dependabot.yml
  web/admin/package-lock.json
Due: none

chore(deps): consolidated dependency maintenance + hold incompatible majors
  devops/package-lock.json
  devops/package.json
  renovate.json
  web/api/Dockerfile
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (admin to 0.1.22) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

fix(app): suppress NU1903 for SQLitePCLRaw e_sqlite3 (CVE-2025-6965)
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(deps): consolidated dependency maintenance + hold incompatible majors (#1701)
  devops/package-lock.json
  devops/package.json
  renovate.json
  web/api/Dockerfile
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(app): suppress NU1903 for SQLitePCLRaw e_sqlite3 (CVE-2025-6965) (#1703)
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions (app to 5.0.74) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions (website to 0.2.316, api to 0.1.32) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

refactor(ci): normalize coverage-availability gates to non-inverted form
  .github/workflows/ci.yml
Due: none

fix(admin): restore @emnapi packages in lockfile to unbreak master CI
  web/admin/package-lock.json
Due: none

fix(admin): restore @emnapi packages in lockfile to unbreak master CI (#1705)
  web/admin/package-lock.json
Due: none

chore(release): Bump versions (admin to 0.1.23) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

feat(data): add coverage collection and reporting (#1591)
  .github/copilot-instructions.md
  .github/instructions/agent-practices.instructions.md
  .github/instructions/api-practices.instructions.md
  .github/instructions/app-deployment.instructions.md
  .github/instructions/app-practices.instructions.md
  .github/instructions/aws-workflows.instructions.md
  .github/instructions/flipbook-integration.instructions.md
  .github/instructions/general-practices.instructions.md
  .github/instructions/git-practices.instructions.md
  .github/instructions/github-issues.instructions.md
  .github/instructions/implementation-context.instructions.md
  .github/instructions/prefer-npm-scripts.instructions.md
  .github/instructions/testing-practices.instructions.md
  .github/instructions/user-does-not-execute.instructions.md
  .github/instructions/website-e2e-testing.instructions.md
  .github/instructions/website-practices.instructions.md
  .github/workflows/ci.yml
  codecov.yml
  data/Makefile.toml
  devops/merge-coverage.mts
  web/bible-on-site/tests/e2e/929/read-mode-toggle.test.ts
Due: data

chore(readme): replace stale Dependabot badge with Renovate
  README.md
Due: none

chore(release): Bump versions (website to 0.2.317) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(readme): replace stale Dependabot badge with Renovate (#1708)
  README.md
Due: none

fix(website): set NEXT_PUBLIC_ENV at build time so prod GA loads
  web/bible-on-site/Dockerfile
Due: none

fix(website): set NEXT_PUBLIC_ENV at build time so prod GA loads (#1712)
  web/bible-on-site/Dockerfile
Due: none

fix(ci): retain bulletin lambda release artifact 90 days (was 1)
  .github/workflows/ci.yml
Due: none

feat(api): external-AI Tanahpedia entry-revision interface
  data/mysql/tanahpedia_structure.sql
  docs/tanahpedia/README.md
  docs/tanahpedia/external-revision-api.md
  docs/tanahpedia/tanachpedia.dbml
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/src/tanahpedia/entry_revision.rs
  web/api/entities/src/tanahpedia/mod.rs
  web/api/src/common/auth.rs
  web/api/src/common/error_handling.rs
  web/api/src/common/mod.rs
  web/api/src/dtos/mod.rs
  web/api/src/dtos/tanahpedia_entry_revision.rs
  web/api/src/resolvers/mod.rs
  web/api/src/resolvers/tanahpedia_revisions_resolver.rs
  web/api/src/services/mod.rs
  web/api/src/services/tanahpedia_revisions_service.rs
  web/api/src/startup/schema_builder.rs
Due: api, data

fix(ci): retain bulletin lambda release artifact 90 days (was 1) (#1714)
  .github/workflows/ci.yml
Due: none

chore(release): Bump versions (website to 0.2.318) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(api): apply Tanahpedia entry revisions (authorized)
  docs/tanahpedia/external-revision-api.md
  web/api/src/common/auth.rs
  web/api/src/dtos/tanahpedia_entry_revision.rs
  web/api/src/resolvers/tanahpedia_revisions_resolver.rs
  web/api/src/services/tanahpedia_revisions_service.rs
Due: api

chore(release): Bump versions (website to 0.2.322, app to 5.0.75) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

chore(bulletin): re-release 0.1.7 -> 0.1.8 to restore CD
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

chore(bulletin): re-release 0.1.7 -> 0.1.8 to restore CD (#1721)
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

fix(admin): restore @emnapi/core + runtime in lockfile (npm ci)
  web/admin/package-lock.json
Due: none

chore(release): Bump versions (bulletin to 0.1.9) [skip ci]
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

fix(admin): restore @emnapi/core + runtime in lockfile (npm ci) (#1724)
  web/admin/package-lock.json
Due: none

chore(release): Bump versions (admin to 0.1.24) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

fix(app): perushim UX — refresh on return, settings CTA, download progress
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  app/BibleOnSite/ViewModels/PreferencesViewModel.cs
Due: app

fix(deps): apply #1723 safe bumps, hold monocart-reporter (Website CI)
  .github/workflows/cd-aws.yml
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
  data/Cargo.lock
  renovate.json
  web/api/Cargo.lock
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app, data

fix(deps): hold @playwright/test 1.61.0 (real Website CI breaker)
  renovate.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(deps): apply #1723 safe bumps, hold monocart-reporter (fixes Website CI) (#1727)
  .github/workflows/cd-aws.yml
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
  data/Cargo.lock
  renovate.json
  web/api/Cargo.lock
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app, data

fix(app): address review — gate perushim CTA on catalog, notify on Load, log full ex
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  app/BibleOnSite/ViewModels/PreferencesViewModel.cs
Due: app

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
