Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

chore(release): Bump versions (website to 0.2.380, api to 0.1.60) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(tanahpedia): collapse family-tree matrix into vertical mother-grouped stack on mobile
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/e2e/tanahpedia-family-tree.test.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

fix(tanahpedia): reflow sibling row and spouse-only rail to avoid mobile overflow
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/e2e/tanahpedia-family-tree.test.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

test(tanahpedia): assert only data-independent no-overflow for spouse rail
  web/bible-on-site/tests/e2e/tanahpedia-family-tree.test.ts
Due: none

chore(release): Bump versions (website to 0.2.382, app to 5.0.89) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

feat(tanahpedia): generalized vertical family-tree preset on small screens
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/e2e/tanahpedia-family-tree.test.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

feat(tanahpedia): generalized vertical family-tree preset on small screens (#1826)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/e2e/tanahpedia-family-tree.test.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.385) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (website to 0.2.387) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(admin): resync package-lock and pin Docker node to the held engines range
  .github/copilot-instructions.md
  web/admin/Dockerfile
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/Dockerfile
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

ci: catch lockfile desyncs on feature branches with the packaging npm
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  web/admin/Dockerfile
  web/bible-on-site/Dockerfile
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(admin): resync package-lock and pin Docker node to the held engines range (#1831)
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  web/admin/package-lock.json
Due: none

chore(release): Bump versions (admin to 0.1.85) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

feat(tanahpedia): make prod copy the canonical local seed
  .github/instructions/tanahpedia-practices.instructions.md
  data/README.md
  devops/setup-dev-env.mts
Due: data

chore(vscode): exclude sync-temp, build, and cache dirs from explorer
  .vscode/settings.json
Due: none

docs(tanahpedia): forbid agent-authored entry content; metadata only
  .github/instructions/tanahpedia-practices.instructions.md
Due: none

feat(tanahpedia): family tree source visibility + pasuk hover preview
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/api/tanah/pasuk/[perekId]/[pasuk]/route.ts
  web/bible-on-site/src/app/tanahpedia/components/PasukPreviewLink.tsx
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/app/tanahpedia/components/pasuk-preview-link.module.css
  web/bible-on-site/src/lib/tanach/pasuk-plain-text.ts
  web/bible-on-site/src/lib/tanahpedia/tanach-citation-links.tsx
  web/bible-on-site/tests/unit/app/api/tanah-pasuk-route.test.ts
  web/bible-on-site/tests/unit/components/PasukPreviewLink.test.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/lib/pasuk-plain-text.test.ts
Due: website

feat(tanahpedia): perush citations preview the perush note on hover
  web/bible-on-site/src/app/api/tanah/pasuk/[perekId]/[pasuk]/route.ts
  web/bible-on-site/src/app/tanahpedia/components/PasukPreviewLink.tsx
  web/bible-on-site/src/app/tanahpedia/components/pasuk-preview-link.module.css
  web/bible-on-site/tests/unit/app/api/tanah-pasuk-route.test.ts
  web/bible-on-site/tests/unit/components/PasukPreviewLink.test.tsx
Due: website

fix(tanahpedia): center width-capped child cards on the column connector
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
Due: website

fix(tanahpedia): make the vertical spine continuous in the stacked layout
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
Due: website

fix(tanahpedia): make the horizontal sibling line continuous
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
Due: website

test(tanahpedia): close patch coverage gaps; add coverage-gaps and tanahpedia-apply tasks
  .github/instructions/general-practices.instructions.md
  .github/instructions/tanahpedia-practices.instructions.md
  .github/instructions/testing-practices.instructions.md
  devops/package.json
  devops/tanahpedia-apply.mjs
  web/bible-on-site/package.json
  web/bible-on-site/scripts/coverage-gaps.mjs
  web/bible-on-site/src/app/tanahpedia/components/PasukPreviewLink.tsx
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/app/api/tanah-pasuk-route.test.ts
  web/bible-on-site/tests/unit/components/PasukPreviewLink.test.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/lib/tanach-citation-links.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.389) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

docs(git): prefer branches by default, never clone, worktrees only on explicit request
  .github/instructions/git-practices.instructions.md
Due: none

feat(website): rename tanahpedia entry route to /pedia and add to sitemap
  docs/plans/tanahpedia-family-edge-lab.md
  docs/tanahpedia/implementation-plan.md
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/TanahpediaLink.tsx
  web/bible-on-site/src/app/pedia/[uniqueName]/page.tsx
  web/bible-on-site/src/app/pedia/layout.tsx
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/app/tanahpedia/components/EntityListItem.tsx
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/app/tanahpedia/components/PlacesMapClient.tsx
  web/bible-on-site/src/app/tanahpedia/components/TanahpediaBreadcrumb.tsx
  web/bible-on-site/src/app/tanahpedia/page.tsx
  web/bible-on-site/tests/e2e/sitemap.test.ts
  web/bible-on-site/tests/e2e/tanahpedia-family-tree.test.ts
  web/bible-on-site/tests/unit/app/pedia-page.test.ts
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
  web/bible-on-site/tests/unit/components/EntityListItem.test.tsx
  web/bible-on-site/tests/unit/components/PasukPreviewLink.test.tsx
  web/bible-on-site/tests/unit/components/TanahpediaBreadcrumb.test.tsx
  web/bible-on-site/tests/unit/components/TanahpediaLink.test.tsx
Due: website

feat(website): rename tanahpedia entry route to /pedia and add to sitemap (#1835)
  .github/instructions/git-practices.instructions.md
  docs/plans/tanahpedia-family-edge-lab.md
  docs/tanahpedia/implementation-plan.md
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/TanahpediaLink.tsx
  web/bible-on-site/src/app/pedia/[uniqueName]/page.tsx
  web/bible-on-site/src/app/pedia/layout.tsx
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/app/tanahpedia/components/EntityListItem.tsx
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/app/tanahpedia/components/PlacesMapClient.tsx
  web/bible-on-site/src/app/tanahpedia/components/TanahpediaBreadcrumb.tsx
  web/bible-on-site/src/app/tanahpedia/page.tsx
  web/bible-on-site/tests/e2e/sitemap.test.ts
  web/bible-on-site/tests/e2e/tanahpedia-family-tree.test.ts
  web/bible-on-site/tests/unit/app/pedia-page.test.ts
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
  web/bible-on-site/tests/unit/components/EntityListItem.test.tsx
  web/bible-on-site/tests/unit/components/PasukPreviewLink.test.tsx
  web/bible-on-site/tests/unit/components/TanahpediaBreadcrumb.test.tsx
  web/bible-on-site/tests/unit/components/TanahpediaLink.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.391) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore: enforce LF line endings repo-wide via .gitattributes
  .gitattributes
Due: none

docs: note LF line-ending policy and biome lint-only usage
  .github/instructions/website-practices.instructions.md
Due: none

chore: enforce LF line endings repo-wide via .gitattributes (#1836)
  .gitattributes
  .github/instructions/website-practices.instructions.md
Due: none

ci: migrate CodeQL from default to advanced setup
  .github/workflows/codeql.yml
Due: none

ci: migrate CodeQL from default to advanced setup (#1837)
  .github/workflows/codeql.yml
Due: none

docs(seo): add JSON-LD structured-data plan for Tanahpedia + bible-on-site
  docs/plans/tanahpedia-jsonld.md
Due: none

feat(seo): JSON-LD foundation — site graph, sanitizer, lang/dir, metadataBase
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/components/JsonLd.tsx
  web/bible-on-site/src/app/layout.tsx
  web/bible-on-site/src/lib/seo/jsonld.ts
  web/bible-on-site/tests/unit/lib/seo/jsonld.test.ts
Due: website

feat(seo): meaty Tanahpedia entry JSON-LD graph (DefinedTerm + entity + family tree)
  web/bible-on-site/src/app/pedia/[uniqueName]/page.tsx
  web/bible-on-site/src/lib/seo/tanahpedia-jsonld.ts
  web/bible-on-site/tests/unit/lib/seo/tanahpedia-jsonld.test.ts
Due: website

feat(seo): Tanahpedia landing + category JSON-LD (DefinedTermSet, CollectionPage, ItemList)
  web/bible-on-site/src/app/tanahpedia/[entityType]/page.tsx
  web/bible-on-site/src/app/tanahpedia/page.tsx
  web/bible-on-site/src/lib/seo/tanahpedia-jsonld.ts
  web/bible-on-site/tests/unit/lib/seo/tanahpedia-jsonld.test.ts
Due: website

feat(seo): thin JSON-LD for 929 core — Chapter, Article, perush, author graphs
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/page.tsx
  web/bible-on-site/src/app/929/authors/page.tsx
  web/bible-on-site/src/lib/seo/core-jsonld.ts
  web/bible-on-site/src/lib/seo/jsonld.ts
  web/bible-on-site/src/lib/seo/tanahpedia-jsonld.ts
  web/bible-on-site/tests/unit/app/author-param-page.test.ts
  web/bible-on-site/tests/unit/lib/seo/core-jsonld.test.ts
Due: website

test(seo): e2e JSON-LD assertions on key routes + tighten foundation test types
  web/bible-on-site/tests/e2e/jsonld.test.ts
  web/bible-on-site/tests/unit/lib/seo/jsonld.test.ts
Due: none

fix(seo): harden HTML tag stripping against unterminated tags (CodeQL)
  web/bible-on-site/src/lib/seo/jsonld.ts
  web/bible-on-site/tests/unit/lib/seo/jsonld.test.ts
  web/bible-on-site/tests/unit/lib/seo/tanahpedia-jsonld.test.ts
Due: website

test(seo): cover remaining JSON-LD builder branches
  web/bible-on-site/tests/unit/lib/seo/core-jsonld.test.ts
  web/bible-on-site/tests/unit/lib/seo/tanahpedia-jsonld.test.ts
Due: none
