Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

test(app): split iOS perushim scroll storm into gated bursts
  app/BibleOnSite.Tests.MobileE2E/PerushimHtmlScrollStabilityTests.cs
Due: none

fix(docker): inline rust image tag so Renovate can autoReplace it (#2055)
  devops/coverage/lcov-docker/Dockerfile
  web/api/Dockerfile
  web/bulletin/Dockerfile
Due: none

Animate the reader search chip and justify RTL commentary
  app/BibleOnSite.Tests.E2E/Pages/FloatingSearchBarTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite/Controls/FloatingSearchBar.xaml
  app/BibleOnSite/Controls/FloatingSearchBar.xaml.cs
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/MacCatalyst/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
  app/mobile-e2e/README.md
  app/mobile-e2e/run.mjs
Due: app

chore(renovate): freeze recitation pipeline requirements
  renovate.json
Due: none

test(app): rebalance iOS perushim scroll storm to fit hang budget
  app/BibleOnSite.Tests.MobileE2E/PerushimHtmlScrollStabilityTests.cs
Due: none

Rebuild search caches without reserved SQLite shadow table names
  app/BibleOnSite.Tests/Services/SearchIndexServiceTests.cs
  app/BibleOnSite/Services/SearchIndexService.cs
Due: app

chore(renovate): freeze recitation pipeline requirements (#2058)
  renovate.json
Due: none

chore(release): Bump versions (api to 0.1.71, bulletin to 0.1.31) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

Introduce search with a centered blue chapter chip and native iOS Back priority
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

Fix mobile platform validation and SDK installer discovery
  .github/workflows/app-mobile-e2e.yml
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

test(app): cut perushim storm AX load to fit blame-hang budget
  app/BibleOnSite.Tests.MobileE2E/PerushimHtmlScrollStabilityTests.cs
Due: none

App: implement revised reader menu — קריינות checkbox, justified tikkun flow
  app/BibleOnSite.Tests/Helpers/TikkunFlowLayoutTests.cs
  app/BibleOnSite.Tests/Helpers/TikkunKorimTextBuilderTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelReadingModesTests.cs
  app/BibleOnSite/Controls/TikkunFlowView.cs
  app/BibleOnSite/Converters/TikkunTextConverter.cs
  app/BibleOnSite/Helpers/TikkunFlowLayout.cs
  app/BibleOnSite/Helpers/TikkunKorimTextBuilder.cs
  app/BibleOnSite/Models/TikkunWord.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

Install the Linux runtime required by the Android emulator
  .github/workflows/app-mobile-e2e.yml
Due: none

Website: fix perush deep-link nav clearance and carousel link selectors
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/tests/e2e/929/sefer-view/commentary-navigation.test.ts
Due: website

App: address Codacy warnings — overloads over optional params, guard redundant invalidation
  app/BibleOnSite/Controls/TikkunFlowView.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

fix(app): resolve Codacy findings and cover synthetic perushim provider
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite.Tests/Services/SyntheticPerushimProviderTests.cs
  app/BibleOnSite/Helpers/HtmlRuns.cs
Due: app

Website: cover numeric and unknown named entities in plainText tests
  web/bible-on-site/tests/unit/lib/seo/tanahpedia-jsonld.test.ts
Due: none

chore(release): Bump versions (website to 0.2.482) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Keep chapter heading below search dropdown and discard stale Apple renders
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite/Controls/FloatingSearchBar.xaml.cs
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/MacCatalyst/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
Due: app

App: cover converter, flow-view properties, and recitation-availability edge cases
  app/BibleOnSite.Tests/Controls/TikkunFlowViewTests.cs
  app/BibleOnSite.Tests/Converters/PasukDisplayItemsConverterTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelReadingModesTests.cs
Due: none

Use braced guards in Apple commentary handlers
  app/BibleOnSite/Platforms/MacCatalyst/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
Due: app

App: exercise the tikkun drawable and strip remaining coverage gaps
  app/BibleOnSite.Tests/Controls/TikkunFlowViewTests.cs
  app/BibleOnSite.Tests/Helpers/TikkunKorimTextBuilderTests.cs
  app/BibleOnSite/Controls/TikkunFlowView.cs
Due: app

style(app): annotate default clause to satisfy Codacy
  app/BibleOnSite/Helpers/HtmlRuns.cs
Due: app

Website: harden plainText entities and let modifier-clicks navigate
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/PerushimSection.tsx
  web/bible-on-site/src/lib/seo/jsonld.ts
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
  web/bible-on-site/tests/unit/components/PerushimSection.test.tsx
  web/bible-on-site/tests/unit/lib/seo/tanahpedia-jsonld.test.ts
Due: website

Replace search dropdown with full search page, bottom sheets and recent queries
  app/BibleOnSite.Tests.E2E/Pages/FloatingSearchBarTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Helpers/SearchSelectionSummaryTests.cs
  app/BibleOnSite.Tests/Services/SearchHistoryServiceTests.cs
  app/BibleOnSite.Tests/Services/SearchIndexServiceTests.cs
  app/BibleOnSite/Controls/FloatingSearchBar.Filters.cs
  app/BibleOnSite/Controls/FloatingSearchBar.xaml
  app/BibleOnSite/Controls/FloatingSearchBar.xaml.cs
  app/BibleOnSite/Helpers/SearchSelectionSummary.cs
  app/BibleOnSite/Models/SearchResult.cs
  app/BibleOnSite/Models/SearchSort.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/SearchHistoryService.cs
  app/BibleOnSite/Services/SearchIndexService.cs
  app/BibleOnSite/ViewModels/SearchViewModel.cs
Due: app

refactor(app): extract e2e perushim hook and exclude from unit coverage
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

Website: perush content on top + SEO for articles/perushim (#2050)
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/PerushimSection.tsx
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/seo/core-jsonld.ts
  web/bible-on-site/src/lib/seo/jsonld.ts
  web/bible-on-site/tests/e2e/929/sefer-view/commentary-navigation.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/PerushimSection.test.tsx
  web/bible-on-site/tests/unit/lib/seo/core-jsonld.test.ts
  web/bible-on-site/tests/unit/lib/seo/tanahpedia-jsonld.test.ts
Due: website

Keep search sheets translucent and reuse generated history serialization
  app/BibleOnSite/Controls/FloatingSearchBar.xaml
  app/BibleOnSite/Models/AppJsonContext.cs
  app/BibleOnSite/Services/SearchHistoryService.cs
  app/BibleOnSite/Services/SearchIndexService.cs
Due: app

App: add שניים מקרא and תיקון קוראים reading modes to a reader menu (#2051)
  app/BibleOnSite.Tests/Controls/TikkunFlowViewTests.cs
  app/BibleOnSite.Tests/Converters/PasukDisplayItemsConverterTests.cs
  app/BibleOnSite.Tests/Helpers/PasukDisplayItemsTests.cs
  app/BibleOnSite.Tests/Helpers/TikkunFlowLayoutTests.cs
  app/BibleOnSite.Tests/Helpers/TikkunKorimTextBuilderTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelReadingModesTests.cs
  app/BibleOnSite/Controls/TikkunFlowView.cs
  app/BibleOnSite/Converters/PasukDisplayItemsConverter.cs
  app/BibleOnSite/Helpers/PasukDisplayItems.cs
  app/BibleOnSite/Helpers/TikkunFlowLayout.cs
  app/BibleOnSite/Helpers/TikkunKorimTextBuilder.cs
  app/BibleOnSite/Models/PasukDisplayItem.cs
  app/BibleOnSite/Models/TikkunWord.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

Restore daily bulletin preparation and article eligibility
  data/mysql/db-populator/src/main.rs
  data/mysql/tanah_daily_bulletin_upgrade.sql
  data/mysql/tanah_dynamic_structure.sql
  devops/deploy/data-deploy/sql-files.json
  docs/aws/cloudformation/ecs-services.yaml
  docs/daily-bulletin/daily-bulletin.md
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/DailyBulletinPage.tsx
  web/admin/src/lib/daily-bulletin.ts
  web/admin/src/routeTree.gen.ts
  web/admin/src/routes/__root.tsx
  web/admin/src/routes/articles.$id.tsx
  web/admin/src/routes/bulletins.tsx
  web/admin/src/server/articles.ts
  web/admin/src/server/daily-bulletins.server.ts
  web/admin/src/server/daily-bulletins.ts
  web/admin/src/server/render-daily.server.ts
  web/admin/src/server/tanahpedia/llm-assistant.ts
  web/admin/src/server/tanahpedia/revisions.ts
  web/admin/tests/unit/components/DailyBulletinPage.test.tsx
  web/admin/tests/unit/lib/daily-bulletin.test.ts
  web/admin/tests/unit/server/article-eligibility.test.ts
  web/admin/tests/unit/server/daily-bulletins.test.ts
  web/admin/tests/unit/server/render-daily.test.ts
  web/admin/tests/unit/server/tanahpedia/revisions.test.ts
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/src/daily.rs
  web/bulletin/src/handlers.rs
  web/bulletin/src/lib.rs
  web/bulletin/src/pdf.rs
Due: data

Bound cold Appium startup separately from HTTP readiness probes
  app/mobile-e2e/appium-readiness.mjs
  app/mobile-e2e/appium-readiness.test.mjs
  app/mobile-e2e/run.mjs
Due: none

Retain cross-platform optional dependencies in admin lockfile
  web/admin/package-lock.json
Due: none

test(app): rebuild the mobile E2E session once when the device transport drops
  app/BibleOnSite.Tests.MobileE2E/Configuration/DeviceSessionDeathTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/DeviceSessionRecoveryTests.cs
  app/BibleOnSite.Tests.MobileE2E/DeviceSessionDeath.cs
  app/BibleOnSite.Tests.MobileE2E/IosReaderTests.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceTest.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerekScrollStabilityTests.cs
Due: none

Test daily preview command and saved dedication handling
  web/admin/tests/unit/components/DailyBulletinPage.test.tsx
  web/admin/tests/unit/server/daily-bulletins.test.ts
  web/bulletin/tests/daily_cli.rs
Due: none

chore(release): Bump versions (website to 0.2.483, api to 0.1.72, bulletin to 0.1.32) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

chore(release): Bump versions (admin to 0.1.113) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

Handle native CLI arguments and MySQL analyzer dialect
  .codacy.yml
  web/bulletin/src/handlers.rs
Due: none

test(app): rebuild the mobile E2E session once when the device transport drops (#2062)
  app/BibleOnSite.Tests.MobileE2E/Configuration/DeviceSessionDeathTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/DeviceSessionRecoveryTests.cs
  app/BibleOnSite.Tests.MobileE2E/DeviceSessionDeath.cs
  app/BibleOnSite.Tests.MobileE2E/IosReaderTests.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceTest.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerekScrollStabilityTests.cs
Due: none

Document preview CLI argument audit exception
  web/bulletin/src/handlers.rs
Due: none
