Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 5%
      api:
        target: 95%
        flags:
          - api
      app:
        target: 60%
        flags:
          - app
      website:
        target: 92%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: 60%
        threshold: 5%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

chore(release): Bump versions (website to 0.2.259, api to 0.1.23) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore: add clean-workdir rule + tests for download error handling
  .cursor/rules/git-practices.mdc
  web/bible-on-site/tests/unit/app/actions.test.ts
Due: none

chore(bulletin): add remaining Taamey font variants for PDF rendering
  web/bulletin/fonts/TaameyD-Bold.ttf
  web/bulletin/fonts/TaameyD-BoldItalic.ttf
  web/bulletin/fonts/TaameyD-Italic.ttf
  web/bulletin/fonts/TaameyFrankCLM-Bold.ttf
  web/bulletin/fonts/TaameyFrankCLM-BoldItalic.ttf
  web/bulletin/fonts/TaameyFrankCLM-Italic.ttf
  web/bulletin/fonts/TaameyFrankCLM-Regular.ttf
Due: none

test(web): improve tanach-pdf coverage with page overflow test
  web/bible-on-site/src/lib/download/tanach-pdf.ts
  web/bible-on-site/tests/unit/lib/tanach-pdf.test.ts
Due: website

fix: resolve CI failures from dependency updates
  data/Cargo.lock
  data/Cargo.toml
  data/mysql/db-populator/Cargo.toml
  data/mysql/db-populator/src/main.rs
  web/admin/src/server/db.ts
  web/bible-on-site/biome.json
  web/bible-on-site/src/app/components/Bookshelf/book-demo.html
Due: website, data

fix(admin+web): adapt mysql2 pool.execute calls for v3.17 QueryValues type
  web/admin/src/server/db.ts
  web/bible-on-site/src/lib/api-client.ts
Due: website

test(web): fix Codecov partial-branch gaps in tanach-pdf
  web/bible-on-site/src/lib/download/tanach-pdf.ts
  web/bible-on-site/tests/unit/lib/tanach-pdf.test.ts
Due: website

merge: consolidate all open dependency PRs + coverage improvements (#1358)
  .cursor/rules/git-practices.mdc
  .github/workflows/cd-aws.yml
  .github/workflows/cd-data.yml
  .nvmrc
  .pre-commit-config.yaml
  app/.config/dotnet-tools.json
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/_build.csproj
  data/Cargo.lock
  data/Cargo.toml
  data/mysql/db-populator/Cargo.toml
  data/mysql/db-populator/src/main.rs
  data/s3/s3-populator/Cargo.toml
  devops/package-lock.json
  devops/package.json
  package-lock.json
  web/admin/package-lock.json
  web/admin/src/server/db.ts
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/Dockerfile
  web/bible-on-site/biome.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/components/Bookshelf/book-demo.html
  web/bible-on-site/src/lib/api-client.ts
  web/bible-on-site/src/lib/download/tanach-pdf.ts
  web/bible-on-site/tests/unit/app/actions.test.ts
  web/bible-on-site/tests/unit/lib/tanach-pdf.test.ts
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/fonts/TaameyD-Bold.ttf
  web/bulletin/fonts/TaameyD-BoldItalic.ttf
  web/bulletin/fonts/TaameyD-Italic.ttf
  web/bulletin/fonts/TaameyFrankCLM-Bold.ttf
  web/bulletin/fonts/TaameyFrankCLM-BoldItalic.ttf
  web/bulletin/fonts/TaameyFrankCLM-Italic.ttf
  web/bulletin/fonts/TaameyFrankCLM-Regular.ttf
Due: app, website, data

chore(release): Bump versions (website to 0.2.261, api to 0.1.25) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

test(web): improve coverage — ignore defensive branches, add tests
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/tests/unit/app/api/health.test.ts
  web/bible-on-site/tests/unit/lib/api-client.test.ts
Due: website

fix(admin,web): suppress Codacy SQL injection false positives
  web/admin/src/server/db.ts
  web/bible-on-site/src/lib/api-client.ts
Due: website

fix: restore dropped agent-practices rules (Monitor + Own Your Work)
  .cursor/rules/agent-practices.mdc
Due: none

test(web)+fix(admin): improve coverage + suppress Codacy false positives (#1361)
  web/admin/src/server/db.ts
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/lib/api-client.ts
  web/bible-on-site/tests/unit/app/api/health.test.ts
  web/bible-on-site/tests/unit/lib/api-client.test.ts
Due: website

chore(release): Bump versions (website to 0.2.262) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

refactor(web): extract Sefer page utils + boost merged coverage to ~98.5%
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-page-utils.ts
  web/bible-on-site/src/app/components/Bookshelf/BookshelfModal.tsx
  web/bible-on-site/tests/unit/app/api/health.test.ts
  web/bible-on-site/tests/unit/components/BookshelfModal.test.tsx
  web/bible-on-site/tests/unit/components/sefer-page-utils.test.ts
Due: website

fix: dependency review whitelists, admin lint setup, Bookshelf type safety
  .github/workflows/dependency-review.yml
  .husky/pre-commit
  codecov.yml
  web/admin/biome.json
  web/admin/src/server/db.ts
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
Due: website

fix(e2e): stabilize read-mode-toggle test
  web/bible-on-site/src/app/929/[number]/components/ReadModeToggler.tsx
  web/bible-on-site/src/app/929/[number]/components/read-mode-toggler.module.css
  web/bible-on-site/tests/e2e/929/read-mode-toggle.test.ts
  web/bible-on-site/tests/util/playwright/page-objects/sefer-page.ts
Due: website

chore(release): Bump versions (website to 0.2.264) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (website to 0.2.266) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

test(web): add Sefer render tests + remove BookshelfModal dead code
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/components/Bookshelf/BookshelfModal.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
Due: website

fix(app): improve CarouselView swipe sensitivity to prevent accidental perek switches
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Platforms/Android/Listeners/VerticalScrollPriorityListener.cs
  app/BibleOnSite/Services/PadDeliveryService.cs
  docs/bot_on_site/README.md
  docs/bot_on_site/integration-plan.md
Due: app

fix: dependency review whitelists, admin lint setup, Bookshelf type safety (#1363)
  .github/workflows/dependency-review.yml
  .husky/pre-commit
  codecov.yml
  web/admin/biome.json
  web/admin/src/server/db.ts
  web/bible-on-site/src/app/929/[number]/components/ReadModeToggler.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/read-mode-toggler.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer-page-utils.ts
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/BookshelfModal.tsx
  web/bible-on-site/tests/e2e/929/read-mode-toggle.test.ts
  web/bible-on-site/tests/unit/app/api/health.test.ts
  web/bible-on-site/tests/unit/components/BookshelfModal.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/sefer-page-utils.test.ts
  web/bible-on-site/tests/util/playwright/page-objects/sefer-page.ts
Due: website

fix(app): use ShortAbstract for article detail title to match list view
  app/BibleOnSite/ViewModels/ArticleDetailViewModel.cs
Due: app

fix(app): extend iOS bottom bar to physical screen edge past safe area
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

feat(bulletin): add CI/CD pipeline, coverage, and infrastructure
  .github/workflows/cd-bulletin.yml
  .github/workflows/ci.yml
  .husky/pre-commit
  .husky/shared-checks.sh
  README.md
  codecov.yml
  devops/deploy/bulletin-deploy/index.mts
  devops/get-module-version.ts
  devops/github/ci/is-version-newer-than-baseline.ts
  devops/github/release/get-version.ts
  devops/package.json
  devops/setup-dev-env.mts
  docs/aws/cloudformation/bulletin-lambda/bulletin-lambda.yaml
  web/api/Dockerfile
  web/api/src/services/perakim_service.rs
  web/api/src/startup/telemetry.rs
  web/bulletin/.config/nextest.toml
  web/bulletin/Dockerfile
  web/bulletin/Makefile.toml
  web/bulletin/examples/generate_sample.rs
  web/bulletin/src/handlers.rs
  web/bulletin/src/pdf.rs
  web/bulletin/tests/pdf_integration.rs
Due: api

fix(e2e): stabilize read-mode-toggle OFF test
  web/bible-on-site/tests/e2e/929/read-mode-toggle.test.ts
Due: none

feat(ios): deliver perushim notes via Apple On-Demand Resources (ODR)
  .github/workflows/app-package.yml
  app/.gitignore
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Platforms/iOS/Assets/PerushimNotes.xcassets/Contents.json
  app/BibleOnSite/Platforms/iOS/Assets/PerushimNotes.xcassets/perushim_notes.dataset/Contents.json
  app/BibleOnSite/Services/IPadDeliveryService.cs
  app/BibleOnSite/Services/PadDeliveryService.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
Due: app

fix(ios): RTL layout for pesukim + visible article selection highlight
  app/BibleOnSite/Pages/PerekPage.xaml
Due: app

fix(test): update ArticleName test to expect ShortAbstract
  app/BibleOnSite.Tests/ViewModels/ArticleDetailViewModelTests.cs
Due: none

fix(test): set Abstract (not read-only ShortAbstract) in test
  app/BibleOnSite.Tests/ViewModels/ArticleDetailViewModelTests.cs
Due: none

fix(ci): correct bulletin coverage download path
  .github/workflows/ci.yml
Due: none

fix(ci): increase Codecov verification timeout from 100s to 200s
  .github/workflows/ci.yml
Due: none

fix(ci): improve Codecov verification with exponential backoff and debug logging
  .github/workflows/ci.yml
  codecov.yml
Due: none

fix(ci): add HTTP status code checking and full response logging to Codecov verification
  .github/workflows/ci.yml
Due: none

fix(ci): check Codecov ci_passed directly instead of waiting for state==complete
  .github/workflows/ci.yml
Due: none

feat(bulletin): CI/CD pipeline, coverage, Rust 1.93.1 (#1369)
  .github/workflows/cd-bulletin.yml
  .github/workflows/ci.yml
  .husky/pre-commit
  .husky/shared-checks.sh
  README.md
  codecov.yml
  devops/deploy/bulletin-deploy/index.mts
  devops/get-module-version.ts
  devops/github/ci/is-version-newer-than-baseline.ts
  devops/github/release/get-version.ts
  devops/package.json
  devops/setup-dev-env.mts
  docs/aws/cloudformation/bulletin-lambda/bulletin-lambda.yaml
  web/api/Dockerfile
  web/api/src/services/perakim_service.rs
  web/api/src/startup/telemetry.rs
  web/bible-on-site/tests/e2e/929/read-mode-toggle.test.ts
  web/bulletin/.config/nextest.toml
  web/bulletin/Dockerfile
  web/bulletin/Makefile.toml
  web/bulletin/examples/generate_sample.rs
  web/bulletin/src/handlers.rs
  web/bulletin/src/pdf.rs
  web/bulletin/tests/pdf_integration.rs
Due: api

fix(bulletin): include bulletin/ in Docker build context
  web/.dockerignore
Due: none

fix(bulletin): include bulletin/ in Docker build context + handle null Codecov
  .github/workflows/ci.yml
Due: none
