Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 5%
      api:
        target: 95%
        flags:
          - api
      app:
        target: 60%
        flags:
          - app
      website:
        target: 92%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: 60%
        threshold: 5%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

fix: add sync and verification for mongodb data persistence in docker build
  data/sefaria/mongodb-docker/Dockerfile
Due: data

fix: remove deprecated --nojournal option for MongoDB 7.x compatibility
  data/sefaria/mongodb-docker/Dockerfile
Due: data

fix: enable aggressive disk space cleanup for MongoDB Docker image build
  .github/workflows/ci.yml
Due: none

fix: pass mongod command to docker-entrypoint.sh when no args provided
  data/sefaria/mongodb-docker/entrypoint.sh
Due: data

perf(ci): optimize Data CI runtime
  .github/workflows/ci.yml
Due: none

fix(ci): enable docker-images cleanup to prevent disk space exhaustion
  .github/workflows/ci.yml
Due: none

fix(ci): revert to uncompressed Docker image with proper disk cleanup
  .github/workflows/ci.yml
Due: none

feat(ci): cache Sefaria MongoDB Docker image across workflow runs
  .github/workflows/ci.yml
Due: none

perf(ci): optimize MongoDB caching - eliminate redundant download/re-upload
  .github/workflows/ci.yml
Due: none

fix(ci): revert large-packages: false - not enough disk space
  .github/workflows/ci.yml
Due: none

fix(ci): use name query param for artifact lookup to avoid pagination
  .github/workflows/ci.yml
Due: none

fix(ci): move Free Disk Space to start of data_ci before Rust cache restore
  .github/workflows/ci.yml
Due: none

fix(ci): enable swap-storage cleanup in data_ci to match build job
  .github/workflows/ci.yml
Due: none

fix(ci): remove zip artifact before docker load to free ~5GB
  .github/workflows/ci.yml
Due: none

feat(cd): create unique MS Store flight per deployment
  .github/workflows/cd-app.yml
  app/devops/Build.Deploy.cs
Due: none

chore(app): bump version to 4.0.22 for CD fix deployment
  .gitignore
  app/.nuke/build.schema.json
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump app version to 4.0.23 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): set MSIX revision to 0 for Microsoft Store compliance
  app/devops/Build.Package.cs
Due: none

chore(release): Bump app version to 4.0.24 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore: add MCP config and agent definitions [skip ci]
  .github/agents/Data.agent.md
  .github/agents/Default.agent.md
  .github/agents/DevOps.agent.md
  .github/agents/Tester.agent.md
  .vscode/mcp.json
Due: none

fix(app): use store-reserved display name for Windows MSIX
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump app version to 4.0.25 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

feat(app): add masonry layouts, search, and improved navigation
  .gitignore
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/ViewModels/ArticlesViewModelTests.cs
  app/BibleOnSite.Tests/ViewModels/AuthorsViewModelTests.cs
  app/BibleOnSite.Tests/ViewModels/NavigationTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelTests.cs
  app/BibleOnSite.Tests/ViewModels/SearchViewModelTests.cs
  app/BibleOnSite/App.xaml
  app/BibleOnSite/Converters/ZeroToTrueConverter.cs
  app/BibleOnSite/Data/SefarimData.cs
  app/BibleOnSite/Models/SearchFilter.cs
  app/BibleOnSite/Models/SearchResult.cs
  app/BibleOnSite/Pages/ArticlesPage.xaml
  app/BibleOnSite/Pages/ArticlesPage.xaml.cs
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Pages/AuthorsPage.xaml.cs
  app/BibleOnSite/Services/ArticleService.cs
  app/BibleOnSite/ViewModels/ArticlesViewModel.cs
  app/BibleOnSite/ViewModels/AuthorsViewModel.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  app/BibleOnSite/ViewModels/SearchViewModel.cs
  app/devops/Build.Compile.cs
  app/devops/Build.Run.cs
  web/bible-on-site/public/icons/envelope.svg
  web/bible-on-site/public/icons/phone.svg
  web/bible-on-site/public/icons/telegram.svg
  web/bible-on-site/src/app/[section]/page.tsx
  web/bible-on-site/src/app/components/ContactSection.module.css
  web/bible-on-site/src/app/components/ContactSection.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/navbar.module.css
Due: app, website

feat(app): add ArticleDetailPage for viewing article content
  README.md
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/ViewModels/ArticleDetailViewModelTests.cs
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/ArticleDetailPage.xaml.cs
  app/BibleOnSite/Services/ArticleService.cs
  app/BibleOnSite/ViewModels/ArticleDetailViewModel.cs
  docs/practices/implementation.md
  web/bible-on-site/src/app/[section]/page.tsx
  web/bible-on-site/src/app/components/ContactSection.module.css
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/ScrollToSection.tsx
  web/bible-on-site/src/app/globals.css
Due: app, website

fix(ci): add fetch-tags to version verification checkout
  .github/workflows/shared-verify-version.yml
Due: none

feat(app): implement Shell Flyout hamburger menu and fix Author display
  app/BibleOnSite/App.xaml
  app/BibleOnSite/App.xaml.cs
  app/BibleOnSite/AppShell.xaml
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/Converters/NotNullConverter.cs
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/ArticlesPage.xaml
  app/BibleOnSite/Pages/ArticlesPage.xaml.cs
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Services/ArticleService.cs
Due: app

chore(release): Bump app version to 4.0.26 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

feat(data): add MongoDB Docker image for CI integration tests (#1101)
  .github/workflows/ci.yml
  data/.config/nextest.toml
  data/Makefile.toml
  data/sefaria/mongodb-docker/.gitattributes
  data/sefaria/mongodb-docker/Dockerfile
  data/sefaria/mongodb-docker/README.md
  data/sefaria/mongodb-docker/entrypoint.sh
  docs/practices/general.md
  docs/tests/data/integration-tests.md
Due: data

fix(app): remove redundant toolbar buttons and cleanup XAML
  app/BibleOnSite/AppShell.xaml
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/ArticlesPage.xaml
  app/BibleOnSite/Pages/AuthorsPage.xaml
Due: app

chore(release): Bump app version to 4.0.27 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(devops): fix Android/iOS/Mac run targets - use dotnet build -t:Run
  app/devops/Build.Run.cs
Due: none

chore(release): Bump app version to 4.0.28 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

feat: add Terms of Service section and database static structure
  data/mysql/tanah_static_structure.sql
  web/bible-on-site/src/app/components/TosSection.module.css
  web/bible-on-site/src/app/components/TosSection.tsx
Due: website, data

feat: update app config, navbar, database structure, and styling
  .gitignore
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/Config/AppConfig.cs
  app/devops/Build.Run.cs
  data/mysql/db-populator/src/main.rs
  data/mysql/tanah_dynamic_structure.sql
  data/mysql/tanah_sefarim_and_perakim_data.sql
  data/mysql/tanah_structure.sql
  data/mysql/tanah_test_data.sql
  data/mysql/tanah_truncate.sql
  data/sefaria/pipelines/tanah-view/src/commands/mysql.rs
  devops/deploy/data-deploy/index.mts
  package-lock.json
  package.json
  web/api/Makefile.toml
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/[section]/page.module.css
  web/bible-on-site/src/app/[section]/page.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/navbar.module.css
Due: app, website, data

fix(ci): checkout PR head ref in version verification workflow
  .github/workflows/shared-verify-version.yml
Due: none

fix(web): use specific heading selector in app section E2E test
  web/bible-on-site/tests/e2e/root/root.test.ts
Due: none

fix(ci): fetch tags explicitly and mark lcp-discovery-insight as known issue
  .github/workflows/shared-verify-version.yml
  web/bible-on-site/tests/perf/known-issues/lighthouse/lcp-discovery-insight.yml
Due: none

fix(ci): add debug output and use PR head SHA for checkout
  .github/workflows/shared-verify-version.yml
Due: none

fix(ci): use github.head_ref for checkout in version verification
  .github/workflows/shared-verify-version.yml
Due: none

fix(ci): pass ref explicitly to version verification workflow
  .github/workflows/ci.yml
  .github/workflows/shared-verify-version.yml
Due: none
