Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 5%
      api:
        target: 95%
        flags:
          - api
      app:
        target: 60%
        flags:
          - app
      website:
        target: 92%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: 60%
        threshold: 5%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

fix(ci): add id-token permission for AWS OIDC auth (#1208)
  .github/workflows/ci.yml
  .github/workflows/shared-dockerize.yml
Due: none

fix(ci): update aws-actions to v5 and bump website version
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): update aws-actions to v5 and bump website version (#1209)
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(app): add pasuk selection mode with long-press detection
  app/BibleOnSite.Tests/ViewModels/PerekViewModelTests.cs
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/AndroidManifest.xml
Due: app

docs(aws): add EC2 security group permissions for SSG build
  docs/aws/cloudformation/github-oidc.yaml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

docs(aws): add EC2 security group permissions for SSG build (#1210)
  docs/aws/cloudformation/github-oidc.yaml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(app): add E2E tests for selection mode and fix Android scroll issue
  app/BibleOnSite.Tests.E2E/Pages/SelectionModeTests.cs
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(ci): use host network for Docker build to reach RDS
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): use host network for Docker build to reach RDS (#1211)
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(app): refactor E2E tests to use working FlaUI patterns
  app/BibleOnSite.Tests.E2E/Pages/SelectionModeTests.cs
Due: none

fix(ci): use docker driver for buildx to enable host network
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): use docker driver for buildx to enable host network (#1212)
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): use load+save for docker driver compatibility
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): use load+save for docker driver compatibility (#1213)
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): use raw docker build without BuildKit for network:host
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): use raw docker build without BuildKit for network:host (#1214)
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): correct docker build context path
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): correct docker build context path (#1215)
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): add RDS connectivity test before docker build
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): add RDS connectivity test before docker build (#1216)
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

docs(aws): add security-group-rule resource for IAM policy
  docs/aws/cloudformation/github-oidc.yaml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

docs(aws): add security-group-rule resource for IAM policy (#1217)
  docs/aws/cloudformation/github-oidc.yaml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): compact JSON payload for CD trigger
  .github/workflows/shared-release.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): compact JSON payload for CD trigger (#1218)
  .github/workflows/shared-release.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): treat skipped data_ci as success in cross module check
  .github/workflows/ci.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): treat skipped data_ci as success in cross module check (#1219)
  .github/workflows/ci.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(dockerfile): remove BuildKit syntax for classic docker build
  web/bible-on-site/Dockerfile
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(dockerfile): remove BuildKit syntax for classic docker build (#1220)
  web/bible-on-site/Dockerfile
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(authors): use correct S3 bucket for author images
  task-def-no-health.json
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/lib/authors/service.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
Due: website

fix(authors): use correct S3 bucket for author images (#1221)
  task-def-no-health.json
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/lib/authors/service.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
Due: website

feat(articles): redesign perek articles as carousel with author info
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/authors/[id]/page.tsx
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/src/lib/articles/types.ts
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
  web/bible-on-site/tests/unit/lib/articles.test.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
Due: website

feat(articles): redesign perek articles as carousel with author info (#1223)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/authors/[id]/page.tsx
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/src/lib/articles/types.ts
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
  web/bible-on-site/tests/unit/lib/articles.test.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
Due: website

fix(test): update tests for carousel articles redesign
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/e2e/929/articles.test.ts
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
Due: none

fix(app): resolve Android touch handling issues for pasuk selection
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
Due: app

feat(app): improve exit fullscreen button with centered icon and drag support (#1201)
  .cursor/rules/github-issues.mdc
  app/.nuke/parameters.json
  app/BibleOnSite.Tests.E2E/Pages/SelectionModeTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelTests.cs
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Controls/PerekPickerPopup.xaml
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Models/Pasuk.cs
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Pages/ContactPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/AndroidManifest.xml
  app/BibleOnSite/Platforms/Android/MainActivity.cs
  app/BibleOnSite/Platforms/Android/Resources/values/colors.xml
  app/BibleOnSite/Resources/Styles/Colors.xaml
  app/BibleOnSite/Services/StarterService.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

fix(test): use getAttribute instead of toHaveAttribute (#1224)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/tests/e2e/929/articles.test.ts
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
Due: website

fix(test): use getAttribute instead of toHaveAttribute (#1224)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/e2e/929/articles.test.ts
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
Due: none

fix(app): add tap debounce on Windows to prevent selection toggle on release
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

test(app): add comprehensive test coverage for models and helpers
  app/BibleOnSite.Tests/Helpers/GimatryHelperTests.cs
  app/BibleOnSite.Tests/Models/AuthorTests.cs
  app/BibleOnSite.Tests/Models/PasukTests.cs
  app/BibleOnSite.Tests/Models/PerekTests.cs
  app/BibleOnSite.Tests/Models/SearchResultTests.cs
Due: none

Merge master into feature/multiple-app-features (#1226)
  app/BibleOnSite.Tests/Helpers/GimatryHelperTests.cs
  app/BibleOnSite.Tests/Models/AuthorTests.cs
  app/BibleOnSite.Tests/Models/PasukTests.cs
  app/BibleOnSite.Tests/Models/PerekTests.cs
  app/BibleOnSite.Tests/Models/SearchResultTests.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app
