Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

chore: remove debug logging from packaging workflow and NUKE build
  .github/workflows/app-package.yml
  app/devops/Build.Package.cs
Due: none

fix(ci): reference correct job name for module_version output
  .github/workflows/app-package.yml
Due: none

chore(app): bump version to 1.0.6 to trigger full CD pipeline
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(ci): add always() to release_app condition and revert module_version
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
Due: none

fix(ci): add debug output to release_app and bump to 1.0.7
  .github/workflows/ci.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(ci): strip ANSI codes from version, add NuGet caching, fix E2E test
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/tests/e2e/929/todays-perek-redirect.test.ts
Due: app

chore(release): Bump website version to 0.2.205 [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): clean unstaged changes before rebase in release_app
  .github/workflows/ci.yml
Due: none

fix(cd): use absolute paths for NUKE in cd-app workflow
  .github/workflows/cd-app.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump app version to 1.0.10 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): find app MSIX specifically, not dependencies
  .github/workflows/cd-app.yml
Due: none

fix(cd): use Microsoft Store CLI GitHub Action instead of nonexistent dotnet tool
  .github/workflows/cd-app.yml
  app/devops/Build.Deploy.cs
Due: none

chore(release): Bump app version to 1.0.11 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): fix Google Play review + MS Store Windows runner
  .github/workflows/cd-app.yml
  app/devops/Build.Deploy.cs
Due: none

fix(cd): use correct MS Store App ID (9NBLGGH6B55K)
  app/devops/Build.Deploy.cs
Due: none

chore(release): Bump app version to 1.0.12 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(app): bump version to 4.0.3 (40000018) to continue from Play Store
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump app version to 4.0.4 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): MSIX version overflow, release condition, packaging optimization
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): align Windows ApplicationVersion to 19, remove Package Summary job
  .github/workflows/app-package.yml
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/tests/e2e/929/todays-perek-redirect.test.ts
Due: app

chore(release): Bump app version to 4.0.5 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(ci): use gh api for cross-run artifact existence check
  .github/workflows/ci.yml
Due: none

chore(release): Bump app version to 4.0.6
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(ci): re-upload master coverage artifacts for cross-wf availability
  .github/workflows/ci.yml
  docs/github/workflows/cd/cd.md
  docs/github/workflows/cd/cd.puml
  docs/github/workflows/ci/ci.md
  docs/github/workflows/ci/ci.puml
Due: none

chore(release): Bump app version to 4.0.7
  app/BibleOnSite/BibleOnSite.csproj
  docs/github/workflows/cd/cd.md
  docs/github/workflows/ci/ci.md
Due: app

fix(ci): redirect debug output to stderr in artifact download
  .github/workflows/cd-aws.yml
  .github/workflows/ci.yml
  .github/workflows/shared-release.yml
  app/BibleOnSite/BibleOnSite.csproj
  docs/github/workflows/cd/cd.md
  docs/github/workflows/cd/cd.puml
  docs/github/workflows/ci/ci.md
  docs/github/workflows/ci/ci.puml
Due: app

docs: add issue creation practices with labels reference
  docs/practices/README.md
  docs/practices/issues.md
Due: none

fix(ci): use recursive glob for MSIX/AAB in release files
  .github/workflows/ci.yml
  app/BibleOnSite/BibleOnSite.csproj
  docs/github/workflows/cd/cd.svg
  docs/github/workflows/ci/ci.svg
Due: app

fix(ci): exclude runtime deps from release, decouple package from CI
  .github/workflows/ci.yml
Due: none

chore(app): bump version to 4.0.10
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump app version to 4.0.11 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): BumpVersion now handles conditional ApplicationVersion elements
  app/.nuke/build.schema.json
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/Build.Package.cs
Due: app

chore(release): Bump app version to 4.0.13 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

refactor: remove /api/graphql path - use root
  .github/workflows/ci.yml
  .vscode/tasks.json
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests/Fixtures/ApiServerFixture.cs
  app/BibleOnSite/Config/AppConfig.cs
  app/devops/Build.Run.cs
  web/api/src/startup/app.rs
  web/api/src/startup/schema_builder.rs
  web/api/tests/e2e/apis/articles.test.ts
  web/api/tests/e2e/apis/authors.test.ts
  web/api/tests/e2e/apis/perakim.test.ts
  web/api/tests/e2e/apis/sefarim.test.ts
  web/api/tests/e2e/apis/starter.test.ts
  web/api/tests/e2e/features/compression.test.ts
  web/api/tests/e2e/features/http2.test.ts
  web/api/tests/playwright.config.ts
Due: api, app

chore(release): Bump app version to 4.0.14 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump api version to 0.1.14 [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

fix: restore /api/graphql path for production API URL
  app/BibleOnSite/Config/AppConfig.cs
Due: app

docs: update ecr-ecs-auto-deploy CloudFormation - API rule now deployed
  app/BibleOnSite/Config/AppConfig.cs
  docs/aws/cloudformation/ecr-ecs-auto-deploy.yaml
  docs/aws/cloudformation/ecr-ecs-auto-deploy/ecr-ecs-auto-deploy.yaml
  web/api/src/startup/app.rs
  web/api/tests/e2e/apis/starter.test.ts
Due: api, app

chore(release): Bump app version to 4.0.15 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Add spacing between pasuk segments
  app/BibleOnSite/Services/PerekDataService.cs
Due: app

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
