Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 5%
      api:
        target: 95%
        flags:
          - api
      app:
        target: 60%
        flags:
          - app
      website:
        target: 92%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: 60%
        threshold: 5%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

feat(929): upgrade to html-flip-book-react local package, fix page stacking
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/copy-local-flip-book.mjs
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.css
Due: website

Sefer: scroll for perek text only, header in flow; articles carousel on blank page; pass articles to flipbook
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/util/hebdates-util.ts
Due: website

feat(929): flipbook articles per perek, full-page article view, page frames
  web/bible-on-site/src/app/929/[number]/[articleId]/page.module.css
  web/bible-on-site/src/app/929/[number]/[articleId]/page.tsx
  web/bible-on-site/src/app/929/[number]/actions.ts
  web/bible-on-site/src/app/929/[number]/components/ArticleFullView.tsx
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/data/sefer-dto.tsx
  web/bible-on-site/src/util/hebdates-util.ts
Due: website

feat(929): upgrade to html-flip-book-react local package, fix page stacking (#1251)
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/copy-local-flip-book.mjs
  web/bible-on-site/src/app/929/[number]/[articleId]/page.module.css
  web/bible-on-site/src/app/929/[number]/[articleId]/page.tsx
  web/bible-on-site/src/app/929/[number]/actions.ts
  web/bible-on-site/src/app/929/[number]/components/ArticleFullView.tsx
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/data/sefer-dto.tsx
  web/bible-on-site/src/util/hebdates-util.ts
Due: website

Add missing cross-env dev dependency for CI (#1252)
  package-lock.json
  package.json
Due: none

App: Fast Deployment, improved Nuke RunAndroid, nav button visual fix
  .cursor/rules/app-practices.mdc
  app/.nuke/build.schema.json
  app/BibleOnSite/AppShell.xaml
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Controls/PerekPickerPopup.xaml
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Resources/Fonts/FluentUI.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  app/devops/Build.Run.cs
Due: app

App: Force-stop before launch to ensure new code runs
  .cursor/rules/app-practices.mdc
  app/devops/Build.Run.cs
Due: none

Update code quality rules, switch to tanah-dev, bump API version
  .cursor/rules/implementation-context.mdc
  web/api/.dev.env
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

App: Add drag-to-dismiss and expand for Perushim panel
  .cursor/rules/api-practices.mdc
  .cursor/rules/app-practices.mdc
  .cursor/rules/website-practices.mdc
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

App: Improve Perushim panel collapse and update WiFi deploy docs
  .cursor/rules/app-practices.mdc
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

App: Replace ActivityIndicator with animated book loading GIF
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/ArticlesPage.xaml
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Pages/LoadingPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Resources/Images/loading_book_anim.gif
  app/devops/Build.Run.cs
Due: app

fix(dev): align localstack s3 settings
  web/bible-on-site/.dev.env
Due: none

App: Remove white background from loading animation GIF
  app/BibleOnSite/Resources/Images/loading_book_anim.gif
Due: app

fix(bookshelf): fix spine text visibility by adding position absolute
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
Due: website

fix(bookshelf): center spine text on book covers
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
Due: website

feat(bookshelf): remove walls and ceiling for cleaner look
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
Due: website

feat(bookshelf): normalize all books to same height
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
Due: website

feat(bookshelf): display all 35 Tanach sefarim dynamically
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
Due: website

feat(bookshelf): natural color spectrum and consistent book coloring
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
Due: website

feat(bookshelf): RTL layout, proper page edges, and dual titles
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
Due: website

feat(bookshelf): larger cover title at 25% top with subtitle
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
Due: website

feat(bookshelf): larger text, inherit font, wider color spectrum
  .cursor/rules/website-practices.mdc
  .husky/post-commit
  bookshelf-example/index.pug
  bookshelf-example/index.scss
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
  web/bible-on-site/tests/unit/components/ArticlesSection.test.tsx
Due: website

feat(bookshelf): responsive multi-shelf layout with engraved labels
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
Due: website

fix(bookshelf): center books on shelf and improve label contrast
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
Due: website

feat(bookshelf): responsive sizing for small screens
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
Due: website

fix(bookshelf): improve responsive sizing with safety margins
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
Due: website

style(bookshelf): smaller engraved label on narrow screens
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
Due: website

feat(home): add Tanah Sefarim section with bookshelf
  web/bible-on-site/src/app/[section]/page.tsx
  web/bible-on-site/src/app/components/AppSection.module.css
  web/bible-on-site/src/app/components/AppSection.tsx
  web/bible-on-site/src/app/components/TanahSefarimSection.module.css
  web/bible-on-site/src/app/components/TanahSefarimSection.tsx
  web/bible-on-site/src/app/components/appPlatforms.ts
Due: website

feat(home): add App Store link and SVG section dividers
  web/bible-on-site/public/root/al-haperek-devider-s.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-l.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-m.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-s.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-xl.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-xs.svg
  web/bible-on-site/src/app/components/AppSection.module.css
  web/bible-on-site/src/app/components/TanahSefarimSection.module.css
  web/bible-on-site/src/app/components/TanahSefarimSection.tsx
  web/bible-on-site/src/app/components/appPlatforms.ts
Due: website

fix(home): eliminate white gap and fix ketuvim shelf clipping
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-l.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-m.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-s.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-xl.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-xs.svg
  web/bible-on-site/src/app/components/TanahSefarimSection.module.css
Due: website

fix(home): increase overlap for white gap and fix single shelf height
  web/bible-on-site/src/app/components/TanahSefarimSection.module.css
Due: website

fix(home): remove bottom divider and increase bottom padding
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-l.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-m.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-s.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-xl.svg
  web/bible-on-site/public/root/tanah-sefarim-bottom-devider-xs.svg
  web/bible-on-site/src/app/components/TanahSefarimSection.module.css
  web/bible-on-site/src/app/components/TanahSefarimSection.tsx
Due: website

fix(home): fix divider z-index and increase multi-shelf height
  web/bible-on-site/src/app/components/TanahSefarimSection.module.css
Due: website

feat(home): improve section transitions and bookshelf styling
  web/bible-on-site/public/root/al-haperek-devider-l.svg
  web/bible-on-site/public/root/al-haperek-devider-m.svg
  web/bible-on-site/public/root/al-haperek-devider-s.svg
  web/bible-on-site/public/root/al-haperek-devider-xl.svg
  web/bible-on-site/public/root/al-haperek-devider-xs.svg
  web/bible-on-site/public/root/contact-top-devider-l.svg
  web/bible-on-site/public/root/contact-top-devider-m.svg
  web/bible-on-site/public/root/contact-top-devider-s.svg
  web/bible-on-site/public/root/contact-top-devider-xl.svg
  web/bible-on-site/public/root/contact-top-devider-xs.svg
  web/bible-on-site/public/root/sefarim-bottom-devider-l.svg
  web/bible-on-site/public/root/sefarim-bottom-devider-m.svg
  web/bible-on-site/public/root/sefarim-bottom-devider-s.svg
  web/bible-on-site/public/root/sefarim-bottom-devider-xl.svg
  web/bible-on-site/public/root/sefarim-bottom-devider-xs.svg
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
  web/bible-on-site/src/app/components/TanahSefarimSection.module.css
  web/bible-on-site/src/app/components/TanahSefarimSection.tsx
  web/bible-on-site/src/app/components/TosSection.module.css
Due: website

fix(bookshelf): fix 900-960px gap, add spinner, remove shelf cursor
  web/bible-on-site/src/app/components/Bookshelf/bookshelf.module.scss
  web/bible-on-site/src/app/components/TanahSefarimSection.module.css
  web/bible-on-site/src/app/components/TanahSefarimSection.tsx
Due: website

Remove outdated ribbons from NavBar
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
  web/bible-on-site/src/app/components/NavBar.tsx
Due: website

App: Fix exit fullscreen button drag on Android
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

feat(home): add footer with copyright, links, and rabbis blessing page
  web/bible-on-site/public/icons/github.svg
  web/bible-on-site/public/root/contact-bottom-devider-l.svg
  web/bible-on-site/public/root/contact-bottom-devider-m.svg
  web/bible-on-site/public/root/contact-bottom-devider-s.svg
  web/bible-on-site/public/root/contact-bottom-devider-xl.svg
  web/bible-on-site/public/root/contact-bottom-devider-xs.svg
  web/bible-on-site/src/app/[section]/page.tsx
  web/bible-on-site/src/app/components/Footer.module.css
  web/bible-on-site/src/app/components/Footer.tsx
  web/bible-on-site/src/app/journalism/layout.css
  web/bible-on-site/src/app/journalism/layout.tsx
  web/bible-on-site/src/app/journalism/page.module.css
  web/bible-on-site/src/app/journalism/page.tsx
  web/bible-on-site/src/app/rabbis-blessing/layout.css
  web/bible-on-site/src/app/rabbis-blessing/layout.tsx
  web/bible-on-site/src/app/rabbis-blessing/page.module.css
  web/bible-on-site/src/app/rabbis-blessing/page.tsx
Due: website

feat: update sitemap, articles service, cursor rules, and misc fixes
  .cursor/rules/git-practices.mdc
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/tests/e2e/sitemap.test.ts
  web/bible-on-site/tests/unit/app/sitemap.test.ts
Due: website
