Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

Add SSG support and breadcrumb alignment for tanahpedia pages
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_legacy_migration.sql
  docs/performance/sefer-view-optimization-analysis.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/src/app/929/[number]/components/breadcrumb.module.css
  web/bible-on-site/src/app/tanahpedia/[entityType]/page.tsx
  web/bible-on-site/src/app/tanahpedia/components/TanahpediaBreadcrumb.tsx
  web/bible-on-site/src/app/tanahpedia/entry/[uniqueName]/page.tsx
  web/bible-on-site/src/app/tanahpedia/page.tsx
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/tests/unit/app/tanahpedia-entity-type-page.test.ts
  web/bible-on-site/tests/unit/app/tanahpedia-entry-page.test.ts
Due: website, data

admin: tanahpedia UI, category filters, WYSIWYG modes, dev DB skip populate
  web/admin/README.md
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/scripts/ensure-dev-db.mjs
  web/admin/src/components/WysiwygEditor.tsx
  web/admin/src/components/editor/adminEditorShortcuts.ts
  web/admin/src/lib/tanahpedia/category-hierarchy.ts
  web/admin/src/lib/tanahpedia/labels.ts
  web/admin/src/routes/tanahpedia.entries.$id.tsx
  web/admin/src/routes/tanahpedia.tsx
  web/admin/src/server/tanahpedia/entries.ts
  web/admin/src/styles/admin-prose.css
  web/admin/src/styles/app.css
Due: none

fix(ci): rustfmt db-populator; tanahpedia hierarchy, breadcrumb, plain meta description
  data/mysql/db-populator/src/main.rs
  web/bible-on-site/package-lock.json
  web/bible-on-site/src/app/929/[number]/components/breadcrumb.module.css
  web/bible-on-site/src/app/tanahpedia/components/TanahpediaBreadcrumb.tsx
  web/bible-on-site/src/app/tanahpedia/entry/[uniqueName]/page.tsx
  web/bible-on-site/src/app/tanahpedia/layout.css
  web/bible-on-site/src/app/tanahpedia/page.module.css
  web/bible-on-site/src/app/tanahpedia/page.tsx
  web/bible-on-site/src/lib/tanahpedia/category-hierarchy.ts
Due: website, data

fix(dev-db): no bundled demo articles in tanah-dev; strip legacy לדוגמא seed
  data/Makefile.toml
  data/README.md
  data/mysql/db-populator/src/main.rs
  docs/devops/setup-development-environment/setup-development-environment.md
  web/admin/README.md
  web/admin/package.json
  web/admin/scripts/ensure-dev-db.mjs
  web/bible-on-site/scripts/ensure-dev-db.mjs
Due: data

Upgrade .NET 9 → 10, Nuke 9.x → 10.1, and MAUI 10 (#1525)
  .cursor/rules/app-practices.mdc
  .github/workflows/cd-app.yml
  .github/workflows/ci.yml
  app/.config/dotnet-tools.json
  app/.nuke/build.schema.json
  app/BibleOnSite.Core/BibleOnSite.Core.csproj
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Fixtures/ApiServerFixture.cs
  app/BibleOnSite.Tests/Fixtures/DatabasePopulatorFixture.cs
  app/BibleOnSite.Tests/Services/LocalDatabaseServiceTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Controls/CircularMenu.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  app/BibleOnSite/ViewModels/PreferencesViewModel.cs
  app/bible-on-site.slnx
  app/build/Build.cs
  app/devops/Build.Compile.cs
  app/devops/Build.Package.cs
  app/devops/Build.Run.cs
  app/devops/Build.cs
  app/devops/_build.csproj
Due: app

admin: tanahpedia results under search; WYSIWYG links, lists, footnotes, shortcuts
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/WysiwygEditor.tsx
  web/admin/src/components/editor/EditorShortcutModal.tsx
  web/admin/src/components/editor/adminEditorShortcuts.ts
  web/admin/src/components/editor/adminHebrew.ts
  web/admin/src/components/editor/adminLinkExtension.ts
  web/admin/src/components/editor/adminOrderedListExtension.ts
  web/admin/src/routes/tanahpedia.tsx
  web/admin/src/styles/admin-prose.css
Due: none

Fix Android AAB packaging on .NET 10 (NETSDK1047)
  app/devops/Build.Package.cs
Due: none

feat(tanahpedia): person family tree on entry; OSM places map + border plan
  docs/tanahpedia/places-map-plan.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/[entityType]/page.tsx
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/app/tanahpedia/components/PlacesMap.module.css
  web/bible-on-site/src/app/tanahpedia/components/PlacesMapClient.tsx
  web/bible-on-site/src/app/tanahpedia/components/TanahpediaPlacesMap.tsx
  web/bible-on-site/src/app/tanahpedia/entry/[uniqueName]/page.tsx
  web/bible-on-site/src/app/tanahpedia/page.module.css
  web/bible-on-site/src/lib/tanahpedia/person-family-labels.ts
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/src/lib/tanahpedia/types.ts
  web/bible-on-site/tests/unit/app/tanahpedia-entity-type-page.test.ts
  web/bible-on-site/tests/unit/app/tanahpedia-entry-page.test.ts
  web/bible-on-site/tests/unit/lib/person-family-labels.test.ts
Due: website

fix(admin): tanah-dev default DB; sticky link bar; footnote insert-between; tests
  docs/devops/setup-development-environment/setup-development-environment.md
  web/admin/.env.example
  web/admin/src/components/WysiwygEditor.tsx
  web/admin/src/components/editor/adminFootnoteHtml.test.ts
  web/admin/src/components/editor/adminFootnoteHtml.ts
  web/admin/src/components/editor/adminHebrew.test.ts
  web/admin/src/components/editor/adminLinkExtension.test.ts
  web/admin/src/server/db-config.test.ts
  web/admin/src/server/db-config.ts
  web/admin/src/server/db.ts
Due: none

Remove redundant Android restore from PackagePrepare
  app/devops/Build.Package.cs
Due: none

Fix Android AAB packaging on .NET 10 (NETSDK1047) (#1527)
  app/devops/Build.Package.cs
Due: none

Fix Android AAB packaging: restore separate restore + disable host RID
  app/devops/Build.Package.cs
Due: none

tanahpedia: simplify family UI, source_citation, שמשון demo data
  data/README.md
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_alter_source_citation.sql
  data/mysql/tanahpedia_family_shimshon_data.sql
  data/mysql/tanahpedia_structure.sql
  docs/tanahpedia/tanachpedia.dbml
  web/api/entities/src/tanahpedia/person_parent_child.rs
  web/api/entities/src/tanahpedia/person_union.rs
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/src/lib/tanahpedia/types.ts
Due: website, data

website: Hebrew alpha ordered lists in article body
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
Due: website

feat(web): dark mode, perek book view, sefer PDF; admin deps (#812 #1322 #1494 #1135)
  web/admin/biome.json
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/actions.ts
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/layout.css
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/components/AppSection.module.css
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/src/app/globals.css
  web/bible-on-site/src/lib/download/bulletin-client.ts
  web/bible-on-site/src/lib/download/register-tanach.ts
  web/bible-on-site/src/lib/download/types.ts
  web/bible-on-site/src/lib/perek-view-preference.ts
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/tests/unit/app/actions.test.ts
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite.test.tsx
  web/bible-on-site/tests/unit/lib/download-handlers.test.ts
  web/bible-on-site/tests/unit/lib/perek-view-preference.test.ts
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/examples/generate_sample.rs
  web/bulletin/src/handlers.rs
  web/bulletin/src/models.rs
  web/bulletin/src/pdf.rs
  web/bulletin/tests/pdf_integration.rs
Due: website

Add video/audio media players in ArticleDetailPage + increase test coverage by 10%
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Config/AppConfigTests.cs
  app/BibleOnSite.Tests/Controls/BottomNavigationBarTests.cs
  app/BibleOnSite.Tests/Controls/CircularMenuTests.cs
  app/BibleOnSite.Tests/Helpers/HebrewDateHelperTests.cs
  app/BibleOnSite.Tests/Helpers/HtmlMediaExtractorTests.cs
  app/BibleOnSite.Tests/Models/PasukFormattedTextTests.cs
  app/BibleOnSite.Tests/Models/PasukTests.cs
  app/BibleOnSite.Tests/Models/PerushNoteDisplayTests.cs
  app/BibleOnSite.Tests/Services/GraphQLExceptionTests.cs
  app/BibleOnSite.Tests/Services/PerushimNotesServiceTests.cs
  app/BibleOnSite.Tests/ViewModels/PreferencesViewModelTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Helpers/HtmlMediaExtractor.cs
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/ArticleDetailPage.xaml.cs
  app/BibleOnSite/Platforms/Windows/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
Due: app

Fix AppConfig tests to handle Release configuration
  app/BibleOnSite.Tests/Config/AppConfigTests.cs
Due: none

fix(admin): TipTap setLink attrs + footnote scan for strict TS (#1135)
  web/admin/package.json
  web/admin/src/components/WysiwygEditor.tsx
  web/admin/src/components/editor/adminEditorShortcuts.ts
  web/admin/src/components/editor/adminLinkExtension.ts
Due: none

fix(tanahpedia): entry [uniqueName] params + normalization (שמשון 404)
  web/bible-on-site/package.json
  web/bible-on-site/src/app/api/tanahpedia/preview/[uniqueName]/route.ts
  web/bible-on-site/src/app/tanahpedia/entry/[uniqueName]/page.tsx
  web/bible-on-site/src/lib/tanahpedia/unique-name-param.ts
  web/bible-on-site/tests/unit/app/tanahpedia-entry-page.test.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-unique-name-param.test.ts
Due: website

Fix failing app unit tests: update last cycle ref and protect AddDaysToCycleDate
  app/BibleOnSite.Tests/Helpers/HebrewDateHelperTests.cs
  app/BibleOnSite/Helpers/HebrewDateHelper.cs
Due: app

Fix Adar II legacy month mapping (6→14) and update Rust doc comments
  app/BibleOnSite.Tests/Helpers/HebrewDateHelperTests.cs
  app/BibleOnSite/Helpers/HebrewDateHelper.cs
  data/sefaria/pipelines/tanah-view/src/data/cycle_dates.rs
Due: app, data

fix(data): always apply tanahpedia שמשון family demo on populate
  data/Cargo.lock
  data/README.md
  data/mysql/db-populator/Cargo.toml
  data/mysql/db-populator/src/main.rs
Due: data

test(website): raise Tanahpedia diff coverage for Codacy
  web/bible-on-site/package.json
  web/bible-on-site/src/app/api/tanahpedia/preview/[uniqueName]/route.ts
  web/bible-on-site/src/lib/tanahpedia/preview-format.ts
  web/bible-on-site/tests/unit/app/tanahpedia-preview-route.test.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/lib/entity-ref-lookup.test.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-category-hierarchy.test.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-preview-format.test.ts
Due: website

Fix Android AAB packaging: disable host RID inference (#1528)
  app/devops/Build.Package.cs
Due: none

Fix Android AAB packaging: restore with TargetFramework to avoid iOS NETSDK1178
  app/devops/Build.Package.cs
Due: none

Add video/audio media players in ArticleDetailPage + increase test coverage by 10% (#1529)
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Config/AppConfigTests.cs
  app/BibleOnSite.Tests/Controls/BottomNavigationBarTests.cs
  app/BibleOnSite.Tests/Controls/CircularMenuTests.cs
  app/BibleOnSite.Tests/Helpers/HebrewDateHelperTests.cs
  app/BibleOnSite.Tests/Helpers/HtmlMediaExtractorTests.cs
  app/BibleOnSite.Tests/Models/PasukFormattedTextTests.cs
  app/BibleOnSite.Tests/Models/PasukTests.cs
  app/BibleOnSite.Tests/Models/PerushNoteDisplayTests.cs
  app/BibleOnSite.Tests/Services/GraphQLExceptionTests.cs
  app/BibleOnSite.Tests/Services/PerushimNotesServiceTests.cs
  app/BibleOnSite.Tests/ViewModels/PreferencesViewModelTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Helpers/HtmlMediaExtractor.cs
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/ArticleDetailPage.xaml.cs
  app/BibleOnSite/Platforms/Windows/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
Due: app

Fix HtmlMediaExtractor to find nested media elements
  app/BibleOnSite.Tests/Helpers/HtmlMediaExtractorTests.cs
  app/BibleOnSite/Helpers/HtmlMediaExtractor.cs
Due: app

Fix nested media test: account for intermediate HTML fragments
  app/BibleOnSite.Tests/Helpers/HtmlMediaExtractorTests.cs
Due: none

Fix Android AAB packaging: restore with TargetFramework to avoid iOS NETSDK1178 (#1532)
  app/devops/Build.Package.cs
Due: none

data: mysql-apply-tanahpedia-families + incremental FORBIDDEN union lookup
  data/Makefile.toml
  data/README.md
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_incremental_lookups.sql
Due: data

data: Tanahpedia Jacob family graph + Shimshon unions + seed lookup
  data/mysql/tanahpedia_family_jacob_data.sql
  data/mysql/tanahpedia_family_shimshon_data.sql
  data/mysql/tanahpedia_legacy_migration.sql
  data/mysql/tanahpedia_seed_data.sql
Due: data

Fix Android AAB packaging: remove UseCurrentRuntimeIdentifier=false
  app/devops/Build.Package.cs
Due: none

Fix FluentAssertions method name: HaveCountGreaterThanOrEqualTo
  app/BibleOnSite.Tests/Helpers/HtmlMediaExtractorTests.cs
Due: none

chore(release): Bump versions (website to 0.2.301) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Bump website version to 0.2.301
  web/bible-on-site/package.json
Due: none

Fix Android AAB packaging: remove UseCurrentRuntimeIdentifier=false (#1533)
  app/devops/Build.Package.cs
Due: none

tanahpedia: family edge lab (38 entries) + UI for children alt, union dates
  data/Makefile.toml
  data/README.md
  data/mysql/db-populator/src/main.rs
  data/mysql/scripts/generate-tanahpedia-edge-lab.mjs
  data/mysql/tanahpedia_family_edge_lab_data.sql
  data/mysql/tanahpedia_incremental_lookups.sql
  data/mysql/tanahpedia_seed_data.sql
  docs/plans/tanahpedia-family-edge-lab.md
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/lib/tanahpedia/person-family-labels.ts
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/src/lib/tanahpedia/types.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/lib/person-family-labels.test.ts
Due: website, data

fix(tanahpedia): force-dynamic DB pages, show load errors in dev
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/[entityType]/page.tsx
  web/bible-on-site/src/app/tanahpedia/entry/[uniqueName]/page.tsx
  web/bible-on-site/src/app/tanahpedia/page.module.css
  web/bible-on-site/src/app/tanahpedia/page.tsx
Due: website

feat(tanahpedia): eretz-yisrael place entry, MAP category, entry map (OSM)
  data/README.md
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_place_eretz_yisrael_data.sql
  docs/tanahpedia/places-map-plan.md
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/components/TanahpediaPlacesMap.tsx
  web/bible-on-site/src/app/tanahpedia/entry/[uniqueName]/page.tsx
  web/bible-on-site/src/app/tanahpedia/page.module.css
  web/bible-on-site/src/lib/tanahpedia/service.ts
Due: website, data

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
