Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

fix(website): skip Taamey D font preload for readers who never opt in
  web/bible-on-site/src/app/929/[number]/hebrew-font.ts
Due: website

fix(devops): enforce coverage targets locally, survive transport errors
  .github/workflows/ci.yml
  devops/package.json
  devops/verify-coverage-thresholds.mts
  docs/devops/codecov-reliability.md
Due: none

docs(website): document the reader font exception in perek styles
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/page.module.css
Due: website

fix(website): dark-mode overrides for hardcoded light styles (#1974)
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/929/[number]/components/breadcrumb.module.css
  web/bible-on-site/src/app/929/[number]/components/perushim-section.module.css
  web/bible-on-site/src/app/929/[number]/components/reader-settings.module.css
  web/bible-on-site/src/app/929/[number]/components/recitation-player.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer-composite.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/components/tanahpedia-link.module.css
  web/bible-on-site/src/app/929/authors/[authorParam]/page.module.css
  web/bible-on-site/src/app/929/authors/page.module.css
  web/bible-on-site/src/app/[section]/page.module.css
  web/bible-on-site/src/app/bookshelf/page.module.css
  web/bible-on-site/src/app/components/TanahSefarimSection.module.css
  web/bible-on-site/src/app/components/TosSection.module.css
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/src/app/journalism/page.module.css
  web/bible-on-site/src/app/not-found.module.css
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/pedia/components/PlacesMap.module.css
  web/bible-on-site/src/app/pedia/components/entry-occurrences.module.css
  web/bible-on-site/src/app/pedia/components/pasuk-preview-link.module.css
  web/bible-on-site/src/app/pedia/page.module.css
  web/bible-on-site/src/app/rabbis-blessing/page.module.css
Due: website

fix(app): enable Windows targeting for E2E test project restore (#1985)
  .github/workflows/dependency-submission.yml
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
Due: none

feat(website): author articles datagrid with search, filter and sorting (#1982)
  devops/precommit-biome.mjs
  web/bible-on-site/src/app/929/authors/[authorParam]/AuthorArticlesTable.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/author-articles-table.module.css
  web/bible-on-site/src/app/929/authors/[authorParam]/page.module.css
  web/bible-on-site/src/app/929/authors/[authorParam]/page.tsx
  web/bible-on-site/src/lib/authors/articles-grid.ts
  web/bible-on-site/tests/unit/app/author-param-page.test.ts
  web/bible-on-site/tests/unit/components/AuthorArticlesTable.test.tsx
  web/bible-on-site/tests/unit/lib/author-articles-grid.test.ts
Due: website

feat(app,website): Android App Links for perek URLs (#1978)
  app/BibleOnSite.Tests/Helpers/AppLinkHelperTests.cs
  app/BibleOnSite/Helpers/AppLinkHelper.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
  web/bible-on-site/public/.well-known/assetlinks.json
  web/bible-on-site/tests/unit/lib/assetlinks.test.ts
Due: app

fix(app): open iOS nav drawer via right-edge swipe (RTL) (#1981)
  app/BibleOnSite/AppShell.xaml.cs
Due: app

fix(app): re-snap perek carousel on rotation to update item width (#1976)
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(app): theme-aware pasuk selection highlight in dark mode (#1980)
  app/BibleOnSite/Pages/PerekPage.xaml
Due: app

feat(website): experimental Taamey D font option in reader settings (#1983)
  web/bible-on-site/src/app/929/[number]/components/ReaderSettings.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/hebrew-font.ts
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/fonts/TaameyD-license.txt
  web/bible-on-site/src/app/fonts/TaameyD.woff2
  web/bible-on-site/src/lib/reader-settings.ts
  web/bible-on-site/tests/unit/components/ReaderSettings.test.tsx
  web/bible-on-site/tests/unit/lib/reader-settings.test.ts
Due: website

fix(devops): detect lost coverage uploads instead of local gate
  .github/workflows/ci.yml
  devops/package.json
  devops/verify-coverage-thresholds.mts
  docs/devops/codecov-reliability.md
Due: none

chore(release): Bump versions (website to 0.2.459) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (app to 5.0.123) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions to release (website to 0.2.460)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions to release (app to 5.0.124)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions to release (app to 5.0.125)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions to release (website to 0.2.461)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Investigate self-hosted Codecov; decouple uploads from merge gating (#1984)
  .github/tool-registry.md
  .github/workflows/ci.yml
  docs/devops/codecov-reliability.md
Due: none

chore(release): Bump versions (website to 0.2.462) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(website): render article abstract HTML in author datagrid
  web/bible-on-site/src/app/929/authors/[authorParam]/AuthorArticlesTable.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/author-articles-table.module.css
Due: website

docs: before/after screenshots for recent UI PRs
  pr-screenshots/1974-author-page-after.png
  pr-screenshots/1974-author-page-before.png
  pr-screenshots/1974-authors-after.png
  pr-screenshots/1974-authors-before.png
  pr-screenshots/1982-after-filtered.png
  pr-screenshots/1982-after.png
  pr-screenshots/1982-before.png
  pr-screenshots/1983-after.png
  pr-screenshots/1983-before.png
Due: none

Include the chapter source in the reading heading (#1965)
  web/bible-on-site/src/app/929/[number]/components/PerekHeading.tsx
  web/bible-on-site/tests/unit/components/PerekHeading.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.463) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

test(admin): cover server/db helpers; avoid innerHTML in scroll test
  web/admin/tests/unit/server/db.test.ts
  web/bible-on-site/tests/unit/app/ScrollToArticle.test.tsx
Due: none

test(admin,website): restore codecov flag targets with new unit tests
  web/admin/tests/unit/components/tanahpedia/EntryHistoryPanel.test.tsx
  web/admin/tests/unit/server/tanahpedia/structural-loader.test.ts
  web/bible-on-site/tests/unit/app/AuthorArticlesTable.test.tsx
  web/bible-on-site/tests/unit/app/ScrollToArticle.test.tsx
  web/bible-on-site/tests/unit/app/TanahpediaBreadcrumb.test.tsx
Due: none

test(admin): cast mock pool connection for CI typecheck
  web/admin/tests/unit/server/db.test.ts
Due: none

test(admin,website): restore codecov flag targets with new unit tests (#1989)
  web/admin/tests/unit/components/tanahpedia/EntryHistoryPanel.test.tsx
  web/admin/tests/unit/server/db.test.ts
  web/admin/tests/unit/server/tanahpedia/structural-loader.test.ts
  web/bible-on-site/tests/unit/app/AuthorArticlesTable.test.tsx
  web/bible-on-site/tests/unit/app/ScrollToArticle.test.tsx
  web/bible-on-site/tests/unit/app/TanahpediaBreadcrumb.test.tsx
Due: none

docs: app before/after screenshots for #1972 #1978 #1980
  1972-after.png
  1972-before.png
  1978-after.png
  1978-before.png
  1980-after.png
  1980-before.png
Due: none

chore(release): Bump versions (website to 0.2.464, admin to 0.1.106) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(cd): bind legacy data dispatches to their CI source
  devops/github/release/check-deployment.mjs
  devops/github/release/check-deployment.test.mjs
  docs/github/version-verification.md
Due: none

fix(data): remove vulnerable legacy AWS TLS dependencies
  data/Cargo.lock
  data/s3/s3-populator/Cargo.toml
  docs/devops/dependency-security.md
  renovate.json
Due: data

fix(ci): review NuGet snapshots from the actual PR head
  .github/tool-registry.md
  .github/workflows/dependency-review.yml
  .github/workflows/dependency-submission.yml
  docs/devops/dependency-security.md
Due: none

ci: prevent release and deployment collisions on master (#1963)
  .cursor/rules/git-practices.mdc
  .github/instructions/git-practices.instructions.md
  .github/tool-registry.md
  .github/workflows/cd-app.yml
  .github/workflows/cd-aws.yml
  .github/workflows/cd-bulletin.yml
  .github/workflows/cd-data.yml
  .github/workflows/ci.yml
  .github/workflows/shared-release.yml
  AGENTS.md
  devops/github/ci/bump-module-versions.test.mts
  devops/github/ci/bump-module-versions.ts
  devops/github/ci/publish-version-bumps.test.mts
  devops/github/release/check-deployment.mjs
  devops/github/release/check-deployment.test.mjs
  devops/github/release/data-artifact.mjs
  devops/github/release/data-artifact.test.mjs
  devops/github/release/deployment-state.mjs
  devops/github/release/deployment-state.test.mjs
  devops/github/release/get-version.ts
  devops/github/release/release-assets.mjs
  devops/github/release/release-assets.test.mjs
  devops/github/release/release-provenance.mjs
  devops/github/release/shared-release.test.mjs
  devops/package.json
  docs/github/version-verification.md
  docs/github/workflows/cd/cd.md
  docs/practices/git.md
Due: none

fix(ci): submit both dependency snapshots before review
  .github/tool-registry.md
  .github/workflows/dependency-review.yml
  .github/workflows/dependency-submission.yml
  docs/devops/dependency-security.md
Due: none

fix(ci): submit the actual dependency comparison base
  .github/tool-registry.md
  .github/workflows/dependency-submission.yml
  docs/devops/dependency-security.md
Due: none

fix(ci): cancel superseded dependency review reports
  .github/workflows/dependency-review.yml
Due: none

fix(ci): preserve required NuGet submission checks
  .github/tool-registry.md
  .github/workflows/dependency-review.yml
  .github/workflows/dependency-submission.yml
  docs/devops/dependency-security.md
Due: none

fix: remove obsolete TLS dependencies and bind NuGet review snapshots (#1998)
  .github/tool-registry.md
  .github/workflows/dependency-review.yml
  .github/workflows/dependency-submission.yml
  data/Cargo.lock
  data/s3/s3-populator/Cargo.toml
  docs/devops/dependency-security.md
  renovate.json
Due: data

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
