Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

feat(admin): align test infrastructure with website patterns
  devops/merge-coverage.mts
  web/admin/.env.test
  web/admin/package.json
  web/admin/playwright.config.ts
  web/admin/src/test/components/AutoSaveIndicator.test.tsx
  web/admin/tests/e2e/articles.test.ts
  web/admin/tests/e2e/health.test.ts
  web/admin/tests/e2e/rabbis.test.ts
  web/admin/tests/util/launch-e2e-server.mts
  web/admin/tests/util/merge-coverage.mts
  web/admin/vite.config.ts
Due: none

feat(ci): update admin CI to match website patterns
  .github/workflows/ci.yml
Due: none

chore: remove obsolete admin-api tasks from VS Code tasks.json
  .vscode/tasks.json
Due: none

fix: resolve CI failures
  .github/workflows/ci.yml
  data/s3/s3-populator/src/main.rs
  web/admin/.playwright-results/.last-run.json
  web/bible-on-site/src/app/api/revalidate/route.ts
Due: website, data

style: format s3-populator
  data/s3/s3-populator/src/main.rs
Due: data

fix(admin): increase E2E timeout to 5 minutes for Rust compilation
  web/admin/playwright.config.ts
Due: none

fix(app): wrap MAUI-specific code with conditional compilation for tests
  app/BibleOnSite/Config/AppConfig.cs
  app/BibleOnSite/Resources/AppIcon/appicon.svg
  app/BibleOnSite/Resources/AppIcon/appicon_legacy.png
Due: app

Update app icon and fix MAUI conditional compilation
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Config/AppConfig.cs
  app/BibleOnSite/Resources/AppIcon/appicon.svg
  app/BibleOnSite/Resources/AppIcon/appicon_legacy.png
  app/BibleOnSite/Resources/AppIcon/appiconfg.svg
  app/BibleOnSite/Resources/Splash/splash.svg
Due: app

Update app icon and fix MAUI conditional compilation (#1123)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Config/AppConfig.cs
  app/BibleOnSite/Resources/AppIcon/appicon.svg
  app/BibleOnSite/Resources/AppIcon/appicon_legacy.png
  app/BibleOnSite/Resources/AppIcon/appiconfg.svg
  app/BibleOnSite/Resources/Splash/splash.svg
Due: app

chore(release): Bump app version to 4.0.32 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(deps): fix lru@0.12.5 vulnerability by updating aws-sdk-s3
  data/Cargo.lock
  package-lock.json
  web/bible-on-site/package.json
Due: data

chore(admin): change port from 3002 to 3101 to avoid collision with website
  web/admin/playwright.config.ts
  web/admin/vite.config.ts
Due: none

fix(admin): align dev server port to 3101 for E2E tests
  web/admin/README.md
  web/admin/package.json
Due: none

feat(app): add LoadingPage with starter data loading on startup
  app/BibleOnSite.Tests/Services/StarterLoadOnStartupTests.cs
  app/BibleOnSite/AppShell.xaml
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/Pages/LoadingPage.xaml
  app/BibleOnSite/Pages/LoadingPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

chore: disable Codacy complexity metric to skip mandatory pass
  .codacy.yml
Due: none

fix(ci): use always() pattern for release_website and release_api jobs
  .github/workflows/ci.yml
Due: none

chore: bump versions - website 0.2.207, api 0.1.15, app 4.0.33
  app/BibleOnSite/BibleOnSite.csproj
  web/api/Cargo.toml
  web/bible-on-site/package.json
Due: app

feat(app): add LoadingPage with starter data loading on startup (#1128)
  .codacy.yml
  .github/workflows/ci.yml
  app/BibleOnSite.Tests/Services/StarterLoadOnStartupTests.cs
  app/BibleOnSite/AppShell.xaml
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/LoadingPage.xaml
  app/BibleOnSite/Pages/LoadingPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  web/api/Cargo.toml
  web/bible-on-site/package.json
Due: app

chore(release): Bump api version to 0.1.16 [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

chore(release): Bump website version to 0.2.208 [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump app version to 4.0.34 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): article content not rendering in article detail view
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests.E2E/Navigation/ArticlesNavigationTests.cs
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Services/ArticleServiceIntegrationTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Services/ArticleService.cs
  data/mysql/tanah_test_data.sql
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/src/article.rs
  web/api/src/dtos/article.rs
Due: api, app, data

docs: add Admin project to README status table
  README.md
  web/admin/package.json
Due: none

fix(app): update ApplicationTitle to match MS Store reserved name
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests.E2E/Navigation/ArticlesNavigationTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  data/mysql/tanah_test_data.sql
Due: app, data

docs(ci): document reusable workflow result evaluation bug workaround
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  docs/github/workflows/ci/ci.md
  docs/practices/git.md
Due: none

fix(admin): sync package-lock.json with package.json
  web/admin/package-lock.json
Due: none

feat(ios): add one-time certificate generation workflow
  .github/workflows/ios-setup-certs.yml
Due: none

docs: add Admin project to README status table (#1136)
  .github/copilot-instructions.md
  .github/workflows/ci.yml
  README.md
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests.E2E/Navigation/ArticlesNavigationTests.cs
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Services/ArticleServiceIntegrationTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Services/ArticleService.cs
  data/mysql/tanah_test_data.sql
  docs/github/workflows/ci/ci.md
  docs/practices/git.md
  web/admin/package-lock.json
  web/admin/package.json
  web/api/entities/src/article.rs
  web/api/src/dtos/article.rs
Due: api, app, data

chore(release): Bump api version to 0.1.17 [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

chore(release): Bump app version to 4.0.35 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

feat(ios): secure certificate workflow with encrypted artifact
  .github/workflows/ios-setup-certs.yml
Due: none

chore(ios): add one-time certificate setup workflow
  .github/workflows/ios-setup-certs.yml
Due: none

chore(ios): add one-time certificate setup workflow (#1139)
  .github/workflows/ios-setup-certs.yml
Due: none

feat(ios): add iOS packaging support for maui app
  .github/workflows/app-package.yml
  app/.nuke/build.schema.json
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/Build.Package.cs
Due: app

fix(ios): add RuntimeIdentifier to iOS restore step
  app/devops/Build.Package.cs
Due: none

fix(ios): use macos-15 runner for Xcode 16 compatibility
  .github/workflows/app-package.yml
Due: none

fix(ios): add debug info for Xcode and .NET versions
  .github/workflows/app-package.yml
Due: none

fix(ios): select Xcode 26.0 for .NET 10 iOS SDK compatibility
  .github/workflows/app-package.yml
Due: none

feat(ios): add App Store (TestFlight) deployment to CD workflow
  .github/workflows/cd-app.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
