Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

Fix local DB loading and add E2E coverage
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests.E2E/Pages/PerekPageTests.cs
  app/BibleOnSite.Tests/Services/LocalDatabaseServiceTests.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/LocalDatabaseService.cs
Due: app

Improve segment spacing and hebdate text
  app/BibleOnSite/Services/PerekDataService.cs
Due: app

Add PerekViewModel unit tests
  app/BibleOnSite.Tests/ViewModels/PerekViewModelTests.cs
Due: none

Add Authors page from legacy app
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Pages/AuthorsPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/ViewModels/AuthorsViewModel.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

fix(ci): skip LocalDatabaseServiceTests when DB file not present
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Services/LocalDatabaseServiceTests.cs
Due: none

chore(release): Bump app version to 4.0.16 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

feat: add version verification to CI and pre-commit
  .github/workflows/ci.yml
  .github/workflows/shared-verify-version.yml
  .husky/pre-commit
  .husky/shared-checks.sh
  app/BibleOnSite/Pages/AuthorsPage.xaml
  devops/get-module-version.ts
  devops/github/ci/is-version-newer-than-baseline.ts
  devops/github/release/get-version.ts
  devops/package.json
Due: app

test: intentionally use released version to test CI version verification
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix: restore app version to 4.0.16 after CI validation test
  app/BibleOnSite/BibleOnSite.csproj
Due: app

docs: add version verification documentation
  docs/github/version-verification.md
Due: none

chore(release): Bump app version to 4.0.17 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

ci: add version verification comment to workflow
  .github/workflows/ci.yml
Due: none

docs: add version verification documentation (#1099)
  docs/github/version-verification.md
Due: none

ci: rename CD workflows to unique names for better badge identification
  .github/workflows/cd-app.yml
  .github/workflows/cd-aws.yml
  .github/workflows/cd-data.yml
Due: none

fix(app): add clear error message when deploying duplicate version to MS Store
  app/devops/Build.Deploy.cs
Due: none

chore(release): Bump app version to 4.0.18 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): improve MS Store error message for stale submissions
  app/devops/Build.Deploy.cs
Due: none

chore(release): Bump app version to 4.0.19 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): correct MS Store error message - root cause is version not bumped
  app/devops/Build.Deploy.cs
Due: none

chore(release): Bump app version to 4.0.20 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

ci: rename CD workflows to 'Continuous Deployment - <Module>'
  .github/workflows/cd-app.yml
  .github/workflows/cd-aws.yml
  .github/workflows/cd-data.yml
Due: none

fix(app): auto-delete pending MS Store flight submission before deploy
  app/devops/Build.Deploy.cs
Due: none

fix(app): add --no-confirm to MS Store delete command
  app/devops/Build.Deploy.cs
Due: none

chore(release): Bump app version to 4.0.21 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

feat(data): add MongoDB Docker image for CI integration tests
  .github/workflows/ci.yml
  data/.config/nextest.toml
  data/Makefile.toml
  data/sefaria/mongodb-docker/Dockerfile
  data/sefaria/mongodb-docker/README.md
  data/sefaria/mongodb-docker/init-mongo.sh
  docs/tests/data/integration-tests.md
Due: data

fix(data): use dynamic directory discovery for Sefaria dump extraction
  data/sefaria/mongodb-docker/Dockerfile
Due: data

fix(data): address Codacy warnings and remove shell script
  .github/workflows/ci.yml
  data/sefaria/mongodb-docker/Dockerfile
  data/sefaria/mongodb-docker/README.md
  data/sefaria/mongodb-docker/init-mongo.sh
  docs/practices/general.md
  docs/tests/data/integration-tests.md
Due: data

fix(data): fix MongoDB Docker build issues
  data/sefaria/mongodb-docker/Dockerfile
Due: data

fix(data): use runtime mongorestore instead of build-time
  data/sefaria/mongodb-docker/Dockerfile
Due: data

fix(ci): free disk space before MongoDB Docker build
  .github/workflows/ci.yml
Due: none

feat(ci): improve Docker image caching and disk space management
  .github/workflows/ci.yml
  docs/practices/general.md
Due: none

fix(ci): wait for MongoDB data restoration before running tests
  .github/workflows/ci.yml
  data/.config/nextest.toml
  data/Makefile.toml
Due: data

perf(ci): restore MongoDB data at build time for instant startup
  .github/workflows/ci.yml
  data/sefaria/mongodb-docker/Dockerfile
Due: data

fix(ci): revert to runtime mongorestore, increase wait timeout to 200 attempts
  .github/workflows/ci.yml
  data/sefaria/mongodb-docker/Dockerfile
Due: data

fix(ci): add mongorestore completion marker and stability check
  .github/workflows/ci.yml
  data/sefaria/mongodb-docker/Dockerfile
Due: data

perf(ci): restore MongoDB data at build time using shell background process
  .github/workflows/ci.yml
  data/sefaria/mongodb-docker/Dockerfile
Due: data

fix(ci): restore MongoDB to non-volume path at build time
  .github/workflows/ci.yml
  data/sefaria/mongodb-docker/Dockerfile
  data/sefaria/mongodb-docker/entrypoint.sh
Due: data

fix(ci): ensure LF line endings for entrypoint.sh
  data/sefaria/mongodb-docker/.gitattributes
  data/sefaria/mongodb-docker/Dockerfile
Due: data

fix(ci): use /bin/sh instead of bash for entrypoint
  data/sefaria/mongodb-docker/entrypoint.sh
Due: data

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
