Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

fix: add missing authors crate to data workspace
  data/authors/Cargo.toml
  data/authors/src/lib.rs
Due: data

fix: remove extra space in ecs-services.yaml for consistency
  docs/aws/cloudformation/ecs-services.yaml
Due: none

fix: resolve clippy lints in tanah-view mysql.rs
  data/sefaria/pipelines/tanah-view/src/commands/mysql.rs
Due: data

fix: resolve clippy lints in aggregation_test.rs
  data/sefaria/pipelines/tanah-view/tests/aggregation_test.rs
Due: data

chore: add data workspace to rust-analyzer linkedProjects
  .vscode/settings.json
Due: none

fix: resolve collapsible_if clippy lints in aggregation_test.rs
  data/sefaria/pipelines/tanah-view/tests/aggregation_test.rs
Due: data

style: run cargo fmt on data workspace
  data/mysql/db-populator/src/main.rs
  data/sefaria/pipelines/tanah-view/src/commands/sqlite.rs
  data/sefaria/pipelines/tanah-view/src/data/cycle_dates.rs
  data/sefaria/pipelines/tanah-view/src/main.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_cleanup.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_group.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_lookup.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_match.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_offsets.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_perek_dates.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_project.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_sort.rs
  data/sefaria/pipelines/tanah-view/src/stages/stage_window.rs
  data/sefaria/pipelines/tanah-view/tests/aggregation_test.rs
  data/sefaria/setup-and-population/src/main.rs
Due: data

fix: skip aggregation tests in CI (requires MongoDB with Sefaria dump)
  data/sefaria/pipelines/tanah-view/tests/aggregation_test.rs
Due: data

refactor: remove integration tests requiring MongoDB
  data/sefaria/pipelines/tanah-view/tests/aggregation_test.rs
Due: data

fix: restore integration tests with CI skip
  data/sefaria/pipelines/tanah-view/tests/aggregation_test.rs
Due: data

refactor: use feature flag for integration tests instead of runtime skip
  data/sefaria/pipelines/tanah-view/Cargo.toml
  data/sefaria/pipelines/tanah-view/tests/aggregation_test.rs
Due: data

refactor(data-deploy): execute SQL statements individually for better error reporting
  devops/deploy/data-deploy/index.mts
Due: none

chore: update extensions and architecture diagram [skip ci]
  .vscode/extensions.json
  docs/aws/architecture/architecture.drawio
  docs/aws/architecture/architecture.puml
  docs/aws/architecture/architecture.svg
Due: none

chore: bump version to 0.2.202 in package.json
  web/bible-on-site/package.json
Due: none

fix: workaround for reusable workflow result evaluation (#1065)
  .github/workflows/ci.yml
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package.json
Due: none

chore(release): Bump website version to 0.2.204 [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump api version to 0.1.13 [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

chore: bump data version to 0.1.1
  data/Cargo.lock
  data/Cargo.toml
Due: data

fix: simplify release_data condition to match working release_website/api pattern
  .github/workflows/ci.yml
Due: none

chore: update data README with version
  data/README.md
Due: data

fix: debug release_data - move condition to step level to debug outputs
  .github/workflows/ci.yml
  data/README.md
Due: data

chore: bump data version to v0.1.3 (retry after force push)
  data/README.md
Due: data

fix: remove debug step from release_data, keep workaround for #1065
  .github/workflows/ci.yml
Due: none

feat(data-cd): Lambda-based Data CD with VPC endpoints
  .github/workflows/cd-data.yml
  devops/deploy/data-deploy/index.mts
  devops/package-lock.json
  devops/package.json
  docs/aws/cloudformation/cloudformation.md
  docs/aws/cloudformation/data-deploy-lambda.yaml
  docs/aws/cloudformation/github-oidc.yaml
Due: none

chore(data): bump version to 0.1.2 to trigger Data CD
  data/Cargo.toml
Due: data

feat(app): add CI/CD pipeline for Android and Windows store deployments (#1087)
  .github/workflows/app-package.yml
  .github/workflows/cd-app.yml
  .github/workflows/cd-aws.yml
  .github/workflows/cd-data.yml
  .github/workflows/ci.yml
  .github/workflows/shared-dockerize.yml
  .github/workflows/shared-release.yml
  app/.nuke/build.schema.json
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Platforms/Windows/Package.appxmanifest
  app/devops/Build.Deploy.cs
  app/devops/Build.Package.cs
  app/devops/_build.csproj
  data/Cargo.lock
  docs/aws/cloudformation/data-deploy/data-deploy-lambda.py
  docs/aws/cloudformation/data-deploy/data-deploy.yaml
  docs/github/issues.md
  docs/github/workflows/cd/cd.md
  docs/github/workflows/ci/ci.md
Due: app, data

feat(app): add CI/CD pipeline for Android and Windows store deployments
  .github/workflows/app-package.yml
  .github/workflows/cd-app.yml
  .github/workflows/cd-aws.yml
  .github/workflows/cd-data.yml
  .github/workflows/ci.yml
  .github/workflows/shared-dockerize.yml
  .github/workflows/shared-release.yml
  app/.nuke/build.schema.json
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Platforms/Windows/Package.appxmanifest
  app/devops/Build.Deploy.cs
  app/devops/Build.Package.cs
  app/devops/_build.csproj
  data/Cargo.lock
  docs/aws/cloudformation/data-deploy/data-deploy-lambda.py
  docs/aws/cloudformation/data-deploy/data-deploy.yaml
  docs/github/issues.md
  docs/github/workflows/cd/cd.md
  docs/github/workflows/ci/ci.md
Due: app, data

fix(app): platform-specific restore for packaging workflows
  README.md
  app/devops/Build.Compile.cs
  app/devops/Build.Package.cs
Due: none

chore(app): bump version to 1.0.1
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): fix MSIX and AAB packaging in CI
  app/devops/Build.Package.cs
Due: none

chore(app): bump version to 1.0.2 to trigger packaging workflow
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): use correct NUKE 9 API for file copy
  app/devops/Build.Package.cs
Due: none

fix(app): add debug logging and use CopyToDirectory for AAB artifacts
  app/devops/Build.Package.cs
Due: none

debug: add artifact directory listing before upload
  .github/workflows/app-package.yml
Due: none

chore(app): bump version to 1.0.3 to test artifact upload debug
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix: use upload-artifact v4 instead of v6 (v6 has path detection issues)
  .github/workflows/app-package.yml
Due: none

chore(app): bump version to 1.0.4 to test upload-artifact v4
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix: try wildcard pattern and include-hidden-files for artifact upload
  .github/workflows/app-package.yml
Due: none

chore(app): bump version to 1.0.5 to test include-hidden-files fix
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
