Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

docs(agent): codify 'never leave red' + 'always check, agent merges' rules
  .github/copilot-instructions.md
Due: none

fix(#1526): resolve merge-introduced CI breaks
  data/mysql/db-populator/src/main.rs
  web/admin/tsconfig.json
  web/bible-on-site/biome.json
Due: data

fix(#1526): website biome.json -> master (migrated); admin EntityType type-guard
  web/admin/src/server/tanahpedia/structural.ts
  web/bible-on-site/biome.json
Due: none

fix(#1526): migrate biome config (recommended->preset) + stable spouse-opinion key
  web/bible-on-site/biome.json
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
Due: website

fix(#1526): close CodeQL security findings in tanahpedia preview/editor
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/WysiwygEditor.tsx
  web/bible-on-site/src/lib/tanahpedia/preview-format.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-preview-format.test.ts
Due: website

fix(#1526): drop generic tag-strip in truncatePreviewSnippet (CodeQL)
  web/bible-on-site/src/lib/tanahpedia/preview-format.ts
  web/bible-on-site/tests/unit/lib/tanahpedia-preview-format.test.ts
Due: website

chore(pre-commit): add local biome-lint hook to catch lint/security issues pre-push
  .pre-commit-config.yaml
  devops/precommit-biome.mjs
Due: none

fix(#1526): remove redundant unreachable guard in truncatePreviewSnippet (CodeQL)
  web/bible-on-site/src/lib/tanahpedia/preview-format.ts
Due: website

chore(release): Bump versions (website to 0.2.324, admin to 0.1.25, api to 0.1.34, bulletin to 0.1.10) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

docs(agent): codify 'never leave red' + 'always check, agent merges' rules (#1729)
  .github/copilot-instructions.md
Due: none

fix(app): perushim UX — refresh on return, settings CTA, download progress (#1725)
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/ViewModels/PreferencesViewModel.cs
Due: app

chore(release): Bump versions (app to 5.0.76) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(test): stop sefer-view E2E flakiness (CI retries + robust mount wait)
  web/bible-on-site/playwright.e2e.config.ts
  web/bible-on-site/tests/util/playwright/page-objects/sefer-page.ts
Due: none

chore(pre-commit): add local biome-lint hook to catch lint/security issues pre-push (#1730)
  .pre-commit-config.yaml
  devops/precommit-biome.mjs
Due: none

fix(deps): restore @emnapi/core+runtime in web/admin lockfile
  web/admin/package-lock.json
Due: none

fix(test): stop sefer-view E2E flakiness (CI retries + robust mount wait) (#1738)
  web/bible-on-site/playwright.e2e.config.ts
  web/bible-on-site/tests/util/playwright/page-objects/sefer-page.ts
Due: none

chore(release): Bump versions (admin to 0.1.27) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

chore(renovate): hold breaking dep majors so they stop re-opening
  renovate.json
Due: none

chore(renovate): hold breaking dep majors so they stop re-opening (#1741)
  renovate.json
Due: none

chore(release): Bump versions (admin to 0.1.29) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

chore(renovate): hold typst-as-lib <0.16 (breaks bulletin build)
  renovate.json
Due: none

chore(renovate): hold typst-as-lib <0.16 (breaks bulletin build) (#1743)
  renovate.json
Due: none

chore(renovate): hold @tiptap/* <3 (breaks admin editor)
  renovate.json
Due: none

chore(renovate): hold @tiptap/* <3 (breaks admin editor) (#1746)
  renovate.json
Due: none

chore(renovate): disable nitro-nightly bumps (breakage + CVEs)
  renovate.json
Due: none

chore(renovate): disable nitro-nightly bumps (breakage + CVEs) (#1749)
  renovate.json
Due: none

feat(tanahpedia): prepare branch for review
  .github/workflows/app-package.yml
  .github/workflows/cd-app.yml
  .github/workflows/cd-aws.yml
  .github/workflows/cd-bulletin.yml
  .github/workflows/cd-data.yml
  .github/workflows/ci.yml
  .github/workflows/shared-dockerize.yml
  .github/workflows/shared-verify-version.yml
  .gitignore
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/_build.csproj
  codecov.yml
  data/Cargo.lock
  devops/package-lock.json
  devops/package.json
  package-lock.json
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/ScrollToPerushPasuk.tsx
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/tests/tsconfig.json
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToPerushPasuk.test.tsx
  web/bible-on-site/tests/unit/tsconfig.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: app, website, data

fix(tanahpedia): avoid dynamic citation regex
  web/bible-on-site/src/lib/tanahpedia/tanach-citation-links.tsx
Due: website

test(tanahpedia): cover family label branches
  web/bible-on-site/tests/unit/lib/person-family-labels.test.ts
Due: none

fix(tanahpedia): clean quote regex classes
  web/bible-on-site/src/lib/tanach/tanach-pasuk-range.ts
  web/bible-on-site/src/lib/tanahpedia/tanach-citation-links.tsx
Due: website

fix(tanahpedia): avoid resize observer callback args
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
Due: website

fix(tanahpedia): pass resize observer callback directly
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
Due: website

fix(admin): match resize observer mock constructor
  web/admin/src/test/setup.ts
Due: none

test(website): stabilize read mode toggle e2e
  web/bible-on-site/tests/e2e/929/read-mode-toggle.test.ts
Due: none

chore(release): Bump versions (website to 0.2.325, admin to 0.1.30, api to 0.1.35, bulletin to 0.1.11, app to 5.0.77) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: app

chore(release): Bump versions (website to 0.2.327, admin to 0.1.32, app to 5.0.78) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

Improve Tanahpedia coverage
  web/bible-on-site/biome.json
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/lib/tanahpedia-service.test.ts
Due: website
