Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

feat(data): extend Isaiah chapter headers through chapter 18
  data/annotations/perakim-headers.yml
  data/mysql/tanah_sefarim_and_perakim_data.sql
Due: data

Fix mobile reader scroll bounce and saved settings navigation (#1964)
  web/bible-on-site/.covignore.mjs
  web/bible-on-site/biome.json
  web/bible-on-site/src/app/929/[number]/hebrew-font.ts
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/layout.tsx
  web/bible-on-site/src/lib/reader-settings.ts
  web/bible-on-site/tests/e2e/929/breadcrumb-header-offset.test.ts
  web/bible-on-site/tests/e2e/929/reader-scroll-boundaries.test.ts
  web/bible-on-site/tests/e2e/929/reader-settings.test.ts
Due: website

chore(release): Bump versions (website to 0.2.456) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(devops): run check-app-version in a pre-commit python env
  .pre-commit-config.yaml
Due: none

chore(devops): run check-app-version in a pre-commit python env (#1967)
  .pre-commit-config.yaml
Due: none

docs: record git-filter-repo and git-lfs migrate learnings
  .github/tool-registry.md
Due: none

docs: record git-filter-repo and git-lfs migrate learnings (#1969)
  .github/tool-registry.md
Due: none

fix(devops): quote biome.cmd path in pre-commit wrapper
  devops/precommit-biome.mjs
Due: none

feat(tanahpedia): wiki-style revision history for entry content (#1851)
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_alter_entry_revision_history.sql
  data/mysql/tanahpedia_structure.sql
  docs/tanahpedia/external-revision-api.md
  docs/tanahpedia/tanachpedia.dbml
  web/admin/src/components/tanahpedia/EntryHistoryPanel.tsx
  web/admin/src/components/tanahpedia/TanahpediaLlmAssistantPanel.tsx
  web/admin/src/lib/tanahpedia/html-diff.ts
  web/admin/src/lib/tanahpedia/revisions-shared.ts
  web/admin/src/routes/tanahpedia.entries.$id.tsx
  web/admin/src/server/db.ts
  web/admin/src/server/tanahpedia/entries.ts
  web/admin/src/server/tanahpedia/revisions.ts
  web/admin/tests/unit/lib/tanahpedia/html-diff.test.ts
  web/admin/tests/unit/lib/tanahpedia/revisions-shared.test.ts
  web/api/entities/src/tanahpedia/entry_revision.rs
  web/api/src/dtos/tanahpedia_entry_revision.rs
  web/api/src/resolvers/tanahpedia_revisions_resolver.rs
  web/api/src/services/tanahpedia_revisions_service.rs
  web/api/src/startup/schema_builder.rs
Due: api, data

fix(app): use FluentUI chevron for article 'Read more' affordance
  app/BibleOnSite/Controls/ArticleCard.xaml
Due: app

test(admin): unit-test revision server functions
  web/admin/tests/unit/server/tanahpedia/revisions.test.ts
Due: none

refactor(devops): migrate Husky hooks into pre-commit
  .cursor/rules/git-practices.mdc
  .github/instructions/git-practices.instructions.md
  .husky/post-commit
  .husky/pre-commit
  .pre-commit-config.yaml
  devops/flip-book-dep.mjs
  devops/install-git-hooks.mjs
  devops/precommit-biome.mjs
  devops/precommit-changes.mjs
  devops/precommit-run.mjs
  devops/precommit-rust.mjs
  devops/setup-dev-env.mts
  devops/test_precommit_merge.py
  docs/devops/devops.md
  docs/devops/pre-commit.md
  docs/practices/git.md
  docs/repo-structure.md
  package-lock.json
  package.json
  web/api/.husky/pre-commit
  web/bible-on-site/.husky/pre-commit
Due: none

fix(website): dark-mode overrides for hardcoded light styles
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/components/articles-section.module.css
  web/bible-on-site/src/app/929/[number]/components/breadcrumb.module.css
  web/bible-on-site/src/app/929/[number]/components/perushim-section.module.css
  web/bible-on-site/src/app/929/[number]/components/reader-settings.module.css
  web/bible-on-site/src/app/929/[number]/components/recitation-player.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer-composite.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/components/tanahpedia-link.module.css
  web/bible-on-site/src/app/929/authors/[authorParam]/page.module.css
  web/bible-on-site/src/app/929/authors/page.module.css
  web/bible-on-site/src/app/[section]/page.module.css
  web/bible-on-site/src/app/bookshelf/page.module.css
  web/bible-on-site/src/app/components/TanahSefarimSection.module.css
  web/bible-on-site/src/app/components/TosSection.module.css
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/src/app/journalism/page.module.css
  web/bible-on-site/src/app/not-found.module.css
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/pedia/components/PlacesMap.module.css
  web/bible-on-site/src/app/pedia/components/entry-occurrences.module.css
  web/bible-on-site/src/app/pedia/components/pasuk-preview-link.module.css
  web/bible-on-site/src/app/pedia/page.module.css
  web/bible-on-site/src/app/rabbis-blessing/page.module.css
Due: website

refactor(devops): migrate Husky hooks into pre-commit (#1970)
  .cursor/rules/git-practices.mdc
  .github/instructions/git-practices.instructions.md
  .husky/post-commit
  .husky/pre-commit
  .pre-commit-config.yaml
  devops/flip-book-dep.mjs
  devops/install-git-hooks.mjs
  devops/precommit-biome.mjs
  devops/precommit-changes.mjs
  devops/precommit-run.mjs
  devops/precommit-rust.mjs
  devops/setup-dev-env.mts
  devops/test_precommit_merge.py
  docs/devops/devops.md
  docs/devops/pre-commit.md
  docs/practices/git.md
  docs/repo-structure.md
  package-lock.json
  package.json
  web/api/.husky/pre-commit
  web/bible-on-site/.husky/pre-commit
Due: none

fix(app): re-snap perek carousel on rotation to update item width
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

feat(app,website): Android App Links for perek URLs
  app/BibleOnSite.Tests/Helpers/AppLinkHelperTests.cs
  app/BibleOnSite/Helpers/AppLinkHelper.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
  web/bible-on-site/public/.well-known/assetlinks.json
  web/bible-on-site/tests/unit/lib/assetlinks.test.ts
Due: app

fix(app): use FluentUI chevron for article 'Read more' affordance (#1972)
  app/BibleOnSite/Controls/ArticleCard.xaml
Due: app

chore(devops): add hadolint hook and clean up Dockerfile findings
  .github/tool-registry.md
  .pre-commit-config.yaml
  data/sefaria/mongodb-docker/Dockerfile
  devops/coverage/lcov-docker/Dockerfile
  devops/rustfs/Dockerfile
  docs/devops/pre-commit.md
  web/admin/Dockerfile
  web/api/Dockerfile
  web/bible-on-site/Dockerfile
  web/bulletin/Dockerfile
Due: data

fix(app): theme-aware pasuk selection highlight in dark mode
  app/BibleOnSite/Pages/PerekPage.xaml
Due: app

fix(app): open iOS shell flyout from right-edge swipe in RTL
  app/BibleOnSite/AppShell.xaml.cs
Due: app

chore: align Codacy suppressions and exclude MySQL alter script
  .codacy.yml
  devops/precommit-biome.mjs
  web/admin/src/components/tanahpedia/EntryHistoryPanel.tsx
  web/admin/src/server/db.ts
Due: none

fix(devops): quote biome binary path on Windows for checkout paths with spaces
  devops/precommit-biome.mjs
Due: none

feat(website): author articles datagrid with search, filter and sorting
  web/bible-on-site/src/app/929/authors/[authorParam]/AuthorArticlesTable.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/author-articles-table.module.css
  web/bible-on-site/src/app/929/authors/[authorParam]/page.module.css
  web/bible-on-site/src/app/929/authors/[authorParam]/page.tsx
  web/bible-on-site/src/lib/authors/articles-grid.ts
  web/bible-on-site/tests/unit/app/author-param-page.test.ts
  web/bible-on-site/tests/unit/lib/author-articles-grid.test.ts
Due: website

chore(release): Bump versions (app to 5.0.122) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

feat(website): experimental Taamey D font option in reader settings
  web/bible-on-site/src/app/929/[number]/components/ReaderSettings.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/hebrew-font.ts
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/fonts/TaameyD-license.txt
  web/bible-on-site/src/app/fonts/TaameyD.woff2
  web/bible-on-site/src/lib/reader-settings.ts
  web/bible-on-site/tests/unit/components/ReaderSettings.test.tsx
  web/bible-on-site/tests/unit/lib/reader-settings.test.ts
Due: website

chore(devops): add hadolint hook and clean up Dockerfile findings (#1979)
  .github/tool-registry.md
  .pre-commit-config.yaml
  data/sefaria/mongodb-docker/Dockerfile
  devops/coverage/lcov-docker/Dockerfile
  devops/rustfs/Dockerfile
  docs/devops/pre-commit.md
  web/admin/Dockerfile
  web/api/Dockerfile
  web/bible-on-site/Dockerfile
  web/bulletin/Dockerfile
Due: data

docs(devops): investigate self-hosted Codecov for #1104
  .github/tool-registry.md
  .github/workflows/ci.yml
  docs/devops/codecov-reliability.md
Due: none

feat(tanahpedia): wiki-style revision history for entry content (#1851) (#1971)
  .codacy.yml
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_alter_entry_revision_history.sql
  data/mysql/tanahpedia_structure.sql
  devops/precommit-biome.mjs
  docs/tanahpedia/external-revision-api.md
  docs/tanahpedia/tanachpedia.dbml
  web/admin/src/components/tanahpedia/EntryHistoryPanel.tsx
  web/admin/src/components/tanahpedia/TanahpediaLlmAssistantPanel.tsx
  web/admin/src/lib/tanahpedia/html-diff.ts
  web/admin/src/lib/tanahpedia/revisions-shared.ts
  web/admin/src/routes/tanahpedia.entries.$id.tsx
  web/admin/src/server/db.ts
  web/admin/src/server/tanahpedia/entries.ts
  web/admin/src/server/tanahpedia/revisions.ts
  web/admin/tests/unit/lib/tanahpedia/html-diff.test.ts
  web/admin/tests/unit/lib/tanahpedia/revisions-shared.test.ts
  web/admin/tests/unit/server/tanahpedia/revisions.test.ts
  web/api/entities/src/tanahpedia/entry_revision.rs
  web/api/src/dtos/tanahpedia_entry_revision.rs
  web/api/src/resolvers/tanahpedia_revisions_resolver.rs
  web/api/src/services/tanahpedia_revisions_service.rs
  web/api/src/startup/schema_builder.rs
Due: api, data

chore(release): Bump versions (website to 0.2.457) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(app): enable Windows targeting for E2E test project restore
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
Due: none

ci(dependency-graph): replace managed NuGet submission with explicit workflow
  .github/workflows/dependency-submission.yml
Due: none

chore(release): Bump versions (website to 0.2.458, api to 0.1.70, admin to 0.1.105, bulletin to 0.1.28) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

fix(website): cover Mapbox popup and vertical spouse ribbons in dark mode
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/pedia/components/PlacesMap.module.css
Due: website

fix(website): address Devin Review on the author articles table
  devops/precommit-biome.mjs
  web/bible-on-site/src/app/929/authors/[authorParam]/AuthorArticlesTable.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/page.module.css
  web/bible-on-site/tests/unit/components/AuthorArticlesTable.test.tsx
Due: website

fix(app): address Devin Review on Android app links
  app/BibleOnSite.Tests/Helpers/AppLinkHelperTests.cs
  app/BibleOnSite/Helpers/AppLinkHelper.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
Due: app

fix(app): re-snap carousel when rotation lands during initial load
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(app): honor flyout lock and handler replacement in edge gesture
  app/BibleOnSite/AppShell.xaml.cs
Due: app

fix(app): restore pasuk-number contrast in dark selection
  app/BibleOnSite/Pages/PerekPage.xaml
Due: app
