Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

fix(web): remove generateStaticParams from [slug] page to fix build
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/tests/perf/route-rendering.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

fix(web): remove generateStaticParams from commentary pages to fix Docker build (#1510)
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/tests/perf/route-rendering.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

fix(web): revert generateStaticParams to page.tsx to fix DB connections
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/src/app/929/[number]/page.tsx
Due: website

fix(web): revert generateStaticParams to page.tsx + remove dead [slug] GSP (#1512)
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/src/app/929/[number]/page.tsx
Due: website

feat(web): make all commentary pages SSG by fixing generateStaticParams
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/tests/perf/build-size.test.ts
  web/bible-on-site/tests/perf/route-rendering.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

feat(web): make all commentary pages SSG by fixing generateStaticParams (#1513)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/tests/perf/build-size.test.ts
  web/bible-on-site/tests/perf/route-rendering.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

fix(web): use bulk queries in generateStaticParams to avoid Too many connections
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/lib/api-client.ts
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/src/lib/perushim/service.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

fix(web): use bulk queries in generateStaticParams to avoid Too many connections (#1514)
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/lib/api-client.ts
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/src/lib/perushim/service.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

fix(web): use ISR for commentary pages to fit Docker build constraints
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/tests/perf/build-size.test.ts
  web/bible-on-site/tests/perf/route-rendering.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

fix(web): use ISR for commentary pages to fit Docker build constraints (#1515)
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/tests/perf/build-size.test.ts
  web/bible-on-site/tests/perf/route-rendering.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.296) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(web): host-build strategy for full SSG commentary pages
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/Dockerfile
  web/bible-on-site/Dockerfile.prebuilt
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/tests/perf/build-size.test.ts
  web/bible-on-site/tests/perf/route-rendering.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

ci: temporarily run Package Website on PR for validation
  .github/workflows/ci.yml
Due: none

fix(app): correct perakim counts for יואל and מלאכי in PerakimData
  app/BibleOnSite.Tests/Data/PerakimDataTests.cs
  app/BibleOnSite/Data/PerakimData.cs
Due: app

ci: add disk monitoring and cache pruning during SSG build
  .github/workflows/shared-dockerize.yml
Due: none

fix(app): correct perakim counts for יואל and מלאכי in PerakimData (#1518)
  app/BibleOnSite.Tests/Data/PerakimDataTests.cs
  app/BibleOnSite/Data/PerakimData.cs
Due: app

chore(release): Bump versions (app to 5.0.65) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

ci: aggressive disk cleanup + monitoring for 15K-page SSG build
  .github/workflows/shared-dockerize.yml
Due: none

ci: build without standalone mode to avoid 150 GB peak disk usage
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/Dockerfile.prebuilt
  web/bible-on-site/next.config.mjs
Due: none

ci: keep standalone mode, maximize disk space for 15K-page SSG build
  .github/workflows/shared-dockerize.yml
  web/bible-on-site/Dockerfile.prebuilt
  web/bible-on-site/next.config.mjs
Due: none

Lazy-load sefer-level data in book view to drastically reduce SSG page size
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/actions.ts
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/dev/sefer/[number]/SeferDirect.tsx
  web/bible-on-site/src/app/dev/sefer/[number]/page.tsx
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/src/lib/articles/types.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
Due: website

Fix CodeQL alert and add tests for coverage
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/tests/unit/app/actions.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/lib/articles.test.ts
Due: website

Fix CodeQL tainted-format-string alert in getArticleSummariesByPerekId
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/tests/unit/lib/articles.test.ts
Due: website

Improve unit test coverage for Sefer component and service layer
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/src/lib/perushim/service.ts
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
Due: website

Fix istanbul ignore comments for bulk-query functions
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/src/lib/perushim/service.ts
Due: website

chore(release): Bump versions (website to 0.2.297) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Remove dead bulk-query functions from article/perushim services
  web/bible-on-site/package.json
  web/bible-on-site/src/lib/articles/service.ts
  web/bible-on-site/src/lib/perushim/service.ts
Due: website

Enable full SSG for commentary pages
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/lib/perushim/service.ts
  web/bible-on-site/tests/perf/route-rendering.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/components/GoogleAnalytics.test.tsx
  web/bible-on-site/tests/unit/lib/perushim.test.ts
Due: website

Raise build-size thresholds for full SSG commentary
  web/bible-on-site/tests/perf/build-size.test.ts
Due: none

Enable full SSG for commentary pages (#1522)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/lib/perushim/service.ts
  web/bible-on-site/tests/perf/build-size.test.ts
  web/bible-on-site/tests/perf/route-rendering.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/components/GoogleAnalytics.test.tsx
  web/bible-on-site/tests/unit/lib/perushim.test.ts
Due: website

chore(release): Bump versions (website to 0.2.299) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Fix Sefer view: batch-fetch metadata, improve FlipBook performance, add bot blocking toggle
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  web/bible-on-site/package-lock.json
  web/bible-on-site/src/app/929/[number]/actions.ts
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-composite.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/test_results.json
  web/bible-on-site/tests/unit/app/proxy.test.ts
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite.test.tsx
Due: website

Fix biome noNonNullAssertion warning in SeferComposite-wide test
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
Due: none

Fix missing perushim prop in article/perush page SeferComposite usage
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
Due: website

Fix missing perushim prop in dev Sefer page
  web/bible-on-site/src/app/dev/sefer/[number]/SeferDirect.tsx
  web/bible-on-site/src/app/dev/sefer/[number]/page.tsx
Due: website

Fix Sefer view: batch-fetch metadata, improve FlipBook performance (#1524)
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  web/bible-on-site/package-lock.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/actions.ts
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer-composite.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/dev/sefer/[number]/SeferDirect.tsx
  web/bible-on-site/src/app/dev/sefer/[number]/page.tsx
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/test_results.json
  web/bible-on-site/tests/unit/app/proxy.test.ts
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.300) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Upgrade .NET 9 → 10, Nuke 9.x → 10.1, and MAUI 10
  .cursor/rules/app-practices.mdc
  .github/workflows/cd-app.yml
  .github/workflows/ci.yml
  app/.config/dotnet-tools.json
  app/BibleOnSite.Core/BibleOnSite.Core.csproj
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Controls/CircularMenu.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  app/BibleOnSite/ViewModels/PreferencesViewModel.cs
  app/build/Build.cs
  app/devops/Build.Compile.cs
  app/devops/Build.Package.cs
  app/devops/Build.Run.cs
  app/devops/_build.csproj
Due: app

Add .slnx solution, adopt Nuke [Solution] attribute, clean up CI
  .github/workflows/ci.yml
  app/.config/dotnet-tools.json
  app/.nuke/build.schema.json
  app/BibleOnSite.Tests/Fixtures/ApiServerFixture.cs
  app/BibleOnSite.Tests/Fixtures/DatabasePopulatorFixture.cs
  app/BibleOnSite.Tests/Services/LocalDatabaseServiceTests.cs
  app/bible-on-site.slnx
  app/devops/Build.cs
Due: none

Upgrade all NuGet dependencies to latest
  app/BibleOnSite.Core/BibleOnSite.Core.csproj
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/_build.csproj
Due: app

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
