Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

test(web): retain the original navbar failure trace
  web/bible-on-site/tests/e2e/navbar-hamburger.test.ts
Due: none

chore(release): Bump versions (website to 0.2.469) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

test(web): retain the original navbar failure trace (#2010)
  web/bible-on-site/tests/e2e/navbar-hamburger.test.ts
Due: none

chore(release): Bump versions (app to 5.0.127) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

feat(website): make Taamey D the default perek font
  web/bible-on-site/src/app/929/[number]/components/ReaderSettings.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/hebrew-font.ts
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/lib/reader-settings.ts
  web/bible-on-site/tests/unit/components/ReaderSettings.test.tsx
  web/bible-on-site/tests/unit/lib/reader-settings.test.ts
Due: website

feat(app): claim תנך.com (xn--febl3a.com) in Android App Links
  app/BibleOnSite.Tests/Helpers/AppLinkHelperTests.cs
  app/BibleOnSite/Helpers/AppLinkHelper.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
Due: app

fix(cd): resume the exact TestFlight build after partial uploads
  .github/workflows/cd-app.yml
  .github/workflows/testflight-status.yml
  devops/github/release/testflight-build.mjs
  devops/github/release/testflight-build.test.mjs
  devops/package.json
  docs/github/workflows/ci/ci.md
Due: none

fix(cd): expose read-only TestFlight inspection through manual dispatch
  .github/workflows/cd-app.yml
  .github/workflows/testflight-status.yml
Due: none

docs: app deep-link capture for #2012 (xn--febl3a.com)
  2012-applink-com.png
Due: none

fix(deps): anchor wasm32-wasi optional dep chain in web lockfiles
  .github/copilot-instructions.md
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(app): claim תנך.com (xn--febl3a.com) in Android App Links (#2012)
  app/BibleOnSite.Tests/Helpers/AppLinkHelperTests.cs
  app/BibleOnSite/Helpers/AppLinkHelper.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
Due: app

fix(cd): resume exact TestFlight builds after partial uploads (#2013)
  .github/workflows/cd-app.yml
  .github/workflows/testflight-status.yml
  devops/github/release/testflight-build.mjs
  devops/github/release/testflight-build.test.mjs
  devops/package.json
  docs/github/workflows/ci/ci.md
Due: none

chore(release): Bump versions (website to 0.2.470, app to 5.0.128) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

test(web): capture next dev output and pre-warm every dynamic route
  .github/workflows/ci.yml
  web/bible-on-site/launch-e2e-server.mts
  web/bible-on-site/playwright-global-setup.js
Due: none

docs(aws): capture original rollout probe failures and correct live-state claims
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  docs/aws/cloudformation/ecr-ecs-auto-deploy/README.md
  docs/aws/cloudformation/ecr-ecs-auto-deploy/ecr-ecs-auto-deploy.yaml
  docs/aws/cloudformation/ecr-ecs-auto-deploy/ecr-to-ecs-deploy-lambda.py
Due: none

docs(aws): keep prototype output consistent with its unvalidated status
  docs/aws/cloudformation/ecr-ecs-auto-deploy/ecr-to-ecs-deploy-lambda.py
Due: none

chore(release): Bump versions (app to 5.0.129) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

feat(website): make Taamey D the default perek font (#2011)
  web/bible-on-site/src/app/929/[number]/components/ReaderSettings.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/hebrew-font.ts
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/lib/reader-settings.ts
  web/bible-on-site/tests/unit/components/ReaderSettings.test.tsx
  web/bible-on-site/tests/unit/lib/reader-settings.test.ts
Due: website

fix(cd): recover TestFlight distribution independently
  .github/workflows/cd-app.yml
  .github/workflows/testflight-distribution.yml
  devops/github/release/check-deployment.test.mjs
  devops/github/release/deployment-state.mjs
  devops/github/release/deployment-state.test.mjs
  docs/github/workflows/ci/ci.md
Due: none

test(web): capture next dev output and pre-warm every dynamic route (#2015)
  .github/workflows/ci.yml
  web/bible-on-site/launch-e2e-server.mts
  web/bible-on-site/playwright-global-setup.js
Due: none

fix(cd): recover TestFlight distribution independently (#2018)
  .github/workflows/cd-app.yml
  .github/workflows/testflight-distribution.yml
  devops/github/release/check-deployment.test.mjs
  devops/github/release/deployment-state.mjs
  devops/github/release/deployment-state.test.mjs
  docs/github/workflows/ci/ci.md
Due: none

Record router evidence for release handover failures (#2017)
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  docs/aws/cloudformation/ecr-ecs-auto-deploy/README.md
  docs/aws/cloudformation/ecr-ecs-auto-deploy/ecr-ecs-auto-deploy.yaml
  docs/aws/cloudformation/ecr-ecs-auto-deploy/ecr-to-ecs-deploy-lambda.py
Due: none

fix(deps): anchor wasm32-wasi optional dep chain in web lockfiles (#2014)
  .github/copilot-instructions.md
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

docs(aws): isolate Nginx validation from live temporary paths
  docs/aws/cloudformation/ec2-nginx/router/README.md
Due: none

docs(aws): isolate Nginx validation from live temporary paths (#2019)
  docs/aws/cloudformation/ec2-nginx/router/README.md
Due: none

chore(release): Bump versions (website to 0.2.471) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions to release (website to 0.2.472)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

refactor(devops): dedupe admin pipeline scripts and add real e2e coverage
  .github/workflows/ci.yml
  devops/ensure-dev-db.mts
  devops/merge-coverage.mts
  devops/merge-lcov.mts
  devops/package.json
  web/admin/.env.test
  web/admin/.gitignore
  web/admin/.playwright-results/.last-run.json
  web/admin/.test.env
  web/admin/README.md
  web/admin/app.config.timestamp_1769324529067.js
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/playwright.config.ts
  web/admin/scripts/ensure-dev-db.mjs
  web/admin/tests/e2e/articles.test.ts
  web/admin/tests/e2e/health.test.ts
  web/admin/tests/e2e/rabbis.test.ts
  web/admin/tests/util/e2e-debug-port.ts
  web/admin/tests/util/e2e-server-coverage-teardown.ts
  web/admin/tests/util/launch-e2e-server.mts
  web/admin/tests/util/merge-coverage.mts
  web/admin/tests/util/test-fixture.ts
  web/bible-on-site/package.json
  web/bible-on-site/scripts/ensure-dev-db.mjs
  web/shared/tests-util/environment.d.mts
Due: none

chore(release): Bump versions (admin to 0.1.107) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

fix(deps): move next off canary to stable 16.4.0
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(deploy): require warmed website readiness before handover
  .github/workflows/shared-dockerize.yml
  docs/aws/cloudformation/ecs-services.yaml
  docs/aws/deployment-readiness-2026-10-06.md
  web/bible-on-site/Dockerfile
  web/bible-on-site/src/app/api/health/ready/route.ts
Due: website

chore(release): Bump versions (website to 0.2.473) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(admin): flush server e2e coverage via NODE_V8_COVERAGE + CDP exit
  web/admin/tests/util/e2e-server-coverage-teardown.ts
  web/admin/tests/util/launch-e2e-server.mts
Due: none

fix(deploy): drain cached requests and verify actual coverage reports
  .github/workflows/ci.yml
  devops/github/ci/codecov-report-state.mjs
  devops/github/ci/codecov-report-state.test.mjs
  docs/aws/cloudformation/ecs-services.yaml
  docs/aws/deployment-readiness-2026-10-06.md
  docs/devops/codecov-reliability.md
  web/bible-on-site/Dockerfile
  web/bible-on-site/scripts/start-server.mjs
  web/bible-on-site/scripts/start-server.test.mjs
  web/bible-on-site/tests/unit/server-drain.test.ts
Due: none

docs(deploy): cover the first transition from the old launcher
  docs/aws/deployment-readiness-2026-10-06.md
Due: none

ci: always test coverage reporting guards
  .github/workflows/ci.yml
Due: none

fix(admin): switch e2e coverage to istanbul instrumentation
  devops/merge-lcov.mts
  web/admin/README.md
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/playwright.config.ts
  web/admin/src/server.tsx
  web/admin/tests/util/e2e-debug-port.ts
  web/admin/tests/util/e2e-server-coverage-teardown.ts
  web/admin/tests/util/launch-e2e-server.mts
  web/admin/tests/util/test-fixture.ts
  web/admin/vite.config.ts
Due: none

fix(devops): drop yargs/dotenv from shared scripts
  devops/ensure-dev-db.mts
  devops/merge-lcov.mts
Due: none
