Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

chore(release): Bump versions (app to 5.0.146) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions (api to 0.1.75) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

fix(recitation): resolve delivery lint while preserving qualified source
  data/recitation/SHADOW_CACHE.md
  data/recitation/checkpoint_handoff.py
  data/recitation/shadow_benchmark.py
Due: data

fix(website): skip invalid chapter references on author pages
  web/bible-on-site/src/app/929/authors/[authorParam]/page.tsx
  web/bible-on-site/tests/unit/app/author-param-page.test.ts
Due: website

docs(recitation): use an unambiguous handoff docstring
  data/recitation/checkpoint_handoff.py
Due: data

Reuse unchanged Whisper cross-attention cache without repeated transfers (#2091)
  data/recitation/SHADOW_CACHE.md
  data/recitation/benchmarks/shadow-sanity-2026-10-09.json.gz
  data/recitation/checkpoint_handoff.py
  data/recitation/cross_cache_shadow.py
  data/recitation/shadow_benchmark.py
  data/recitation/shadow_worker.py
  data/recitation/test_checkpoint_handoff.py
  data/recitation/test_cross_cache_shadow.py
Due: data

e2e(ios): reset stale XCTest launch environment on relaunch
  app/BibleOnSite.Tests.MobileE2E/Configuration/IosRelaunchEnvironmentTests.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceSession.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
Due: none

ci(app): shadow-mode deterministic E2E impact selection (#2085)
  .github/workflows/app-mobile-e2e.yml
  .github/workflows/ci.yml
  app/BibleOnSite.Tests.MobileE2E/CoverageEvidence.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceTest.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/devops/Build.Test.cs
  app/mobile-e2e/README.md
  app/mobile-e2e/e2e-impact.json
  app/mobile-e2e/run.mjs
  devops/github/ci/determine-changes.test.ts
  devops/github/ci/determine-changes.ts
  devops/github/ci/e2e-impact/collect-appium.ts
  devops/github/ci/e2e-impact/e2e-impact.test.ts
  devops/github/ci/e2e-impact/e2e-impact.ts
  devops/github/ci/e2e-impact/github.ts
  devops/github/ci/e2e-impact/glob.ts
  devops/github/ci/e2e-impact/model.ts
  devops/github/ci/e2e-impact/select.ts
  devops/github/ci/e2e-impact/xunit-discovery.ts
  docs/tests/app/e2e-impact.md
Due: none

app/tests: migrate xunit 2.9.3 to xunit.v3 4.0.1
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
  app/BibleOnSite.Tests.E2E/Fixtures/AppFixture.cs
  app/BibleOnSite.Tests.E2E/Navigation/ArticlesNavigationTests.cs
  app/BibleOnSite.Tests.E2E/Pages/PerekPageTests.cs
  app/BibleOnSite.Tests.E2E/Pages/SelectionModeTests.cs
  app/BibleOnSite.Tests.MobileE2E/BibleOnSite.Tests.MobileE2E.csproj
  app/BibleOnSite.Tests.MobileE2E/Configuration/DeviceSessionRecoveryTests.cs
  app/BibleOnSite.Tests.MobileE2E/IosReaderTests.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceTest.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerekScrollStabilityTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerushimHtmlScrollStabilityTests.cs
  app/BibleOnSite.Tests.MobileE2E/packages.lock.json
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Fixtures/ApiServerFixture.cs
  app/BibleOnSite.Tests/Fixtures/DatabasePopulatorFixture.cs
  app/BibleOnSite.Tests/Helpers/AtomicFileTests.cs
  app/BibleOnSite.Tests/Services/BaseGraphQLServiceTests.cs
  app/BibleOnSite.Tests/Services/LocalDatabaseServiceTests.cs
  app/BibleOnSite.Tests/Services/NavigationBoundaryTests.cs
  app/BibleOnSite.Tests/Services/NotesDeliveryTests.cs
  app/BibleOnSite.Tests/Services/OdrCacheTests.cs
  app/BibleOnSite.Tests/Services/PerushimAttributionTests.cs
  app/BibleOnSite.Tests/Services/PerushimNotesServiceTests.cs
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite.Tests/Services/SearchIndexServiceTests.cs
  app/BibleOnSite.Tests/Services/StarterOfflineTests.cs
  app/BibleOnSite.Tests/Services/StarterServiceIntegrationTests.cs
  app/BibleOnSite.Tests/ViewModels/AsyncCommandsTests.cs
  app/BibleOnSite.Tests/ViewModels/ChapterSearchTests.cs
  app/BibleOnSite.Tests/ViewModels/DiagnosticsExportTests.cs
  app/BibleOnSite.Tests/ViewModels/PreferencesViewModelTests.cs
Due: none

app/tests: Path.Join in place of Path.Combine in touched test files
  app/BibleOnSite.Tests/Services/NotesDeliveryTests.cs
  app/BibleOnSite.Tests/Services/OdrCacheTests.cs
  app/BibleOnSite.Tests/Services/PerushimAttributionTests.cs
  app/BibleOnSite.Tests/Services/StarterOfflineTests.cs
Due: none

app/tests: poll for Progress<T> callback in Perushim download test
  app/BibleOnSite.Tests/ViewModels/PreferencesViewModelTests.cs
Due: none

app/tests: run xunit.v3 tests on native Microsoft.Testing.Platform
  app/.config/dotnet-tools.json
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
  app/BibleOnSite.Tests.MobileE2E/BibleOnSite.Tests.MobileE2E.csproj
  app/BibleOnSite.Tests.MobileE2E/packages.lock.json
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/coverlet.runsettings
  app/devops/Build.Coverage.cs
  app/devops/Build.Test.cs
  app/global.json
Due: none

app/tests: ValueTask lifetimes for post-rebase MobileE2E helpers
  app/BibleOnSite.Tests.MobileE2E/Configuration/DeviceSessionRecoveryTests.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceTest.cs
Due: none

docs: coverage collection runs through coverlet.console and MTP
  docs/tests/app/coverage/coverage.md
Due: none

refactor(ci): remove regex construction from e2e-impact scanning (#2085)
  devops/github/ci/e2e-impact/collect-appium.ts
  devops/github/ci/e2e-impact/e2e-impact.test.ts
  devops/github/ci/e2e-impact/github.ts
  devops/github/ci/e2e-impact/glob.ts
  devops/github/ci/e2e-impact/model.ts
  devops/github/ci/e2e-impact/select.ts
  devops/github/ci/e2e-impact/xunit-discovery.ts
Due: none

app/tests: pass TestContext.Current.CancellationToken in search tests
  app/BibleOnSite.Tests/Services/ArticleSearchServiceTests.cs
Due: none

devops: repeat coverlet exclude flags per pattern
  app/devops/Build.Coverage.cs
Due: none

e2e(ios): retry transient XCTDaemon launch timeouts; drop diag logging
  app/BibleOnSite.Tests.MobileE2E/Configuration/IosRelaunchEnvironmentTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite/Pages/PerekPage.Search.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

feat(ci): structural fingerprints prove trivia-only edits in e2e selection (#2085)
  app/mobile-e2e/README.md
  app/mobile-e2e/e2e-impact.json
  devops/github/ci/e2e-impact/collect-appium.ts
  devops/github/ci/e2e-impact/e2e-impact.test.ts
  devops/github/ci/e2e-impact/e2e-impact.ts
  devops/github/ci/e2e-impact/fingerprint.ts
  devops/github/ci/e2e-impact/model.ts
  devops/github/ci/e2e-impact/select.ts
  docs/tests/app/e2e-impact.md
Due: none

chore(release): Bump versions (bulletin to 0.1.35) [skip ci]
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

refactor(ci): rename lexer variable to satisfy Codacy heuristics (#2085)
  devops/github/ci/e2e-impact/fingerprint.ts
Due: none

fix(website): tolerate articles referencing out-of-range perakim on author pages
  web/bible-on-site/src/app/929/authors/[authorParam]/page.tsx
Due: website

app: drop redundant TouchActive check in long-press guard
  app/BibleOnSite/Helpers/PressGestureTracker.cs
Due: app

app/tests: cover download progress overload and title-change notification
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite.Tests/ViewModels/ArticlesViewModelTests.cs
Due: none

fix(app): bake iOS bottom bar fix 16, drop TestFlight debug box
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

test(app): widen the first commentary-search deadline for iOS
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
Due: none

Release native recitation packs when approved timings change
  devops/github/ci/determine-changes.test.ts
  devops/github/ci/determine-changes.ts
Due: none

test(e2e): bound commentary-tap retry loop so the iteration limit is explicit
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
Due: none

test(app): make overload-forwarding observable in article-search tests
  app/BibleOnSite.Tests/Services/ArticleSearchServiceTests.cs
Due: none

chore(qa-service): bump openssl 0.10.75 -> 0.10.81 for advisory fix
  web/qa-service/Cargo.lock
Due: none

e2e(android): deliver suite marker as intent extra with per-install marker file
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
  app/BibleOnSite/Services/SearchIndexService.cs
Due: app

fix(app): center bottom-menu toggle icon via FluentIcons glyphs
  app/BibleOnSite.Tests.E2E/Android/gesture_regressions.py
  app/BibleOnSite.Tests.E2E/Navigation/ArticlesNavigationTests.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(app): reset bottom bar layout when iOS inset reaches zero
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

docs: FAB icon centering before/after for #2106
  2106-after-closed.png
  2106-after-open.png
  2106-before-closed.png
  2106-before-open.png
Due: none

ci(app): size the mobile E2E hang guard for the iOS index build
  app/devops/Build.Test.cs
Due: none
