Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

chore(release): Bump versions (website to 0.2.347) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(website): revert chevron icon to original bold triangle; bump gated module versions after master merge
  app/BibleOnSite/BibleOnSite.csproj
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/public/icons/chevron-down.svg
  web/bible-on-site/src/app/929/[number]/components/breadcrumb.module.css
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: app, website

chore(release): Bump versions (website to 0.2.349, admin to 0.1.58) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(api,bulletin): migrate to sea-orm v2 runtime-tokio-native-tls feature
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/Cargo.toml
  web/api/src/startup/schema_builder.rs
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: api

test(admin): improve family API test coverage to 100%
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/tests/unit/server/tanahpedia/family.test.ts
Due: none

fix(api,bulletin): migrate to sea-orm v2 runtime-tokio-native-tls feature (#1791)
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/Cargo.toml
  web/api/src/startup/schema_builder.rs
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: api

test(admin): improve family API test coverage to 100% (#1792)
  web/admin/tests/unit/server/tanahpedia/family.test.ts
Due: none

chore(release): Bump versions (website to 0.2.351, admin to 0.1.60, app to 5.0.82) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

Raise website coverage gate to 96 (#1784)
  app/BibleOnSite/BibleOnSite.csproj
  codecov.yml
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/launch-e2e-server.mts
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/playwright.base.config.ts
  web/bible-on-site/playwright.e2e.config.ts
  web/bible-on-site/tests/e2e/929/book-view-url.test.ts
  web/bible-on-site/tests/unit/app/tanahpedia-entity-type-page.test.ts
  web/bible-on-site/tests/unit/app/tanahpedia-entry-page.test.ts
  web/bible-on-site/tests/unit/components/EntityListItem.test.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/components/TanahpediaLink.test.tsx
  web/bible-on-site/tests/unit/lib/person-family-chronology.test.ts
  web/bible-on-site/tests/unit/lib/register-tanach.test.ts
  web/bible-on-site/tests/unit/lib/tanach-citation-links.test.tsx
  web/bible-on-site/tests/unit/lib/tanahpedia-service.test.ts
  web/bible-on-site/tests/util/playwright/page-objects/sefer-page.ts
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: app

Fix Rust MSRV for package Docker builds
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/Dockerfile
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/Dockerfile
Due: none

fix(website): tanahpedia container height, responsive breadcrumb, chevron icon (#1777)
  app/BibleOnSite/BibleOnSite.csproj
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/breadcrumb.module.css
  web/bible-on-site/src/app/tanahpedia/page.module.css
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: app, website

Fix Rust MSRV for package Docker builds (#1793)
  web/api/Dockerfile
  web/bulletin/Dockerfile
Due: none

Improve admin family API patch coverage
  web/admin/tests/unit/server/tanahpedia/family.test.ts
Due: none

chore(release): Bump versions (admin to 0.1.68) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

chore(release): Bump versions (api to 0.1.44, bulletin to 0.1.20) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

fix(admin): address PR #1781 Copilot review feedback
  docs/aws/cloudformation/cognito-admin.yaml
  web/admin/src/server/auth.ts
  web/admin/src/server/tanahpedia/family.ts
  web/admin/tests/unit/server/auth.test.ts
  web/admin/tests/unit/server/tanahpedia/family.test.ts
Due: none

docs(git-practices): require PR review-comment triage before every merge
  .github/instructions/git-practices.instructions.md
Due: none

docs(git-practices): fix instructions link + include issue comments in triage fetch
  .github/instructions/git-practices.instructions.md
Due: none

fix(admin): address second round of PR #1781 Copilot review feedback
  web/admin/src/server/tanahpedia/family.ts
  web/admin/tests/unit/server/tanahpedia/family.test.ts
Due: none

feat(admin): add M2M client_credentials auth path + Tanahpedia family API expansion (#1781)
  docs/aws/cloudformation/cognito-admin.yaml
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/server.tsx
  web/admin/src/server/auth.ts
  web/admin/src/server/tanahpedia/family-api-spec.ts
  web/admin/src/server/tanahpedia/family.ts
  web/admin/tests/unit/server.test.ts
  web/admin/tests/unit/server/auth.test.ts
  web/admin/tests/unit/server/tanahpedia/family.test.ts
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

docs(git-practices): require PR review-comment triage before every merge (#1795)
  .github/instructions/git-practices.instructions.md
Due: none

chore(release): Bump versions (website to 0.2.360, admin to 0.1.70, api to 0.1.46, bulletin to 0.1.22) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

chore(release): Bump versions (website to 0.2.362, admin to 0.1.72) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (website to 0.2.364) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (website to 0.2.366) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions (website to 0.2.368, admin to 0.1.74) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(api): add Tanahpedia family read GraphQL queries
  docs/tanahpedia/external-revision-api.md
  docs/tanahpedia/remote-yaakov-api-example.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/src/tanahpedia/entity.rs
  web/api/entities/src/tanahpedia/mod.rs
  web/api/src/dtos/mod.rs
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/mod.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/mod.rs
  web/api/src/services/tanahpedia_family_service.rs
  web/api/src/startup/schema_builder.rs
Due: api

feat(api): expand Tanahpedia read API (entities, parent-child, entity Tanah sources, person details)
  docs/tanahpedia/external-revision-api.md
  docs/tanahpedia/remote-yaakov-api-example.md
  web/api/entities/src/tanahpedia/entity_tanah_source.rs
  web/api/entities/src/tanahpedia/mod.rs
  web/api/src/dtos/perek.rs
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/tanahpedia_family_service.rs
Due: api

chore(release): Bump versions (website to 0.2.370, admin to 0.1.76) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(api): add Tanahpedia family read GraphQL queries (#1801)
  docs/tanahpedia/external-revision-api.md
  docs/tanahpedia/remote-yaakov-api-example.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/src/tanahpedia/entity.rs
  web/api/entities/src/tanahpedia/entity_tanah_source.rs
  web/api/entities/src/tanahpedia/mod.rs
  web/api/src/dtos/mod.rs
  web/api/src/dtos/perek.rs
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/mod.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/mod.rs
  web/api/src/services/tanahpedia_family_service.rs
  web/api/src/startup/schema_builder.rs
Due: api

chore(release): Bump versions (api to 0.1.48) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

fix(tanahpedia): fix breadcrumb chevron CSS, exact-pasuk genealogy citations, and node-source-in-card UI
  data/mysql/db-populator/src/main.rs
  data/mysql/tanahpedia_alter_person_source_citation.sql
  data/mysql/tanahpedia_family_jacob_data.sql
  data/mysql/tanahpedia_structure.sql
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/breadcrumb.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/src/lib/tanahpedia/types.ts
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
  web/bible-on-site/tests/unit/lib/tanahpedia-service.test.ts
Due: website, data

fix(devops): deploy Tanahpedia column-upgrade scripts to production RDS
  .gitignore
  data/mysql/tanahpedia_alter_person_source_citation.sql
  data/mysql/tanahpedia_alter_source_citation.sql
  devops/deploy/data-deploy/index.mts
Due: data

feat(tanahpedia): complete family links and exact pasuk navigation
  .github/instructions/tanahpedia-practices.instructions.md
  data/mysql/tanahpedia_alter_person_source_citation.sql
  data/mysql/tanahpedia_alter_source_citation.sql
  data/mysql/tanahpedia_family_shimshon_data.sql
  devops/deploy/data-deploy/index.mts
  web/bible-on-site/src/app/929/[number]/components/PerushFullView.tsx
  web/bible-on-site/src/app/929/[number]/components/ScrollToPasuk.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/src/data/db/perushim.ts
  web/bible-on-site/src/lib/tanahpedia/tanach-citation-links.tsx
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToPasuk.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/lib/tanach-citation-links.test.tsx
Due: website, data

fix: address consolidated review feedback
  web/bible-on-site/src/app/929/[number]/components/ScrollToPasuk.tsx
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/components/ScrollToPasuk.test.tsx
Due: website

fix: clear Codacy analysis findings
  .codacy.yml
  web/admin/vite.config.ts
Due: none

fix: address final review feedback
  web/bible-on-site/src/data/db/perushim.ts
  web/bible-on-site/src/lib/tanahpedia/tanach-citation-links.tsx
Due: website

fix: stabilize clean website build
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/data/db/perushim.ts
Due: website

test: clarify recording timeframe fixtures
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/lib/tanach-pdf.test.ts
Due: none
