Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

fix(bulletin): include bulletin/ in Docker build context (#1371)
  .github/workflows/ci.yml
  web/.dockerignore
Due: none

chore(bulletin): trigger Package Bulletin on master
  web/bulletin/Dockerfile
Due: none

chore(bulletin): trigger Package Bulletin on master (#1372)
  web/bulletin/Dockerfile
Due: none

fix(bulletin): replace bash bump script with TypeScript, add Lambda deploy IAM docs
  .github/workflows/ci.yml
  devops/bump-cargo-version.mts
  devops/package.json
  docs/aws/cloudformation/github-oidc.yaml
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/Makefile.toml
Due: none

Update website status badges in README.md [skip ci]
  README.md
Due: none

Update API section with uptime robot links [skip ci]
  README.md
Due: none

Update website status badges in README.md [skip ci] (#1375)
  README.md
Due: none

fix(bulletin): replace bash bump with TypeScript, add Lambda deploy IAM (#1376)
  .github/workflows/ci.yml
  devops/bump-cargo-version.mts
  devops/package.json
  docs/aws/cloudformation/github-oidc.yaml
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/Makefile.toml
Due: none

fix(bulletin): rename bump script to .ts for tsx module compatibility
  devops/bump-cargo-version.ts
  devops/package.json
Due: none

fix(devops): address review comments - fix header, update tsconfig includes
  devops/bump-cargo-version.ts
  devops/tsconfig.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/Makefile.toml
Due: none

fix(bulletin): rename bump script .mts to .ts for module compatibility (#1377)
  devops/bump-cargo-version.ts
  devops/package.json
  devops/tsconfig.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/Makefile.toml
Due: none

fix(devops): use parseSync instead of top-level await in bump-cargo-version
  devops/bump-cargo-version.ts
Due: none

fix(devops): use parseSync instead of top-level await in bump-cargo-version (#1380)
  devops/bump-cargo-version.ts
Due: none

feat(bulletin): add production Lambda invocation via Function URL
  docs/aws/cloudformation/bulletin-lambda/bulletin-lambda.yaml
  docs/aws/cloudformation/ecs-services.yaml
  web/bible-on-site/src/lib/download/bulletin-client.ts
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
Due: website

feat(bulletin): invoke Lambda via AWS SDK for production PDF generation
  docs/aws/cloudformation/bulletin-lambda/bulletin-lambda.yaml
  docs/aws/cloudformation/ecs-services.yaml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/lib/download/bulletin-client.ts
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
Due: website

feat(bulletin): add production Lambda invocation via Function URL (#1381)
  docs/aws/cloudformation/bulletin-lambda/bulletin-lambda.yaml
  docs/aws/cloudformation/ecs-services.yaml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/lib/download/bulletin-client.ts
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
Due: website

chore(release): Bump versions (website to 0.2.267) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

docs: update architecture for bulletin Lambda integration; fix CI Playwright installs
  .github/workflows/ci.yml
  docs/aws/architecture/architecture.drawio
  docs/aws/architecture/architecture.svg
  docs/aws/architecture/aws-architecture.md
  docs/aws/cloudformation/cloudformation.md
  docs/daily-bulletin/daily-bulletin.md
  docs/github/workflows/cd/cd.md
  docs/repo-structure.md
  docs/website/website.md
Due: none

fix(bulletin): correct Lambda event format and include fonts in ZIP
  .github/workflows/ci.yml
  docs/aws/cloudformation/bulletin-lambda/bulletin-lambda.yaml
  web/bible-on-site/src/lib/download/bulletin-client.ts
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
Due: website

fix(docs): remove dead .cursor/plans link from integration plan
  docs/bot_on_site/integration-plan.md
Due: none

docs: add bulletin Lambda → RDS arrow in architecture diagram
  docs/aws/architecture/architecture.drawio
Due: none

fix(bulletin): ensure FONTS_DIR env var on deploy; add RDS arrow to diagram
  devops/deploy/bulletin-deploy/index.mts
Due: none

a
  docs/aws/architecture/architecture.drawio
  docs/aws/architecture/architecture.svg
Due: none

chore(bulletin): bump version to 0.1.4
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

docs: update architecture for bulletin Lambda; fix CI Playwright installs (#1383)
  .github/workflows/ci.yml
  devops/deploy/bulletin-deploy/index.mts
  docs/aws/architecture/architecture.drawio
  docs/aws/architecture/architecture.svg
  docs/aws/architecture/aws-architecture.md
  docs/aws/cloudformation/bulletin-lambda/bulletin-lambda.yaml
  docs/aws/cloudformation/cloudformation.md
  docs/daily-bulletin/daily-bulletin.md
  docs/github/workflows/cd/cd.md
  docs/repo-structure.md
  docs/website/website.md
  web/bible-on-site/src/lib/download/bulletin-client.ts
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: website

chore(release): Bump versions (website to 0.2.268, bulletin to 0.1.5) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

fix(bulletin): disable articles in Lambda until VPC access configured
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/lib/download/bulletin-client.ts
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
Due: website

revert(bulletin): re-enable articles after Lambda VPC configured
  web/bible-on-site/src/lib/download/bulletin-client.ts
  web/bible-on-site/tests/integration/lib/bulletin-client.test.ts
Due: website

fix(bulletin): automate DB_URL from SSM and document VPC config
  devops/deploy/bulletin-deploy/index.mts
  devops/package-lock.json
  devops/package.json
  docs/aws/architecture/aws-architecture.md
  docs/aws/cloudformation/bulletin-lambda/bulletin-lambda.yaml
  docs/aws/cloudformation/github-oidc.yaml
Due: none

fix(bulletin): automate DB_URL from SSM and document VPC config (#1386)
  devops/deploy/bulletin-deploy/index.mts
  devops/package-lock.json
  devops/package.json
  docs/aws/architecture/aws-architecture.md
  docs/aws/cloudformation/bulletin-lambda/bulletin-lambda.yaml
  docs/aws/cloudformation/github-oidc.yaml
Due: none

fix(app): iOS crash, swipe sensitivity, article title, bottom bar, ODR, RTL & highlight (#1368)
  .github/workflows/app-package.yml
  app/.gitignore
  app/BibleOnSite.Tests/ViewModels/ArticleDetailViewModelTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/Listeners/VerticalScrollPriorityListener.cs
  app/BibleOnSite/Platforms/iOS/Assets/PerushimNotes.xcassets/Contents.json
  app/BibleOnSite/Platforms/iOS/Assets/PerushimNotes.xcassets/perushim_notes.dataset/Contents.json
  app/BibleOnSite/Services/AnalyticsService.cs
  app/BibleOnSite/Services/IPadDeliveryService.cs
  app/BibleOnSite/Services/PadDeliveryService.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
  app/BibleOnSite/ViewModels/ArticleDetailViewModel.cs
  docs/bot_on_site/README.md
  docs/bot_on_site/integration-plan.md
Due: app

fix(app): suppress NU1608 for AndroidX transitive dependency conflicts
  app/BibleOnSite/BibleOnSite.csproj
Due: app

ci(app): verify Android NuGet restore in PR to catch NU1608 early
  .github/workflows/ci.yml
Due: none

fix(ci): install maui-android workload (not just android) for restore
  .github/workflows/ci.yml
Due: none

chore(release): Bump versions (website to 0.2.270) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(app): suppress NU1608 for AndroidX transitive dependency conflicts (#1389)
  .github/workflows/ci.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(ios): add missing UIKit import + remove duplicate ImageAsset includes
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

fix(app): revert PAD SDK to 2.3.0.2 and drop NU1608 suppression
  app/BibleOnSite/BibleOnSite.csproj
Due: app
