Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

refactor(data): cache extended_year in hdate_to_legacy_int
  data/sefaria/pipelines/tanah-view/src/data/cycle_dates.rs
Due: data

chore(release): Bump versions (bulletin to 0.1.7) [skip ci]
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

chore(data): upgrade cargo dependencies (compatible) (#1654)
  data/Cargo.lock
  data/Cargo.toml
  data/s3/s3-populator/Cargo.toml
  data/sefaria/pipelines/tanah-view/src/data/cycle_dates.rs
Due: data

chore(admin): upgrade build-tooling and tiptap majors
  docs/deferred-upgrades.md
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/WysiwygEditor.tsx
  web/admin/vite.config.ts
Due: none

chore(data): upgrade rusqlite 0.38 -> 0.40 and sqlx 0.8 -> 0.9 (majors)
  data/Cargo.lock
  data/Cargo.toml
  data/mysql/db-populator/Cargo.toml
  data/mysql/db-populator/src/main.rs
Due: data

docs: mark sqlx/rusqlite majors done, bson blocked (mongodb pins bson 2)
  docs/deferred-upgrades.md
Due: none

chore(admin): address Copilot review
  docs/deferred-upgrades.md
  web/admin/package-lock.json
  web/admin/package.json
Due: none

fix(data): escape backticks in DB identifier (Copilot review)
  data/mysql/db-populator/src/main.rs
Due: data

chore(admin): upgrade build-tooling and tiptap majors (#1656)
  docs/deferred-upgrades.md
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/WysiwygEditor.tsx
  web/admin/vite.config.ts
Due: none

chore(data): upgrade rusqlite 0.38 -> 0.40 and sqlx 0.8 -> 0.9 (majors) (#1657)
  data/Cargo.lock
  data/Cargo.toml
  data/mysql/db-populator/Cargo.toml
  data/mysql/db-populator/src/main.rs
Due: data

ci: upgrade GitHub Actions to latest majors
  .github/workflows/app-package.yml
  .github/workflows/cd-app.yml
  .github/workflows/cd-aws.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/shared-release.yml
Due: none

chore(release): Bump versions (admin to 0.1.17) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

fix(data): enable sqlx-mysql rsa feature for MySQL auth
  data/Cargo.lock
  data/mysql/db-populator/Cargo.toml
Due: data

docs(data): clarify rsa feature comment (Copilot review)
  data/mysql/db-populator/Cargo.toml
Due: data

fix(data): enable sqlx-mysql rsa feature for MySQL auth (#1660)
  data/Cargo.lock
  data/mysql/db-populator/Cargo.toml
Due: data

ci: keep macOS runners at macos-15
  .github/workflows/app-package.yml
  .github/workflows/cd-app.yml
  .github/workflows/ci.yml
Due: none

ci: upgrade GitHub Actions to latest majors (#1659)
  .github/workflows/cd-aws.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/shared-release.yml
Due: none

chore(deps): consolidated dependency refresh across modules
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
  devops/package-lock.json
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/tests/package-lock.json
  web/api/tests/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

chore(renovate): hold macOS runner at v15 (#1627)
  renovate.json
Due: none

fix(cd): raise Lambda update waiter timeout and surface data-deploy invoke faults
  devops/deploy/bulletin-deploy/index.mts
  devops/deploy/data-deploy/index.mts
Due: none

fix(cd): only blame Lambda runtime for 5xx; preserve error cause (Copilot review)
  devops/deploy/data-deploy/index.mts
Due: none

chore(deps): consolidated dependency refresh across modules (#1661)
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
  devops/package-lock.json
  renovate.json
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/tests/package-lock.json
  web/api/tests/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

chore(release): Bump versions (website to 0.2.310, admin to 0.1.19, api to 0.1.29, app to 5.0.70) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

fix(cd): raise Lambda update waiter timeout and surface data-deploy invoke faults (#1662)
  devops/deploy/bulletin-deploy/index.mts
  devops/deploy/data-deploy/index.mts
Due: none

chore(deps): second consolidated dependency refresh (renovate batch)
  app/BibleOnSite.Core/BibleOnSite.Core.csproj
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/_build.csproj
  data/Cargo.lock
  package-lock.json
Due: app, data

chore(deps): second consolidated dependency refresh (renovate batch) (#1664)
  app/BibleOnSite.Core/BibleOnSite.Core.csproj
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/_build.csproj
  data/Cargo.lock
  package-lock.json
Due: app, data

chore(release): Bump versions (app to 5.0.71) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(deps): refresh website patch deps + infra pins (renovate batch)
  .nvmrc
  app/.config/dotnet-tools.json
  devops/coverage/lcov-docker/Dockerfile
  web/api/Dockerfile
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(deps): hold sunrise-sunset-js at 3.2.0 (3.2.1 breaks tzeit under UTC)
  renovate.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): bump app 5.0.71 -> 5.0.72 and api 0.1.29 -> 0.1.30
  app/BibleOnSite/BibleOnSite.csproj
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: app

chore(deps): refresh website patch deps + infra pins (renovate batch) (#1667)
  .nvmrc
  app/.config/dotnet-tools.json
  app/BibleOnSite/BibleOnSite.csproj
  devops/coverage/lcov-docker/Dockerfile
  renovate.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/Dockerfile
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

fix: align .nvmrc with held node engines range (24.11.1)
  .nvmrc
  renovate.json
Due: none

chore(release): Bump versions (website to 0.2.312, api to 0.1.31, app to 5.0.73) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

fix: align .nvmrc with held node engines range (24.11.1) (#1669)
  .nvmrc
  renovate.json
Due: none

chore(pre-commit): bump sync-pre-commit-deps v0.0.3 -> v0.0.4
  .pre-commit-config.yaml
Due: none

chore(pre-commit): bump sync-pre-commit-deps v0.0.3 -> v0.0.4 (#1670)
  .pre-commit-config.yaml
Due: none

fix(admin): restore @emnapi deps in lockfile to repair npm ci
  web/admin/package-lock.json
  web/admin/package.json
Due: none

fix(admin): restore @emnapi deps in lockfile to repair npm ci (#1672)
  web/admin/package-lock.json
  web/admin/package.json
Due: none

chore(release): Bump versions (admin to 0.1.21) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

chore(deps): bump @playwright/test 1.60.0 -> 1.61.0 (website)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
