Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

Fix Android AAB: use SignAndroidPackage target instead of Publish
  app/devops/Build.Package.cs
Due: none

Fix Android AAB: use SignAndroidPackage target instead of Publish (#1551)
  app/devops/Build.Package.cs
Due: none

Fix Android AAB: set UseCurrentRuntimeIdentifier=false to prevent host RID injection
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/Build.Package.cs
Due: app

Fix Android AAB: set UseCurrentRuntimeIdentifier=false to prevent host RID injection (#1552)
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/Build.Package.cs
Due: app

Fix Android AAB: pin RuntimeIdentifier=android-arm64 to bypass host RID inference
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/Build.Package.cs
Due: app

Fix Android AAB: pin RuntimeIdentifier=android-arm64 to bypass host RID inference (#1553)
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/Build.Package.cs
Due: app

Suppress CA1416 for MediaElement registration (requires Android 26+)
  app/BibleOnSite/MauiProgram.cs
Due: app

Fix Android AAB: suppress CA1416 for MediaElement + pin android-arm64 RID (#1554)
  app/BibleOnSite/MauiProgram.cs
Due: app

Fix CA1416 pragma placement: move before statement start
  app/BibleOnSite/MauiProgram.cs
Due: app

Fix CA1416 pragma placement: move before statement start (#1557)
  app/BibleOnSite/MauiProgram.cs
Due: app

Fix Android AAB: override RuntimeIdentifiers to match single-RID restore
  app/devops/Build.Package.cs
Due: none

Fix Android AAB: override RuntimeIdentifiers to match single-RID restore (#1558)
  app/devops/Build.Package.cs
Due: none

chore(release): Bump versions (app to 5.0.66) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): PAD diagnostics + CI verify perushim SQLite in Android AAB
  .github/workflows/app-package.yml
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

Address Copilot PR review: AAB glob under set -e, BuildVersionCodes.R
  .github/workflows/app-package.yml
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

fix(app): Perushim PAD diagnostics + CI verify SQLite in AAB (#1561)
  .github/workflows/app-package.yml
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

fix(app): suppress CA1416 for runtime-guarded Android 30+ PAD diagnostics
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

fix(app): suppress CA1416 for runtime-guarded Android 30+ PAD diagnostics (#1562)
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

chore(release): Bump versions (app to 5.0.67) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(devops): sync package-lock with merged dependency updates
  devops/package-lock.json
Due: none

fix(perushim): handle multi-book complex schema commentaries
  data/sefaria/pipelines/perushim-view/src/data/extract.rs
  data/sefaria/pipelines/perushim-view/src/data/perek_mapping.rs
  data/sefaria/pipelines/perushim-view/src/stages/stage_match_index.rs
Due: data

chore: merge newly successful dependency PRs (2026-04-05) (#1586)
  .github/workflows/app-package.yml
  .github/workflows/auto-create-pr.yml
  .github/workflows/cd-app.yml
  .github/workflows/cd-aws.yml
  .github/workflows/cd-bulletin.yml
  .github/workflows/cd-data.yml
  .github/workflows/ci.yml
  .github/workflows/dependency-review.yml
  .github/workflows/shared-ci.yml
  .github/workflows/shared-dockerize.yml
  .github/workflows/shared-release.yml
  .github/workflows/shared-verify-version.yml
  devops/package-lock.json
  devops/package.json
  package-lock.json
  package.json
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(web): remove unused rate-limiter-flexible dependency
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(website): replace index-based chapter keys in Sefer
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

fix: collapse nested if statements to satisfy clippy
  data/sefaria/pipelines/perushim-view/src/data/extract.rs
Due: data

chore(admin): align Vite 8 peer deps and lockfile
  web/admin/package-lock.json
  web/admin/package.json
Due: none

style: cargo fmt perek_mapping.rs
  data/sefaria/pipelines/perushim-view/src/data/perek_mapping.rs
Due: data

fix(admin): type Vite config test block for vite 8
  web/admin/vite.config.ts
Due: none

fix(admin): align vite peers and config typing
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/vite.config.ts
Due: none

fix(ci): sync admin lockfile and stable Sefer keys
  web/admin/package-lock.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

feat(data): add coverage collection and reporting
  .github/workflows/ci.yml
  codecov.yml
  data/Makefile.toml
  devops/merge-coverage.mts
Due: data

fix(ci): support TS6 deprecations and css import typing
  web/admin/tsconfig.json
  web/bible-on-site/src/types/html-flip-book-react-styles.d.ts
Due: website

chore(release): Bump versions (app to 5.0.68) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(app): bump version for verify check
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(perushim): deduplicate notes for multi-book commentaries
  .github/instructions/agent-practices.instructions.md
  .github/instructions/api-practices.instructions.md
  .github/instructions/app-deployment.instructions.md
  .github/instructions/app-practices.instructions.md
  .github/instructions/aws-workflows.instructions.md
  .github/instructions/flipbook-integration.instructions.md
  .github/instructions/general-practices.instructions.md
  .github/instructions/git-practices.instructions.md
  .github/instructions/github-issues.instructions.md
  .github/instructions/implementation-context.instructions.md
  .github/instructions/prefer-npm-scripts.instructions.md
  .github/instructions/testing-practices.instructions.md
  .github/instructions/user-does-not-execute.instructions.md
  .github/instructions/website-e2e-testing.instructions.md
  .github/instructions/website-practices.instructions.md
  .github/workflows/ci.yml
  data/sefaria/pipelines/perushim-view/src/data/extract.rs
Due: data

fix(db-populator): fallback to INSERT IGNORE for duplicate note PK
  data/mysql/db-populator/src/main.rs
Due: data
