Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

perf(website): load reader books without shipping the full corpus
  .github/tool-registry.md
  docs/website/website.md
  web/bible-on-site/.gitignore
  web/bible-on-site/Dockerfile
  web/bible-on-site/package.json
  web/bible-on-site/scripts/generate-client-catalog.mjs
  web/bible-on-site/src/app/929/[number]/actions.ts
  web/bible-on-site/src/app/929/[number]/components/LoadedSefer.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/page.tsx
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/dev/sefer/[number]/SeferDirect.tsx
  web/bible-on-site/src/data/load-sefer.ts
  web/bible-on-site/src/data/perek-calendar.ts
  web/bible-on-site/src/data/perek-dto.tsx
  web/bible-on-site/src/lib/tanahpedia/tanach-citation-links.tsx
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/perf/build-size.test.ts
  web/bible-on-site/tests/perf/webvitals.isolated.test.ts
  web/bible-on-site/tests/unit/app/929-page.test.ts
  web/bible-on-site/tests/unit/components/Bookshelf-notoday.test.tsx
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
  web/bible-on-site/tests/unit/components/LoadedSefer.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite.test.tsx
  web/bible-on-site/tests/unit/data/client-catalog.test.ts
  web/bible-on-site/tests/unit/data/load-sefer.test.ts
  web/bible-on-site/tests/util/playwright/page-objects/sefer-page.ts
  web/bible-on-site/tests/util/sefer-fixture.ts
Due: website

test(website): preserve distinct native swipe events
  .github/tool-registry.md
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
Due: none

docs: local Windows Android emulator setup (headless, AEHD)
  .github/tool-registry.md
  docs/devops/setup-development-environment/setup-development-environment.md
Due: none

docs: document merge-gate contract, managed submit-nuget hazard, WDA timeout
  .github/instructions/aws-workflows.instructions.md
  .github/tool-registry.md
  app/mobile-e2e/README.md
  docs/github/workflows/ci/ci.md
Due: none

ci: document managed dependency submission must stay disabled
  .cursor/rules/aws-workflows.mdc
  .github/workflows/dependency-submission.yml
Due: none

docs(rules): forbid CI merge-gate holes in workflow guidelines
  .cursor/rules/aws-workflows.mdc
Due: none

fix(app): raise Appium wdaConnectionTimeout to 240s for cold session starts
  app/BibleOnSite.Tests.MobileE2E/Configuration/ConfigurationTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
Due: none

ci: gate each module suite on its own ci_changed flag in Cross Module CI
  .github/workflows/ci.yml
Due: none

fix(app): parse HtmlView HTML off the main thread to stop UICollectionView reentrancy crash
  app/BibleOnSite.Tests.MobileE2E/PerekScrollStabilityTests.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Platforms/MacCatalyst/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
Due: app

fix(app): address review findings on HtmlView async render
  app/BibleOnSite.Tests.MobileE2E/PerekScrollStabilityTests.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Platforms/MacCatalyst/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
Due: app

style(app): braces around early return (Codacy S121)
  app/BibleOnSite/Platforms/MacCatalyst/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
Due: app

fix(app): serialize NSHTML init flag, invalidate imports on disconnect; perush-aware e2e scroll test
  app/BibleOnSite.Tests.MobileE2E/Pages/PerekPage.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Platforms/MacCatalyst/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
Due: app

fix(app): import HtmlView NSHTML off the main thread; add scroll-stress mobile e2e
  app/BibleOnSite.Tests.MobileE2E/Pages/PerekPage.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite/Platforms/MacCatalyst/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
Due: app

fix(website): render article abstract HTML in author datagrid
  web/bible-on-site/src/app/929/authors/[authorParam]/AuthorArticlesTable.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/author-articles-table.module.css
Due: website

fix(ci): restore Windows-targeted E2E project on Linux runner
  .github/workflows/dependency-submission.yml
Due: none

ci: address review — identical shared-crate build, shell-free biome fallback
  .github/workflows/ci.yml
  devops/precommit-biome.mjs
Due: none

perf(ci): cut CI critical path ~8min
  .github/workflows/ci.yml
  devops/precommit-biome.mjs
  web/bible-on-site/playwright.e2e.config.ts
Due: none

revert(ci): keep native background/wait step keys for the mongo pull
  .github/workflows/ci.yml
Due: none

fix(website): sanitize abstracts, fix paragraph joins and markup search
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/AuthorArticlesTable.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/author-articles-table.module.css
  web/bible-on-site/src/lib/authors/articles-grid.ts
  web/bible-on-site/tests/unit/lib/author-articles-grid.test.ts
Due: website

docs: clarify Windows emulator accel paths, add AVD create/launch
  .github/tool-registry.md
  docs/devops/setup-development-environment/setup-development-environment.md
Due: none

fix(ci): restore Windows-targeted E2E project on Linux runner (#1987)
  .github/workflows/dependency-submission.yml
Due: none

docs: local Windows Android emulator setup (headless, AEHD) (#1994)
  .github/tool-registry.md
  docs/devops/setup-development-environment/setup-development-environment.md
Due: none

perf(ci): cut CI critical path ~8min (#1986)
  .github/workflows/ci.yml
  devops/precommit-biome.mjs
  web/bible-on-site/playwright.e2e.config.ts
Due: none

fix(website): suppress Codacy nosemgrep on sanitized abstract HTML
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/AuthorArticlesTable.tsx
Due: website

ci: gate module suites on their own ci_changed flags; fix Appium iOS session timeout (#1992)
  .cursor/rules/aws-workflows.mdc
  .github/instructions/aws-workflows.instructions.md
  .github/tool-registry.md
  .github/workflows/ci.yml
  .github/workflows/dependency-submission.yml
  app/BibleOnSite.Tests.MobileE2E/Configuration/ConfigurationTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/mobile-e2e/README.md
  docs/github/workflows/ci/ci.md
Due: none

perf(website): load reader books without shipping the full corpus (#2000)
  .github/tool-registry.md
  docs/website/website.md
  web/bible-on-site/.gitignore
  web/bible-on-site/Dockerfile
  web/bible-on-site/package.json
  web/bible-on-site/scripts/generate-client-catalog.mjs
  web/bible-on-site/src/app/929/[number]/actions.ts
  web/bible-on-site/src/app/929/[number]/components/LoadedSefer.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/page.tsx
  web/bible-on-site/src/app/components/Bookshelf/Bookshelf.tsx
  web/bible-on-site/src/app/dev/sefer/[number]/SeferDirect.tsx
  web/bible-on-site/src/data/load-sefer.ts
  web/bible-on-site/src/data/perek-calendar.ts
  web/bible-on-site/src/data/perek-dto.tsx
  web/bible-on-site/src/lib/tanahpedia/tanach-citation-links.tsx
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/perf/build-size.test.ts
  web/bible-on-site/tests/perf/webvitals.isolated.test.ts
  web/bible-on-site/tests/unit/app/929-page.test.ts
  web/bible-on-site/tests/unit/components/Bookshelf-notoday.test.tsx
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
  web/bible-on-site/tests/unit/components/LoadedSefer.test.tsx
  web/bible-on-site/tests/unit/components/Sefer.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite.test.tsx
  web/bible-on-site/tests/unit/data/client-catalog.test.ts
  web/bible-on-site/tests/unit/data/load-sefer.test.ts
  web/bible-on-site/tests/util/playwright/page-objects/sefer-page.ts
  web/bible-on-site/tests/util/sefer-fixture.ts
Due: website

fix(website): rewrite abstract headings to paragraphs in articles grid
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/AuthorArticlesTable.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/author-articles-table.module.css
  web/bible-on-site/src/lib/authors/articles-grid.ts
  web/bible-on-site/tests/unit/lib/author-articles-grid.test.ts
Due: website

fix(website): render article abstract HTML in author datagrid (#1988)
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/AuthorArticlesTable.tsx
  web/bible-on-site/src/app/929/authors/[authorParam]/author-articles-table.module.css
  web/bible-on-site/src/lib/authors/articles-grid.ts
  web/bible-on-site/tests/unit/lib/author-articles-grid.test.ts
Due: website

fix(ci): verify and publish drafts by release ID
  .github/tool-registry.md
  .github/workflows/shared-release.yml
  devops/github/release/release-assets.mjs
  devops/github/release/release-assets.test.mjs
  devops/github/release/shared-release.test.mjs
  docs/github/workflows/ci/ci.md
Due: none

chore(release): Bump versions (website to 0.2.465, app to 5.0.126) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

test(website): make native touch drag independent of release speed
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
Due: none

chore(release): Bump versions to release (website to 0.2.466)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(security): patch non-bundled Appium shell-quote dependency
  app/mobile-e2e/README.md
  app/mobile-e2e/package-lock.json
  app/mobile-e2e/package.json
  renovate.json
Due: none

test(website): make native touch drag independent of release speed (#2007)
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
Due: none

ci: preserve Appium and native iOS startup diagnostics
  app/mobile-e2e/appium-readiness.mjs
  app/mobile-e2e/appium-readiness.test.mjs
  app/mobile-e2e/package.json
  app/mobile-e2e/run.mjs
Due: none

chore(release): Bump versions (website to 0.2.467) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

test(app): batch native scroll gestures within the existing hang guard
  app/BibleOnSite.Tests.MobileE2E/Configuration/IosScrollActionsTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerekScrollStabilityTests.cs
Due: none

chore(release): Bump versions to release (website to 0.2.468)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(ci): recover verified drafts and diagnose iOS preparation failures (#2006)
  .github/tool-registry.md
  .github/workflows/shared-release.yml
  app/mobile-e2e/appium-readiness.mjs
  app/mobile-e2e/appium-readiness.test.mjs
  app/mobile-e2e/package.json
  app/mobile-e2e/run.mjs
  devops/github/release/release-assets.mjs
  devops/github/release/release-assets.test.mjs
  devops/github/release/shared-release.test.mjs
  docs/github/workflows/ci/ci.md
Due: none

fix(app): patch replaceable shell quoting and batch iOS scroll stress (#2008)
  app/BibleOnSite.Tests.MobileE2E/Configuration/IosScrollActionsTests.cs
  app/BibleOnSite.Tests.MobileE2E/PerekScrollStabilityTests.cs
  app/mobile-e2e/README.md
  app/mobile-e2e/package-lock.json
  app/mobile-e2e/package.json
  renovate.json
Due: none
