Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

fix(db-populator): fallback to INSERT IGNORE for duplicate note PK
  data/mysql/db-populator/src/main.rs
Due: data

fix(db-populator): match broader duplicate PK error variants
  data/mysql/db-populator/src/main.rs
Due: data

fix(db-populator): normalize note inserts to INSERT IGNORE
  data/mysql/db-populator/src/main.rs
Due: data

fix(perushim): use mediumtext for note_content column
  data/mysql/perushim_structure.sql
Due: data

docs(instructions): auto-execute aligned next steps
  .github/copilot-instructions.md
  .github/instructions/agent-practices.instructions.md
  .github/instructions/general-practices.instructions.md
Due: none

fix(web): add css import typing and stabilize sefer visibility check
  web/bible-on-site/src/types/css-imports.d.ts
  web/bible-on-site/tests/util/playwright/page-objects/sefer-page.ts
Due: website

fix(web): add css import typing and stabilize sefer visibility check
  web/bible-on-site/src/types/html-flip-book-react-styles.d.ts
  web/bible-on-site/tests/util/playwright/page-objects/sefer-page.ts
Due: website

chore: bump build size thresholds for full perushim data
  web/bible-on-site/tests/perf/build-size.test.ts
Due: none

fix(perf): avoid symlink double-count in build size benchmark
  web/bible-on-site/tests/perf/build-size.test.ts
Due: none

fix(e2e): use auto-retrying assertion for overlay opacity check
  web/bible-on-site/tests/e2e/929/read-mode-toggle.test.ts
Due: none

chore(website): bump dependencies; hold next at 16.1.6
  .github/dependabot.yml
  renovate.json
  web/bible-on-site/biome.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/playwright-global-teardown-coverage.js
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/tests/e2e/929/book-view-url.test.ts
  web/bible-on-site/tests/global.d.ts
  web/bible-on-site/tests/util/coverage/sanitize-coverage.js
Due: website

fix(website): hold sunrise-sunset-js at 3.2.0
  .github/dependabot.yml
  renovate.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

docs(practices): document auto-create-PR timing in git practices
  docs/practices/git.md
Due: none

fix(perushim): deduplicate notes for multi-book commentaries
  .github/workflows/ci.yml
  data/mysql/perushim_structure.sql
  data/sefaria/pipelines/perushim-view/src/data/extract.rs
Due: data

chore(perf): bump build-size thresholds for full perushim data
  web/bible-on-site/tests/perf/build-size.test.ts
Due: none

refactor(sefer): use stable perek id for page keys
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

test(perushim): add dedup unit test; fix perf test names
  data/sefaria/pipelines/perushim-view/src/data/extract.rs
  web/bible-on-site/tests/perf/build-size.test.ts
Due: data

fix(perushim): deduplicate notes for multi-book commentaries (#1637)
  .github/workflows/ci.yml
  data/mysql/perushim_structure.sql
  data/sefaria/pipelines/perushim-view/src/data/extract.rs
  web/bible-on-site/tests/perf/build-size.test.ts
Due: data

chore(release): Bump versions (website to 0.2.304) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(website): bump dependencies; hold next at 16.1.6 (#1635)
  .github/dependabot.yml
  docs/practices/git.md
  renovate.json
  web/bible-on-site/biome.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/playwright-global-teardown-coverage.js
  web/bible-on-site/src/app/929/[number]/[slug]/page.module.css
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/tests/e2e/929/book-view-url.test.ts
  web/bible-on-site/tests/global.d.ts
  web/bible-on-site/tests/util/coverage/sanitize-coverage.js
Due: website

chore(website): upgrade typescript 6 + jest-junit 17
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/types/assets.d.ts
Due: website

chore(release): Bump versions (website to 0.2.306) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(website): upgrade typescript 6 + jest-junit 17 (#1639)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/types/assets.d.ts
Due: website

chore(admin): bump dependencies (non-major) + typescript 6
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/tsconfig.json
Due: none

chore(devops): bump dependencies (non-major)
  devops/package-lock.json
  devops/package.json
Due: none

fix(admin): add tsx as explicit devDependency
  web/admin/package-lock.json
  web/admin/package.json
Due: none

chore(release): Bump versions (website to 0.2.308) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(devops): pin @aws-sdk/client-ssm to exact version
  devops/package-lock.json
  devops/package.json
Due: none

chore(admin): bump dependencies (non-major) + typescript 6 (#1650)
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/tsconfig.json
Due: none

chore(devops): bump dependencies (non-major) (#1651)
  devops/package-lock.json
  devops/package.json
Due: none

chore(api): upgrade cargo dependencies (compatible)
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/Cargo.toml
Due: none

chore(release): Bump versions (admin to 0.1.15) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

chore(data): upgrade cargo dependencies (compatible)
  data/Cargo.lock
  data/Cargo.toml
  data/s3/s3-populator/Cargo.toml
  data/sefaria/pipelines/tanah-view/src/data/cycle_dates.rs
Due: data

chore(bulletin): upgrade cargo dependencies (compatible)
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

chore(api): upgrade cargo dependencies (compatible) (#1653)
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/Cargo.toml
Due: none

chore(release): Bump versions (api to 0.1.27) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

chore(bulletin): upgrade cargo dependencies (compatible) (#1655)
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none
