Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

chore(release): Bump versions (app to 5.0.63) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(web): skip rate limiting for loopback/local requests
  web/bible-on-site/src/proxy.ts
Due: website

fix(web): remove hardcoded sitemap URL, add tests for proxy/robots/GA
  web/bible-on-site/src/app/robots.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
  web/bible-on-site/tests/unit/app/robots.test.ts
  web/bible-on-site/tests/unit/components/GoogleAnalytics.test.tsx
Due: website

fix(web): skip rate limiting when not behind reverse proxy
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
Due: website

fix(web): guard rate limiting behind isProduction check
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
Due: website

feat(web): Add bot protection — robots.txt + rate-limiting middleware (#1492)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/components/GoogleAnalytics.tsx
  web/bible-on-site/src/app/robots.ts
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
  web/bible-on-site/tests/unit/app/robots.test.ts
  web/bible-on-site/tests/unit/components/GoogleAnalytics.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.288) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(nginx): move rate limiting to nginx layer for cross-instance protection
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
Due: website

fix(ga): eliminate bot noise from Google Analytics using server-side detection
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  web/bible-on-site/src/app/components/GoogleAnalytics.tsx
  web/bible-on-site/tests/unit/components/GoogleAnalytics.test.tsx
Due: website

style(proxy): format makeRequest params in unit test
  web/bible-on-site/tests/unit/app/proxy.test.ts
Due: none

fix(ga): add client-side bot UA detection as fallback for cached pages
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  web/bible-on-site/src/app/components/GoogleAnalytics.tsx
  web/bible-on-site/tests/unit/components/GoogleAnalytics.test.tsx
Due: website

docs(nginx): explain blocked bots rationale, relax rate limits
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
Due: none

feat(nginx): move rate limiting to nginx layer for cross-instance protection (#1496)
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  web/bible-on-site/src/app/components/GoogleAnalytics.tsx
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
  web/bible-on-site/tests/unit/components/GoogleAnalytics.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.289) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix: remove per-IP general rate limit — was blocking real users
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
Due: none

fix(ga): remove headers() call that broke SSG pages with DYNAMIC_SERVER_USAGE
  web/bible-on-site/src/app/components/GoogleAnalytics.tsx
  web/bible-on-site/tests/unit/components/GoogleAnalytics.test.tsx
Due: website

test(perf): add route rendering mode verification
  web/bible-on-site/tests/perf/route-rendering.test.ts
Due: none

fix(ga): remove headers() call that broke SSG pages with DYNAMIC_SERVER_USAGE (#1499)
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  web/bible-on-site/src/app/components/GoogleAnalytics.tsx
  web/bible-on-site/tests/perf/route-rendering.test.ts
  web/bible-on-site/tests/unit/components/GoogleAnalytics.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.290) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

style(app): add curly braces to single-statement if blocks per Codacy
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

chore(release): Bump versions (website to 0.2.291, app to 5.0.64) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

fix(nginx): block sitemap scraper botnet, add global backend rate limit
  docs/aws/cloudformation/ec2-nginx/router/router.conf
Due: none

docs(nginx): update CF docs with sitemap blocker and global limits
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
Due: none

fix(nginx): block distributed sitemap scraper, add global backend rate limit (#1502)
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
Due: none

fix(nginx): raise global_backend limit to 300r/m — 120 was blocking real users
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
Due: none

feat(ga): add BotD headless browser detection to suppress GA for scrapers
  web/bible-on-site/src/app/components/GoogleAnalytics.tsx
  web/bible-on-site/tests/unit/components/GoogleAnalytics.test.tsx
Due: website

fix(nginx): raise global backend limit + add BotD headless browser detection for GA (#1504)
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  web/bible-on-site/src/app/components/GoogleAnalytics.tsx
  web/bible-on-site/tests/unit/components/GoogleAnalytics.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.292) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(nginx): rate-limit meta-externalagent, block DataForSeoBot, fix bot policy comments
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
Due: website

fix(nginx): rate-limit meta-externalagent, block DataForSeoBot, correct bot policy (#1505)
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  web/bible-on-site/src/proxy.ts
  web/bible-on-site/tests/unit/app/proxy.test.ts
Due: website

chore(release): Bump versions (website to 0.2.293) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(tanahpedia): entity references, subcategories, hover previews, and Today in Tanah
  data/mysql/tanahpedia_legacy_migration.sql
  data/mysql/tanahpedia_structure.sql
  docs/tanahpedia/implementation-plan.md
  docs/tanahpedia/tanachpedia.dbml
  web/admin/package-lock.json
  web/admin/src/routeTree.gen.ts
  web/admin/src/routes/__root.tsx
  web/admin/src/routes/tanahpedia.entries.$id.tsx
  web/admin/src/routes/tanahpedia.persons.tsx
  web/admin/src/routes/tanahpedia.places.tsx
  web/admin/src/routes/tanahpedia.tsx
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/components/TanahpediaLink.tsx
  web/bible-on-site/src/app/929/[number]/components/pasuk-renderer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/components/tanahpedia-link.module.css
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/app/api/tanahpedia/preview/[uniqueName]/route.ts
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/tanahpedia/[entityType]/page.tsx
  web/bible-on-site/src/app/tanahpedia/components/EntityListItem.tsx
  web/bible-on-site/src/app/tanahpedia/entry/[uniqueName]/page.tsx
  web/bible-on-site/src/app/tanahpedia/layout.css
  web/bible-on-site/src/app/tanahpedia/layout.tsx
  web/bible-on-site/src/app/tanahpedia/page.module.css
  web/bible-on-site/src/app/tanahpedia/page.tsx
  web/bible-on-site/src/lib/tanahpedia/entity-ref-lookup.ts
  web/bible-on-site/src/lib/tanahpedia/service.ts
  web/bible-on-site/src/lib/tanahpedia/types.ts
Due: website, data

fix(nginx): block Chrome/124.0.0.0 botnet UA that caused three outages
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
Due: none

fix(nginx): block Chrome/124.0.0.0 botnet UA that caused three outages (#1507)
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
Due: none

fix(web): make commentary pages SSG by moving generateStaticParams to layout
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/src/app/929/[number]/page.tsx
Due: website

fix(web): use ISR for commentary pages instead of full SSG
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

fix(web): make commentary pages SSG by moving generateStaticParams to layout (#1508)
  docs/aws/cloudformation/ec2-nginx/ec2-nginx.yaml
  docs/aws/cloudformation/ec2-nginx/router/router.conf
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/[slug]/page.tsx
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/tests/unit/app/article-page.test.tsx
Due: website

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
