Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

Accept Android taps on the open chapter navigation overlay
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(app): reset iOS app without erasing its simulator
  app/BibleOnSite.Tests.MobileE2E/Configuration/ConfigurationTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/MobileTestConfiguration.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/mobile-e2e/README.md
  app/mobile-e2e/boot-ios.mjs
Due: none

Revert "Accept Android taps on the open chapter navigation overlay"
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

Address recitation timeline and property review findings
  app/BibleOnSite/Helpers/RecitationTimeline.cs
  app/BibleOnSite/Models/Pasuk.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
Due: app

Apply explicit recitation property guard formatting
  app/BibleOnSite/Models/Pasuk.cs
Due: app

fix(app): prepare prebuilt iOS agent before mobile tests
  .github/tool-registry.md
  .github/workflows/app-mobile-e2e.yml
  app/BibleOnSite.Tests.MobileE2E/Configuration/ConfigurationTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/MobileTestConfiguration.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/mobile-e2e/README.md
  app/mobile-e2e/package.json
  app/mobile-e2e/prepare-wda.mjs
  app/mobile-e2e/run.mjs
Due: none

ci: bump every module a Renovate branch changes
  .github/workflows/renovate-version-bump.yml
  devops/github/ci/auto-bump-website-version.ts
  devops/github/ci/bump-changed-module-versions.test.mts
  devops/github/ci/bump-changed-module-versions.ts
  devops/package.json
  docs/github/version-verification.md
  renovate.json
Due: none

ci: key NuGet caches on dependencies and save caches only from master
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
  .github/workflows/perek-images.yml
  .github/workflows/shared-verify-version.yml
  devops/github/ci/nuget-cache-key.mjs
  devops/github/ci/nuget-cache-key.test.mjs
Due: none

ci(data): pull the Sefaria MongoDB image from GHCR instead of a 7 GB artifact
  .github/tool-registry.md
  .github/workflows/ci.yml
  data/sefaria/mongodb-docker/README.md
  docs/github/workflows/ci/ci.md
Due: data

chore(deps): bump versions of updated modules
  app/BibleOnSite/BibleOnSite.csproj
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: app

ci: cache website dependency layers with fresh RDS-backed SSG
  .github/tool-registry.md
  .github/workflows/shared-dockerize.yml
  devops/github/ci/verify-website-docker-cache.mts
  web/bible-on-site/Dockerfile
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

ci: discard local dependency image before cache benchmark
  .github/workflows/shared-dockerize.yml
Due: none

ci: skip module tests on master pushes the merge queue already validated
  .github/workflows/ci.yml
  devops/github/ci/find-validated-merge-group-run.test.mts
  devops/github/ci/find-validated-merge-group-run.ts
  docs/github/workflows/ci/ci.md
Due: none

ci: consolidate change detection into one TypeScript job
  .github/workflows/ci.yml
  .github/workflows/shared-ci.yml
  devops/github/ci/determine-changes.test.mjs
  devops/github/ci/determine-changes.test.ts
  devops/github/ci/determine-changes.ts
  docs/github/workflows/ci/ci.md
  docs/github/workflows/ci/ci.puml
  docs/github/workflows/ci/ci.svg
Due: none

refactor(devops): avoid dynamic regex and dispatch in module version bump
  devops/github/ci/bump-changed-module-versions.ts
Due: none

Highlight spoken words in website and app recitation (#1942)
  app/BibleOnSite.Tests/Helpers/RecitationTimelineTests.cs
  app/BibleOnSite.Tests/Models/PasukFormattedTextTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Helpers/RecitationTimeline.cs
  app/BibleOnSite/Models/Pasuk.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  data/recitation/PIPELINE.md
  data/recitation/README.md
  data/recitation/diagrams/delivery-harness.svg
  data/recitation/diagrams/segmentation-stack.svg
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/RecitationPlayer.tsx
  web/bible-on-site/src/app/929/[number]/components/recitation-player.module.css
  web/bible-on-site/src/lib/recitation-audio.ts
  web/bible-on-site/src/lib/recitation.ts
  web/bible-on-site/tests/e2e/929/sefer-view/recitation.test.ts
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
  web/bible-on-site/tests/unit/lib/recitation-audio.test.ts
  web/bible-on-site/tests/unit/lib/recitation.test.ts
Due: app, website, data

ci: auto-bump changed module versions on every branch push
  .github/workflows/auto-bump-versions.yml
  devops/github/ci/bump-changed-module-versions.ts
  docs/github/version-verification.md
Due: none

Verify stable highlighting when the spoken word has not changed
  app/BibleOnSite.Tests/Models/PasukFormattedTextTests.cs
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(website): keep package-lock.json formatted like master
  web/bible-on-site/package-lock.json
Due: none

Fix delivered commentary catalog pairing and native JSON validation
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Services/NotesDeliveryTests.cs
  app/BibleOnSite.Tests/Services/PerushimAttributionTests.cs
  app/BibleOnSite.Tests/Services/PreferencesServiceTests.cs
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Models/AppJsonContext.cs
  app/BibleOnSite/Models/Recitation.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
  app/BibleOnSite/Services/PreferencesService.cs
  app/devops/prepare_perushim_assets.py
  app/devops/test_prepare_perushim_assets.py
Due: app

fix(app): bundle iOS configuration and capture startup failures
  .github/workflows/app-mobile-e2e.yml
  app/BibleOnSite/BibleOnSite.csproj
  app/mobile-e2e/boot-ios.mjs
  app/mobile-e2e/run.mjs
Due: app

Exercise release asset CLI directly in regression tests
  app/devops/test_prepare_perushim_assets.py
Due: none

ci: avoid replaceAll and HTML-like template interpolation in NuGet cache key helper
  devops/github/ci/nuget-cache-key.mjs
  devops/github/ci/nuget-cache-key.test.mjs
Due: none

ci: consolidate change detection into one TypeScript job (#1947)
  .github/workflows/ci.yml
  .github/workflows/shared-ci.yml
  devops/github/ci/determine-changes.test.mjs
  devops/github/ci/determine-changes.test.ts
  devops/github/ci/determine-changes.ts
  docs/github/workflows/ci/ci.md
  docs/github/workflows/ci/ci.puml
  docs/github/workflows/ci/ci.svg
Due: none

fix(app): load the iOS simulator preflight through ESM
  app/mobile-e2e/README.md
  app/mobile-e2e/boot-ios.mjs
  app/mobile-e2e/simulator.mjs
  app/mobile-e2e/simulator.test.mjs
Due: none

ci: make live-RDS build comparison an explicit manual benchmark
  .github/workflows/shared-dockerize.yml
Due: none

chore(release): Bump versions (app to 5.0.113) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

ci: auto-bump changed module versions on branch pushes (fixes Renovate PR #1850) (#1945)
  .github/workflows/auto-bump-versions.yml
  app/BibleOnSite.Tests.E2E/BibleOnSite.Tests.E2E.csproj
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/_build.csproj
  data/Cargo.lock
  devops/docker-compose.yml
  devops/github/ci/auto-bump-website-version.ts
  devops/github/ci/bump-changed-module-versions.test.mts
  devops/github/ci/bump-changed-module-versions.ts
  devops/package-lock.json
  devops/package.json
  docs/github/version-verification.md
  package-lock.json
  renovate.json
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: app, data

test(app): cover recitation clip-range serialization and remaining validation branches
  app/BibleOnSite.Tests/Models/RecitationTests.cs
Due: none

chore(app): bump version above master release 5.0.113
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Add reader and narration settings across website and app
  app/BibleOnSite.Tests/Helpers/RecitationTimelineTests.cs
  app/BibleOnSite.Tests/Services/PreferencesServiceTests.cs
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
  app/BibleOnSite/Helpers/RecitationTimeline.cs
  app/BibleOnSite/Pages/PerekPage.Recitation.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/Resources/Raw/recitation-audio.html
  app/BibleOnSite/Services/IRecitationAudioDecoder.cs
  app/BibleOnSite/Services/MpegRecitationAudioDecoder.cs
  app/BibleOnSite/Services/PreferencesService.cs
  app/BibleOnSite/Services/RecitationService.cs
  app/BibleOnSite/ViewModels/RecitationPreferencesViewModel.cs
  data/recitation/PIPELINE.md
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/ReaderSettings.tsx
  web/bible-on-site/src/app/929/[number]/components/RecitationPlayer.tsx
  web/bible-on-site/src/app/929/[number]/components/SettingsIcon.tsx
  web/bible-on-site/src/app/929/[number]/components/reader-settings.module.css
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/lib/reader-settings.ts
  web/bible-on-site/src/lib/recitation-audio.ts
  web/bible-on-site/src/lib/recitation-settings.ts
  web/bible-on-site/tests/e2e/929/reader-settings.test.ts
  web/bible-on-site/tests/e2e/929/sefer-view/recitation.test.ts
  web/bible-on-site/tests/unit/components/ReaderSettings.test.tsx
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
  web/bible-on-site/tests/unit/lib/native-recitation-audio.test.ts
  web/bible-on-site/tests/unit/lib/reader-settings.test.ts
  web/bible-on-site/tests/unit/lib/recitation-audio.test.ts
  web/bible-on-site/tests/unit/lib/recitation-settings.test.ts
Due: app, website, data

feat(data): add Isaiah chapter headers through chapter 16
  data/annotations/perakim-headers.yml
  data/mysql/tanah_sefarim_and_perakim_data.sql
Due: data

Anchor the RTL settings dropdown beside its chapter button
  web/bible-on-site/src/app/929/[number]/components/reader-settings.module.css
  web/bible-on-site/tests/e2e/929/sefer-view/recitation.test.ts
Due: website

ci(data): pull the Sefaria MongoDB image from GHCR instead of a 7 GB artifact (#1944)
  .github/tool-registry.md
  .github/workflows/ci.yml
  data/sefaria/mongodb-docker/README.md
  docs/github/workflows/ci/ci.md
Due: data

ci: reuse a merge-queue run only when its fresh baseline outputs exist
  .github/workflows/ci.yml
  devops/github/ci/find-validated-merge-group-run.test.mts
  devops/github/ci/find-validated-merge-group-run.ts
  docs/github/workflows/ci/ci.md
Due: none

Use consistent Web Audio settings for unaligned chapters
  data/recitation/PIPELINE.md
  web/bible-on-site/src/app/929/[number]/components/RecitationPlayer.tsx
  web/bible-on-site/tests/e2e/929/sefer-view/recitation.test.ts
  web/bible-on-site/tests/unit/components/RecitationPlayer.test.tsx
Due: website, data

Keep initial and hydrated reader settings consistent
  web/bible-on-site/src/lib/reader-settings.ts
  web/bible-on-site/tests/unit/lib/reader-settings.test.ts
Due: website

Cover repeated playback updates and offline recitation catalog
  app/BibleOnSite.Tests/Models/PasukFormattedTextTests.cs
  app/BibleOnSite.Tests/Services/RecitationServiceTests.cs
Due: none

test(app): cover unchanged RecitingSegment assignment
  app/BibleOnSite.Tests/Models/PasukTests.cs
Due: none

Reserve app 5.0.114 above the updated master version
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
