Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

Add parallel Android and iOS Appium E2E pilot (#1941)
  .github/tool-registry.md
  .github/workflows/app-mobile-e2e.yml
  .github/workflows/ci.yml
  app/.nuke/build.schema.json
  app/BibleOnSite.Tests.MobileE2E/BibleOnSite.Tests.MobileE2E.csproj
  app/BibleOnSite.Tests.MobileE2E/Configuration/ConfigurationTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/IosTapTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/MobileTestConfiguration.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/SessionFactoryTests.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceSessionFactory.cs
  app/BibleOnSite.Tests.MobileE2E/Pages/PerekPage.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite.Tests.MobileE2E/packages.lock.json
  app/BibleOnSite/AppShell.xaml
  app/BibleOnSite/AppShell.xaml.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/LoadingPage.xaml
  app/BibleOnSite/Pages/LoadingPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/bible-on-site.slnx
  app/devops/Build.Compile.cs
  app/devops/Build.Test.cs
  app/devops/Build.cs
  app/devops/_build.csproj
  app/mobile-e2e/README.md
  app/mobile-e2e/boot-ios.mjs
  app/mobile-e2e/package-lock.json
  app/mobile-e2e/package.json
  app/mobile-e2e/prepare-wda.mjs
  app/mobile-e2e/run.mjs
  app/mobile-e2e/simulator.mjs
  app/mobile-e2e/simulator.test.mjs
  devops/github/ci/determine-changes.test.ts
  devops/github/ci/determine-changes.ts
  devops/package.json
  renovate.json
Due: app

chore(release): Bump versions (admin to 0.1.104) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

ci: restore-only caches with master-only saves in app-mobile-e2e
  .github/workflows/app-mobile-e2e.yml
Due: none

chore: bump versions of changed modules
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump versions (app to 5.0.119) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

ci: key NuGet caches on dependencies and save caches only from master (#1943)
  .github/workflows/app-mobile-e2e.yml
  .github/workflows/app-package.yml
  .github/workflows/auto-bump-versions.yml
  .github/workflows/ci.yml
  .github/workflows/perek-images.yml
  .github/workflows/shared-verify-version.yml
  devops/github/ci/nuget-cache-key.mjs
  devops/github/ci/nuget-cache-key.test.mjs
Due: none

Preserve atomic recitation publication around Windows readers
  data/recitation/publish.py
  data/recitation/test_publish.py
Due: data

ci(data): give Data CI and Perushim Data separate Rust cache keys
  .github/workflows/ci.yml
Due: none

ci: bump module versions on master after merge instead of in PRs (#1954)
  .github/copilot-instructions.md
  .github/workflows/auto-bump-versions.yml
  .github/workflows/ci.yml
  .github/workflows/codeql.yml
  .github/workflows/shared-release.yml
  .github/workflows/shared-verify-version.yml
  .husky/pre-commit
  .husky/shared-checks.sh
  data/recitation/README.md
  devops/github/ci/auto-bump-website-version.ts
  devops/github/ci/bump-changed-module-versions.test.mts
  devops/github/ci/bump-changed-module-versions.ts
  devops/github/ci/bump-module-versions.test.mts
  devops/github/ci/bump-module-versions.ts
  devops/github/ci/is-version-newer-than-baseline.test.mts
  devops/github/ci/is-version-newer-than-baseline.ts
  devops/package.json
  devops/test_precommit_merge.py
  docs/devops/pre-commit.md
  docs/github/version-verification.md
  renovate.json
Due: data

chore(release): Bump versions (app to 5.0.120) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

ci: prevent version bump and deployment collisions
  .github/workflows/cd-app.yml
  .github/workflows/cd-aws.yml
  .github/workflows/cd-bulletin.yml
  .github/workflows/cd-data.yml
  .github/workflows/ci.yml
  .github/workflows/shared-release.yml
  devops/github/ci/bump-module-versions.test.mts
  devops/github/ci/bump-module-versions.ts
  devops/github/ci/publish-version-bumps.test.mts
  devops/github/release/check-deployment.mjs
  devops/github/release/check-deployment.test.mjs
  devops/github/release/get-version.ts
  devops/github/release/shared-release.test.mjs
  devops/package.json
  docs/github/version-verification.md
  docs/github/workflows/cd/cd.md
Due: none

feat(website): add touch-only chapter swipe navigation
  web/bible-on-site/src/app/929/[number]/components/Carousel.tsx
  web/bible-on-site/src/app/929/[number]/components/PerekSwipeNavigation.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/tests/e2e/929/swipe-navigation.test.ts
  web/bible-on-site/tests/unit/components/Carousel.test.tsx
  web/bible-on-site/tests/unit/components/PerekSwipeNavigation.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite.test.tsx
Due: website

test(website): refine swipe fixtures and scroll assertion
  web/bible-on-site/tests/e2e/929/swipe-navigation.test.ts
  web/bible-on-site/tests/unit/components/PerekSwipeNavigation.test.tsx
Due: none

feat(website): support touch-only chapter swipes (#1959)
  web/bible-on-site/src/app/929/[number]/components/Carousel.tsx
  web/bible-on-site/src/app/929/[number]/components/PerekSwipeNavigation.tsx
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/tests/e2e/929/swipe-navigation.test.ts
  web/bible-on-site/tests/unit/components/Carousel.test.tsx
  web/bible-on-site/tests/unit/components/PerekSwipeNavigation.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite.test.tsx
Due: website

fix(app): allow cold iOS startup within the E2E watchdog
  .github/tool-registry.md
  app/BibleOnSite.Tests.MobileE2E/Pages/PerekPage.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/devops/Build.Test.cs
  app/mobile-e2e/README.md
Due: none

chore(release): Bump versions to release (website to 0.2.455)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(app): give mobile E2E tests a 10-minute per-test hang guard
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/devops/Build.Test.cs
  app/mobile-e2e/README.md
Due: none

ci: make release recovery and deployment replay safe
  .github/workflows/cd-app.yml
  .github/workflows/cd-aws.yml
  .github/workflows/cd-bulletin.yml
  .github/workflows/cd-data.yml
  .github/workflows/ci.yml
  .github/workflows/shared-release.yml
  devops/github/ci/bump-module-versions.ts
  devops/github/ci/publish-version-bumps.test.mts
  devops/github/release/check-deployment.mjs
  devops/github/release/check-deployment.test.mjs
  devops/github/release/deployment-state.mjs
  devops/github/release/deployment-state.test.mjs
  devops/github/release/release-assets.mjs
  devops/github/release/release-assets.test.mjs
  devops/github/release/shared-release.test.mjs
  devops/package.json
  docs/github/version-verification.md
Due: none

ci(app): restore the App CI Rust cache before Codecov exports CC_* vars
  .github/workflows/ci.yml
Due: none

chore: bump versions of changed modules
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

ci: retain data deployment ordering across CI reruns
  devops/github/release/check-deployment.mjs
  devops/github/release/check-deployment.test.mjs
  docs/github/version-verification.md
Due: none

fix(app): give mobile E2E tests a 10-minute per-test hang guard (#1962)
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/devops/Build.Test.cs
  app/mobile-e2e/README.md
Due: none

fix(app): wait for the first reader snapshot after session startup
  .github/tool-registry.md
  app/BibleOnSite.Tests.MobileE2E/Pages/PerekPage.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/mobile-e2e/README.md
Due: none

test(app): preserve each failed startup snapshot
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
Due: none

ci: fix Rust caches that never hit in Data CI and App CI (#1957)
  .github/workflows/ci.yml
Due: none

chore(release): Bump versions (app to 5.0.121) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

test(app): remove duplicate watchdog changes
  .github/tool-registry.md
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/devops/Build.Test.cs
  app/mobile-e2e/README.md
Due: none

fix: Keep mobile reader controls aligned during scroll bounce
  web/bible-on-site/biome.json
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/tests/e2e/929/breadcrumb-header-offset.test.ts
  web/bible-on-site/tests/e2e/929/reader-scroll-boundaries.test.ts
Due: website

fix: Restore saved reader settings on client navigation
  web/bible-on-site/.covignore.mjs
  web/bible-on-site/src/app/929/[number]/hebrew-font.ts
  web/bible-on-site/src/app/929/[number]/layout.tsx
  web/bible-on-site/src/app/layout.tsx
  web/bible-on-site/src/lib/reader-settings.ts
  web/bible-on-site/tests/e2e/929/reader-settings.test.ts
Due: website

ci: pin release provenance and isolate repository tasks
  .github/instructions/git-practices.instructions.md
  .github/workflows/cd-data.yml
  .github/workflows/ci.yml
  .github/workflows/shared-release.yml
  AGENTS.md
  devops/github/ci/publish-version-bumps.test.mts
  devops/github/release/check-deployment.mjs
  devops/github/release/check-deployment.test.mjs
  devops/github/release/data-artifact.mjs
  devops/github/release/data-artifact.test.mjs
  devops/github/release/deployment-state.mjs
  devops/github/release/deployment-state.test.mjs
  devops/github/release/release-assets.mjs
  devops/github/release/release-provenance.mjs
  devops/github/release/shared-release.test.mjs
  devops/package.json
  docs/github/version-verification.md
  docs/github/workflows/cd/cd.md
Due: none

fix(website): show chapter source before the reading heading
  web/bible-on-site/biome.json
  web/bible-on-site/src/app/929/[number]/components/PerekHeading.tsx
  web/bible-on-site/src/app/929/[number]/page.module.css
Due: website

docs: record reliable release checks and worktree workflow
  .github/tool-registry.md
Due: none

fix(website): join the chapter source and heading with a plain hyphen
  web/bible-on-site/src/app/929/[number]/components/PerekHeading.tsx
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/tests/unit/components/PerekHeading.test.tsx
Due: website

fix(app): stabilize initial reader snapshots in mobile E2E (#1961)
  .github/tool-registry.md
  app/BibleOnSite.Tests.MobileE2E/Pages/PerekPage.cs
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/mobile-e2e/README.md
Due: none

ci: route older master bump jobs through the safe publisher
  devops/github/ci/bump-module-versions.ts
  devops/github/ci/publish-version-bumps.test.mts
  docs/github/version-verification.md
Due: none

ci: skip completed SQL deliveries after archive expiry
  devops/github/release/check-deployment.mjs
  devops/github/release/check-deployment.test.mjs
  docs/github/version-verification.md
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
