Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

test(website): add unit tests for [authorParam] page functions
  web/bible-on-site/tests/unit/app/author-param-page.test.ts
  web/bible-on-site/tests/unit/components/ArticleFullView.test.tsx
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
Due: none

test(website): add unit tests for server components and page exports
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/app/author-param-page.test.ts
  web/bible-on-site/tests/unit/app/authors-page.test.tsx
Due: none

chore(release): Bump versions (website to 0.2.239) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Website: prevent horizontal overflow on perek page (fixes #1270)
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/layout.css
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/tests/e2e/929/perek-overflow.test.ts
Due: website

Add perushim JSON data, Codacy exclusions, gitignore, DOMPurify for PerushimSection
  .codacy.yml
  .gitignore
  web/bible-on-site/.gitignore
  web/bible-on-site/src/app/929/[number]/components/PerushimSection.tsx
  web/bible-on-site/src/data/db/sefaria-dump-5784-sivan-4.parshanim.json
  web/bible-on-site/src/data/db/sefaria-dump-5784-sivan-4.perushim.json
Due: website

fix(ci): make postinstall fail-safe and ignore missing coverage debug dir
  .github/workflows/ci.yml
  web/bible-on-site/scripts/copy-local-flip-book.mjs
Due: none

fix(ci): clear npm cache before npm ci in Website CI job
  .github/workflows/ci.yml
Due: none

fix(ci): use npm install instead of npm ci in Website CI job
  .github/workflows/ci.yml
Due: none

Website: e2e dev server, coverage strategy doc, variance note, CI log merged coverage
  .github/workflows/ci.yml
  docs/practices/testing.md
  docs/tests/website/coverage/coverage.md
  web/bible-on-site/launch-e2e-server.mts
  web/bible-on-site/package.json
  web/bible-on-site/playwright.base.config.ts
  web/bible-on-site/playwright.e2e.config.ts
  web/bible-on-site/tests/e2e/google-analytics.test.ts
Due: none

Add agent rule and doc: user does nothing; monitor and stabilize until resolved
  .cursor/rules/user-does-not-execute.mdc
  docs/practices/README.md
  docs/practices/agent-responsibilities.md
  web/bible-on-site/src/app/journalism/JournalismGallery.tsx
  web/bible-on-site/src/app/rabbis-blessing/ImageLightbox.tsx
Due: website

fix(ci): stabilize unit tests - mock isomorphic-dompurify, add Jest --forceExit
  web/bible-on-site/jest.setup.js
  web/bible-on-site/package.json
Due: none

Rule/doc: autopilot when monitoring—keep going until green, never say 'say monitor again'
  .cursor/rules/user-does-not-execute.mdc
  docs/practices/agent-responsibilities.md
Due: none

E2E: fix perek-overflow test so coverage run passes (codecov gate)
  web/bible-on-site/tests/e2e/929/perek-overflow.test.ts
Due: none

CI: rewrite LCOV SF paths for Codecov website flag (fix cov gate)
  .github/workflows/ci.yml
Due: none

CI: fix LCOV path step to use path relative to working-directory
  .github/workflows/ci.yml
Due: none

Website: add unit tests and Jest setup for Codecov
  web/bible-on-site/jest-dom.setup.js
  web/bible-on-site/jest.config.js
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/unit/app/api/health.test.ts
  web/bible-on-site/tests/unit/components/AppSection.test.tsx
  web/bible-on-site/tests/unit/components/ContactSection.test.tsx
  web/bible-on-site/tests/unit/components/Footer.test.tsx
  web/bible-on-site/tests/unit/components/NavBar.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToSection.test.tsx
  web/bible-on-site/tests/unit/components/TosSection.test.tsx
Due: none

fix(ci): sync package-lock.json with isomorphic-dompurify@3.0.0-rc.2
  web/bible-on-site/package-lock.json
Due: none

Website: add unit tests for [section] page
  web/bible-on-site/tests/unit/app/section-page.test.ts
Due: none

fix(ci): format data codebase with cargo fmt
  data/mysql/db-populator/src/main.rs
  data/sefaria/pipelines/perushim-view/src/commands/compass_stages.rs
  data/sefaria/pipelines/perushim-view/src/commands/json.rs
  data/sefaria/pipelines/perushim-view/src/commands/sqlite.rs
  data/sefaria/pipelines/perushim-view/src/data/extract.rs
  data/sefaria/pipelines/perushim-view/src/data/perek_mapping.rs
  data/sefaria/pipelines/perushim-view/src/main.rs
  data/sefaria/pipelines/perushim-view/src/stages/stage_lookup_texts.rs
  data/sefaria/pipelines/perushim-view/src/stages/stage_project_initial.rs
Due: data

Website: add unit tests for low-coverage components (BookshelfModal, health/ready error, AppSection disabled, Footer year<5000)
  web/bible-on-site/tests/unit/app/api/health.test.ts
  web/bible-on-site/tests/unit/components/AppSection.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfModal-nontoday.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfModal.test.tsx
  web/bible-on-site/tests/unit/components/Footer.test.tsx
Due: none

Website: prevent horizontal overflow on perek page (fixes #1270) (#1294)
  .cursor/rules/user-does-not-execute.mdc
  .github/workflows/ci.yml
  docs/practices/README.md
  docs/practices/agent-responsibilities.md
  docs/practices/testing.md
  docs/tests/website/coverage/coverage.md
  web/bible-on-site/jest-dom.setup.js
  web/bible-on-site/jest.config.js
  web/bible-on-site/launch-e2e-server.mts
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/playwright.base.config.ts
  web/bible-on-site/playwright.e2e.config.ts
  web/bible-on-site/src/app/929/[number]/layout.css
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/journalism/JournalismGallery.tsx
  web/bible-on-site/src/app/rabbis-blessing/ImageLightbox.tsx
  web/bible-on-site/tests/e2e/929/perek-overflow.test.ts
  web/bible-on-site/tests/e2e/google-analytics.test.ts
  web/bible-on-site/tests/unit/app/api/health.test.ts
  web/bible-on-site/tests/unit/app/section-page.test.ts
  web/bible-on-site/tests/unit/components/AppSection.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfModal-nontoday.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfModal.test.tsx
  web/bible-on-site/tests/unit/components/ContactSection.test.tsx
  web/bible-on-site/tests/unit/components/Footer.test.tsx
  web/bible-on-site/tests/unit/components/NavBar.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToSection.test.tsx
  web/bible-on-site/tests/unit/components/TosSection.test.tsx
Due: website

feat(app): implement swipe navigation for perek pages
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  docs/app/swipe-navigation.md
Due: app

Move coverage post-merge steps to npm script; add Bookshelf unit tests
  .github/workflows/ci.yml
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
  web/bible-on-site/tests/util/coverage/merge-coverage.mts
Due: none

chore(release): Bump versions (website to 0.2.240) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore: bump website version to 0.2.240
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Refactor: move coverage post-merge to npm script; add Bookshelf tests (#1297)
  .github/workflows/ci.yml
  web/bible-on-site/tests/unit/components/Bookshelf.test.tsx
  web/bible-on-site/tests/util/coverage/merge-coverage.mts
Due: none

chore(release): Bump versions (website to 0.2.241) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Raise website coverage gate to 95% and add comprehensive unit tests
  codecov.yml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/app/authors-page.test.tsx
  web/bible-on-site/tests/unit/components/Bookshelf-notoday.test.tsx
  web/bible-on-site/tests/unit/components/NavBar-nullhref.test.tsx
  web/bible-on-site/tests/unit/components/ReadModeToggler.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToArticle.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite.test.tsx
  web/bible-on-site/tests/unit/components/TanahSefarimSection.test.tsx
Due: none

chore(web): flip-book dep to npm for CI (pre-commit result)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Raise website coverage gate to 95% and add comprehensive unit tests (#1298)
  codecov.yml
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/app/authors-page.test.tsx
  web/bible-on-site/tests/unit/components/Bookshelf-notoday.test.tsx
  web/bible-on-site/tests/unit/components/NavBar-nullhref.test.tsx
  web/bible-on-site/tests/unit/components/ReadModeToggler.test.tsx
  web/bible-on-site/tests/unit/components/ScrollToArticle.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
  web/bible-on-site/tests/unit/components/SeferComposite.test.tsx
  web/bible-on-site/tests/unit/components/TanahSefarimSection.test.tsx
Due: none

chore(release): Bump versions (website to 0.2.242) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

feat(app): add swipe navigation between perakim using CarouselView
  .cursor/rules/app-practices.mdc
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

fix(app): pre-load wide carousel window to prevent swipe snap-back
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

fix(app): improve carousel swipe responsiveness and view caching
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

feat(app): enable full 929-perakim carousel with lazy pasukim loading
  app/BibleOnSite/Models/Perek.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

fix(app): fix nav buttons jumping to perek 1, clear selection on swipe, fix Codacy warnings
  app/BibleOnSite.Tests/Models/PerekTests.cs
  app/BibleOnSite/Models/Perek.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
