Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

Restore daily bulletin preparation and article eligibility (#2063)
  .codacy.yml
  data/mysql/db-populator/src/main.rs
  data/mysql/tanah_daily_bulletin_upgrade.sql
  data/mysql/tanah_dynamic_structure.sql
  devops/deploy/data-deploy/sql-files.json
  docs/aws/cloudformation/ecs-services.yaml
  docs/daily-bulletin/daily-bulletin.md
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/src/components/DailyBulletinPage.tsx
  web/admin/src/lib/daily-bulletin.ts
  web/admin/src/routeTree.gen.ts
  web/admin/src/routes/__root.tsx
  web/admin/src/routes/articles.$id.tsx
  web/admin/src/routes/bulletins.tsx
  web/admin/src/server/articles.ts
  web/admin/src/server/daily-bulletins.server.ts
  web/admin/src/server/daily-bulletins.ts
  web/admin/src/server/render-daily.server.ts
  web/admin/src/server/tanahpedia/llm-assistant.ts
  web/admin/src/server/tanahpedia/revisions.ts
  web/admin/tests/unit/components/DailyBulletinPage.test.tsx
  web/admin/tests/unit/lib/daily-bulletin.test.ts
  web/admin/tests/unit/server/article-eligibility.test.ts
  web/admin/tests/unit/server/daily-bulletins.test.ts
  web/admin/tests/unit/server/render-daily.test.ts
  web/admin/tests/unit/server/tanahpedia/revisions.test.ts
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
  web/bulletin/src/daily.rs
  web/bulletin/src/handlers.rs
  web/bulletin/src/lib.rs
  web/bulletin/src/pdf.rs
  web/bulletin/tests/daily_cli.rs
Due: data

Fix concurrent chapter loading and iOS search validation
  app/BibleOnSite.Tests.MobileE2E/PerekPilotTests.cs
  app/BibleOnSite.Tests/Services/PerekDataServiceTests.cs
  app/BibleOnSite/Controls/FloatingSearchBar.xaml
  app/BibleOnSite/Services/PerekDataService.cs
  app/BibleOnSite/Services/SearchIndexService.cs
  app/devops/Build.Compile.cs
Due: app

test(app): cover inline CSS and structural branches in HtmlRuns
  app/BibleOnSite.Tests/Helpers/HtmlRunsTests.cs
Due: none

Isolate Windows integration API builds and escape iOS compiler options
  app/BibleOnSite.Tests/Fixtures/ApiServerFixture.cs
  app/devops/Build.Compile.cs
Due: none

Normalize Hebrew leap-month punctuation in bulletin dates
  web/admin/src/lib/daily-bulletin.ts
  web/admin/tests/unit/lib/daily-bulletin.test.ts
Due: none

chore(release): Bump versions (app to 5.0.139) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

App: keep shared top bar on rabbis page and align its search with על הפרק
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Pages/AuthorsPage.xaml.cs
Due: app

Keep bulletin date normalization compatible with older browsers
  web/admin/src/lib/daily-bulletin.ts
Due: none

chore(release): Bump versions (admin to 0.1.114, bulletin to 0.1.33) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

ci(app): cache Android emulator downloads and clean AVD snapshots
  .codacy.yml
  .github/workflows/app-mobile-e2e.yml
  app/mobile-e2e/README.md
  app/mobile-e2e/android-readiness.mjs
  app/mobile-e2e/android-readiness.test.mjs
  app/mobile-e2e/android-ready.mjs
  app/mobile-e2e/android-snapshot-check.mjs
  app/mobile-e2e/android-snapshot-check.test.mjs
  app/mobile-e2e/package.json
  app/mobile-e2e/run.mjs
  devops/github/ci/android-sdk-install.mjs
  devops/github/ci/android-sdk-install.test.mjs
  devops/github/ci/android-sdk-manifest.mjs
  devops/github/ci/android-sdk-manifest.test.mjs
  devops/package.json
Due: none

test(app): cover remaining HtmlRuns branches and simplify redundant guard
  app/BibleOnSite.Tests/Helpers/HtmlRunsTests.cs
  app/BibleOnSite/Helpers/HtmlRuns.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

Keep bulletin migration comments safe for production preprocessing
  data/mysql/tanah_daily_bulletin_upgrade.sql
  devops/deploy/data-deploy/validate_lambda_parser.py
  docs/daily-bulletin/daily-bulletin.md
Due: data

chore(release): Bump versions (bulletin to 0.1.34) [skip ci]
  web/bulletin/Cargo.lock
  web/bulletin/Cargo.toml
Due: none

Fix bulletin date formatting and migration preprocessing (#2066)
  data/mysql/tanah_daily_bulletin_upgrade.sql
  devops/deploy/data-deploy/validate_lambda_parser.py
  docs/daily-bulletin/daily-bulletin.md
  web/admin/src/lib/daily-bulletin.ts
  web/admin/tests/unit/lib/daily-bulletin.test.ts
Due: data

chore(release): Bump versions (admin to 0.1.115) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

Compile iOS indexing framework routines and preserve live CI diagnostics
  .github/workflows/app-mobile-e2e.yml
  app/devops/Build.Compile.cs
  app/mobile-e2e/native-logs.mjs
  app/mobile-e2e/native-logs.test.mjs
  app/mobile-e2e/run.mjs
Due: none

fix(app): drop dead assignments flagged by code quality review
  app/mobile-e2e/android-snapshot-check.mjs
  app/mobile-e2e/run.mjs
Due: none

test(e2e): avoid dynamic RegExp in native log exit assertion
  app/mobile-e2e/native-logs.test.mjs
Due: none

ci(app): cache Android emulator downloads and clean AVD snapshots (#2064)
  .codacy.yml
  .github/workflows/app-mobile-e2e.yml
  app/mobile-e2e/README.md
  app/mobile-e2e/android-readiness.mjs
  app/mobile-e2e/android-readiness.test.mjs
  app/mobile-e2e/android-ready.mjs
  app/mobile-e2e/android-snapshot-check.mjs
  app/mobile-e2e/android-snapshot-check.test.mjs
  app/mobile-e2e/package.json
  app/mobile-e2e/run.mjs
  devops/github/ci/android-sdk-install.mjs
  devops/github/ci/android-sdk-install.test.mjs
  devops/github/ci/android-sdk-manifest.mjs
  devops/github/ci/android-sdk-manifest.test.mjs
  devops/package.json
Due: none

fix(app): replace NSHTMLReader HTML import with managed parser (#2052)
  app/BibleOnSite.Tests.MobileE2E/PerushimHtmlScrollStabilityTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Helpers/HtmlRunsTests.cs
  app/BibleOnSite.Tests/Services/SyntheticPerushimProviderTests.cs
  app/BibleOnSite/Helpers/HtmlAttributedStringFactory.cs
  app/BibleOnSite/Helpers/HtmlRuns.cs
  app/BibleOnSite/Platforms/MacCatalyst/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Services/SyntheticPerushimProvider.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

Exercise commentary formatting variants and mixed search result presentation
  app/BibleOnSite.Tests/Helpers/HtmlRunsRegressionTests.cs
  app/BibleOnSite.Tests/Models/SearchResultPresentationTests.cs
Due: none

Cover search result presentation, notes delivery fallbacks, and commentary formatting variants
  app/BibleOnSite.Tests/Helpers/HtmlRunsTests.cs
  app/BibleOnSite.Tests/Models/SearchResultTests.cs
  app/BibleOnSite.Tests/Services/NotesDeliveryTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekLoadingTests.cs
  app/devops/Build.Coverage.cs
Due: none

Isolate process-wide commentary test switches from parallel collections
  app/BibleOnSite.Tests/Services/SyntheticPerushimProviderTests.cs
  app/BibleOnSite.Tests/Support/ProcessEnvironmentCollection.cs
  app/BibleOnSite.Tests/ViewModels/PerekLoadingTests.cs
Due: none

Split text-decoration coverage into focused tests
  app/BibleOnSite.Tests/Helpers/HtmlRunsTests.cs
Due: none

chore(release): Bump versions (website to 0.2.484, admin to 0.1.116) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Cover persisted search recovery and large commentary imports
  app/BibleOnSite.Tests/Helpers/AppLinkHelperTests.cs
  app/BibleOnSite.Tests/Helpers/HtmlRunsRegressionTests.cs
  app/BibleOnSite.Tests/Services/SearchHistoryServiceTests.cs
  app/BibleOnSite.Tests/Services/SearchIndexServiceTests.cs
Due: none

chore(release): Bump versions (api to 0.1.73, app to 5.0.140) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: app

Retry transient recitation pack downloads without accepting partial bytes
  app/devops/prepare_recitation_assets.py
  app/devops/test_prepare_recitation_assets.py
Due: none

Block device reuse after uncertain Appium session cleanup
  app/BibleOnSite.Tests.MobileE2E/Configuration/SessionFactoryTests.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceSessionFactory.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceTest.cs
Due: none

Format native recitation transport regression tests
  app/devops/test_prepare_recitation_assets.py
Due: none

chore(release): Bump versions (website to 0.2.486, app to 5.0.142) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

test(app): stop XCTest idle gating and recover dropped mobile sessions
  app/BibleOnSite.Tests.MobileE2E/Configuration/ConfigurationTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/DeviceSessionRecoveryTests.cs
  app/BibleOnSite.Tests.MobileE2E/Configuration/SessionFactoryTests.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceSessionFactory.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceTest.cs
  app/BibleOnSite.Tests.MobileE2E/PerushimHtmlScrollStabilityTests.cs
  app/BibleOnSite.Tests.MobileE2E/Platforms/MobilePlatformAdapter.cs
  app/mobile-e2e/README.md
Due: none

fix(app): compact elliptical fan for the reader bottom menu
  app/BibleOnSite.Tests/Helpers/FanMenuGeometryTests.cs
  app/BibleOnSite/Helpers/FanMenuGeometry.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(app): satisfy static-analysis rules in FanMenuGeometry
  app/BibleOnSite.Tests/Helpers/FanMenuGeometryTests.cs
  app/BibleOnSite/Helpers/FanMenuGeometry.cs
Due: app

feat(website): internal site search for perakim, pesukim, perushim, authors, and articles
  docs/website/search.md
  web/bible-on-site/public/icons/search.svg
  web/bible-on-site/src/app/api/search/route.ts
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/src/app/search/components/SearchExperience.tsx
  web/bible-on-site/src/app/search/components/search-experience.module.css
  web/bible-on-site/src/app/search/layout.css
  web/bible-on-site/src/app/search/layout.tsx
  web/bible-on-site/src/app/search/page.tsx
  web/bible-on-site/src/app/search/search.module.css
  web/bible-on-site/src/lib/search/corpus.ts
  web/bible-on-site/src/lib/search/db-content.ts
  web/bible-on-site/src/lib/search/normalize.ts
  web/bible-on-site/src/lib/search/score.ts
  web/bible-on-site/src/lib/search/service.ts
  web/bible-on-site/src/lib/search/snippet.ts
  web/bible-on-site/src/lib/search/types.ts
  web/bible-on-site/tests/e2e/search.test.ts
  web/bible-on-site/tests/unit/app/api/search-route.test.ts
  web/bible-on-site/tests/unit/app/search-page.test.tsx
  web/bible-on-site/tests/unit/components/SearchExperience.test.tsx
  web/bible-on-site/tests/unit/lib/search-corpus.test.ts
  web/bible-on-site/tests/unit/lib/search-db-content.test.ts
  web/bible-on-site/tests/unit/lib/search-normalize.test.ts
  web/bible-on-site/tests/unit/lib/search-score.test.ts
  web/bible-on-site/tests/unit/lib/search-service.test.ts
  web/bible-on-site/tests/unit/lib/search-snippet.test.ts
Due: website

fix(website): resolve CodeQL and Codacy findings on search
  web/bible-on-site/src/app/search/components/SearchExperience.tsx
  web/bible-on-site/src/lib/search/normalize.ts
  web/bible-on-site/src/lib/search/snippet.ts
  web/bible-on-site/tests/unit/lib/search-normalize.test.ts
Due: website

test(app): restructure the startup retry for the analyzers
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceSessionFactory.cs
  app/BibleOnSite.Tests.MobileE2E/MobileDeviceTest.cs
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
