Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 5%
      api:
        target: 95%
        flags:
          - api
      app:
        target: 60%
        flags:
          - app
      website:
        target: 92%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: 60%
        threshold: 5%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

fix(app): clear old perek selections on nav, suppress Codacy S3264, add nav tests
  app/BibleOnSite.Tests/ViewModels/PerekViewModelTests.cs
  app/BibleOnSite/Models/Perek.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

chore: update AWS infra docs (MySQL 8.4, 2GB memory, memory scaling), bookshelf wide-screen nav, README badges
  README.md
  docs/aws/architecture/aws-architecture.md
  docs/aws/cloudformation/cloudformation.md
  docs/aws/cloudformation/cloudwatch.yaml
  docs/aws/cloudformation/ecs-services.yaml
  docs/aws/cloudformation/rds-mysql.yaml
  task-def-no-health.json
  web/bible-on-site/src/app/bookshelf/page.tsx
  web/bible-on-site/src/app/components/Bookshelf/BookshelfModal.tsx
  web/bible-on-site/src/app/components/TanahSefarimSection.tsx
Due: website

test: improve coverage across app and website, enforce zero degradation
  app/BibleOnSite.Tests/Data/SefarimDataTests.cs
  app/BibleOnSite.Tests/Helpers/GimatryHelperTests.cs
  app/BibleOnSite.Tests/Helpers/HebrewDateHelperTests.cs
  app/BibleOnSite.Tests/Models/SearchResultTests.cs
  app/BibleOnSite.Tests/Services/PreferencesServiceTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Helpers/HebrewDateHelper.cs
  codecov.yml
  web/bible-on-site/tests/unit/components/BookshelfModal-wide.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfPage-wide.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfPage.test.tsx
  web/bible-on-site/tests/unit/components/TanahSefarimSection-wide.test.tsx
Due: app

fix(app): improve carousel swipe responsiveness and view caching (#1301)
  .cursor/rules/app-practices.mdc
  README.md
  app/BibleOnSite.Tests/Data/SefarimDataTests.cs
  app/BibleOnSite.Tests/Helpers/GimatryHelperTests.cs
  app/BibleOnSite.Tests/Helpers/HebrewDateHelperTests.cs
  app/BibleOnSite.Tests/Models/PerekTests.cs
  app/BibleOnSite.Tests/Models/SearchResultTests.cs
  app/BibleOnSite.Tests/Services/PreferencesServiceTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Helpers/HebrewDateHelper.cs
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Models/Perek.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  codecov.yml
  docs/aws/architecture/aws-architecture.md
  docs/aws/cloudformation/cloudformation.md
  docs/aws/cloudformation/cloudwatch.yaml
  docs/aws/cloudformation/ecs-services.yaml
  docs/aws/cloudformation/rds-mysql.yaml
  task-def-no-health.json
  web/bible-on-site/src/app/bookshelf/page.tsx
  web/bible-on-site/src/app/components/Bookshelf/BookshelfModal.tsx
  web/bible-on-site/src/app/components/TanahSefarimSection.tsx
  web/bible-on-site/tests/unit/components/BookshelfModal-wide.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfPage-wide.test.tsx
  web/bible-on-site/tests/unit/components/BookshelfPage.test.tsx
  web/bible-on-site/tests/unit/components/TanahSefarimSection-wide.test.tsx
Due: app, website

chore(release): Bump versions (website to 0.2.243, app to 5.0.36) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

docs(aws): add deployment incident analysis, CloudWatch alarms, and ECS fixes
  docs/aws/cloudformation/cloudwatch.yaml
  docs/aws/cloudformation/ecs-services.yaml
  docs/aws/deployment-downtime-2026-02-10.md
  docs/github/workflows/cd/cd.md
Due: none

refactor(sefer): adopt FlipBook download config API change
  web/bible-on-site/package-lock.json
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
Due: website

chore(deps): upgrade html-flip-book-react to 0.0.0-alpha.27
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/scripts/toggle-flip-book-dep.mjs
Due: none

fix(ci): stabilize all CI pipelines
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  data/mysql/tanah_test_data.sql
  data/sefaria/pipelines/perushim-view/src/commands/sqlite.rs
  web/bible-on-site/launch-e2e-server.mts
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/src/lib/api-client.ts
Due: website, data

fix(ci): lazy-load Sefer to fix INP, fix sitemap URL count
  web/bible-on-site/src/app/929/[number]/components/SeferComposite.tsx
  web/bible-on-site/tests/e2e/sitemap.test.ts
  web/bible-on-site/tests/unit/components/SeferComposite-wide.test.tsx
Due: website

fix(security): resolve CodeQL tainted format string alert
  web/bible-on-site/src/lib/perushim/service.ts
  web/bible-on-site/tests/unit/lib/perushim.test.ts
Due: website

test: add comprehensive unit tests for coverage gaps
  web/bible-on-site/tests/unit/app/929-page.test.ts
  web/bible-on-site/tests/unit/app/actions.test.ts
  web/bible-on-site/tests/unit/app/article-page.test.tsx
  web/bible-on-site/tests/unit/app/sitemap-default-export.test.ts
  web/bible-on-site/tests/unit/components/BlankPageContent.test.tsx
  web/bible-on-site/tests/unit/components/PerushFullView.test.tsx
  web/bible-on-site/tests/unit/components/PerushimSection.test.tsx
  web/bible-on-site/tests/unit/lib/download-handlers.test.ts
  web/bible-on-site/tests/unit/lib/tanach-pdf.test.ts
Due: none

fix(app): fix pasukim binding, add missing Gray800 color, fix variable shadowing
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Resources/Styles/Colors.xaml
  app/BibleOnSite/Services/PadDeliveryService.cs
Due: app

fix(app): fix carousel navigation cascade, font size binding, remove S3 fallback
  app/BibleOnSite/Converters/FontFactorToSizeConverter.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
  app/BibleOnSite/Services/PreferencesService.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

perf(app): move carousel init to background thread
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

perf(app): add loading overlay, sync position, offload preload to bg thread
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

fix(app): fix perek picker trimming עזרא, fix hamburger button color
  app/BibleOnSite/Controls/PerekPickerPopup.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(app): bundle perushim catalog, fix checkbox crash, align SQLite pipeline tasks
  .cursor/rules/app-deployment.mdc
  app/.gitignore
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Resources/Raw/sefaria-dump-5784-sivan-4.perushim_catalog.sqlite
  app/BibleOnSite/Services/PadDeliveryService.cs
  data/Makefile.toml
Due: app, data

fix(app): fix RTL alignment for short perush notes, fix pasuk selection fallback
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/Handlers/HtmlViewHandler.cs
Due: app

fix(app): use native Android tap detection for pasuk selection
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(app): fix native tap detection — use _touchActive instead of _isPressed
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

style(app): halve spacing between inline perush notes in perek view
  app/BibleOnSite/Pages/PerekPage.xaml
Due: app

feat(app): add offline support — startup never blocks on network
  app/BibleOnSite/Pages/LoadingPage.xaml.cs
  app/BibleOnSite/Services/ArticleService.cs
  app/BibleOnSite/Services/NetworkService.cs
  app/BibleOnSite/Services/StarterService.cs
Due: app

fix(app): persist checked perushim across perek navigation + load on swipe
  app/BibleOnSite/Pages/LoadingPage.xaml.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

Merge remote-tracking branch 'origin/master' into test/coverage-push-and-gate-95 (#1304)
  docs/aws/cloudformation/cloudwatch.yaml
  docs/aws/cloudformation/ecs-services.yaml
  docs/aws/deployment-downtime-2026-02-10.md
  docs/github/workflows/cd/cd.md
Due: none

Update project status table in README [skip-ci]
  README.md
Due: none

Update project status table in README [skip-ci] (#1314)
  README.md
Due: none

fix(app): fix RTL alignment for short perushim notes on Android
  app/BibleOnSite/Platforms/Android/Handlers/HtmlViewHandler.cs
Due: app

feat(app): add perushim tests, Nuke ADB automation, and minor refinements
  app/.nuke/build.schema.json
  app/BibleOnSite.Tests/Services/LocalDatabaseServiceTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelPerushimTests.cs
  app/BibleOnSite/Pages/LoadingPage.xaml.cs
  app/BibleOnSite/Services/PerushimNotesService.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  app/devops/Build.Run.cs
  data/sefaria/pipelines/perushim-view/src/commands/sqlite.rs
Due: app, data

fix(test): fix PerekToLoad test — use non-default value to bypass setter guard
  app/BibleOnSite.Tests/Services/PreferencesServiceTests.cs
Due: none

fix(data): collapse nested if-let statements to satisfy clippy
  data/sefaria/pipelines/perushim-view/src/data/extract.rs
Due: data

fix(app): hide perushim section in preferences when already installed
  app/BibleOnSite/Pages/PreferencesPage.xaml
  app/BibleOnSite/ViewModels/PreferencesViewModel.cs
Due: app

fix(data): move functions before test module to fix items_after_test_module lint
  data/sefaria/pipelines/perushim-view/src/data/extract.rs
Due: data

style(data): apply cargo fmt formatting to Rust source files
  data/sefaria/pipelines/perushim-view/src/commands/sqlite.rs
  data/sefaria/pipelines/perushim-view/src/data/extract.rs
Due: data

fix(app): fully qualify Application.Current to fix iOS build
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

fix(app): fully qualify Application.Current to fix iOS build (#1317)
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

chore(release): Bump versions (app to 5.0.37) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app
