Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        target: 60%
        threshold: 5%
      api:
        target: 95%
        flags:
          - api
      app:
        target: 60%
        flags:
          - app
      website:
        target: 92%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: 60%
        threshold: 5%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

fix(android): opt out of AD_ID permission
  app/BibleOnSite/Platforms/Android/AndroidManifest.xml
Due: app

fix(app): add larger test article and fix RTL justify alignment
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/ViewModels/ArticleDetailViewModel.cs
  app/BibleOnSite/ViewModels/ArticlesViewModel.cs
  data/mysql/tanah_test_data.sql
Due: app, data

feat(api): add dev task to populate and run
  web/api/Makefile.toml
Due: none

chore(app): bump version to 5.0.2
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(android): opt out of AD_ID permission (#1160)
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Platforms/Android/AndroidManifest.xml
Due: app

fix(app): auto-start dev API and refresh starter data
  app/BibleOnSite/Services/StarterService.cs
  app/BibleOnSite/ViewModels/ArticlesViewModel.cs
  app/devops/Build.Run.cs
Due: app

fix(app): populate dev DB before running app
  app/devops/Build.Run.cs
Due: none

chore(release): Bump app version to 5.0.3 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): use explicit locales for TestFlight beta info
  .github/workflows/cd-app.yml
Due: none

fix(cd): use explicit locales for TestFlight beta info (#1163)
  .github/workflows/cd-app.yml
Due: none

chore(dev): align dev/test envs and targets
  app/.dev.env
  app/.test.env
  app/BibleOnSite/BibleOnSite.csproj
  data/.dev.env
  data/.test.env
  data/Makefile.toml
  web/admin/.dev.env
  web/admin/.test.env
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Makefile.toml
  web/bible-on-site/.dev.env
  web/bible-on-site/.test.env
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app, data

chore(app): bump version to 5.0.4
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): align Run targets with env level
  app/devops/Build.Run.cs
Due: none

feat(app): run android with hot reload
  app/devops/Build.Run.cs
Due: none

chore(app): bump version to 5.0.4 (#1164)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(dev): use env-specific db/s3 populate tasks
  web/admin/package.json
  web/api/Makefile.toml
  web/bible-on-site/package.json
Due: none

fix(app): reuse running API by port check
  app/devops/Build.Run.cs
Due: none

refactor(app): rename api db population helper
  app/devops/Build.Run.cs
Due: none

chore(release): Bump app version to 5.0.5 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(app): let api handle dev DB population
  app/devops/Build.Run.cs
Due: none

fix(cd): fix Google Play and TestFlight deployment errors
  .github/workflows/cd-app.yml
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/Build.Deploy.cs
Due: app

fix(cd): fix Google Play and TestFlight deployment errors (#1165)
  .github/workflows/cd-app.yml
  app/devops/Build.Deploy.cs
Due: none

chore(release): Bump app version to 5.0.6 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): use beta_app_description for TestFlight external distribution
  .github/workflows/cd-app.yml
Due: none

fix(cd): use beta_app_description for TestFlight external distribution (#1166)
  .github/workflows/cd-app.yml
Due: none

chore(app): bump version to 5.0.7 (build 8)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(app): bump version to 5.0.7 (build 8) (#1167)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump app version to 5.0.8 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): add beta_app_review_info for TestFlight external testing
  .github/workflows/cd-app.yml
Due: none

fix(cd): add beta_app_review_info for TestFlight external testing (#1168)
  .github/workflows/cd-app.yml
Due: none

chore(app): bump to 5.0.9 (build 10)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(app): bump to 5.0.9 (build 10) (#1169)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump app version to 5.0.10 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): use valid phone format for TestFlight beta_app_review_info
  .github/workflows/cd-app.yml
Due: none

fix(cd): use valid phone format for TestFlight beta_app_review_info (#1170)
  .github/workflows/cd-app.yml
Due: none

chore(app): bump to 5.0.11 (build 12) for TestFlight test (#1171)
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(app): bump to 5.0.11 (build 12) for TestFlight test
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump app version to 5.0.12 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): use Apple-compliant phone format for TestFlight (no parentheses/dashes) (#1172)
  .github/workflows/cd-app.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): use Apple-compliant phone format for TestFlight (no parentheses/dashes)
  .github/workflows/cd-app.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app
