Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

codecov.yml:

codecov:
  require_ci_to_pass: true
coverage:
  status:
    project:
      default:
        # Informational only: flag-specific checks enforce coverage per module.
        # The default (unflagged) check aggregates ALL files, including those
        # outside any flag path (devops/, docs/, .github/, etc.) which always
        # have 0% coverage and can cause false-positive regressions.
        target: auto
        threshold: 0%
        informational: true
      api:
        target: auto
        threshold: 1%
        flags:
          - api
      app:
        target: auto
        threshold: 0%
        flags:
          - app
      website:
        target: 99%
        threshold: 1%
        flags:
          - website
      data:
        # TODO: Increase target once data is covered by CI
        target: 0%
        flags:
          - data
    patch:
      default:
        target: auto
        threshold: 0%
comment:
  layout: "reach, diff, flags, files, footer"
  behavior: default
  require_changes: false # if true: only post the comment if coverage changes
  require_base: false # [true :: must have a base report to post]
  require_head: false # [true :: must have a head report to post]
  hide_project_coverage: false # [true :: only show coverage on the git diff aka patch coverage]]
flags:
  api:
    paths:
      - web/api/src/
  app:
    paths:
      - app/BibleOnSite/
  website:
    paths:
      - web/bible-on-site/src/
  data:
    paths:
      - data/

test(deploy): pass launcher fixture arguments without generated code
  web/bible-on-site/scripts/start-server.test.mjs
Due: none

fix(deps): restore libc/license fields in website lockfile (#1848)
  web/bible-on-site/package-lock.json
Due: none

ci: compare feature benchmarks with their base history
  .github/workflows/ci.yml
  devops/github/ci/bencher-comparison.mjs
  devops/github/ci/bencher-comparison.test.mjs
  devops/github/ci/determine-changes.test.ts
  devops/github/ci/determine-changes.ts
  docs/devops/benchmark-base-history.md
Due: none

ci: bind PR benchmarks to the checked merge parent
  .github/workflows/ci.yml
  devops/github/ci/bencher-comparison.mjs
  devops/github/ci/bencher-comparison.test.mjs
  docs/devops/benchmark-base-history.md
Due: none

style(ci): group benchmark helper imports
  devops/github/ci/bencher-comparison.mjs
Due: none

fix(deps): move next off canary to stable 16.4.0 (#2022)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(devops): merge lcov records semantically instead of concatenating
  devops/merge-lcov.mts
  web/admin/playwright.config.ts
Due: none

fix(deploy): warm replacement data and drain retiring website requests (#2023)
  .github/workflows/ci.yml
  .github/workflows/shared-dockerize.yml
  devops/github/ci/bencher-comparison.mjs
  devops/github/ci/bencher-comparison.test.mjs
  devops/github/ci/codecov-report-state.mjs
  devops/github/ci/codecov-report-state.test.mjs
  devops/github/ci/determine-changes.test.ts
  devops/github/ci/determine-changes.ts
  docs/aws/cloudformation/ecs-services.yaml
  docs/aws/deployment-readiness-2026-10-06.md
  docs/devops/benchmark-base-history.md
  docs/devops/codecov-reliability.md
  web/bible-on-site/Dockerfile
  web/bible-on-site/scripts/start-server.mjs
  web/bible-on-site/scripts/start-server.test.mjs
  web/bible-on-site/src/app/api/health/ready/route.ts
  web/bible-on-site/tests/unit/server-drain.test.ts
Due: website

docs(ci): warn against regenerating lockfiles on Windows
  .github/copilot-instructions.md
Due: none

docs(ci): warn against regenerating lockfiles on Windows (#2025)
  .github/copilot-instructions.md
Due: none

fix(ci): upload admin unit and e2e coverage under separate flags
  .github/workflows/ci.yml
  codecov.yml
Due: none

chore(release): Bump versions (website to 0.2.474) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump versions to release (website to 0.2.475)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(website): warm every critical route before discovery handover
  docs/aws/cloudformation/ecs-services.yaml
  docs/aws/deployment-readiness-2026-10-06.md
  web/bible-on-site/Dockerfile
Due: none

chore(release): Bump versions (website to 0.2.476) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

perf(website): reuse validated recitation response bytes
  docs/aws/deployment-readiness-2026-10-06.md
  web/bible-on-site/src/app/api/recitation/route.ts
  web/bible-on-site/tests/unit/app/api/recitation-package-route.test.ts
Due: website

perf(website): trace canonical server data outside JavaScript chunks
  docs/aws/deployment-readiness-2026-10-06.md
  web/bible-on-site/next.config.mjs
  web/bible-on-site/src/data/db/sefarim.ts
  web/bible-on-site/tests/unit/data/canonical-server-data.test.ts
Due: website

fix(website): accept development JSON module namespaces
  web/bible-on-site/src/data/db/sefarim.ts
Due: website

test(website): preserve development canonical module reloads
  web/bible-on-site/tests/unit/data/canonical-server-data.test.ts
Due: none

test(website): replace typed environment for development fixtures
  web/bible-on-site/tests/unit/data/canonical-server-data.test.ts
Due: none

test(website): qualify canonical tracing in standalone builds
  docs/aws/deployment-readiness-2026-10-06.md
  web/bible-on-site/scripts/verify-recitation-build.mjs
Due: none

fix(deps): add missing @emnapi/wasi-threads v2 lockfile entries for admin
  web/admin/package-lock.json
Due: none

fix(ci): enumerate admin coverage files in artifact path
  .github/workflows/ci.yml
Due: none

test(devops): cover merge-lcov semantic merge
  devops/merge-lcov.mts
  devops/merge-lcov.test.mts
  devops/package.json
Due: none

fix(admin): pin istanbul coverage deps to exact versions
  web/admin/package-lock.json
  web/admin/package.json
Due: none

chore(release): Bump versions (website to 0.2.477, admin to 0.1.108) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

test(admin): cover the dev coverage-drain endpoint
  web/admin/tests/unit/server/coverage-endpoint.test.ts
Due: none

fix(admin): remap SSR istanbul coverage through inputSourceMap
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/playwright.config.ts
  web/admin/tests/util/test-fixture.ts
Due: none

refactor(devops): dedupe admin pipeline scripts and add real e2e coverage (#2021)
  .github/workflows/ci.yml
  codecov.yml
  devops/ensure-dev-db.mts
  devops/merge-coverage.mts
  devops/merge-lcov.mts
  devops/merge-lcov.test.mts
  devops/package.json
  web/admin/.env.test
  web/admin/.gitignore
  web/admin/.playwright-results/.last-run.json
  web/admin/.test.env
  web/admin/README.md
  web/admin/app.config.timestamp_1769324529067.js
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/playwright.config.ts
  web/admin/scripts/ensure-dev-db.mjs
  web/admin/src/server.tsx
  web/admin/tests/e2e/articles.test.ts
  web/admin/tests/e2e/health.test.ts
  web/admin/tests/e2e/rabbis.test.ts
  web/admin/tests/unit/server/coverage-endpoint.test.ts
  web/admin/tests/util/launch-e2e-server.mts
  web/admin/tests/util/merge-coverage.mts
  web/admin/tests/util/test-fixture.ts
  web/admin/vite.config.ts
  web/bible-on-site/package.json
  web/bible-on-site/scripts/ensure-dev-db.mjs
  web/shared/tests-util/environment.d.mts
Due: none

Add isolated lossless recitation performance experiments and golden comparisons
  data/recitation/PERFORMANCE.md
  data/recitation/README.md
  data/recitation/benchmark.py
  data/recitation/benchmarks/golden-2026-10-07.json
  data/recitation/test_benchmark.py
  data/recitation/whisper_experiment.py
Due: data

Store golden regression evidence with lossless compression
  data/recitation/PERFORMANCE.md
  data/recitation/benchmark.py
  data/recitation/benchmarks/golden-2026-10-07.json
  data/recitation/benchmarks/golden-2026-10-07.json.gz
  data/recitation/test_benchmark.py
Due: data

Permit tiny per-word acoustic variation and measure inference separately
  data/recitation/PERFORMANCE.md
  data/recitation/benchmark.py
  data/recitation/test_benchmark.py
Due: data

chore(release): Bump versions (website to 0.2.478, admin to 0.1.109) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

Clarify exception cleanup tests and remove unused benchmark import
  data/recitation/benchmark.py
  data/recitation/test_benchmark.py
Due: data

Address static review findings without changing inference calculations
  data/recitation/benchmark.py
  data/recitation/test_benchmark.py
  data/recitation/whisper_experiment.py
Due: data

Use unambiguous single-line experiment docstrings
  data/recitation/benchmark.py
  data/recitation/whisper_experiment.py
Due: data

Add lossless recitation benchmarks against accepted word timings (#2028)
  data/recitation/PERFORMANCE.md
  data/recitation/README.md
  data/recitation/benchmark.py
  data/recitation/benchmarks/golden-2026-10-07.json.gz
  data/recitation/test_benchmark.py
  data/recitation/whisper_experiment.py
Due: data
