Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

chore(release): Bump app version to 5.0.14 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): use real contact info for TestFlight beta review (#1173)
  .github/workflows/cd-app.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): use real contact info for TestFlight beta review
  .github/workflows/cd-app.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): update TestFlight description to Hebrew + bump to 5.0.16
  .github/workflows/cd-app.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): update TestFlight description to Hebrew + bump to 5.0.16 (#1174)
  .github/workflows/cd-app.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump app version to 5.0.17 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): use E.164 phone format +372 5707 8640 for TestFlight
  .github/workflows/cd-app.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): use E.164 phone format +372 5707 8640 for TestFlight (#1175)
  .github/workflows/cd-app.yml
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore(release): Bump app version to 5.0.19 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

feat(app): add HtmlView control and bottom navigation with circular menu
  app/.nuke/build.schema.json
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite.Tests/Controls/HtmlViewTests.cs
  app/BibleOnSite.Tests/ViewModels/ArticlesViewModelTests.cs
  app/BibleOnSite.Tests/ViewModels/NavigationTests.cs
  app/BibleOnSite/App.xaml
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Controls/BottomBarDrawable.cs
  app/BibleOnSite/Controls/BottomNavigationBar.cs
  app/BibleOnSite/Controls/CircularMenu.cs
  app/BibleOnSite/Controls/HtmlView.cs
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/ArticleDetailPage.xaml
  app/BibleOnSite/Pages/ArticlesPage.xaml
  app/BibleOnSite/Pages/AuthorsPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/MacCatalyst/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/Windows/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Platforms/iOS/Handlers/HtmlViewHandler.cs
  app/BibleOnSite/Services/PerekDataService.cs
  app/BibleOnSite/ViewModels/ArticleDetailViewModel.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  app/devops/Build.Run.cs
Due: app

fix(cd): cleanup old MS Store flights before creating new one
  .github/workflows/cd-app.yml
  app/BibleOnSite/BibleOnSite.csproj
  app/devops/Build.Deploy.cs
Due: app

fix(cd): cleanup old MS Store flights before creating new one (#1177)
  .github/workflows/cd-app.yml
  app/devops/Build.Deploy.cs
Due: none

chore(release): Bump app version to 5.0.20 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): parse multiline UUID output from msstore flights list
  app/devops/Build.Deploy.cs
  docs/app/app.md
Due: none

fix(cd): parse multiline UUID output from msstore flights list (#1178)
  app/devops/Build.Deploy.cs
  docs/app/app.md
Due: none

chore(release): Bump app version to 5.0.21 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

debug(cd): use INFO level logging for raw output diagnostics
  app/devops/Build.Deploy.cs
Due: none

debug(cd): use INFO level logging for raw output diagnostics (#1179)
  app/devops/Build.Deploy.cs
Due: none

chore(release): Bump app version to 5.0.22 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): parse FlightId column correctly from msstore table output
  app/devops/Build.Deploy.cs
Due: none

fix(cd): parse FlightId column correctly from msstore table output (#1180)
  app/devops/Build.Deploy.cs
Due: none

chore(release): Bump app version to 5.0.23 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd): strip ANSI escape codes from msstore CLI output
  app/devops/Build.Deploy.cs
Due: none

fix(cd): strip ANSI escape codes from msstore CLI output (#1181)
  app/devops/Build.Deploy.cs
Due: none

chore(release): Bump app version to 5.0.24 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

chore: optimize gitattributes for binary/generated files
  .gitattributes
  .pre-commit-config.yaml
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Models/Perek.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Services/PerekDataService.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  web/bible-on-site/.gitattributes
Due: app

feat(website): add authors page with S3 images and navigation
  web/admin/biome.json
  web/admin/src/server/authors.ts
  web/bible-on-site/next.config.mjs
  web/bible-on-site/public/icons/rabbi.svg
  web/bible-on-site/src/app/authors/[id]/page.module.css
  web/bible-on-site/src/app/authors/[id]/page.tsx
  web/bible-on-site/src/app/authors/layout.css
  web/bible-on-site/src/app/authors/layout.tsx
  web/bible-on-site/src/app/authors/page.module.css
  web/bible-on-site/src/app/authors/page.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/authors/index.ts
  web/bible-on-site/src/lib/authors/service.ts
  web/bible-on-site/src/lib/authors/types.ts
  web/bible-on-site/tests/e2e/authors.test.ts
  web/bible-on-site/tests/tsconfig.json
  web/bible-on-site/tests/unit/app/sitemap.test.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
Due: website

style: format s3.ts and useIsWideEnough.test.ts
  web/admin/src/server/s3.ts
  web/bible-on-site/tests/unit/hooks/useIsWideEnough.test.ts
Due: none

fix(website): update sitemap E2E test to account for authors
  web/bible-on-site/tests/e2e/sitemap.test.ts
Due: none

fix(website): ensure menu icons maintain aspect ratio for Lighthouse best-practices
  web/bible-on-site/src/app/components/navbar.module.css
Due: website

fix(website): revert NavBar to Server Component, keep CSS fix for menu icon aspect ratio
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/navbar.module.css
Due: website

Fix circular menu FAB placement in BottomBar for clickability
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Resources/Styles/Colors.xaml
Due: app

fix(authors): derive image URL from author ID using correct S3 path
  web/bible-on-site/src/app/authors/page.tsx
  web/bible-on-site/src/lib/authors/service.ts
  web/bible-on-site/src/lib/authors/types.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
Due: website

feat(website): add dev/test env files with dotenv-cli
  web/bible-on-site/.dev.env
  web/bible-on-site/.gitignore
  web/bible-on-site/.test.env
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(website): fix navigation from authors page
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/authors/[id]/page.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
Due: website

chore: add cursor worktree setup config
  .cursor/worktrees.json
Due: none

feat(website): add authors page with S3 images and navigation (#1156)
  .cursor/worktrees.json
  app/devops/Build.Deploy.cs
  web/admin/biome.json
  web/admin/src/server/authors.ts
  web/admin/src/server/s3.ts
  web/bible-on-site/.dev.env
  web/bible-on-site/.gitignore
  web/bible-on-site/.test.env
  web/bible-on-site/next.config.mjs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/public/icons/rabbi.svg
  web/bible-on-site/src/app/929/[number]/components/ArticlesSection.tsx
  web/bible-on-site/src/app/authors/[id]/page.module.css
  web/bible-on-site/src/app/authors/[id]/page.tsx
  web/bible-on-site/src/app/authors/layout.css
  web/bible-on-site/src/app/authors/layout.tsx
  web/bible-on-site/src/app/authors/page.module.css
  web/bible-on-site/src/app/authors/page.tsx
  web/bible-on-site/src/app/components/NavBar.tsx
  web/bible-on-site/src/app/components/navbar.module.css
  web/bible-on-site/src/app/sitemap.ts
  web/bible-on-site/src/lib/authors/index.ts
  web/bible-on-site/src/lib/authors/service.ts
  web/bible-on-site/src/lib/authors/types.ts
  web/bible-on-site/tests/e2e/authors.test.ts
  web/bible-on-site/tests/e2e/sitemap.test.ts
  web/bible-on-site/tests/tsconfig.json
  web/bible-on-site/tests/unit/app/sitemap.test.ts
  web/bible-on-site/tests/unit/hooks/useIsWideEnough.test.ts
  web/bible-on-site/tests/unit/lib/authors.test.ts
Due: website

chore(release): Bump website version to 0.2.209 [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(release): Bump app version to 5.0.25 [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(cd-app): handle TestFlight submission limit gracefully [skip ci]
  .github/copilot-instructions.md
  .github/workflows/cd-app.yml
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
