Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

docs: harden migration comments for parser
  data/mysql/tanahpedia_alter_person_source_citation.sql
  data/mysql/tanahpedia_alter_source_citation.sql
Due: data

test(api): cover Tanahpedia family resolvers
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/src/common/auth.rs
  web/api/src/startup/schema_builder.rs
Due: api

fix: address final review and quality findings
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/src/common/auth.rs
  web/api/src/startup/schema_builder.rs
  web/bible-on-site/biome.json
  web/bible-on-site/next.config.mjs
  web/bible-on-site/src/app/929/[number]/components/ScrollToPasuk.tsx
  web/bible-on-site/src/app/929/[number]/page.module.css
  web/bible-on-site/src/app/929/[number]/page.tsx
  web/bible-on-site/src/data/db/perush-names.ts
  web/bible-on-site/src/lib/tanahpedia/tanach-citation-links.tsx
  web/bible-on-site/tests/unit/components/ScrollToPasuk.test.tsx
  web/bible-on-site/tests/unit/data/perush-names.test.ts
  web/bible-on-site/tests/unit/lib/tanach-citation-links.test.tsx
Due: api, website

fix(website): support sex-mark spacing in Firefox
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

chore(release): Bump versions (website to 0.2.372, admin to 0.1.78, api to 0.1.50, app to 5.0.87) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/admin/package-lock.json
  web/admin/package.json
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

fix(data): restore Tanahpedia schema deployments
  .github/instructions/tanahpedia-practices.instructions.md
  .github/workflows/ci.yml
  data/mysql/tanahpedia_alter_person_source_citation.sql
  data/mysql/tanahpedia_alter_source_citation.sql
  devops/deploy/data-deploy/index.mts
  devops/deploy/data-deploy/sql-files.json
  docs/github/workflows/cd/cd.md
  validate_lambda_parser.py
Due: data

fix(data): restore Tanahpedia schema deployments (#1816)
  .github/instructions/tanahpedia-practices.instructions.md
  .github/workflows/ci.yml
  data/mysql/tanahpedia_alter_person_source_citation.sql
  data/mysql/tanahpedia_alter_source_citation.sql
  devops/deploy/data-deploy/index.mts
  devops/deploy/data-deploy/sql-files.json
  docs/github/workflows/cd/cd.md
  validate_lambda_parser.py
Due: data

feat(api): add Tanahpedia family writes
  docs/tanahpedia/external-revision-api.md
  docs/tanahpedia/remote-yaakov-api-example.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/src/tanahpedia/person_union.rs
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/tanahpedia_family_service.rs
  web/api/src/startup/schema_builder.rs
Due: api

perf(api): batch family union lookups
  web/api/src/common/auth.rs
  web/api/src/services/tanahpedia_family_service.rs
Due: api

docs(api): normalize family mutation list
  docs/tanahpedia/remote-yaakov-api-example.md
Due: none

feat(api): add authenticated Tanahpedia family writes (#1817)
  docs/tanahpedia/external-revision-api.md
  docs/tanahpedia/remote-yaakov-api-example.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/src/tanahpedia/person_union.rs
  web/api/src/common/auth.rs
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/tanahpedia_family_service.rs
  web/api/src/startup/schema_builder.rs
Due: api

chore(release): Bump versions (api to 0.1.52) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

chore(release): Bump versions (website to 0.2.374, app to 5.0.88) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: app

docs: codify production recovery practices
  .github/copilot-instructions.md
  .github/instructions/api-practices.instructions.md
  .github/instructions/aws-workflows.instructions.md
  .github/instructions/git-practices.instructions.md
  .github/instructions/tanahpedia-practices.instructions.md
  .github/instructions/website-practices.instructions.md
Due: none

docs: codify production recovery practices (#1820)
  .github/copilot-instructions.md
  .github/instructions/api-practices.instructions.md
  .github/instructions/aws-workflows.instructions.md
  .github/instructions/git-practices.instructions.md
  .github/instructions/tanahpedia-practices.instructions.md
  .github/instructions/website-practices.instructions.md
Due: none

feat(api): add Tanahpedia person node writes
  docs/tanahpedia/external-revision-api.md
  docs/tanahpedia/remote-yaakov-api-example.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/tanahpedia_family_service.rs
  web/api/src/startup/schema_builder.rs
Due: api

fix(api): harden idempotent person node replay
  docs/tanahpedia/external-revision-api.md
  web/api/src/services/tanahpedia_family_service.rs
Due: api

test(api): cover person node input parsing
  web/api/src/dtos/tanahpedia_family.rs
Due: api

refactor(api): distinguish sex models from dto rows
  web/api/src/services/tanahpedia_family_service.rs
Due: api

fix(api): preserve person entity timestamp on replay
  web/api/src/services/tanahpedia_family_service.rs
Due: api

feat(api): add Tanahpedia person node writes (#1821)
  docs/tanahpedia/external-revision-api.md
  docs/tanahpedia/remote-yaakov-api-example.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/tanahpedia_family_service.rs
  web/api/src/startup/schema_builder.rs
Due: api

chore(release): Bump versions (api to 0.1.54) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
Due: none

fix(tanahpedia): complete family graph recovery path
  .github/instructions/tanahpedia-practices.instructions.md
  docs/tanahpedia/external-revision-api.md
  docs/tanahpedia/remote-yaakov-api-example.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/src/tanahpedia/entry_entity.rs
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/tanahpedia_family_service.rs
  web/api/src/startup/schema_builder.rs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/entry/[uniqueName]/page.tsx
  web/bible-on-site/tests/unit/app/tanahpedia-entry-page.test.ts
Due: api, website

fix(tanahpedia): reconcile concurrent entry links
  web/api/src/services/tanahpedia_family_service.rs
  web/bible-on-site/src/app/tanahpedia/entry/[uniqueName]/page.tsx
  web/bible-on-site/tests/unit/app/tanahpedia-entry-page.test.ts
Due: api, website

test(tanahpedia): always restore console spy
  web/bible-on-site/tests/unit/app/tanahpedia-entry-page.test.ts
Due: none

test(tanahpedia): describe family load fallback
  web/bible-on-site/tests/unit/app/tanahpedia-entry-page.test.ts
Due: none

perf(tanahpedia): select only entry id
  web/api/src/services/tanahpedia_family_service.rs
Due: api

test(tanahpedia): parse entry link input
  web/api/src/dtos/tanahpedia_family.rs
Due: api

fix(tanahpedia): complete production family graph recovery (#1822)
  .github/instructions/tanahpedia-practices.instructions.md
  docs/tanahpedia/external-revision-api.md
  docs/tanahpedia/remote-yaakov-api-example.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/entities/src/tanahpedia/entry_entity.rs
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/tanahpedia_family_service.rs
  web/api/src/startup/schema_builder.rs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/entry/[uniqueName]/page.tsx
  web/bible-on-site/tests/unit/app/tanahpedia-entry-page.test.ts
Due: api, website

chore(release): Bump versions (website to 0.2.376, api to 0.1.56) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(tanahpedia): guard recovery cleanup
  .github/instructions/api-practices.instructions.md
  .github/instructions/tanahpedia-practices.instructions.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/tanahpedia_family_service.rs
  web/api/src/startup/schema_builder.rs
Due: api

fix(tanahpedia): cover all person references
  .github/instructions/api-practices.instructions.md
  web/api/src/services/tanahpedia_family_service.rs
Due: api

fix(website): prevent mobile family card overlap
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
Due: website

docs(tanahpedia): require narrow tree scroll checks
  .github/instructions/tanahpedia-practices.instructions.md
Due: none

test(api): cover family cleanup graphql paths
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/startup/schema_builder.rs
Due: api

fix(api): align orphan guard query bindings
  web/api/src/services/tanahpedia_family_service.rs
Due: api

fix(tanahpedia): guard production family identity cleanup (#1823)
  .github/instructions/api-practices.instructions.md
  .github/instructions/tanahpedia-practices.instructions.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/tanahpedia_family_service.rs
  web/api/src/startup/schema_builder.rs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
Due: api, website

chore(release): Bump versions (website to 0.2.378, api to 0.1.58) [skip ci]
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

fix(tanahpedia): polish family tree cleanup
  .github/instructions/tanahpedia-practices.instructions.md
  docs/tanahpedia/external-revision-api.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/tanahpedia_family_service.rs
  web/api/src/startup/schema_builder.rs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: api, website

fix(tanahpedia): polish family tree cleanup (#1824)
  .github/instructions/tanahpedia-practices.instructions.md
  docs/tanahpedia/external-revision-api.md
  web/api/Cargo.lock
  web/api/Cargo.toml
  web/api/src/dtos/tanahpedia_family.rs
  web/api/src/resolvers/tanahpedia_family_resolver.rs
  web/api/src/services/tanahpedia_family_service.rs
  web/api/src/startup/schema_builder.rs
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/tanahpedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: api, website

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
