Repository bible-on-site/bible-on-site: changes, and which Codecov flags are due for each by the changed paths.
All: api, app, website, data

refactor: organize data deployment validation and remove stale snapshots
  .github/instructions/tanahpedia-practices.instructions.md
  .github/workflows/ci.yml
  .gitignore
  devops/deploy/README.md
  devops/deploy/data-deploy/validate_lambda_parser.py
  docs/github/workflows/cd/cd.md
  jobs_deploy.json
  task-def-no-health.json
Due: none

fix(website): Restore text selection in SeferView
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/components/selectable-book-content.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/selectable-book-content.test.ts
Due: website

fix: build pinned MinIO source after public images were withdrawn
  .github/workflows/ci.yml
  devops/docker-compose.yml
  devops/minio/Dockerfile
  devops/minio/README.md
Due: none

fix(website): Restore text selection in SeferView (#1856)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/sefer.module.css
  web/bible-on-site/src/app/929/[number]/components/selectable-book-content.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/selectable-book-content.test.ts
Due: website

fix: harden source-built MinIO and preserve local volume access
  devops/deploy/data-deploy/validate_lambda_parser.py
  devops/docker-compose.yml
  devops/minio/Dockerfile
  devops/minio/README.md
Due: none

refactor: organize data deployment validation and remove stale snapshots (#1855)
  .github/instructions/tanahpedia-practices.instructions.md
  .github/workflows/ci.yml
  .gitignore
  devops/deploy/README.md
  devops/deploy/data-deploy/validate_lambda_parser.py
  devops/docker-compose.yml
  devops/minio/Dockerfile
  devops/minio/README.md
  docs/github/workflows/cd/cd.md
  jobs_deploy.json
  task-def-no-health.json
Due: none

chore(release): Bump versions (website to 0.2.412) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

refactor: replace local and CI MinIO with pinned RustFS
  .github/tool-registry.md
  .github/workflows/ci.yml
  data/.dev.env
  data/README.md
  data/s3/s3-populator/src/main.rs
  devops/docker-compose.yml
  devops/minio/Dockerfile
  devops/minio/README.md
  devops/rustfs/Dockerfile
  devops/rustfs/README.md
  devops/rustfs/config.mjs
  devops/rustfs/init.mjs
  devops/setup-dev-env.mts
  web/admin/.dev.env
  web/admin/.env.example
  web/admin/.env.test
  web/admin/.test.env
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/scripts/check-local-s3.mjs
  web/admin/src/server/s3.ts
  web/admin/tests/util/launch-e2e-server.mts
Due: data

fix(ci): align manual checkout with the run cache scope
  .github/workflows/ci.yml
  .github/workflows/shared-ci.yml
Due: none

fix(ci): check out the immutable workflow event commit
  .github/workflows/ci.yml
  .github/workflows/shared-ci.yml
Due: none

test: cover local S3 asset-populator CLI
  data/s3/s3-populator/tests/cli.rs
Due: data

refactor: replace local and CI MinIO with pinned RustFS (#1857)
  .github/tool-registry.md
  .github/workflows/ci.yml
  .github/workflows/shared-ci.yml
  data/.dev.env
  data/README.md
  data/s3/s3-populator/src/main.rs
  data/s3/s3-populator/tests/cli.rs
  devops/docker-compose.yml
  devops/minio/Dockerfile
  devops/minio/README.md
  devops/rustfs/Dockerfile
  devops/rustfs/README.md
  devops/rustfs/config.mjs
  devops/rustfs/init.mjs
  devops/setup-dev-env.mts
  web/admin/.dev.env
  web/admin/.env.example
  web/admin/.env.test
  web/admin/.test.env
  web/admin/package-lock.json
  web/admin/package.json
  web/admin/scripts/check-local-s3.mjs
  web/admin/src/server/s3.ts
  web/admin/tests/util/launch-e2e-server.mts
Due: data

chore(release): Bump versions (admin to 0.1.94) [skip ci]
  web/admin/package-lock.json
  web/admin/package.json
Due: none

fix(app): prevent swipe gestures from selecting verses and docking chapters
  app/BibleOnSite.Tests.E2E/Android/README.md
  app/BibleOnSite.Tests.E2E/Android/gesture_regressions.py
  app/BibleOnSite.Tests/Helpers/PressGestureTrackerTests.cs
  app/BibleOnSite.Tests/Helpers/SwipeNavigationTrackerTests.cs
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/Helpers/PressGestureTracker.cs
  app/BibleOnSite/Helpers/SwipeNavigationTracker.cs
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/Listeners/VerticalScrollPriorityListener.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
Due: app

chore(app): bump gesture fix release to 5.0.92
  app/BibleOnSite/BibleOnSite.csproj
Due: app

test(app): keep gesture regression checks active under Python optimization
  app/BibleOnSite.Tests.E2E/Android/gesture_regressions.py
  app/BibleOnSite/Helpers/PressGestureTracker.cs
  app/BibleOnSite/Helpers/SwipeNavigationTracker.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
Due: app

fix(app): prevent swipe selection and settle chapter navigation (#1859)
  app/BibleOnSite.Tests.E2E/Android/README.md
  app/BibleOnSite.Tests.E2E/Android/gesture_regressions.py
  app/BibleOnSite.Tests/Helpers/PressGestureTrackerTests.cs
  app/BibleOnSite.Tests/Helpers/SwipeNavigationTrackerTests.cs
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Helpers/PressGestureTracker.cs
  app/BibleOnSite/Helpers/SwipeNavigationTracker.cs
  app/BibleOnSite/MauiProgram.cs
  app/BibleOnSite/Pages/PerekPage.xaml
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/Listeners/VerticalScrollPriorityListener.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
Due: app

chore(release): Bump versions (app to 5.0.93) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

Fix first long press after verse scrolling
  app/BibleOnSite.Tests.E2E/Android/gesture_regressions.py
  app/BibleOnSite.Tests/Helpers/GestureInteractionTests.cs
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

Fix first long press after verse scrolling (#1860)
  app/BibleOnSite.Tests.E2E/Android/gesture_regressions.py
  app/BibleOnSite.Tests/Helpers/GestureInteractionTests.cs
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
Due: app

chore(release): Bump versions (app to 5.0.94) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

perf(app): reduce verse binding work and preserve fling holds
  app/BibleOnSite.Tests.E2E/Android/gesture_regressions.py
  app/BibleOnSite.Tests/Models/PasukFormattedTextTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelPerushimTests.cs
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/Models/Pasuk.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
Due: app

fix(app): align release version codes and enforce mapping
  .pre-commit-config.yaml
  app/BibleOnSite.Tests/ViewModels/PerekViewModelPerushimTests.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Models/Pasuk.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  devops/check-app-version.py
  devops/test_check_app_version.py
Due: app

fix(app): satisfy analysis for version guard and touch dispatch
  app/BibleOnSite/Models/Pasuk.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
  devops/check-app-version.py
Due: app

fix(website): Restore swiping from selectable SeferView text
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/selectable-book-content.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/selectable-book-content.test.ts
Due: website

Reduce verse binding cost and preserve first hold after fast scrolling (#1861)
  .pre-commit-config.yaml
  app/BibleOnSite.Tests.E2E/Android/gesture_regressions.py
  app/BibleOnSite.Tests/Models/PasukFormattedTextTests.cs
  app/BibleOnSite.Tests/ViewModels/PerekViewModelPerushimTests.cs
  app/BibleOnSite/Behaviors/LongPressBehavior.cs
  app/BibleOnSite/BibleOnSite.csproj
  app/BibleOnSite/Models/Pasuk.cs
  app/BibleOnSite/Pages/PerekPage.xaml.cs
  app/BibleOnSite/Platforms/Android/MainActivity.cs
  app/BibleOnSite/ViewModels/PerekViewModel.cs
  devops/check-app-version.py
  devops/test_check_app_version.py
Due: app

fix(web): Keep family child connectors continuous
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
Due: website

fix(web): Hide upward family spine for root people
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

test(website): Cover reverse SeferView text swipe
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
Due: none

chore(release): Bump versions (app to 5.0.95) [skip ci]
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(website): Restore swiping from selectable SeferView text (#1862)
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
  web/bible-on-site/src/app/929/[number]/components/BlankPageContent.tsx
  web/bible-on-site/src/app/929/[number]/components/Sefer.tsx
  web/bible-on-site/src/app/929/[number]/components/selectable-book-content.ts
  web/bible-on-site/tests/e2e/929/sefer-view/sefer-view.test.ts
  web/bible-on-site/tests/unit/components/selectable-book-content.test.ts
Due: website

docs: Clarify when to sync pull request branches
  AGENTS.md
Due: none

data(tanahpedia): add Adam to Abraham lineage via API
  .github/agents/TanahpediaFamily.agent.md
  .github/instructions/tanahpedia-practices.instructions.md
  data/tanahpedia/ops/adam-abraham-lineage-readback.json
  data/tanahpedia/ops/adam-abraham-lineage.json
Due: data

fix(web): Keep family child connectors continuous (#1863)
  AGENTS.md
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.module.css
  web/bible-on-site/src/app/pedia/components/PersonFamilyTree.tsx
  web/bible-on-site/tests/unit/components/PersonFamilyTree.test.tsx
Due: website

data(tanahpedia): add Adam to Abraham lineage via API (#1864)
  .github/agents/TanahpediaFamily.agent.md
  .github/instructions/tanahpedia-practices.instructions.md
  data/tanahpedia/ops/adam-abraham-lineage-readback.json
  data/tanahpedia/ops/adam-abraham-lineage.json
Due: data

chore(release): Bump versions (website to 0.2.414) [skip ci]
  web/bible-on-site/package-lock.json
  web/bible-on-site/package.json
Due: none

chore(app): update MAUI controls to 10.0.110
  app/BibleOnSite.Tests/BibleOnSite.Tests.csproj
  app/BibleOnSite/BibleOnSite.csproj
Due: app

fix(ci): print iOS build log when build fails
  .github/workflows/ci.yml
Due: none

ci(app): update MAUI workloads with controls package
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
Due: none

ci(ios): use Xcode 26.6 for current MAUI workload
  .github/workflows/app-package.yml
  .github/workflows/ci.yml
Due: none

Path conditions:
  api: any of: web/api/src/
  app: any of: app/BibleOnSite/
  website: any of: web/bible-on-site/src/
  data: any of: data/
